<% set_key_prefix keyPrefix %>

<%= form_for dataObject, builder: DataCycleCore::CreativeWorksHelper::DataCycleFormBuilder do |f| %>
	<%= hidden_field_tag 'uuid', dataObject.id %>

	<section class="edit-header">
		<div class="row expanded">
			<div class="column">
				<div class="edit-headline">
					<i class="fa fa-pencil" aria-hidden="true"></i> <%= dataObject.metadata['validation']['name']%> bearbeiten
				</div>
				<ul>
					<!--<li>-->
					<!--<button type="button" class="button delete top" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Löschen"><i class="fa fa-trash" aria-hidden="true"></i></button>-->
					<!--</li>-->
					<li>
						<%= link_to dataObject do %>
							<button type="button" class="button discard top" data-tooltip aria-haspopup="true" data-disable-hover="false"  title="Änderungen verwerfen"><i class="fa fa-times" aria-hidden="true"></i></button>
						<% end %>
					</li>
					<li class="submit">
						<button class="button-prime" data-tooltip aria-haspopup="true" data-disable-hover="false"  title="Änderungen speichern"><i class="fa fa-check" aria-hidden="true"></i></button>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="row">
		<div class="column">
			<div class="detail-header editor">

				<div class="topleftinfo">
					<div class="type thema">
                                <span class="icon">
                                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                                </span>
						<span class="title"><%=dataObject.metadata['validation']['name']%></span>
					</div>
					<%= render 'data_cycle_core/creative_works/partials/metaData' %>
				</div>

				<a class="bookmark" href="#">
					<span class="bookmarkinfo">zur Recherche hinzufügen</span>
					<i class="fa fa-bookmark-o" aria-hidden="true"></i>
				</a>

				<div id="validation_errors">

				</div>

				<% if !dataObject.metadata.nil? && !dataObject.metadata['validation'].nil? %>

					<% validation_properties = get_ordered_validation_properties(dataObject.metadata['validation']) %>
					<%#= dataObject.get_data_hash %>
					<% if !validation_properties.nil? %>

						<% validation_properties.each do |key, prop| %>

							<% if prop['type'] == 'object' && !prop['properties'].nil? %>

								<% object_options = !prop['editor'].nil? && !prop['editor']['options'].nil? ? prop['editor']['options'] : nil %>
								<%= content_tag :div, object_options do %>
									<!--<div class="object-title"><strong><%= prop['label'] %></strong></div>-->

									<% object_properties = get_ordered_validation_properties(prop) %>
									<% object_properties.each do |object_key, object_property| %>

										<% object_value = dataSchema[key].nil? ? "" : dataSchema[key][object_key] %>

										<%= data_cycle_field object_key, object_property, object_value, {class: 'form-control'}, [key] %>
									<% end %>
								<% end %>

							<% else %>

								<%= data_cycle_field key, prop, dataSchema[key], class: 'form-control' %>

							<% end %>

						<% end %>

					<% end %>

				<% end %>

			</div>
		</div>
	</div>

<% end %>