<% unless @creativeWork.nil? %>

    <div class="reveal new-item" id="newCreativeWork" data-reveal>
        <h3>Neues Thema erstellen</h3>

        <%= form_for(@creativeWork) do |f| %>
            <%= hidden_field_tag 'template', 'Thema' %>
            <div class="validation-container form-element">
                <%= f.text_field :headline, class: 'form-control', value:params[:search], disabled: !params[:search].present? %>
            </div>
            <% if params[:search].present? %>
                <%= f.submit "Erstellen", class: "button primary" %>
            <% end %>
        <% end %>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="reveal new-item" id="recherche" data-reveal>
        <h3>Neue Recherche beginnen</h3>

        <%= form_for(@creativeWork) do |f| %>
            <%= hidden_field_tag 'template', 'Recherche' %>
            <div class="validation-container form-element">
                <%= f.text_field :headline, class: 'form-control', value:params[:search], disabled: !params[:search].present? %>
            </div>
            <% if params[:search].present? %>
                <%= submit_tag "Erstellen", class: "button primary" %>
            <% end %>
        <% end %>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<% end %>