<br /><br />

<% if value.blank? %>

    <%= hidden_field_tag "#{key}", '', id: "#{sanitize_to_id(key)}_hidden" %>

    <%= file_field_tag "asset[file]", id:"#{sanitize_to_id(key)}_file" %>

    <button id="add_<%= sanitize_to_id(key) %>" type="button" class="button addAsset"><%= definition['label'] %> hinzufügen<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></button>

    <% if can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options)) %>
        <button type="button" style="display:none;" class="button removeAsset"><i class="fa fa-times"></i></button>
    <% end %>

<% else %>

    <% image = value.first %>
    <%= hidden_field_tag "#{key}", image.id, id: "#{sanitize_to_id(key)}_hidden" %>
    <%#= raise image.inspect %>
    <h2><%= image.id %></h2>
    <h2><%= image.file.file.filename %></h2>
    <h3><%=  image.content_type %> (<%= image.file_size %> B)</h3>
    <%#= image_tag image.file.file.url %>
    <a href="<%= image.file.url %>" target="_blank">
        <img src="<%= image.file.thumb_preview.url %>" />
    </a>

    <button id="add_<%= sanitize_to_id(key) %>" type="button" style="display:none;" class="button addAsset"><%= definition['label'] %> hinzufügen<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></button>

    <% if can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options)) %>
        <button type="button" class="button removeAsset"><i class="fa fa-times"></i></button>
    <% end %>

<% end %>
