<% if value.blank? %>

    <%= hidden_field_tag "#{key}", '', id: "#{sanitize_to_id(key)}_hidden" %>
    <%= file_field_tag "asset[file]", id:"#{sanitize_to_id(key)}_file" %>

<% else %>

    <% image = value.first %>
    <%= hidden_field_tag "#{key}", image.id, id: "#{sanitize_to_id(key)}_hidden" %>

    <div class="inner">
        <span class="asset-title"><%= image.file.file.filename %></span>
        <span class="asset-type"><%=  image.content_type %> (<%= image.file_size %> B)</span>
        <div class="thumb">
            <% if !image.file.thumb_preview.file.nil? && image.file.thumb_preview.file.exists? %>
                <a href="<%= image.file.url %>" target="_blank">
                    <img src="<%= image.file.thumb_preview.url %>" />
                </a>
            <% else %>
                <div class="placeholder">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <span>
                        Asset wird verarbeitet.
                    </span>
                </div>
            <% end %>
        </div>
    </div>

<% end %>

<button id="add_<%= sanitize_to_id(key) %>" style="<%= 'display:none;' unless value.blank? %>" type="button" class="button addAsset">hochladen <i class="fa fa-upload"></i></button>

<% if can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options)) %>
    <button type="button" style="<%= 'display:none;' if value.blank? %>" class="button removeAsset"><i class="fa fa-times"></i></button>
<% end %>
