<% selected = (@classification_array && @classification_array.include?(item.id)) ? "checked" : "" %>
<li>
    <input type="checkbox" name="classification[][selected]" value="<%= item.id %>" id="<%= item.id %>" <%= selected %> />
    <label for="<%= item.id %>">
        <span class="title">
            <span class="inner-title"><%= item.name %></span>
            <!--<strong><%="("+item.sub_classification_alias.count.to_s+")" if item.sub_classification_alias.count > 0 %></strong>-->
        </span>
        <% if item.sub_classification_alias.count > 0 %>
            <span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        <% end %>
    </label>

    <% if item.sub_classification_alias.count > 0 %>
        <ul>
            <% item.sub_classification_alias.sort{|a,b| a.name <=> b.name}.each do |sub_item| %>
                <%= render 'data_cycle_core/backend/partials/filter/classification_items', item: sub_item %>
            <% end %>
        </ul>
    <% end %>

</li>
