<li class="subtree">
    <% parent_string = classification_alias_id.nil? ? "IS NULL" : " = '#{classification_alias_id}'" %>
    <% types = DataCycleCore::ClassificationAlias.joins(classification_trees: [:classification_tree_label]).where("classification_tree_labels.name = ?", tree_label).where("classification_trees.parent_classification_alias_id #{parent_string}") %>

    <!-- remove embedded content classifications -->
    <!-- todo: make this more generic -->
    <% excluded_types = ['Website','MobileApplication','Inklusiv-Leistungen','Zeitleiste-Eintrag','Frage','Antwort','Rezept-Komponente'] %>
    <% types = types.select { |type| !excluded_types.include?(type.name) }%>


    <%= render 'data_cycle_core/shared/icon', icon_type: tree_label.downcase %>

    <span class="title"><%=display_label%><!-- <strong>(<%=types.count%>)</strong>--></span>
    <div>
        <% if !show_selected.nil? && show_selected == true %>
        <% selected_classifications = get_classifications_for_id(@classification_array, tree_label)  %>

        <div class="your-choice tags">
            <span class="icon">
                <i class="fa fa-check" aria-hidden="true"></i> Ihre Auswahl:
            </span>

            <% unless selected_classifications.nil? %>
                <% selected_classifications.each do |selected| %>
                    <label for="<%= selected.id %>">
                        <a class="tag">
                            <%= selected.name %><i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </label>
                <% end %>
            <% end %>

        </div>
        <% end %>

        <ul class="clearfix">
            <% types.sort{|a,b| a.name <=> b.name}.each do |item| %>
                <%= render 'data_cycle_core/backend/partials/filter/classification_items', item: item %>
            <% end %>
        </ul>
    </div>
</li>