<li class="subtree">

    <% parent_string = classification_alias_id.nil? ? "IS NULL" : " = '#{classification_alias_id}'" %>
    <% types = DataCycleCore::ClassificationAlias.joins(classification_trees: [:classification_tree_label]).where("classification_tree_labels.name = ?", tree_label).where("classification_trees.parent_classification_alias_id #{parent_string}") %>

    <span class="icon"><i class="fa fa-folder-open" aria-hidden="true"></i></span>

    <span class="title"><%=display_label%> <strong>(<%=types.count%>)</strong></span>
    <div>

        <% selected_classifications = get_classifications_for_id(@classification_array, tree_label)  %>

        <div class="your-choice tags">
            <span class="icon">
                <i class="fa fa-check" aria-hidden="true"></i> Ihre Auswahl:
            </span>

            <% unless selected_classifications.nil? %>
                <% selected_classifications.each do |selected| %>
                    <label for="<%= selected.id %>">
                        <a class="tag">
                            <%= selected.name %><i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </label>
                <% end %>
            <% end %>

        </div>

        <ul class="clearfix">
            <% types.sort{|a,b| a.name <=> b.name}.each do |item| %>
                <%= render 'data_cycle_core/backend/partials/filter/classification_items', item: item %>
            <% end %>
        </ul>
        <%= render 'data_cycle_core/backend/partials/filter/filterbutton' %>
    </div>
</li>