<li class="subtree">

    <% parent_string = classification_alias_id.nil? ? "IS NULL" : " = '#{classification_alias_id}'" %>
    <% types = DataCycleCore::ClassificationAlias.joins(classification_trees: [:classification_tree_label]).where("classification_tree_labels.name = ?", tree_label).where("classification_trees.parent_classification_alias_id #{parent_string}") %>

    <%= render 'data_cycle_core/creative_works/partials/render/icon', icon_type: tree_label.downcase %>

    <span class="title"><%=display_label%><!-- <strong>(<%=types.count%>)</strong>--></span>
    <div>
        <% if !show_selected.nil? && show_selected == true %>

        <% end %>

        <ul class="clearfix">
            <% types.sort{|a,b| a.name <=> b.name}.each do |item| %>
                <%= render 'data_cycle_core/backend/partials/filter/classification_items', item: item %>
            <% end %>
        </ul>
        <%= render 'data_cycle_core/backend/partials/filter/filterbutton' %>
    </div>
</li>