<% objects = value.presence&.includes(:translations) %>
<% objects = (objects.to_a || []).concat("data_cycle_core/#{definition.dig('linked_table')}".classify.constantize.where(id: changes_by_mode(options.dig(:item_diff), '+')).to_a) if changes_by_mode(options.dig(:item_diff), '+').present? %>

<% objects.presence&.each_with_index do |object, index| %>

    <% I18n.with_locale(object.first_available_locale) do %>

        <%= render 'data_cycle_core/contents/viewers/attribute',
                   key: key,
                   definition: definition,
                   value: value,
                   options: options.merge({ hide_label: true, item_diff: changes_by_value(options.dig(:item_diff), object.try("#{definition.dig('linked_table').singularize}_id") || object.id), mode: changes_class(options.dig(:item_diff), object.try("#{definition.dig('linked_table').singularize}_id") || object.id) }),
                   data_attributes: { id: [object.id], editor: 'embedded_object' },
                   content: content do %>

            <span class="detail-label">
                <%= render 'data_cycle_core/shared/icon', icon_type: object.template_name.downcase %><strong><%= definition['label'].titleize %>  <%= content_tag(:span, index + 1) %></strong>
            </span>

            <% if object.schema.present? %>

                <% validation_properties = ordered_validation_properties(validation: object.schema) %>

                <% if !validation_properties.nil? %>

                    <% validation_properties.each do |key, prop| %>

                        <% object_value = object.try(key.to_sym) %>
                        <% object_value = object_value.presence&.includes(:translations) if object_value.is_a?(ActiveRecord::Relation) && prop['type'] == 'object' %>

                        <% object_options = options.merge({ item_diff: nil }) %>
                        <% object_options = object_options.merge({
                          item_diff: attribute_changes(object.diff(object.try(definition.dig('linked_table').singularize).get_data_hash), key)
                          }) if changes_by_mode(changes_by_value(options.dig(:item_diff), object.try("#{definition.dig('linked_table').singularize}_id") || object.id), '~').present? %>

                        <% options[:force_render] = true if object.template_name == 'Publikations-Plan' %>
                        <%= render_attribute_viewer key: key, definition: prop, value: object_value, parameters: { options: object_options }, content: object %>

                    <% end %>

                <% end %>

            <% end %>

        <% end %>

    <% end %>

<% end %>
