<% content_for(:sidebar_user_administration, flush:true) do %>
  <% if DataCycleCore::ClassificationTreeLabel.accessible_by(current_ability).exists? %>
    <div>
      <%= link_to classifications_path, class: 'classifications-link' do %>
        <span class="icon"><i class="fa fa-sitemap" aria-hidden="true"></i></span>
        <span class="title"><%= t('data_cycle_core.classifications', locale: active_ui_locale) %></span>
      <% end %>
    </div>
  <% end %>

  <% if can? :index, DataCycleCore::User %>
    <div>
      <%= link_to index_users_path, class: 'users-link' do %>
        <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
        <span class="title"><%= t('actions.manage', data: DataCycleCore::User.model_name.human(count: 2, locale: active_ui_locale), locale: active_ui_locale) %></span>
      <% end %>
    </div>
  <% end %>

  <% if can? :index, DataCycleCore::UserGroup %>
    <div>
      <%= link_to user_groups_path, class: 'user-groups-link' do %>
        <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
        <span class="title"><%= t('actions.manage', locale: active_ui_locale, data: DataCycleCore::UserGroup.model_name.human(count: 2, locale: active_ui_locale)) %></span>
      <% end %>
    </div>
  <% end %>

  <% if can? :index, DataCycleCore::Permission %>
    <div>
      <%= link_to permissions_path, class: 'permissions-link' do %>
        <span class="icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
        <span class="title"><%= DataCycleCore::Permission.model_name.human(count: 2, locale: active_ui_locale) %></span>
      <% end %>
    </div>
  <% end %>

  <% if can?(:index, :report) && DataCycleCore::Feature::ReportGenerator.enabled? %>
    <div>
      <%= link_to reports_path do %>
        <span class="icon"><i class="fa fa-table " aria-hidden="true"></i></span>
        <span class="title"><%= t('data_cycle_core.reports.root', locale: active_ui_locale) %></span>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for(:sidebar_administration, flush:true) do %>
  <% if can? :clear_all, :cache %>
    <div>
      <%= link_to clear_all_caches_path,
              method: :get,
              data: {
                  confirm: "#{t('common.confirm_delete_all_caches', locale: active_ui_locale) }",
                  dc_tooltip: t('data_cycle_core.cache.clear_all', locale: active_ui_locale)
              } do %>
        <span class="icon"><i class="fa fa-shield" aria-hidden="true"></i></span>
        <span class="title"><%= t('data_cycle_core.cache.clear_all', locale: active_ui_locale) %></span>
      <% end %>
    </div>
  <% end %>

  <% if can? :manage, :dash_board %>
    <div>
      <%= link_to admin_path, class: 'admin-link' do %>
        <span class="icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
        <span class="title"><%= t('data_cycle_core.administration', locale: active_ui_locale) %></span>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= link_to docs_path, class: 'documentation-link' do %>
      <span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>
      <span class="title"><%= t('data_cycle_core.documentation', locale: active_ui_locale) %></span>
    <% end %>
  </div>
<% end %>

<% if content_for?(:sidebar_user_administration) %>
  <div class="settings-row">
    <%= yield_content!(:sidebar_user_administration) %>
  </div>
<% end %>

<% if content_for?(:sidebar_administration) %>
  <div class="settings-row">
    <%= yield_content!(:sidebar_administration) %>
  </div>
<% end %>
