<div class="settings-row">
  <div>
    <%= link_to_condition can?(:show, current_user), user_path(current_user), class: 'show-user-link' do %>
      <span class="icon"><i class="fa fa-smile-o" aria-hidden="true"></i></span>
      <span class="title" data-dc-tooltip="<%= current_user&.full_name %>"><%= current_user&.full_name %></span>
    <% end %>

    <%= link_to edit_user_path(current_user), class: 'user-edit-link', data: { dc_tooltip: t('actions.edit_data', data: DataCycleCore::User.model_name.human(count: 1, locale: active_ui_locale), locale: active_ui_locale) } do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end if can?(:update, current_user) %>

    <%= link_to settings_path, class: 'user-settings-link', data: { dc_tooltip: t('data_cycle_core.settings', locale: active_ui_locale) } do %>
      <i class="fa fa-cogs" aria-hidden="true"></i>
    <% end if can?(:update, current_user) && can?(:settings, :backend) %>

    <%= link_to user_path(current_user), class: 'delete-user-link', method: :delete, data: { confirm: t('user.delete_user_html', locale: active_ui_locale), dc_tooltip: t('actions.delete_with_data', data: current_user.model_name.human(locale: active_ui_locale), locale: active_ui_locale) } do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
    <% end if can?(:destroy, current_user) %>

    <%= link_to data_cycle_core.destroy_user_session_path, method: :delete, class: 'logout-link', data: { dc_tooltip: t('actions.logout', locale: active_ui_locale) } do %>
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    <% end %>
  </div>

  <% if current_user.access_token.present? %>
    <div class="access-token">
      <span class="icon"><i class="fa fa-key" aria-hidden="true"></i></span>
      <span class="title copy-to-clipboard with-shadow" data-dc-tooltip="<%= DataCycleCore::User.human_attribute_name(:access_token, locale: active_ui_locale) %>" data-value="<%= current_user.access_token %>"><%= current_user.access_token %></span>
    </div>
  <% end %>

  <% if DataCycleCore.logo.dig('footer_links', 'terms_and_conditions').present? %>
    <div class="terms-and-conditions-link">
      <%= link_to DataCycleCore.logo.dig('footer_links', 'terms_and_conditions'), target: :_blank do %>
        <span class="icon"><i class="fa fa-file-text" aria-hidden="true"></i></span>
        <span class="title" title="<%= I18n.t("footer_links.terms_and_conditions", default: 'terms_and_conditions', locale: active_ui_locale) %>"><%= I18n.t("footer_links.terms_and_conditions", default: 'terms_and_conditions', locale: active_ui_locale) %></span>
      <% end %>
    </div>
  <% end %>

</div>
