<li id="<%= tree_label.id %>" class="classification_tree_label">
  <span class="inner-item">
    <%= tag.fa(class: 'fa fa-eye-slash') if tree_label.internal? %>
    <%= link_to tree_label.name, classifications_path(classification_tree_label_id: tree_label.id),
            class: 'name',
            data: {
                remote: true,
                disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: active_ui_locale)}"
            } %>

    <% if can?(:update, tree_label) %>
      <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    <% end %>

    <% if can?(:destroy, tree_label) %>
      <%= link_to classifications_path(classification_tree_label_id: tree_label.id), class: 'destroy',
                data: {remote: true, method: :delete,
                confirm: render('classification_tree_label_removal_warning', classification_tree_label: tree_label),
                disable_with: '<i class="fa fa-spinner fa-spin"></i>'} do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
    <% end %>

    <% if can?(:download, tree_label) %>
      <%= link_to download_classifications_path(classification_tree_label_id: tree_label.id, format: :csv),
                        class: 'download' do %>
        <i class="fa fa-download" aria-hidden="true"></i>
      <% end %>
    <% end %>

    <%= link_to tag.i(class: 'fa fa-clipboard'), '#', class: 'copy-to-clipboard', title: t('actions.copy_to_clipboard', locale: active_ui_locale), data: { value: tree_label.id } %>

    <%= link_to classification_tree_label_path(tree_label), class: 'contents-list', target: :_blank, title: t('data_cycle_core.show_contents_for_tree_label', data: tree_label.name, locale: active_ui_locale) do %>
      <i class="fa fa-list" aria-hidden="true"></i>
    <% end %>
  </span>

  <% if can?(:update, tree_label) %>
    <%= render 'classification_tree_label_form', classification_tree_label: tree_label %>
  <% end %>

  <ul class="children">
  </ul>
</li>
