<%= form_with(model: classification_tree_label, url: classifications_path, namespace: classification_tree_label&.id, local: true, class: 'classification-tree-label-form') do |f| %>

  <div class="ca-buttons">
    <%= tag.button(tag.i(class: 'fa fa-check'), class: 'button-prime small success update submit-button', data: { disable_with: tag.i(class: 'fa fa-spinner fa-spin fa-fw') }) %>
    <button class="button-prime small discard secondary" type="reset"><i aria-hidden="true" class="fa fa-times"></i></button>
  </div>

  <%= f.hidden_field :id %>

  <div class="ca-input required">
    <%= f.label :name, class: 'ca-label' %>
    <%= f.text_field :name, class: 'ca-input-field', disabled: !can?(:update, classification_tree_label), required: true %>
  </div>

  <% if current_user&.is_role?('super_admin') %>
    <div class="ca-input checkbox">
      <span class="dc-checkbox">
        <%= f.check_box :internal %>
        <%= f.label :internal %>
      </span>
    </div>
  <% end %>

  <div class="ca-input">
    <div class="ca-collection-checkboxes">
      <%= f.label :visibility %>
      <%= f.collection_check_boxes :visibility,
        DataCycleCore.classification_visibilities.map { |v|
          OpenStruct.new(
            name: v,
            title: t("classification_visibilities.#{v}", locale: active_ui_locale, default: v),
            checked: f.object.visibility.include?(v)
          )
        },
        :name,
        :title do |l| %>
        <span class="dc-checkbox">
          <%= l.check_box %>
          <%= l.label %>
        </span>
      <% end %>
    </div>
  </div>

  <% if current_user&.is_role?('super_admin') %>
    <div class="ca-input">
      <div class="ca-collection-checkboxes">
        <%= f.label :change_behaviour %>
        <%= f.collection_check_boxes :change_behaviour,
          DataCycleCore.classification_change_behaviour.map { |v|
            OpenStruct.new(
              name: v,
              title: t("classification_change_behaviour.#{v}", locale: active_ui_locale, default: v),
              checked: f.object.change_behaviour.include?(v)
            )
          },
          :name,
          :title do |l| %>
          <span class="dc-checkbox">
            <%= l.check_box %>
            <%= l.label %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= f.submit class: 'success button' %>
<% end %>
