<li id="<%= classification_tree.id %>" class="<%= type %>" data-id="<%= classification_tree.sub_classification_alias.try(:id) %>">
  <span class="inner-item">
    <%= link_to classification_title(classification_tree.sub_classification_alias),
                classifications_path(classification_tree_id: classification_tree.id),
                class: "name" %>

    <%= link_to tag.i(class: 'fa fa-pencil'), '#',
                class: 'edit',
                data: {
                  dc_tooltip: t('actions.edit_data', data: classification_tree.sub_classification_alias.try(:internal_name), locale: active_ui_locale)
                } if can?(:update, classification_tree.sub_classification_alias) || can?(:map_classifications, classification_tree.sub_classification_alias) %>

    <%= link_to tag.i(class: 'fa fa-trash-o'),
                classifications_path(classification_tree_id: classification_tree.id),
                class: 'destroy',
                data: {
                  confirm: tag.div(class: 'remote-render', data: { remote_path: 'data_cycle_core/classifications/classification_alias_removal_warning', remote_options: CGI::escapeHTML(to_query_params(classification_alias: classification_tree.sub_classification_alias).to_json) }),
                  disable_with: tag.i(class: 'fa fa-spinner fa-spin'),
                  dc_tooltip: t('actions.delete_with_data', data: classification_tree.sub_classification_alias.try(:internal_name), locale: active_ui_locale)
                } if can?(:destroy, classification_tree.sub_classification_alias) %>

    <%= link_to tag.i(class: 'fa fa-clipboard'), '#',
                class: 'copy-to-clipboard',
                data: {
                  value: classification_tree.sub_classification_alias.try(:id),
                  dc_tooltip: t('actions.copy_classification_alias_id_to_clipboard', locale: active_ui_locale)
                } if can?(:copy_to_clipboard, classification_tree.sub_classification_alias) %>

    <%= link_to tag.i(class: 'fa fa-list'),
              root_path(mode: 'tree', ctl_id: classification_tree_label.id, reset: true, anchor: (Array.wrap(ancestors) + [classification_tree.id]).join('+')),
              class: 'contents-list',
              target: :_blank,
              data: {
                dc_tooltip: t('data_cycle_core.show_contents_for_tree_label', data: classification_tree.sub_classification_alias.try(:internal_name), locale: active_ui_locale)
              } %>
  </span>

  <%= tag.div(class: 'remote-render inverted classification-alias-form-container', data: { remote_path: 'data_cycle_core/classifications/classification_alias_form', remote_options: to_query_params(classification_tree_label: classification_tree_label, classification_tree: classification_tree).to_json }) if can?(:update, classification_tree.sub_classification_alias) || can?(:map_classifications, classification_tree.sub_classification_alias) %>

  <ul class="children"></ul>
</li>
