<%= form_for(classification_tree_label, url: classifications_path, namespace: classification_tree_label&.id, remote: true) do |f| %>
  <%= f.hidden_field :id %>
    <%= f.label :name %>
  <%= f.text_field :name %>
  <button class="button-prime small success update"><i aria-hidden="true" class="fa fa-check"></i></button>
  <button class="button-prime small discard"><i aria-hidden="true" class="fa fa-times"></i></button>
    <%= f.label :internal do |l| %>
        <%= f.check_box :internal %>
        <%= l.translation %>
    <% end %>
    <%= f.submit class: 'success button' %>
<% end %>
