<li id="<%= classification_tree.id %>">
  <span class="inner-item">
    <%= tag.i(class: 'fa fa-eye-slash') if classification_tree.sub_classification_alias.internal? %>

    <%= link_to classification_title(classification_tree.sub_classification_alias),
                classifications_path(classification_tree_id: classification_tree.id),
                data: {
                  remote: true,
                  disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: active_ui_locale)}"
                } %>

    <%= link_to tag.i(class: 'fa fa-pencil'), '#',
                class: 'edit',
                data: {
                  dc_tooltip: t('actions.edit_data', data: classification_tree.sub_classification_alias.try(:internal_name), locale: active_ui_locale)
                } if can?(:update, classification_tree.sub_classification_alias) || can?(:map_classifications, classification_tree.sub_classification_alias) %>

    <%= link_to tag.i(class: 'fa fa-trash-o'),
                classifications_path(classification_tree_id: classification_tree.id),
                class: 'destroy',
                data: {
                  remote: true,
                  method: :delete,
                  confirm: render('classification_alias_removal_warning', classification_alias: classification_tree.sub_classification_alias),
                  disable_with: tag.i(class: 'fa fa-spinner fa-spin'),
                  dc_tooltip: t('actions.delete_with_data', data: classification_tree.sub_classification_alias.try(:internal_name), locale: active_ui_locale)
                } if can?(:destroy, classification_tree.sub_classification_alias) %>

    <%= link_to tag.i(class: 'fa fa-clipboard'), '#',
                class: 'copy-to-clipboard',
                data: {
                  value: classification_tree.sub_classification_alias.try(:id),
                  dc_tooltip: t('actions.copy_classification_alias_id_to_clipboard', locale: active_ui_locale)
                } %>
  </span>

  <% if can?(:update, classification_tree.sub_classification_alias) || can?(:map_classifications, classification_tree.sub_classification_alias) %>
    <%= render 'classification_alias_form',
          classification_tree_label: classification_tree_label,
          classification_tree: classification_tree,
          classification_alias: classification_tree.sub_classification_alias %>
  <% end %>

  <%= link_to tag.i(class: 'fa fa-list'),
              root_path(mode: 'tree', ctl_id: classification_tree_label.id, reset: true, anchor: (Array.wrap(ancestors) + [classification_tree.id]).join('+')),
              class: 'contents-list',
              target: :_blank,
              data: {
                dc_tooltip: t('data_cycle_core.show_contents_for_tree_label', data: classification_tree.sub_classification_alias.try(:internal_name), locale: active_ui_locale)
              } %>

  <ul class="classifications">
    <% classification_tree.sub_classification_alias.classifications.each do |classification| %>
      <li><%= classification_title(classification) %></li>
    <% end %>
  </ul>

  <ul class="children">
  </ul>
</li>
