<li id="<%= classification_tree.id %>">
  <% if classification_tree.sub_classification_alias.sub_classification_trees.size > 0 %>
    <%= link_to classification_tree.sub_classification_alias.try(:name),
                classifications_path(classification_tree_id: classification_tree.id),
                data: {remote: true, 'disable-with' => '<i class="fa fa-spinner fa-spin"></i> #{t("common.loading")}'} %>
  <% else %>
    <span><%= classification_tree.sub_classification_alias.try(:name) %></span>
  <% end %>

  <% if can?(:update, classification_tree.sub_classification_alias) %>
    <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>

    <%= form_for(classification_tree.sub_classification_alias, url: classifications_path, method: :patch, remote: true) do |f| %>
      <%= f.hidden_field :id %>
      <%= f.text_field :name %>
      <%= f.check_box :internal %>
      <%= f.submit %>
    <% end %>
  <% end %>

  <% if can?(:destroy, classification_tree) %>
    <%= link_to classifications_path(classification_tree_id: classification_tree.id), class: 'destroy',
                data: {remote: true, method: :delete, 'disable-with' => '<i class="fa fa-spinner fa-spin"></i>'} do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  <% end %>

  <ul class="classifications">
    <% classification_tree.sub_classification_alias.classifications.each do |classification| %>
      <li><%= classification.name %></li>
    <% end %>
  </ul>

  <% if classification_tree.sub_classification_alias.sub_classification_trees.size > 0 %>
    <ul>
    </ul>
  <% end %>
</li>
