<li id="<%= tree_label.id %>">
<span class="inner-item">
  <%= link_to tree_label.name,
              classifications_path(classification_tree_label_id: tree_label.id),
              data: {remote: true, disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: DataCycleCore.ui_language)}"} %>

  <% if can?(:update, tree_label) %>
    <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
  <% end %>

  <% if can?(:destroy, tree_label) %>
    <%= link_to classifications_path(classification_tree_label_id: tree_label.id), class: 'destroy',
                data: {remote: true, method: :delete,
                       confirm: t('common.are_you_sure', locale: DataCycleCore.ui_language),
                       disable_with: '<i class="fa fa-spinner fa-spin"></i>'} do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
 <% end %>

 <% if can?(:download, tree_label) %>
   <%= link_to download_classifications_path(classification_tree_label_id: tree_label.id, format: :csv),
               class: 'download' do %>
     <i class="fa fa-download" aria-hidden="true"></i>
   <% end %>
 <% end %>

  <%= link_to classification_tree_label_path(tree_label), class: 'contents-list', target: :_blank, data: { tooltip: '' }, title: t('data_cycle_core.show_contents_for_tree_label', data: tree_label.name, locale: DataCycleCore.ui_language) do %>
    <i class="fa fa-list" aria-hidden="true"></i>
  <% end %>

</span>
   <% if can?(:update, tree_label) %>
    <%= render 'classification_tree_label_form', classification_tree_label: tree_label %>
  <% end %>

  <ul class="children">
  </ul>
</li>
