<li id="<%= classification_tree.id %>">
    <span class="inner-item">
        <%= tag.fa(class: 'fa fa-eye-slash') if classification_tree.sub_classification_alias.internal? %>
        <%= link_to classification_title(classification_tree.sub_classification_alias),
            classifications_path(classification_tree_id: classification_tree.id),
            data: {remote: true, disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: active_ui_locale)}"} %>

        <% if can?(:update, classification_tree.sub_classification_alias) || can?(:map_classifications, classification_tree.sub_classification_alias) %>
            <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <% end %>

        <% if can?(:destroy, classification_tree.sub_classification_alias) %>
            <%= link_to classifications_path(classification_tree_id: classification_tree.id), class: 'destroy',
                data: {
                remote: true,
                method: :delete,
                confirm: render('classification_alias_removal_warning',
                                classification_alias: classification_tree.sub_classification_alias),
                disable_with: '<i class="fa fa-spinner fa-spin"></i>'
                } do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
        <% end %>

        <%= link_to tag.i(class: 'fa fa-clipboard'), '#', class: 'copy-to-clipboard', title: t('actions.copy_classification_alias_id_to_clipboard', locale: active_ui_locale), data: { value: classification_tree.sub_classification_alias.try(:id) } %>
    </span>
    <% if can?(:update, classification_tree.sub_classification_alias) ||
          can?(:map_classifications, classification_tree.sub_classification_alias) %>

        <%= render 'classification_alias_form',
            classification_tree_label: classification_tree_label,
            classification_tree: classification_tree,
            classification_alias: classification_tree.sub_classification_alias %>
    <% end %>

    <%= link_to classification_tree_label_path(classification_tree_label, anchor: "#{(ancestors.join('+') + '+') if ancestors.present? }#{classification_tree.id}"), class: 'contents-list', target: :_blank, title: t('data_cycle_core.show_contents_for_tree_label', data: classification_tree.sub_classification_alias.try(:internal_name), locale: active_ui_locale) do %>
        <i class="fa fa-list" aria-hidden="true"></i>
    <% end %>

    <ul class="classifications">
        <% classification_tree.sub_classification_alias.classifications.each do |classification| %>
            <li><%= classification_title(classification) %></li>
        <% end %>
    </ul>
    <ul class="children">
    </ul>
</li>
