<li id="<%= tree_label.id %>" class="classification_tree_label">
  <span class="inner-item">
    <%= link_to tree_label.name, classifications_path(classification_tree_label_id: tree_label.id), class: "name" %>

    <%= link_to tag.i(class: 'fa fa-angle-double-down'), '#',
                class: 'classification-load-all-children',
                data: {
                  dc_tooltip: t('embedded.open_all', locale: active_ui_locale)
                } %>

    <%= link_to tag.i(class: 'fa fa-angle-double-up'), '#',
                class: 'classification-close-all-children',
                data: {
                  dc_tooltip: t('embedded.close_all', locale: active_ui_locale)
                } %>

    <%= link_to tag.span(tag.i(class: 'fa fa-stack-2x fa-list-ul') + tag.i(class: 'fa fa-stack-1x fa-arrows-v'), class: 'fa-stack'), '#',
                class: 'classification-order-button',
                data: {
                  dc_tooltip: t('classification_administration.move.button.tooltip', locale: active_ui_locale)
                } if can?(:edit, tree_label) %>

    <%= link_to tag.i(class: 'fa fa-pencil'), '#',
                class: 'edit',
                data: {
                  dc_tooltip: t('actions.edit_data', data: tree_label.name, locale: active_ui_locale)
                } if can?(:edit, tree_label) %>

    <%= link_to tag.i(class: 'fa fa-trash-o'),
                classifications_path(classification_tree_label_id: tree_label.id),
                class: 'destroy',
                data: {
                  confirm: tag.div(class: 'remote-render', data: { remote_path: 'data_cycle_core/classifications/classification_tree_label_removal_warning', remote_options: CGI::escapeHTML(to_query_params(classification_tree_label: tree_label).to_json) }),
                  disable_with: tag.i(class: 'fa fa-spinner fa-spin'),
                  dc_tooltip: t('actions.delete_with_data', data: tree_label.name, locale: active_ui_locale)
                } if can?(:destroy, tree_label) %>

    <% if can?(:download, tree_label) %>
      <div class="download-container">
        <%= link_to tag.i(class: 'fa fa-download'), '#',
                  class: 'download-dropdown-link',
                  data: {
                    toggle: "download-tree-#{tree_label.id}",
                    dc_tooltip: t('data_cycle_core.classifications_adminitration.download_tree_csv', locale: active_ui_locale)
                  } %>

        <div id="<%= "download-tree-#{tree_label.id}" %>" class="download-tree-container dropdown-pane" data-dropdown>
          <ul class="no-bullet list-items">
            <li><%= link_to tag.span(tag.i(class: 'fa fa-table'), class: 'download-icon') + tag.span(t('data_cycle_core.classifications_adminitration.download_tree', locale: active_ui_locale), class: 'download-link-text'),
                  download_classifications_path(classification_tree_label_id: tree_label.id, format: :csv),
                  class: 'download' %></li>

            <li><%= link_to tag.span(tag.i(class: 'fa fa-table') + tag.i(class: 'fa fa-plus'), class: 'download-icon') + tag.span(t('data_cycle_core.classifications_adminitration.download_tree_with_contents', locale: active_ui_locale), class: 'download-link-text'),
                  download_classifications_path(classification_tree_label_id: tree_label.id, format: :csv, include_contents: true),
                  class: 'download download-with-contents' %></li>

            <li><%= link_to tag.span(tag.i(class: 'fa fa-table') + tag.i(class: 'fa fa-arrows-h'), class: 'download-icon') + tag.span(t('data_cycle_core.classifications_adminitration.download_tree_for_mappings', locale: active_ui_locale), class: 'download-link-text'),
                  download_classifications_path(classification_tree_label_id: tree_label.id, format: :csv, specific_type: :mapping_import),
                  class: 'download download-for-mapping' %></li>

            <li><%= link_to tag.span(tag.i(class: 'fa fa-table') + tag.i(class: 'fa fa-long-arrow-right'), class: 'download-icon') + tag.span(t('data_cycle_core.classifications_adminitration.download_tree_with_mappings', locale: active_ui_locale), class: 'download-link-text'),
                  download_classifications_path(classification_tree_label_id: tree_label.id, format: :csv, specific_type: :mapping_export),
                  class: 'download download-with-mapping' %></li>

            <li><%= link_to tag.span(tag.i(class: 'fa fa-table') + tag.i(class: 'fa fa-long-arrow-left'), class: 'download-icon') + tag.span(t('data_cycle_core.classifications_adminitration.download_tree_with_inverse_mappings', locale: active_ui_locale), class: 'download-link-text'),
                  download_classifications_path(classification_tree_label_id: tree_label.id, format: :csv, specific_type: :mapping_export_inverse),
                  class: 'download download-with-inverse-mapping' %></li>
          </ul>
        </div>
      </div>
    <% end %>

    <%= link_to tag.i(class: 'fa fa-hashtag'), '#',
                class: 'copy-to-clipboard',
                data: {
                  value: tree_label.id,
                  dc_tooltip: t('actions.copy_to_clipboard_data', locale: active_ui_locale, data: 'ID')
                } if can?(:copy_to_clipboard, tree_label) %>

    <%= link_to tag.i(class: 'fa fa-clipboard'), '#',
                class: 'copy-to-clipboard',
                data: {
                  value: api_v4_concept_scheme_url(id: tree_label.id),
                  dc_tooltip: t('actions.copy_to_clipboard_data', locale: active_ui_locale, data: t('common.api_url', locale: active_ui_locale))
                } if can?(:copy_api_link, tree_label) %>

    <%= link_to tag.i(class: 'fa fa-list'),
                root_path(mode: 'tree', ctl_id: tree_label.id, reset: true),
                class: 'contents-list',
                target: :_blank,
                data: {
                  dc_tooltip: t('data_cycle_core.show_contents_for_tree_label', data: tree_label.name, locale: active_ui_locale)
                } %>
  </span>

  <%= tag.div(class: 'remote-render inverted classification-tree-label-form-container', data: { remote_path: 'data_cycle_core/classifications/classification_tree_label_form', remote_options: to_query_params(classification_tree_label: tree_label).to_json }) if can?(:edit, tree_label) %>

  <ul class="children <%= 'draggable-container' if can?(:edit, tree_label) %> <%= 'move-to-tree' if can?(:move_to_tree, tree_label) %>"></ul>
</li>
