<%= form_for(classification_alias, url: classifications_path, namespace: classification_alias&.id, remote: true) do |f| %>
  <%= hidden_field(nil, :classification_tree_label_id, value: classification_tree_label.id) %>
  <%= hidden_field(nil, :classification_tree_id, value: classification_tree.id) if classification_tree %>
  <%= f.hidden_field :id %>

  <div class="ca-buttons">
    <button class="button-prime small success update" data-disable-with='<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>'>
      <i aria-hidden="true" class="fa fa-check"></i>
    </button>
    <button class="button-prime small discard"><i aria-hidden="true" class="fa fa-times"></i></button>
  </div>

  <div class="ca-input">
    <%= f.label :name, class: 'ca-label' %>
    <%= f.text_field :name, class: 'ca-input-field', disabled: classification_alias&.id.present? ? !can?(:update, classification_alias) : !can?(:create, DataCycleCore::ClassificationAlias) %>
  </div>

  <div class="ca-input">
    <%= f.label :description, class: 'ca-label' %>
    <%= f.text_field :description, class: 'ca-input-field', disabled: classification_alias&.id.present? ? !can?(:update, classification_alias) : !can?(:create, DataCycleCore::ClassificationAlias) %>
  </div>

  <div class="ca-input checkbox">
    <span class="ca-checkbox">
      <%= f.check_box :internal, disabled: classification_alias&.id.present? ? !can?(:update, classification_alias) : !can?(:create, DataCycleCore::ClassificationAlias) %>
      <%= f.label :internal %>
    </span>

    <span class="ca-checkbox">
      <%= f.check_box :assignable, disabled: classification_alias&.id.present? ? !can?(:update, classification_alias) : !can?(:create, DataCycleCore::ClassificationAlias) %>
      <%= f.label :assignable %>
    </span>
  </div>

  <% if classification_alias.persisted? && can?(:map_classifications, classification_alias) %>
    <%= hidden_field_tag 'classification_alias[classification_ids][]', classification_alias&.primary_classification_id,
                         class: 'default_classification_mapping' %>
    <div class="v-select">
      <%= f.label :classification_ids %>
      <%= f.select(:classification_ids,
        options_for_select(classification_alias.classifications.map { |c|
          [
            c.name,
            c.id,
            {
              title: c.primary_classification_alias.full_path
            }
          ]
        },
        classification_alias.additional_classifications.map(&:id)),
        {},
        { multiple: true }) %>
    </div>
  <% end %>
  <%= f.submit class: 'success button' %>
<% end %>
