<li id="<%= classification_tree.id %>">
  <span class="inner-item">
  <% if classification_tree.sub_classification_alias.internal? %>
    <i class="fa fa-eye-slash" aria-hidden="true"></i>
  <% end %>

  <%= link_to classification_tree.sub_classification_alias.try(:name),
              classifications_path(classification_tree_id: classification_tree.id),
              data: {remote: true, 'disable-with' => '<i class="fa fa-spinner fa-spin"></i> #{t("common.loading", locale: DataCycleCore.ui_language)}'} %>

  <% if can?(:update, classification_tree.sub_classification_alias) %>
    <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
  <% end %>

  <% if can?(:destroy, classification_tree.sub_classification_alias) %>
    <%= link_to classifications_path(classification_tree_id: classification_tree.id), class: 'destroy',
                data: {remote: true, method: :delete,
                       confirm: t('common.are_you_sure', locale: DataCycleCore.ui_language),
                       'disable-with' => '<i class="fa fa-spinner fa-spin"></i>'} do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  <% end %>
  </span>
    <% if can?(:update, classification_tree.sub_classification_alias) %>
    <%= render 'classification_alias_form',
                classification_tree_label: classification_tree_label,
                classification_tree: classification_tree,
                classification_alias: classification_tree.sub_classification_alias %>
  <% end %>

  <ul class="classifications">
    <% classification_tree.sub_classification_alias.classifications.each do |classification| %>
      <li><%= classification.name %></li>
    <% end %>
  </ul>
  <ul class="children">
  </ul>
</li>
