<%= form_for content, html: {class: 'edit-content-form validation-form'} do |f| %>
	<%= hidden_field_tag 'uuid', content.id %>
	<%= hidden_field_tag :table, content.class.table_name %>

	<section class="edit-header">
		<div class="row expanded">
			<div class="column edit-header-functions">
				<div class="edit-name">
					<i class="fa fa-pencil" aria-hidden="true"></i> <%== "#{content.model_name.human(locale: DataCycleCore.ui_language)} #{t('actions.edit', locale: DataCycleCore.ui_language)}" %>
				</div>
				<ul>
					<li class="buttons">
            <%= link_to previous_authorized_crumb.url do %>
							<button type="button" class="button discard top" data-tooltip aria-haspopup="true" data-click-open="false" title="Änderungen verwerfen"><i class="fa fa-times" aria-hidden="true"></i></button>
            <% end if previous_authorized_crumb.present? %>
            <button class="button-prime submit submit-edit-form" data-tooltip aria-haspopup="true" data-click-open="false" title="Änderungen speichern"><i class="fa fa-check" aria-hidden="true"></i></button>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="row">
		<div class="column">
			<div class="detail-header editor">

				<div class="detail-header-info">
					<div class="type thema">
						<span class="icon">
								<i class="fa fa-users" aria-hidden="true"></i>
						</span>
						<span class="title"><%= content.model_name.human(locale: DataCycleCore.ui_language) %></span>
					</div>
				</div>

				<div class="form-element input">
          <%= f.label :name, DataCycleCore::UserGroup.human_attribute_name(:name, locale: DataCycleCore.ui_language) %>
          <%= f.text_field :name, required: true %>
				</div>

				<div class="form-element">

          <div class="v-select">
            <%= f.label :user_ids, DataCycleCore::UserGroup.human_attribute_name(:user_ids, locale: DataCycleCore.ui_language) %>
            <%= hidden_field_tag 'user_group[user_ids][]', nil, id: 'hidden_user_group_user_ids' %>
            <%= select_tag('user_group[user_ids][]', options_for_select(DataCycleCore::User.all.map { |c| [c.full_name, c.id, { title: c.email }] }, content.users.map(&:id)), { multiple: true, class: 'multi-select' }) %>
          </div>

				</div>

			</div>
		</div>
	</div>

<% end %>
