<% @user_group = DataCycleCore::UserGroup.new %>

<div class="reveal new-item" id="newContent" data-reveal>
  <div class="reveal-header"><%= t('actions.new', data: @user_group.model_name.human(locale: active_ui_locale), locale: active_ui_locale ) %></div>

  <%= form_with(url: create_user_groups_path, local: true, scope: @user_group) do |f| %>
    <div class="reveal-body">
      <div class="form-element validation-container">
        <%= f.label :name do %>
          <%= DataCycleCore::UserGroup.human_attribute_name(:name, locale: active_ui_locale) %>
          <%= tag.i('*', class: 'required-field-marker', data: { dc_tooltip: t('common.required_field', locale: active_ui_locale) }) %>
        <% end %>
        <%= f.text_field :name, required: true %>
      </div>
    </div>

    <div class="reveal-footer">
      <%= f.button safe_join([
            t(:submit, locale: active_ui_locale),
            tag.i(class: 'fa fa-check')
          ]),
          type: :submit,
          class: "button primary",
          data: { disable: true }
        %>
    </div>

  <% end %>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
