<% breadcrumb :index, 'user_groups' %>

<% content_for :top_content do %>
  <%= render 'data_cycle_core/users/filter', filter_model: DataCycleCore::UserGroup, form_path: user_groups_path if user_signed_in? %>
<% end %>

<%= render 'results', content_class: 'user_groups', contents: @contents %>

<% random_id = SecureRandom::hex(10) %>
<% if can? :create, DataCycleCore::UserGroup %>
  <% content_for :new_button do %>
    <a data-toggle="<%= random_id %>" class="button-prime new-object-circle"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <div class="reveal new-object" id="<%= random_id %>" data-reveal data-v-offset="auto" data-close-on-click="true">
      <a class="option last" href="#" data-open="newContent"><i class="fa fa-folder-open-o" aria-hidden="true"></i><%= t('actions.new', data: DataCycleCore::UserGroup.model_name.human(locale: active_ui_locale), locale: active_ui_locale ) %></a>
    </div>
    <%= render 'new' %>
  <% end %>
<% end %>
