<div>
  <div class="card">
    <div class="card-divider">
      <div class="header">
        <h5 class="copy-to-clipboard" data-value="<%= external_system[:name] %>" title="<%= external_system[:name] %>"><%= external_system[:name] %></h5>
      </div>

      <div class="subheader">
        <h5 class="copy-to-clipboard identifier" data-value="<%= external_system[:identifier] %>" data-dc-tooltip="<%= external_system[:identifier] %>"><%= external_system[:identifier] %></h5>
        <div class="buttons">
          <a href="#" class="copy-to-clipboard" data-dc-tooltip="<%= external_system[:id] %>" data-value="<%= external_system[:id] %>"><i class="fa fa-hashtag" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
