<%= return render('data_cycle_core/dash_board/export_modules', external_system: import_data) if import_data[:webhook_only] %>

<div>
  <div class="card import-module accordion <%= 'deactivated' if import_data[:deactivated] %>" data-accordion data-allow-all-closed="true">
    <div class="accordion-item" data-accordion-item>
      <div class="card-divider accordion-title">
        <div class="header">
          <h5 class="copy-to-clipboard" data-value="<%= import_data[:name] %>" title="<%= import_data[:name] %>"><%= import_data[:name] %></h5>
          <ul class="import-data-timestamps">
            <li class="download <%= import_data[:last_download_class] %>" data-dc-tooltip="<%= timestamp_tooltip(import_data, 'download') %>"></li>
            <li class="import <%= import_data[:last_import_class] %>" data-dc-tooltip="<%= timestamp_tooltip(import_data, 'import') %>"></li>
          </ul>
        </div>

        <h6 class="external-system-id">
          <span class="copy-to-clipboard" data-value="<%= import_data[:uuid] %>" ><%= import_data[:uuid] %></span>
        </h6>
      </div>
      <div class="accordion-content remote-render" data-tab-content data-remote-path="data_cycle_core/dash_board/import_module" data-remote-options="<%= to_query_params({ external_source_id: import_data[:uuid] }).to_json %>"></div>
    </div>
  </div>
</div>
