<% if data.dig(:"last_#{type}") != data.dig(:"last_successful_#{type}") %>
  <li class="last-successful-<%= type %> <%= 'check-icon' if data.dig(:"last_successful_#{type}") %>">
    <%= import_data_time(data.dig(:"last_successful_#{type}")) %>
    <% if data.dig(:"last_successful_#{type}_time").present? %>
      (<%= distance_of_time_in_words(Time.zone.now, Time.zone.now + data.dig(:"last_successful_#{type}_time"), locale: active_ui_locale)%>)
    <% end %>
  </li>
<% end %>
<li class="last-<%= type %> <%= data.dig(:"last_#{type}_status") %>">
  <%= import_data_time(data.dig(:"last_#{type}")) %>
  <%= active_duration(data, type) %>
</li>
