<% data = DataCycleCore::StatsDatabase.new.load_mongo_stats(local_assigns[:external_source_id]) %>

<div class="card-section">
  <div class="mongo-db-name copy-to-clipboard" data-value="<%= data[:database] %>" title="<%= data[:database] %>"><%= data[:database] %></div>
  <ul>
    <%= content_tag(:li, "size: #{number_to_human_size(data[:db_size])}")%>
  </ul>
</div>
<div class="card-section">
  Collections: <br />
  <ul>
    <% data[:tables].each do |key, value| %>
      <%= content_tag(:li, "#{key}: #{value[0]} #{value[1]}") %>
    <% end %>
  </ul>
</div>
<div class="card-section">
  download:
  <ul class="no-bullet import-data-timestamps">
    <% if data.dig(:last_download) != data.dig(:last_successful_download) %>
      <li class="last-successful-download <%= 'check-icon' if data.dig(:last_successful_download) != 'never' %>">
        <%= import_data_time(data.dig(:last_successful_download)) %>
        <% if data.dig(:last_successful_download_time).present? %>
          (<%= distance_of_time_in_words(Time.zone.now, Time.zone.now + data.dig(:last_successful_download_time), locale: active_ui_locale)%>)
        <% end %>
      </li>
    <% end %>
    <li class="last-download <%= data.dig(:last_download_class) %>">
      <%= import_data_time(data.dig(:last_download)) %>
      <%= active_duration(data, 'download') %>
    </li>
  </ul>
  import:
  <ul class="no-bullet import-data-timestamps">
    <% if data.dig(:last_import) != data.dig(:last_successful_import) %>
      <li class="last-successful-import <%= 'check-icon' if data.dig(:last_successful_import) != 'never' %>">
        <%= import_data_time(data.dig(:last_successful_import)) %>
        <% if data.dig(:last_imlast_successful_import_timeport_time).present? %>
          (<%= distance_of_time_in_words(Time.zone.now, Time.zone.now + data.dig(:last_successful_import_time), locale: active_ui_locale)%>)
        <% end %>
      </li>
    <% end %>
    <li class="last-import <%= data.dig(:last_import_class) %>">
      <%= import_data_time(data.dig(:last_import)) %>
      <%= active_duration(data, 'import') %>
    </li>
  </ul>
</div>
<% if data[:deactivated] %>
  <div class="card-section buttons deactivated">
    <span class="deactivated">DEACTIVATED</span>
  </div>
<% else %>
  <div class="card-section buttons">
    <%= link_to_condition(
          data[:downloadable],
          tag.span(t('dash_board.download_import', locale: active_ui_locale), class: 'button small download-import'),
          admin_download_import_path(id: data[:uuid]),
          class: 'download-import') %>

    <%= link_to_condition(
          data[:downloadable],
          tag.span(t('dash_board.download', locale: active_ui_locale), class: "button small"),
          admin_download_path(id: data[:uuid])) %>

    <%= link_to_condition(
          data[:importable],
          tag.span(t('dash_board.import', locale: active_ui_locale), class: "button small"),
          admin_import_path(id: data[:uuid])) %>

    <%= link_to_condition(
          data[:downloadable],
          tag.span(t('dash_board.download_full', locale: active_ui_locale), class: "button small"),
          admin_download_full_path(id: data[:uuid])) %>

    <%= link_to_condition(
          data[:importable],
          tag.span(t('dash_board.import_full', locale: active_ui_locale), class: "button small"),
          admin_import_full_path(id: data[:uuid])) %>
  </div>
<% end %>
