<% queued_sum = stat_job_queue[:queued].values.sum %>
<span class="jobs-queued job-count" data-count="<%= queued_sum %>" data-dc-tooltip="<%= job_title_tooltip('queued jobs', stat_job_queue[:queued]) %>">
  <i class="fa fa-tasks" aria-hidden="true"></i>
  <%= number_with_delimiter(queued_sum, locale: active_ui_locale) %>
</span>

<% running_sum = stat_job_queue[:running].values.sum %>
<span class="jobs-running job-count" data-count="<%= running_sum %>" data-dc-tooltip="<%= job_title_tooltip('running jobs', stat_job_queue[:running]) %>">
  <i class="fa fa-spinner <%= 'fa-spin' if running_sum.positive? %>" aria-hidden="true"></i>
  <%= number_with_delimiter(running_sum, locale: active_ui_locale) %>
</span>

<% failed_sum = stat_job_queue[:failed].values.sum %>
<span class="jobs-failed job-count" data-count="<%= failed_sum %>" data-dc-tooltip="<%= job_title_tooltip('failed jobs', stat_job_queue[:failed]) %>">
  <i class="fa fa-times" aria-hidden="true"></i>
  <%= number_with_delimiter(failed_sum, locale: active_ui_locale) %>
</span>
