<% breadcrumb :admin %>

<section>
  <% if can?(:rebuild_classification_mappings, :dash_board) || can?(:clear_all, :cache) %>

    <div class="row">
      <div class="small-12 columns maintenance-administration">
        <h4>
          <i class='fa fa-arrow-circle-o-right' aria-hidden='true'></i> maintenance
        </h4>

        <% if can? :rebuild_classification_mappings, :dash_board %>
          <%= link_to safe_join([tag.i(class: 'fa fa-refresh'), t('dash_board.maintenance.classification_mappings.button', locale: active_ui_locale)], ' '), admin_rebuild_classification_mappings_path, class: "button small rebuild_classification_mappings", data: { disable_with: safe_join([tag.i(class: 'fa fa-refresh fa-spin fa-fw'), t('dash_board.maintenance.classification_mappings.button', locale: active_ui_locale)], ' '), disabled: @stat_job_queue[:rebuild_classification_mappings] } %>
        <% end %>

        <% if can? :clear_all, :cache %>
          <%= link_to safe_join([
          tag.i(class: 'fa fa-shield'),
          t('data_cycle_core.cache.clear_all', locale: active_ui_locale)
        ], ' '),
        clear_all_caches_path,
        class: 'button small',
        data: {
          confirm: "#{t('common.confirm_delete_all_caches', locale: active_ui_locale) }",
          dc_tooltip: t('data_cycle_core.cache.clear_all', locale: active_ui_locale)
        } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <h4>
        <i class='fa fa-database' aria-hidden='true'></i> core database
      </h4>
    </div>
    <% if can? :show_admin_activities, :dash_board %>
      <div class="small-12 columns">
        <%= link_to 'activities', admin_activities_path, class: 'button small' %>
      </div>
    <% end %>
  </div>

  <div class="grid-external-modules">
    <div class="grid-parent">
      <%= render 'pg_total_stats' %>
      <%= render 'job_queue_stats' %>
    </div>
  </div>

  <% if @grouped_external_systems&.dig(:import).present? || @grouped_external_systems&.dig(:webhook).present? || (can?(:create, DataCycleCore::ExternalSystem) && DataCycleCore.external_system_template_paths.present?) %>
    <div class="row">
      <div class="small-12 columns">
        <h4>
          <i class='fa fa-arrow-circle-o-down' aria-hidden='true'></i> import modules
          <% if can?(:create, DataCycleCore::ExternalSystem) && DataCycleCore.external_system_template_paths.present? %>
            <% random_id = SecureRandom.hex(10) %>
            <a href="#" class="add-external_system-button" data-open="<%= random_id %>"><i class="fa fa-plus"></i></a>
            <div class="reveal new-item remote-render" id="<%= random_id %>" data-reveal data-remote-path="data_cycle_core/external_systems/new"></div>
          <% end %>
        </h4>
      </div>
    </div>

    <div class="grid-external-modules">
      <div class="grid-parent">
        <%= render partial: 'import_modules', collection: @grouped_external_systems&.dig(:import), as: :import_data %>
      </div>
    </div>
  <% end %>

  <% if @grouped_external_systems&.dig(:export).present? %>
    <div class="row">
      <div class="small-12 columns">
        <h4>
          <i class='fa fa-arrow-circle-o-up' aria-hidden='true'></i> export modules
        </h4>
      </div>
    </div>

    <div class="grid-external-modules">
      <div class="grid-parent">
        <%= render partial: 'export_modules', collection: @grouped_external_systems&.dig(:export), as: :external_system %>
      </div>
    </div>
  <% end %>

  <% if @grouped_external_systems&.dig(:service).present? %>
    <div class="row">
      <div class="small-12 columns">
        <h4>
          <i class='fa fa-wrench' aria-hidden='true'></i> service modules
        </h4>
      </div>
    </div>

    <div class="grid-external-modules">
      <div class="grid-parent">
        <%= render partial: 'export_modules', collection: @grouped_external_systems&.dig(:service), as: :external_system %>
      </div>
    </div>
  <% end %>

  <% if @grouped_external_systems&.dig(:foreign).present? %>
    <div class="row">
      <div class="small-12 columns">
        <h4>
          <i class='fa fa-refresh' aria-hidden='true'></i> foreign modules
        </h4>
      </div>
    </div>

    <div class="grid-external-modules">
      <div class="grid-parent">
        <%= render partial: 'export_modules', collection: @grouped_external_systems&.dig(:foreign), as: :external_system %>
      </div>
    </div>
  <% end %>
</section>
