<% breadcrumb :admin %>

<section>
    <% if current_user.email =~ /@pixelpoint\.at/ || current_user.email =~ /@datacycle\.at/ %>
        <div class="row">
            <div class="small-12 columns">
                <h4>
                    <br/><i class='fa fa-arrow-circle-o-right' aria-hidden='true'></i>&nbsp; import configs<br/>&nbsp;
                </h4>
                <%= link_to 'data-types', admin_import_templates_path, class: 'button small' %>
                <%= link_to 'classifications', admin_import_classifications_path, class: 'button small' %>
                <%= link_to 'external_sources', admin_import_config_path, class:'button small' %>
                <%= link_to 'external_systems', admin_import_external_systems_path, class:'button small' %>
            </div>
        </div>
    <% end %>

    <div class="row">
        <div class="small-12 columns">
            <h4>
                <br/><i class='fa fa-database' aria-hidden='true'></i>&nbsp;core database<br/>&nbsp;
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <%= render 'pg_total_stats' %>
        </div>
        <div class="small-9 columns">
            <%= render 'job_queue_stats' unless @stat_job_queue.count == 0 %>
            <%= 'Duplicates:' unless @duplicates.blank? %>
            <%= ap(@duplicates).html_safe unless @duplicates.blank? %>
            <%= 'Errors:' unless @errors.blank? %>
            <%= ap(@errors).html_safe unless @errors.blank? %>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <br/></br>
            <h4>
                <i class='fa fa-arrow-circle-o-down' aria-hidden='true'></i>&nbsp; import modules<br/>&nbsp;
            </h4>
        </div>
    </div>
    <div class="row dashboard-cards">
        <% @stat_outdoor_active.import_modules.each do |import_modules| %>
            <div class="columns small-3">
                <%= render 'import_modules', locals: {import_data: import_modules} %>
            </div>
        <% end %>
    </div>

</section>
