<% breadcrumb :admin %>

<section>
  <% if current_user.email =~ /@pixelpoint\.at/ || current_user.email =~ /@datacycle\.at/ %>
    <div class="row">
      <div class="small-12 columns">
        <h4>
          <i class='fa fa-arrow-circle-o-right' aria-hidden='true'></i> maintenance
        </h4>

        <%
          text = I18n.t('dash_board.maintenance.classification_mappings.button', locale: active_ui_locale)
          disabled_text = safe_join([text, tag.i(class: 'fa fa-spinner fa-spin fa-fw')], ' ')
        %>
        <%= link_to text, admin_rebuild_classification_mappings_path, class: "button small rebuild_classification_mappings", data: { disable_with: disabled_text, disabled: @stat_job_queue[:rebuild_classification_mappings] } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <h4>
        <i class='fa fa-database' aria-hidden='true'></i> core database
      </h4>
    </div>
    <% if can? :show_admin_activities, :dash_board %>
      <div class="small-12 columns">
        <%= link_to 'activities', admin_activities_path, class: 'button small' %>
      </div>
    <% end %>
  </div>

  <div class="grid-external-modules">
    <div class="grid-parent-few">
      <%= render 'pg_total_stats' %>
      <%= render 'job_queue_stats' %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h4>
        <i class='fa fa-arrow-circle-o-down' aria-hidden='true'></i> import modules
        <% if can?(:create, DataCycleCore::ExternalSystem) && DataCycleCore.external_system_template_paths.present? %>
          <% random_id = SecureRandom.hex(10) %>
          <a href="#" class="button small add-external_system-button" data-open="<%= random_id %>"><i class="fa fa-plus"></i></a>
          <div class="reveal new-item remote-render" id="<%= random_id %>" data-reveal data-remote-path="data_cycle_core/external_systems/new"></div>
        <% end %>
      </h4>
    </div>
  </div>

  <div class="grid-external-modules">
    <% grid_class = @stat_database.import_modules.size < 3 ? 'grid-parent-few' : 'grid-parent' %>
    <div class="<%= grid_class %>">
      <% @stat_database.import_modules.each do |import_modules| %>
        <%= render 'import_modules', locals: { import_data: import_modules } %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h4>
        <i class='fa fa-arrow-circle-o-up' aria-hidden='true'></i> export modules
      </h4>
    </div>
  </div>
  <div class="grid-external-modules">
    <% external_systems = DataCycleCore::ExternalSystem.all %>
    <% grid_class = external_systems.where("config -> 'export_config' IS NOT NULL").size < 3 ? 'grid-parent-few' : 'grid-parent' %>
    <div class="<%=grid_class%>">
      <%= render partial: 'export_modules', collection: external_systems.where("config -> 'export_config' IS NOT NULL"), as: 'external_system' %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h4>
        <i class='fa fa-arrow-circle-o-up' aria-hidden='true'></i> sync foreign modules
      </h4>
    </div>
  </div>
  <div class="grid-external-modules">
    <% external_systems = DataCycleCore::ExternalSystem.all %>
    <% grid_class = external_systems.where("credentials IS NULL").size < 3 ? 'grid-parent-few' : 'grid-parent' %>
    <div class="<%=grid_class%>">
      <%= render partial: 'export_modules', collection: external_systems.where("credentials IS NULL"), as: 'external_system' %>
    </div>
  </div>

</section>
