<% breadcrumb :schema, autoroot: false %>

<main>
  <h1 typeof="rdfs:Class" resource="<%= schema_url(@template_schema.schema_name) %>">
    <%= @template_schema.schema_name %> (<em><%= @template_schema.template_name %></em>)
  </h1>

  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Expected Type</th>
        <th>Description</th>
      </tr>
    </thead>

    <thead>
      <th colspan="4">
        Properties from <a href="<%= schema_path(@template_schema.schema_name) %>"><%= @template_schema.schema_name %></a>
      </th>
    </thead>

    <tbody>
      <% @template_schema.property_definitions.each do |definition| %>
        <tr>
          <th><%= definition[:label] %> <%= tag.i(class: 'fa fa-language has-tip', aria_hidden: true, title: 'Translated') if definition[:translated] %></th>
          <td>
            <a href="<%= definition[:range] %>"><%= definition[:range].split('/').last %></a>
          </td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
