<% breadcrumb :schema, autoroot: false %>

<main>
  <h1 typeof="rdfs:Class" resource="<%= schema_url(@schema.dig('api', 'type')) %>">
    <%= @schema.dig('api', 'type') %>
  </h1>

  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Expected Type</th>
        <th>Description</th>
      </tr>
    </thead>

    <thead>
      <th colspan="3">
        Properties from <a href="<%= schema_path(@schema.dig('api', 'type')) %>"><%= @schema.dig('api', 'type') %></a>
      </th>
    </thead>

    <tbody>
      <% @template_schema.property_definitions.each do |definition| %>
        <tr>
          <th><%= definition[:label] %></th>
          <td>
            <a href="<%= definition[:range] %>"><%= definition[:range].split('/').last %></a>
          </td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
