<div class="form-element <%= key.split('[').last[0...-1] %>">
    <% @classification_tree_label = get_classifications_for_name prop %>

    <% unless @classification_tree_label.nil? %>

        <% options = @classification_tree_label.classification_trees.map { |classification| {"value" => classification.sub_classification_alias.classifications.ids , "label" => classification.sub_classification_alias.name }} %>
        <% selected_values = get_selected_values_for_classification options, value %>

        <div class="custom-select-title"><%= prop['label'] %></div>
        <%= label_tag(key, prop['label']) %>
        <custom-select hidden-field-id="<%= key %>[]" :custom-options="<%= options.to_json %>" :selected-values="<%= selected_values.to_json %>"></custom-select>

    <% end %>
</div>