<% object = ("DataCycleCore::"+("#{prop['type_name']}".classify)).constantize %>
<div class="form-element <%= key.split('[').last[0...-1] %>">
	<div class="object-browser" id="<%= sanitize_to_id(key) %>">
	  <%= label_tag(key, prop['label']) %>
	  <input type="text" disabled="disabled" />
	  <div class="media-thumbs">
		<% unless value.blank? %>
		  <% value.each do |item| %>
		  	<% image = object.where(id: item).first %>
		  	<div class="media thumbnail" style="background-image: url(<%= image.metadata['thumbnailUrl'] %>);">
			    <a class="delete-thumbnail" href="#"><i aria-hidden="true" class="fa fa-times"></i></a>
			    <span class="caption"></span><input type="hidden" name="<%= key %>[]" value="<%= image.id %>">
		    </div>
		  <% end %>
		<% end %>
		<% if prop['label'] == 'Bilder' %>
		  	<button class="button mediabrowser" data-media-type="<%= prop['label'] %>"><i class="fa fa-plus"></i></button>
		<% end %>
		</div>
  </div>
</div>
