<% object = ("DataCycleCore::"+("#{prop['type_name']}".classify)).constantize %>
<div class="form-element validation-container <%= key.split('[').last[0...-1] %>">
	<div class="object-browser" id="<%= sanitize_to_id(key) %>">
		<%= label_tag(key, prop['label']) %>
		<input type="text" disabled="disabled" />
		<div class="media-thumbs">

			<% if prop['label'] == 'Bilder' %>
				<% existing = [] %>
				<% unless value.blank? %>
					<% value.each do |item| %>
						<% image = object.where(id: item).first %>
						<% existing << image %>
					<% end %>
				<% end %>
				<object-browser :existing="<%= existing.to_json %>" :object-type="'<%= prop['label'] %>'" hidden-name="<%= key %>[]">
					<template scope="props" slot="item">
						<div v-if="props.item != undefined" class="media thumbnail" :style="{ backgroundImage: 'url('+props.item.metadata.thumbnailUrl+')' }">
							<a slot="remove" class="delete-thumbnail" href="#" @click.prevent="props.remove(props.item)"><i aria-hidden="true" class="fa fa-times"></i></a>
							<span class="caption"></span><input type="hidden" name="<%= key %>[]" :value="props.item.id">
						</div>
					</template>
				</object-browser>

			<% end %>
		</div>
	</div>
</div>