<a id="add-to-watchlist-link" class="hascontent watch-lists-link" data-toggle="watch-lists-<%= dataCycleObject.id %>"><i class="fa <%= dataCycleObject.watch_lists.by_user(current_user).count > 0 ? 'fa-bookmark' : 'fa-bookmark-o' %>" aria-hidden="true"></i><span> Zu Merkliste hinzufügen</span></a>
<ul class="dropdown-pane no-bullet bottom watch-lists" id="watch-lists-<%= dataCycleObject.id %>" data-dropdown data-hover="true" data-hover-pane="true">
    <% current_user.watch_lists.each do |watchlist| %>
        <li>
            <% if is_in_watchlist?(watchlist, dataCycleObject) %>
                <span class="watch-list-item">
                    <span class="check checked"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span class="watchlist-headline">
                        <%= watchlist.headline %>
                    </span>
                    <span class="change-link">
                    <%= link_to removeItem_watch_list_path(watchlist, hashable_type: dataCycleObject.class.name, hashable_id: dataCycleObject.id), class: 'remove-from-watchlist-link' do %>
                        <i aria-hidden="true" class="fa fa-minus-circle"></i>
                    <% end %>
                    </span>
                </span>
            <% else %>
                <span class="watch-list-item">
                    <span class="check"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span class="watchlist-headline">
                        <%= link_to addItem_watch_list_path(watchlist, hashable_type: dataCycleObject.class.name, hashable_id: dataCycleObject), class: 'add-to-watchlist-link' do %>
                            <%= watchlist.headline %>
                        <% end %>
                    </span>
                    <span class="change-link">
                        <%= link_to addItem_watch_list_path(watchlist, hashable_type: dataCycleObject.class.name, hashable_id: dataCycleObject), class: 'add-to-watchlist-link' do %>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <% end %>
                    </span>
                </span>
            <% end %>
        </li>
    <% end %>
    <li class="add-watchlist">
        <%= render "data_cycle_core/watch_lists/partials/shared/new", dataCycleObject: dataCycleObject %>
    </li>
</ul>