<% has_export_syncs = content.try(:external_system_syncs)&.export&.exists? %>
<section id="admin-panel">
  <section id="admin-inner" data-tabs-content="admin-icons">
    <section id="schema" class="tabs-panel">
      <section class="schema-nav">
        <%= render 'data_cycle_core/application/admin_panel/panel_header', title: tag.h5(t('admin_panel.schema', locale: active_ui_locale)) %>
      </section>
      <pre id="admin_schema" class="remote-render" data-remote-path="data_cycle_core/application/admin_panel/schema" data-remote-options="<%= to_query_params(content: content).to_json %>"></pre>
    </section>
    <section id="template-paths" class="tabs-panel">
      <section class="template-paths-nav">
        <%= render 'data_cycle_core/application/admin_panel/panel_header', title: tag.h5(t('admin_panel.template_paths', locale: active_ui_locale)) %>
      </section>
      <pre id="admin_template_paths" class="remote-render" data-remote-path="data_cycle_core/application/admin_panel/template_path" data-remote-options="<%= to_query_params(content: content).to_json %>"></pre>
    </section>
    <section id="datahash" class="tabs-panel">
      <section class="datahash-nav">
        <%= render 'data_cycle_core/application/admin_panel/panel_header', title: tag.h5(t('admin_panel.datahash', locale: active_ui_locale)) %>
      </section>
      <pre id="admin_datahash" class="remote-render" data-remote-path="data_cycle_core/application/admin_panel/datahash" data-remote-options="<%= to_query_params(content: content, locale: I18n.locale).to_json %>"></pre>
    </section>
    <section id="thing_history_links" class="tabs-panel">
      <section class="datahash-nav">
        <%= render 'data_cycle_core/application/admin_panel/panel_header', title: tag.h5(t('admin_panel.thing_history_links', locale: active_ui_locale)) %>
      </section>
      <pre id="admin_thing_history_links" class="remote-render" data-remote-path="data_cycle_core/application/admin_panel/thing_history_links" data-remote-options="<%= to_query_params(content: content, locale: I18n.locale).to_json %>"></pre>
    </section>
    <section id="json-api" class="tabs-panel">
      <section class="json-api-nav">
        <%= render 'data_cycle_core/application/admin_panel/panel_header', title: tag.h5('JSON') + tag.h6('APIv4') %>
      </section>
      <pre id="admin_api" class="remote-render" data-remote-path="data_cycle_core/application/admin_panel/json_api" data-remote-options="<%= to_query_params(content: content).to_json %>"></pre>
    </section>
    <% dzt_data = content.external_system_syncs.joins(:external_system).find_by("external_systems.identifier = 'dzt' OR external_systems.identifier ILIKE 'onlim%' OR external_systems.identifier ILIKE 'dzt%'") %>
    <% if dzt_data&.try(:data)&.dig('data_send').present? %>
      <section id="data-send" class="tabs-panel">
        <section class="data-send-nav">
          <%= render 'data_cycle_core/application/admin_panel/panel_header', title: tag.h5('DZT') + tag.h6(dzt_data&.try(:data)&.dig('data_send_at')) %>
        </section>
        <pre id="admin_data-send" class="remote-render" data-remote-path="data_cycle_core/application/admin_panel/data_send" data-remote-options="<%= to_query_params(content: dzt_data&.try(:data)&.dig('data_send')).to_json %>"></pre>
      </section>
    <% end %>
    <% if dzt_data&.try(:data)&.dig('job_result').present? %>
      <section id="data-job" class="tabs-panel">
        <section class="data-job-nav">
          <%= render 'data_cycle_core/application/admin_panel/panel_header', title: tag.h5('DZT') + tag.h6('export status') %>
        </section>
        <pre id="admin_data-job" class="remote-render" data-remote-path="data_cycle_core/application/admin_panel/data_send" data-remote-options="<%= to_query_params(content: dzt_data&.try(:data)&.dig('job_result')).to_json %>"></pre>
      </section>
    <% end %>
    <% if has_export_syncs %>
      <section id="data-export" class="tabs-panel">
        <section class="data-export-nav">
          <%= render 'data_cycle_core/application/admin_panel/panel_header', title: tag.h5('Exported Data') %>
        </section>
        <pre id="admin_data-export" class="remote-render" data-remote-path="data_cycle_core/application/admin_panel/data_export" data-remote-options="<%= to_query_params(content:).to_json %>"></pre>
      </section>
    <% end %>
    <% if content.try(:asset).present? && content&.asset&.metadata.present? %>
      <section id="meta-data" class="tabs-panel">
        <section class="meta-data-nav">
          <%= render 'data_cycle_core/application/admin_panel/panel_header', title: tag.h5(t('admin_panel.meta-data', locale: active_ui_locale)) %>
        </section>
        <pre id="admin_meta-data" class="remote-render" data-remote-path="data_cycle_core/application/admin_panel/meta_data" data-remote-options="<%= to_query_params(content: content).to_json %>"></pre>
      </section>
    <% end %>
  </section>

  <ul class="tabs" data-active-collapse="true" data-tabs id="admin-icons">
    <li class="tabs-title"><a href="#test"><i class="fa fa-user-secret"></i></a></li>
    <li class="tabs-title"><a href="#schema"><i class="fa fa-code"></i></a></li>
    <li class="tabs-title"><a href="#template-paths"><i class="fa fa-folder-open"></i></a></li>
    <li class="tabs-title"><a href="#datahash"><i class="fa fa-hashtag"></i></a></li>
    <li class="tabs-title"><a href="#thing_history_links"><i class="fa fa-code-fork" aria-hidden="true"></i></a></li>
    <li class="tabs-title"><a href="#json-api"><i class="fa">json</i></a></li>
    <% if dzt_data&.try(:data)&.dig('data_send').present? %>
      <li class="tabs-title"><a href="#data-send"><i class="fa">DZT</i></a></li>
    <% end %>
    <% if dzt_data&.try(:data)&.dig('job_result').present? %>
      <li class="tabs-title"><a href="#data-job"><i class="fa">DZT status</i></a></li>
    <% end %>
    <% if has_export_syncs %>
      <li class="tabs-title"><a href="#data-export"><i class="fa fa-arrow-right"></i></a></li>
    <% end %>
    <% if content.try(:asset).present? && content&.asset&.metadata.present? %>
      <li class="tabs-title"><a href="#meta-data"><i class="fa">metadata</i></a></li>
    <% end %>
  </ul>
</section>
