<% I18n.with_locale(@language) do %>

    <%= link_to polymorphic_path(item, trail: (breadcrumb_trail unless request.path == root_path)) do %>

        <div class="inner">

            <%= render 'data_cycle_core/creative_works/partials/index/render/type', item: item %>

            <div class="title">

                <% if !item.name.nil? %>
                    <%= item.name %>
                <% end %>

            </div>

            <%= render 'data_cycle_core/places/partials/shared/address', item: item %>

            <% unless item.display_classification_aliases.nil? %>

                <div class="tags">
                    <% item.display_classification_aliases.each do |classificationAlias| %>
                        <span class="tag"><%= classificationAlias.name %></span>
                    <% end %>
                </div>

            <% end %>

            <%= render 'data_cycle_core/creative_works/partials/index/render/contentInfo', item: item %>

        </div>

    <% end %>

<% end %>