<%
    thumbnail_url = object.try(:thumbnail_url) || object.try(:image_asset).try(:first).try(:thumbnail_url) || object.try(:asset).try(:first).try(:thumbnail_url)
%>
<div class="media thumbnail item <%= 'has-restrictions' if object.try(:restrictions)&.include?('gesperrt') %> <%= 'hard-warnings' if object.hard_content_warnings? %> <%= 'active' if (objects ||= []).include?(object.id) %>" style="<%= "background-image: url(#{thumbnail_url})" if thumbnail_url.present? %>" data-open="media_reveal_<%= object.id %>" data-id="<%= object.id %>">
    <% render_locale = I18n.locale %>
    <% I18n.with_locale(object.first_available_locale) do %>
        <%= hidden_field_tag key, object.id %>

        <% if object.try(:title) %>
            <div class="description"><%= object.title %> (<%= I18n.locale.to_s %>)</div>
        <% end %>

        <% if editable ||= false %>
            <span class="draggable-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
            <span class="delete-thumbnail"><i aria-hidden="true" class="fa fa-times"></i></span>
        <% end %>

        <%= render 'data_cycle_core/contents/tiles/attributes/warnings', content: object, locale: render_locale %>

        <div class="width-content reveal media-preview" id="media_reveal_<%= object.id %>" data-reveal>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= tag.span "#{object.title} (#{I18n.locale.to_s})", class: 'preview-title' if object.try(:title).present? %>
            <div class="image">
                <img class="lazyload" data-src="<%= thumbnail_url %>" />
            </div>
            <div class="description">
                <%= render partial: 'data_cycle_core/contents/validity_period', locals: {dataCycleObject: object} %>
                <%= render 'data_cycle_core/contents/tiles/attributes/warnings', content: object, text: true, locale: render_locale %>
                <%= link_to t('tile_links.details', locale: DataCycleCore.ui_language), thing_path(object), target: :_blank %>
                <% if can?(:download, object) && object.try(:content_url).present? %>
                    | <%= link_to t('tile_links.full_size', locale: DataCycleCore.ui_language), object.try(:content_url), target: :_blank %>
                <% end %>

                <% if DataCycleCore.features.dig(:external_media_archive, :enabled) %>
                    <% if object.try(:url).present? %>
                        | <%= link_to t('tile_links.media_archive', locale: DataCycleCore.ui_language), object.url, target: :_blank %>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

