<div class="media thumbnail item <%= 'has-restrictions' if object.try(:restrictions).try(:include?, 'gesperrt') %> <%= 'expired-item' unless object.try(:is_valid?) %> <%= 'active' if (objects ||= []).include?(object.id) %>" style="<%= "background-image: url(#{object.thumbnail_url})" if object.try(:thumbnail_url).present? %>" data-open="media_reveal_<%= object.id %>" data-id="<%= object.id %>">

    <%= hidden_field_tag key, object.id %>

    <% if object.try(:restrictions).try(:include?, 'gesperrt') %>
        <span data-tooltip aria-haspopup="true" class="has-tip warning" data-click-open="false" tabindex="1" title="Einschränkungen: <%= object.try(:restrictions) %>"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
    <% end %>

    <% unless object.is_valid? %>
        <span class="expired-item-overlay"><%= t('common.expired_content', locale: DataCycleCore.ui_language) %></span>
    <% end %>

    <% if object.try(:title) %>
        <div class="description"><%= object.try(:title) %></div>
    <% end %>

    <% if editable ||= false %>
        <span class="draggable-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
        <span class="delete-thumbnail"><i aria-hidden="true" class="fa fa-times"></i></span>
    <% end %>

    <div class="width-content reveal media-preview" id="media_reveal_<%= object.id %>" data-reveal>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <span class="preview-title">
      <%= object.try(:title) %>
    </span>
        <div class="image">
            <img class="lazyload" data-src="<%= object.try(:thumbnail_url) %>" />
        </div>
        <div class="description">

            <%= render partial: 'data_cycle_core/contents/validity_period', locals: {dataCycleObject: object} %>

            <% unless object.try(:restrictions).blank? %>
                <strong>Einschränkungen:</strong> <%== '<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>' if object.try(:restrictions).try(:include?, 'gesperrt') %> <%= object.try(:restrictions) %> <br /><br />
            <% end %>
            <%= link_to 'zur Detailansicht', polymorphic_path(object), target: :_blank %> |
            <% if can?(:download, object) %>
              <%= link_to 'in voller Größe öffnen', object.try(:content_url), target: :_blank %> |
            <% end %>
            <%= link_to 'im Medienarchiv öffnen', object.try(:url), target: :_blank %>
        </div>
    </div>
</div>
