<div class="media person item <%= 'active' if (objects ||= []).include?(object.id) %> <%= 'hard-warnings' if object.hard_content_warnings? %>" data-id="<%= object.id %>">
    <%= hidden_field_tag key, object.id %>

    <% if editable ||= false %>
        <span class="draggable-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
        <span class="delete-thumbnail"><i aria-hidden="true" class="fa fa-times"></i></span>
    <% end %>

    <%= render 'data_cycle_core/contents/tiles/attributes/warnings', content: object %>

    <%= render 'data_cycle_core/shared/icon', icon_type: object.template_name.parameterize(separator: '_') %>
    <span class="name"><%= object.try(:title) %></span>

    <div class="tile-properties">
      <%= yield_content!(:additional_tile_attributes) %>
    </div>
</div>
