<% I18n.with_locale(object.first_available_locale) do %>
  <%= tag.div(class: "item-info-content #{thing_content_score_class(object)}", data: { content_score: object.try(:internal_content_score)&.round }) do %>
    <h5>Details (<%= I18n.locale %>)</h5>

    <%= tag.div(render('data_cycle_core/contents/viewers/shared/buttons', local_assigns.merge({ content: object })), class: 'buttons') %>

    <dl>
      <dt><%= t('object_browser.details.title', locale: active_ui_locale).capitalize %> </dt>
      <dd><%= object.title %></dd>

      <% object.object_browser_fields.each do |attribute| %>
        <%= render_attribute_viewer key: attribute, definition: object.properties_for(attribute), value: object.try(attribute.to_sym), parameters: {options: {}}, content: object if object.properties_for(attribute).present? %>
      <% end %>

      <% if object.try(:created_at).present? %>
        <dt><%= t('object_browser.details.created_at', locale: active_ui_locale).capitalize %> </dt>
        <dd><%= l(object.created_at, locale: active_ui_locale, format: :history) %></dd>
      <% end %>
      <% if object.try(:updated_at).present? %>
        <dt><%= t('object_browser.details.updated_at', locale: active_ui_locale).capitalize %> </dt>
        <dd><%= l(object.updated_at, locale: active_ui_locale, format: :history) %></dd>
      <% end %>
    </dl>
  <% end %>
<% end %>
