<% if !@person.nil? %>

    <div class="reveal new-item" id="newPerson" data-reveal data-multiple-opened="true">
        <h3>Neue Person erstellen</h3>

        <%= form_for :person, :url => {:controller => :persons, :action => "create"} do |f| %>

            <%= hidden_field_tag 'template', 'Person' %>
            <%= hidden_field_tag 'locale', I18n.locale %>
            <div class="validation-container form-element">
                <%= label_tag 'person[datahash][given_name]', DataCycleCore::Person.human_attribute_name("given_name", locale: DataCycleCore.ui_language) %>
                <%= text_field_tag 'person[datahash][given_name]', 'Vorname', class: 'form-control', value:'' %>
            </div>
            <div class="validation-container form-element">
                <%= label_tag 'person[datahash][family_name]', DataCycleCore::Person.human_attribute_name("family_name", locale: DataCycleCore.ui_language) %>
                <%= text_field_tag 'person[datahash][family_name]', '', class: 'form-control', value:'' %>
            </div>
            <%= f.submit t(:submit, locale: DataCycleCore.ui_language), class: "button primary" %>

        <% end %>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<% end %>
