<% content_for :forms do %>
  <div class="reveal new-item" id="new_<%= new_overlay_key ||= '' %>" data-reveal data-multiple-opened="true" data-overlay="false" data-reset-on-close="true">
      <h3>Neuen Ort erstellen</h3>

      <%= form_for :place, :url => {:controller => :places, :action => "create"} do |f| %>

          <%= hidden_field_tag 'template', DataCycleCore.default_place_type %>
          <%= hidden_field_tag 'locale', I18n.locale %>
          <div class="validation-container form-element">
              <%= label_tag 'place[datahash][name]', DataCycleCore::Place.human_attribute_name("name", locale: DataCycleCore.ui_language) %>
              <%= text_field_tag 'place[datahash][name]', '', class: 'form-control', value:'', required: true %>
          </div>
          <div class="form-element">
              <%= label_tag 'place[datahash][address][street_address]', DataCycleCore::Place.human_attribute_name("street", locale: DataCycleCore.ui_language) %>
              <%= text_field_tag 'place[datahash][address][street_address]', '', class: 'form-control', value:'' %>
          </div>
          <div class="form-element">
              <%= label_tag 'place[datahash][address][postal_code]', DataCycleCore::Place.human_attribute_name("plz", locale: DataCycleCore.ui_language) %>
              <%= text_field_tag 'place[datahash][address][postal_code]', '', class: 'form-control', value:'' %>
          </div>
          <div class="form-element">
              <%= label_tag 'place[datahash][address][address_locality]', DataCycleCore::Place.human_attribute_name("address", locale: DataCycleCore.ui_language) %>
              <%= text_field_tag 'place[datahash][address][address_locality]', '', class: 'form-control', value:'' %>
          </div>
          <div class="form-element">
              <%= label_tag 'place[datahash][address][address_country]', DataCycleCore::Place.human_attribute_name("country", locale: DataCycleCore.ui_language) %>
              <%= text_field_tag 'place[datahash][address][address_country]', '', class: 'form-control', value:'' %>
          </div>
          <div class="form-element">
              <%= label_tag 'place[datahash][longitude]', DataCycleCore::Place.human_attribute_name("longitude", locale: DataCycleCore.ui_language) %>
              <%= text_field_tag 'place[datahash][longitude]', '', class: 'form-control', value:'' %>
          </div>
          <div class="form-element">
              <%= label_tag 'place[datahash][latitude]', DataCycleCore::Place.human_attribute_name("latitude", locale: DataCycleCore.ui_language) %>
              <%= text_field_tag 'place[datahash][latitude]', '', class: 'form-control', value:'' %>
          </div>
          <%= f.submit t(:submit, locale: DataCycleCore.ui_language), class: "button primary", data: { disable_with: t(:submit, locale: DataCycleCore.ui_language) } %>

      <% end %>

      <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
<% end %>
