
<% content_for :top_content do %>

    <div class="column detail-header-wrapper">

        <div class="detail-header">

            <a class="close-button" href="<%= @breadcrumbs[-2][2] %>"><i aria-hidden="true" class="fa fa-times"></i></a>
            <div class="topleftinfo">
                <div class="type <%= @creativeWork.metadata['validation']['name'].downcase %>">
                    <%= render 'data_cycle_core/shared/icon', icon_type: @creativeWork.metadata['validation']['name'].downcase %>
                    <span class="title"><%= @creativeWork.metadata['validation']['name'] %></span>
                </div>
                <%= render 'data_cycle_core/creative_works/partials/metaData' %>
            </div>

            <!--<a class="bookmark marked" href="#">-->
            <!--<span class="bookmarkinfo">zur Recherche hinzugefügt</span>-->
            <!--<i class="fa fa-bookmark-o" aria-hidden="true"></i>-->
            <!--</a>-->

            <div class="title">

                <% if !@creativeWork.givenName.nil? && !@creativeWork.nil? %>
                    <%= "#{@creativeWork.givenName} #{@creativeWork.familyName}" %>
                <% end %>

            </div>

            <% if !@creativeWork.content.nil? && !@creativeWork.content['jobTitle'].blank? %>

                <div class="description">
                    <%= @creativeWork.content['jobTitle'].html_safe %>
                </div>

            <% end %>

            <%= render 'data_cycle_core/creative_works/partials/show/top_content/classificationAliases' %>

            <%= render 'data_cycle_core/creative_works/partials/show/top_content/validityPeriod' %>

            <% if !@creativeWork.metadata['validation']['permissions'].nil? && is_writable(@creativeWork.metadata['validation']['permissions']) %>

                <div class="edit">
                    <%= link_to edit_person_path(@creativeWork), class:'button-prime small' do %>
                        <i class="fa fa-pencil" aria-hidden="true"></i><span>Bearbeiten</span>
                    <% end %>
                </div>

            <% end %>

        </div>

    </div>

<% end %>

<section>
    <br /><br />
</section>

<div class="detail-content person">

    <div class="row">

        <%= render 'data_cycle_core/persons/partials/show/person' %>

        <%= render 'data_cycle_core/creative_works/partials/show/translation/translations', language: nil %>

    </div>

</div>