<% breadcrumb @person %>

<% content_for :top_content do %>

    <div class="column detail-header-wrapper">

        <div class="detail-header">

            <a class="close-button" href="<%= breadcrumbs[-2].url %>"><i aria-hidden="true" class="fa fa-times"></i></a>

            <%= render 'data_cycle_core/creative_works/partials/create_edit_link', dataCycleObject: @person %>

            <%= render 'data_cycle_core/watch_lists/partials/add_to_watchlist', dataCycleObject: @person %>

            <div class="topleftinfo">
                <div class="type <%= @person.metadata['validation']['name'].downcase %>">
                    <%= render 'data_cycle_core/shared/icon', icon_type: @person.metadata['validation']['name'].downcase %>
                    <span class="title"><%= @person.metadata['validation']['name'] %></span>
                </div>
                <%= render 'data_cycle_core/creative_works/partials/metaData', dataCycleObject: @person %>
            </div>

            <!--<a class="bookmark marked" href="#">-->
            <!--<span class="bookmarkinfo">zur Recherche hinzugefügt</span>-->
            <!--<i class="fa fa-bookmark-o" aria-hidden="true"></i>-->
            <!--</a>-->

            <div class="title">

                <% if !@person.givenName.nil? && !@person.nil? %>
                    <%= "#{@person.givenName} #{@person.familyName}" %>
                <% end %>

            </div>

            <% if !@person.content.nil? && !@person.content['jobTitle'].blank? %>

                <div class="description">
                    <%= @person.content['jobTitle'].html_safe %>
                </div>

            <% end %>

            <%= render 'data_cycle_core/creative_works/partials/show/top_content/classificationAliases', dataCycleObject: @person, dataCycleObjectSchema: @dataSchema %>

            <%= render 'data_cycle_core/creative_works/partials/show/top_content/validityPeriod', dataCycleObject: @person %>

            <% if !@person.metadata['validation']['permissions'].nil? && is_writable(@person.metadata['validation']['permissions']) %>

                <div class="edit">
                    <%= link_to edit_person_path(@person, trail: breadcrumb_trail), class:'button-prime small' do %>
                        <i class="fa fa-pencil" aria-hidden="true"></i><span>Bearbeiten</span>
                    <% end %>
                </div>

            <% end %>

        </div>

    </div>

<% end %>

<section>
    <br /><br />
</section>

<div class="detail-content person">

    <div class="row">

        <%= render 'data_cycle_core/persons/partials/show/person', dataCycleObject: @person, dataCycleObjectSchema: @dataSchema %>

        <%= render 'data_cycle_core/creative_works/partials/show/translation/translations', language: nil, dataCycleObject: @person %>

    </div>

</div>