
<% content_for :top_content do %>

    <div class="column detail-header-wrapper">

        <div class="detail-header">

            <div class="topleftinfo">
                <div class="type <%= @creativeWork.metadata['validation']['name'].downcase %>">
                    <%= render 'data_cycle_core/creative_works/partials/render/icon', icon_type: @creativeWork.metadata['validation']['name'].downcase %>
                    <span class="title"><%= @creativeWork.metadata['validation']['name'] %></span>
                </div>
                <%= render 'data_cycle_core/creative_works/partials/render/metaData' %>
            </div>

            <!--<a class="bookmark marked" href="#">-->
            <!--<span class="bookmarkinfo">zur Recherche hinzugefügt</span>-->
            <!--<i class="fa fa-bookmark-o" aria-hidden="true"></i>-->
            <!--</a>-->

            <div class="title">

                <% if !@creativeWork.content.nil? && !@creativeWork.content['name'].blank? %>
                    <%= @creativeWork.content['name'] %>
                <% elsif  !@creativeWork.content.nil? && !@creativeWork.content['headline'].blank? %>
                    <%= @creativeWork.content['headline'] %>
                <% end %>

            </div>

            <div class="description">
                <% if !@creativeWork[:description].nil? %>
                    <%= @creativeWork.description.html_safe %>
                <% end %>
                <% if !@creativeWork.content.nil? && !@creativeWork.content['text'].nil? %>
                    <%= @creativeWork.content['text'].html_safe %>
                <% end %>
            </div>

            <%= render 'data_cycle_core/creative_works/partials/render/classificationAliases' %>

            <%= render 'data_cycle_core/creative_works/partials/render/validityPeriod' %>

            <% if !@creativeWork.metadata['validation']['permissions'].nil? && is_writable(@creativeWork.metadata['validation']['permissions']) %>

                <div class="edit">
                    <%= link_to edit_person_path(@creativeWork), class:'button-prime small' do %>
                        <i class="fa fa-pencil" aria-hidden="true"></i><span>Bearbeiten</span>
                    <% end %>
                </div>

            <% end %>

        </div>

        <%#= render 'data_cycle_core/creative_works/filter' if user_signed_in? %>

    </div>

<% end %>

<section>

</section>