<% breadcrumb @person %>

<% content_for :top_content do %>

    <div class="column detail-header-wrapper">

        <div class="detail-header">

            <div class="detail-header-functions">
                <ul class="no-bullet">
                    <li>
                        <a id="show-history-link" data-toggle="show-history"><i class="fa fa-history" aria-hidden="true"></i> Versionen</a>
                        <ul class="dropdown-pane no-bullet bottom" id="show-history" data-dropdown data-hover="true" data-hover-pane="true">
                            <li>
                            Aktuelle Version von Admin<br><i>vor 1 Monat (8. Jul @ 09:18)</i>
                            </li>
                            <li>
                            <a href="#">Revision von Admin</a><br><i>vor 1 Monat (4. Jul @ 15:46)</i>
                            </li>
                            <li>
                            <a href="#">Revision von Admin</a><br><i>vor 1 Monat (4. Jul @ 15:46)</i>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a id="send-link-link" data-toggle="send-link"><i class="fa fa-share" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i> versenden</span></a>
                        <ul class="dropdown-pane no-bullet bottom" id="send-link" data-dropdown data-hover="true" data-hover-pane="true">
                            <li>
                                <h5>Link versenden</h5>
                                <input type="email" placeholder="E-Mail Adresse" style="">
                            </li>
                            <li><button id="sendlinkButton" class="button small">Link versenden</button></li>
                            <li>
                                <input readonly="readonly" id="copyTarget" type="text" style="" value="http://10.0.0.82:3000/creative_works/c98379b4-8023-4efd-9556-1721fac3e16c">
                            </li>
                            <li><button id="copyButton" class="button small">In die Zwischenablage kopieren</button></li>
                        </ul>
                    </li>
                    <li>
                        <a id="subscribe-link" data-toggle="subscribe"><i class="fa fa-bell-o" aria-hidden="true"></i> abonnieren</span></a>
                        <ul class="dropdown-pane no-bullet bottom" id="subscribe" data-dropdown data-hover="true" data-hover-pane="true">
                            <li>

                            Klicken Sie hier um regelmäßig über Änderungen informiert zu werden.
                            </li>
                        </ul>
                    </li>
                    <li><%= render 'data_cycle_core/watch_lists/partials/add_to_watchlist', dataCycleObject: @person %></li>
                    <li><a href="<%= breadcrumbs[-2].url %>" class="hascontent"><i aria-hidden="true" class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <%= render 'data_cycle_core/creative_works/partials/create_edit_link', dataCycleObject: @person %>

            <%= render 'data_cycle_core/watch_lists/partials/add_to_watchlist', dataCycleObject: @person %>

            <div class="detail-header-info">
                <div class="type <%= @person.metadata['validation']['name'].downcase %>">
                    <%= render 'data_cycle_core/shared/icon', icon_type: @person.metadata['validation']['name'].downcase %>
                    <span class="title"><%= @person.metadata['validation']['name'] %></span>
                </div>
                <%= render 'data_cycle_core/creative_works/partials/metaData', dataCycleObject: @person %>
            </div>

            <!--<a class="bookmark marked" href="#">-->
            <!--<span class="bookmarkinfo">zur Recherche hinzugefügt</span>-->
            <!--<i class="fa fa-bookmark-o" aria-hidden="true"></i>-->
            <!--</a>-->

            <div class="title">

                <% if !@person.givenName.nil? && !@person.nil? %>
                    <%= "#{@person.givenName} #{@person.familyName}" %>
                <% end %>

            </div>

            <% if !@person.content.nil? && !@person.content['jobTitle'].blank? %>

                <div class="description">
                    <%= @person.content['jobTitle'].html_safe %>
                </div>

            <% end %>

            <%= render 'data_cycle_core/creative_works/partials/show/top_content/classificationAliases', dataCycleObject: @person, dataCycleObjectSchema: @dataSchema %>

            <%= render 'data_cycle_core/creative_works/partials/show/top_content/validityPeriod', dataCycleObject: @person %>

            <% if !@person.metadata['validation']['permissions'].nil? && is_writable(@person.metadata['validation']['permissions']) %>

                <div class="edit">
                    <%= link_to edit_person_path(@person, trail: breadcrumb_trail), class:'button-prime small' do %>
                        <i class="fa fa-pencil" aria-hidden="true"></i><span>Bearbeiten</span>
                    <% end %>
                </div>

            <% end %>

        </div>

    </div>

<% end %>

<section>
    <br /><br />
</section>

<div class="detail-content person">

    <div class="row">

        <%= render 'data_cycle_core/persons/partials/show/person', dataCycleObject: @person, dataCycleObjectSchema: @dataSchema %>

        <%= render 'data_cycle_core/creative_works/partials/show/translation/translations', language: nil, dataCycleObject: @person %>

    </div>

</div>