<div class="manual-duplicates">
  <% key = 'source_id' %>
  <% html_id = sanitize_to_id(key) %>
  <% definition = { 'template_name' => content.template_name, 'type' => 'linked' } %>

  <%= form_with(url: merge_with_duplicate_thing_path(content), namespace: SecureRandom.hex(10), method: :get, local: true) do |f| %>
    <div class="form-element">
      <div class="object-browser" id="<%= html_id %>"
            data-type="<%= content.template_name %>"
            data-locale="<%= I18n.locale.to_s %>"
            data-key="<%= key %>"
            data-object-key="<%= key.attribute_name_from_key %>"
            data-hidden-field-id="<%= "#{html_id}_default" %>"
            data-object-id="<%= content.id %>"
            data-class="DataCycleCore::Thing"
            data-editable="true"
            data-definition="<%= definition.to_json %>"
            data-table="things"
            data-options="<%= { 'force_tile_buttons' => true }.to_json %>"
            data-per="<%= DataCycleCore.linked_objects_page_size %>"
            data-content-id="<%= content.id %>"
            data-content-type="<%= content.class.table_name %>"
            data-max="1"
            data-min="1">
        <div class="media-thumbs">
          <ul class="object-thumbs no-bullet">
            <%= hidden_field_tag "#{key}", nil, id: "#{html_id}_default" %>
          </ul>

          <div class="buttons clear-both">
            <button class="button small show-objectbrowser"
                  data-disable id="show-object-browser-<%= html_id %>"
                  type="button"
                  data-open="object_browser_<%= html_id %>"
                  data-dc-tooltip="<%= t('feature.duplicate_candidate.manual_button', locale: active_ui_locale) %>">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <div id="object_browser_<%= html_id %>"
            data-overlay="false"
            class="object-browser-overlay full reveal without-overlay remote-render"
            data-reveal
            data-v-offset="0"
            data-multiple-opened="true"
            data-remote-path="data_cycle_core/object_browser/editor_overlay"
            data-remote-options="<%= to_query_params(
              html_id: html_id,
              content: content,
              key: key,
              definition: definition,
              hide_new_button: true
            ).to_json %>">
      </div>
    </div>
  <% end %>
</div>
