<% key_id = 'my_test' %>
<div class="image-editor" data-image-editor="image-editor-<%= key_id %>">
  <button type="button" class="button" data-disable data-open="image-editor-<%= key_id %>">
    <i class="fa fa-address-book"></i>
  </button>

  <div class="full reveal image-editor-reveal"
       id="image-editor-<%= key_id %>"
       data-reveal data-multiple-opened="true"
       data-v-offset="0"
       data-hidden-field-id="<%= key_id %>"
       data-hidden-field-key="<%= key %>"
       data-editable-list-id="<%= local_assigns[:editable_list_key] %>">
    <button class="save-button" data-close aria-label="save modal" type="button">
      <span aria-hidden="true">save</span>
    </button>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <div id="tui-image-editor"></div>
  </div>
</div>
