<li>
  <%= link_to root_path(stored_filter: stored_filter.id) do %>
    <span class="title" title="<%= stored_filter.name %>">
      <%= tag.i(class: 'fa fa-filter') %> <%= stored_filter.name %>
    </span>

    <%= tag.span(
      'API',
      class: "content-title-api copy-to-clipboard",
      data: {
        value: send("api_#{DataCycleCore.main_config.dig(:api, :default)}_stored_filter_url", id: stored_filter),
        dc_tooltip: t('actions.copy_to_clipboard_data', data: t('common.api_url', locale: active_ui_locale), locale: active_ui_locale)
      }
    ) if stored_filter.api %>

    <%= tag.span(stored_filter.slug, class: 'slug copy-to-clipboard', data: { dc_tooltip: t('actions.copy_to_clipboard_data', data: DataCycleCore::CollectionConfiguration.human_attribute_name(:slug, locale: active_ui_locale), locale: active_ui_locale) }) if stored_filter.slug.present? %>
  <% end %>

  <div class="buttons">
    <span class = "api-restrictions">
      <%= tag.i(class: 'dc-type-icon user-icon', data: {
          dc_tooltip: DataCycleCore::StoredFilter.human_attribute_name(:shared_users, locale: active_ui_locale)
        }) if stored_filter.shared_users.present? %>
      <%= tag.i(class: 'dc-type-icon user_group-icon', data: {
          dc_tooltip: DataCycleCore::StoredFilter.human_attribute_name(:shared_user_groups, locale: active_ui_locale)
        }) if stored_filter.shared_user_groups.present? %>
      <%= tag.i(class: 'dc-type-icon role-icon', data: {
          dc_tooltip: DataCycleCore::StoredFilter.human_attribute_name(:shared_roles, locale: active_ui_locale)
        }) if stored_filter.shared_roles.present? %>
      <%= tag.i(class: 'dc-type-icon stored_filter-icon', data: {
          dc_tooltip: "#{DataCycleCore::StoredFilter.human_attribute_name(:linked_stored_filter, locale: active_ui_locale)}: #{stored_filter.linked_stored_filter&.name}"
        }) if stored_filter.linked_stored_filter_id.present? %>
      <%= tag.i(class: 'dc-type-icon concept_scheme-icon', data: {
          dc_tooltip: DataCycleCore::StoredFilter.human_attribute_name(:concept_schemes, locale: active_ui_locale)
        }) if stored_filter.concept_schemes.present? %>
    </span>

    <span class="stored-date"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= l(Time.zone.at(stored_filter.created_at.to_datetime), format: :edit, locale: active_ui_locale) %></span>

    <%= render 'data_cycle_core/application/preview/widget_list', content: stored_filter if DataCycleCore::Feature::Preview.enabled? && stored_filter.api %>

    <%= link_to tag.i(class: 'fa fa-clipboard'),
                send("api_#{DataCycleCore.main_config.dig(:api, :default)}_stored_filter_path", id: stored_filter),
                class: 'copy-to-clipboard left',
                data: {
                  value: send("api_#{DataCycleCore.main_config.dig(:api, :default)}_stored_filter_url", id: stored_filter),
                  dc_tooltip:t('actions.copy_to_clipboard_data', data: t('common.api_url', locale: active_ui_locale), locale: active_ui_locale)
                } if stored_filter.api %>

    <%= link_to tag.i(class: 'fa fa-external-link'), saved_searches_stored_filters_path(q: stored_filter.name), target: :_blank, data: { dc_tooltip: t('data_cycle_core.stored_searches.show_in_my_saved_searches', locale: active_ui_locale) } %>
  </div>
</li>
