<% stored_searches.each do |key, value| %>
  <% if local_assigns[:last_day] != key %>
    <li class="stored-search-day" data-day="<%= key %>"><%= key %></li>
  <% end %>
  <% value.each do |stored_search| %>
    <li class="content-item">
      <span class="content-title">
        <%= link_to root_path(stored_filter: stored_search.id) do %>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <%= l(stored_search.updated_at.to_datetime, format: '%H:%M', locale: active_ui_locale) %>
        <% end %>
      </span>
      <span class="content-attributes"><%= render 'data_cycle_core/application/filters/search_params', stored_search: stored_search %></span>
      <span class="buttons">
        <% if can?(:update, stored_search) && stored_search.name.blank? %>
          <% new_filter_id = SecureRandom.hex(10) %>

          <a class="save-search" data-open="save-search-form-<%= stored_search.id %>">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </a>

          <%= render 'data_cycle_core/stored_filters/new_stored_filter', { new_filter_id: "save-search-form-#{stored_search.id}", id: stored_search.id,  } %>
        <% elsif can?(:update, stored_search) %>
          <i class="fa fa-filter" aria-hidden="true"></i>
        <% end %>
      </span>
    </li>
  <% end %>
<% end %>

<% unless last_page %>
  <li class="load-more-link">
    <%= link_to t('data_cycle_core.stored_searches.load_more', locale: active_ui_locale),
                stored_filters_path(page: page + 1),
                class: 'button stored-searches-load-more-button secondary',
                data: {
                  disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('data_cycle_core.stored_searches.load_more', locale: active_ui_locale)}"
                } %>
  </li>
<% end %>
