<<<<<<< HEAD
<% breadcrumb :'data_cycle_core/stored_filters' %>

<% content_for(:title, t('data_cycle_core.stored_searches.my_searches', locale: active_ui_locale)) %>

<section class="stored-searches-list" data-pages="<%= @pages %>">

  <% if @contents&.size&.zero? %>

    <div class="row">
      <div class="small-12">
        <span class="no-results"><%= t('common.no_results', locale: active_ui_locale) %></span>
      </div>
    </div>

  <% else %>

    <div class="row saved-searches" id="searches-saved">
      <ul class="no-bullet content-list">
        <li class="title">
          <span class="title-text"><%= t('data_cycle_core.stored_searches.saved', count: 2, locale: active_ui_locale) %></span>
          <span class="pages"><%= @saved_count || 0 %> <%= t('common.entries', locale: active_ui_locale) %> <i class="fa fa-angle-down round" aria-hidden="true"></i></span>
        </li>

        <%= render partial: 'data_cycle_core/stored_filters/stored_saved_search',
                    collection: @saved_stored_searches,
                    as: :stored_search,
                    locals: {
                      saved_stored_searches: @saved_stored_searches
                     } %>

      </ul>
    </div>

    <div id="searches-history" class="row search-history-list" data-pages="<%= @pages || 0 %>">
      <ul class="no-bullet content-list">
        <li class="title">
          <span class="title-text"><%= t('data_cycle_core.stored_searches.history', locale: active_ui_locale) %></span>
          <span class="pages"><%= @history_count || 0 %> <%= t('common.entries', locale: active_ui_locale) %>  <i class="fa fa-angle-down round" aria-hidden="true"></i></span>
        </li>
        <%= render 'stored_searches', stored_searches: @stored_searches %>
      </ul>
    </div>

  <% end %>
=======
<% breadcrumb :search_history %>

<% content_for(:title, t('data_cycle_core.stored_searches.my_searches', locale: active_ui_locale)) %>

<section class="stored-searches-list">
  <div class="row search-history-list">
    <div class="title">
      <span class="title-text"><%= t('data_cycle_core.stored_searches.history', locale: active_ui_locale) %></span>
      <span class="pages"><span class="pages-count"><%= t('data_cycle_core.stored_searches.count_html', count: @history_count.to_i, count_string: number_with_delimiter(@history_count.to_i, locale: active_ui_locale), locale: active_ui_locale) %></span> <i class="fa fa-angle-down round" aria-hidden="true"></i></span>
    </div>

    <ul class="no-bullet content-list">
      <%= render 'data_cycle_core/stored_filters/stored_searches', stored_searches: @stored_searches, last_page: @last_page, page: @page %>
    </ul>
  </div>
>>>>>>> old/develop
</section>
