<% breadcrumb :saved_searches %>

<% content_for(:title, t('data_cycle_core.stored_searches.my_saved', locale: active_ui_locale)) %>

<section class="stored-searches-list" data-pages="<%= @pages %>">
  <div class="row saved-searches">
    <div class="title">
      <span class="title-text"><%= t('data_cycle_core.stored_searches.saved', count: 2, locale: active_ui_locale) %></span>
      <div class="fulltext-search">
        <%= form_with(url: saved_searches_stored_filters_path, local: true, class: 'fulltext-search-form', method: :get) do |f| %>
          <%= f.button tag.i(class: 'fa fa-search'), type: :submit, class: 'fulltext-search-submit' %>
          <%= f.text_field :q, value: @search_param, id: nil, class: 'fulltext-search-field', placeholder: t('data_cycle_core.stored_searches.filter_searches', locale: active_ui_locale) %>
          <%= f.button tag.i(class: 'fa fa-times'), type: :reset, class: 'fulltext-search-reset' %>
        <% end %>
      </div>
      <span class="pages"><span class="pages-count"><%= t('data_cycle_core.stored_searches.count_html', count: @saved_count.to_i, count_string: number_with_delimiter(@saved_count.to_i, locale: active_ui_locale), locale: active_ui_locale) %></span> <i class="fa fa-angle-down round" aria-hidden="true"></i></span>
    </div>

    <ul class="no-bullet content-list">
      <%= render 'data_cycle_core/stored_filters/saved_searches_list',
                  stored_searches: @stored_searches,
                  last_page: @last_page,
                  page: @page %>
    </ul>
  </div>
</section>
