<span class="tag-group tags <%= key %>" data-id="<%= target %>">
  <i class="tag-group-label">
    <i class="fa fa-tags" aria-hidden="true"></i>
    <%= t("filter.#{key}", default: title, locale: DataCycleCore.ui_language) %>:
  </i>

  <% classification_aliases ||= DataCycleCore::ClassificationAlias
    .where(id: value)
    .map { |c| [c.id, c] }.to_h %>

  <span class="tags-container">
    <% if buttons == 'd' %>
        <% value.each do |ca_id| %>
          <label for="<%= ca_id %>">
            <a class="tag" title="<%= classification_aliases[ca_id].try(:full_path) %>">
              <%= classification_aliases[ca_id].try(:name) %><i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </label>
        <% end %>
    <% else %>
        <% value.each do |ca_id| %>
          <span class="tag" title="<%= classification_aliases[ca_id].try(:full_path) %>"><%= classification_aliases[ca_id].try(:name) %></span>
        <% end %>
    <% end %>
  </span>

  <%= render 'data_cycle_core/application/filters/tag_groups/advanced_buttons', target: target if buttons == 'a' %>
</span>
