<span class="tag-group tags <%= key %>" data-id="<%= target %>">
  <i class="tag-group-label">
    <i class="fa fa-user" aria-hidden="true"></i>
    <%= t("filter.#{key}", default: title, locale: DataCycleCore.ui_language) %>:
  </i>

  <% creators = DataCycleCore::User.where(id: value).map { |c| [c.id, { title: c.email, text: "#{c.given_name} #{c.family_name}" }] }.to_h %>

  <span class="tags-container">
    <% value.each do |creator_id| %>
      <span class="tag" title="<%= creators.dig(creator_id, :title) %>"><%= creators.dig(creator_id, :text) %></span>
    <% end %>
  </span>

  <%= render 'data_cycle_core/application/filters/tag_groups/advanced_buttons', target: target if buttons == 'a' %>
</span>
