<span class="tag-group tags <%= key %>" data-id="<%= target %>">
  <i class="tag-group-label">
    <i class="fa fa-tags" aria-hidden="true"></i>
    <%= t("filter.#{key}", default: title, locale: DataCycleCore.ui_language) %>:
  </i>

  <% value.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>

  <%= render 'data_cycle_core/application/filters/tag_groups/advanced_buttons', target: target if buttons == 'a' %>
</span>
