<span class="tag-group tags <%= key %>" data-id="<%= target %>">
  <i class="tag-group-label">
    <i class="fa fa-external-link" aria-hidden="true"></i>
    <%= t("filter.#{key}", default: title, locale: DataCycleCore.ui_language) %>:
  </i>

  <% external_sources = DataCycleCore::ExternalSource.select(:id, :name).where(id: value).map { |c| [c.id, c.name] }.to_h %>

  <span class="tags-container">
    <% value.each do |external_source_id| %>
      <span class="tag"><%= external_sources[external_source_id] %></span>
    <% end %>
  </span>

  <%= render 'data_cycle_core/application/filters/tag_groups/advanced_buttons', target: target if buttons == 'a' %>
</span>
