<span class="tag-group tags <%= key %> <%= local_assigns[:filter_method] || 'i' %> <%= local_assigns[:container_classes] %>" data-id="<%= target %>">
  <span class="tag-group-label">
    <i class="fa fa-external-link" aria-hidden="true"></i>
    <span><%= t("filter.#{key}", default: title, locale: active_ui_locale) %></span>
  </span>

  <% external_sources = DataCycleCore::ExternalSystem.select(:id, :name).where(id: value).map { |c| [c.id, c.name] }.to_h %>

  <span class="tags-container">
    <% value.each do |external_source_id| %>
      <span class="tag"><%= external_sources[external_source_id] %></span>
    <% end %>
  </span>

  <%= render 'data_cycle_core/application/filters/tag_groups/advanced_buttons', local_assigns if buttons %>
</span>
