<% filter_method = local_assigns[:filter_method] || 'i' %>
<span class="tag-group tags <%= key %> <%= filter_method %> <%= local_assigns[:container_classes] %>" data-id="<%= target %>">
  <span class="tag-group-label">
    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
    <span><%= t("filter.#{key}", default: title, locale: active_ui_locale) %></span>
  </span>

  <% if filter_method.in?(['p', 'b']) %>
    <span>
      <%= t("filter.#{local_assigns[:filter_type]}.#{DataCycleCore::StoredFilterExtensions::FilterParamsHashParser::FILTER_PREFIX[filter_method]&.delete_suffix('_')}", default: title, locale: active_ui_locale) %>
    </span>
  <% else %>
    <span class="tags-container">
      <% relation_filter_items(value, filter_method).each do |item| %>
        <%= tag.span(item.name, class: "tag #{item.html_class}", data: { dc_tooltip: item.dc_tooltip }) %>
      <% end %>
    </span>
  <% end %>

  <%= render 'data_cycle_core/application/filters/tag_groups/advanced_buttons', local_assigns if buttons %>
</span>
