<span class="tag-group tags <%= key %> <%= local_assigns[:filter_method] || 'n' %> <%= local_assigns[:container_classes] %>" data-id="<%= target %>">
  <span class="tag-group-label">
    <i class="fa fa-clone" aria-hidden="true"></i>
    <span><%= t("filter.related_through_attribute.#{'not_' unless value.to_s == 'true'}#{key}", default: title, locale: active_ui_locale) %></span>
  </span>

  <%= render 'data_cycle_core/application/filters/tag_groups/advanced_buttons', local_assigns if buttons %>
</span>
