<% filter_method = local_assigns[:filter_method] || 'i' %>
<span class="tag-group tags <%= key %> <%= filter_method %> <%= local_assigns[:container_classes] %>" data-id="<%= target %>">
  <span class="tag-group-label">
    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
    <%= t("filter.#{key}", default: title, locale: active_ui_locale) %>:
  </span>

  <% items = filter_method.in?(['s', 'u']) ? thing_ids_to_value(value) : union_ids_to_value(value) %>

  <span class="tags-container">
    <% items.each do |item| %>
      <%= tag.span(item.name, class: "tag #{item.html_class}", title: item.title) %>
    <% end %>
  </span>

  <%= render 'data_cycle_core/application/filters/tag_groups/advanced_buttons', target: target if buttons == 'a' %>
</span>
