<span class="tag-group tags <%= key %> <%= local_assigns[:filter_method] || 'i' %> <%= local_assigns[:container_classes] %>" data-id="<%= target %>">
  <span class="tag-group-label">
    <i class="fa fa-external-link" aria-hidden="true"></i>
    <%= t('filter.union_filter_ids', collections: DataCycleCore::WatchList.model_name.human(count: 2, locale: active_ui_locale), default: 'union_filter_ids', locale: active_ui_locale) %>
  </span>

  <span class="tags-container">
    <% union_ids_to_value(value)&.each do |item| %>
      <span class="tag <%= item['class_name'] %>" title="<%= "#{I18n.t("activerecord.models.data_cycle_core/#{item['class_name']}", count: 1, locale: active_ui_locale)}: #{item['name']}" %>"><%= item['name'] %></span>
    <% end %>
  </span>

  <%= render 'data_cycle_core/application/filters/tag_groups/advanced_buttons', target: target if buttons == 'a' %>
</span>
