<span class="tag-group tags <%= key %> <%= local_assigns[:filter_method] || 'i' %> <%= local_assigns[:container_classes] %>" data-id="<%= target %>">
  <span class="tag-group-label">
    <i class="fa fa-filter" aria-hidden="true"></i>
    <span> <%= t('filter.union_filter_ids', collections: DataCycleCore::WatchList.model_name.human(count: 2, locale: active_ui_locale), default: 'union_filter_ids', locale: active_ui_locale) %></span>
  </span>

  <span class="tags-container">
    <% union_ids_to_value(value).each do |item| %>
      <%= tag.span(class: "tag #{item.html_class}", data: { dc_tooltip: item.dc_tooltip }) do %>
        <%= item.name %>
        <%# can be activated, if "zuletzt gesucht" and "Gespeicherte Suchen" dropdown does not wrap whole tag in link anymore %>
        <%#= link_to tag.i(class: 'fa fa-external-link', aria_hidden: true), polymorphic_path(item.html_class, id: item.id), class: 'open-selection-link', target: :_blank %>
      <% end %>
    <% end %>
  </span>

  <%= render 'data_cycle_core/application/filters/tag_groups/advanced_buttons', local_assigns if buttons %>
</span>
