<span class="tag-group tags <%= key %> <%= local_assigns[:filter_method] || 'i' %> <%= local_assigns[:container_classes] %>" data-id="<%= target %>">
  <span class="tag-group-label">
    <i class="fa fa-user" aria-hidden="true"></i>
    <span><%= t("filter.#{key}", default: title, locale: active_ui_locale) %></span>
  </span>

  <% users = DataCycleCore::User.with_deleted.where(id: value).to_h { |c| [c.id, c.to_select_option(active_ui_locale)] } %>

  <span class="tags-container">
    <% Array.wrap(value).each do |user_id| %>
      <%= tag.span(users[user_id]&.name, class: 'tag', data: { dc_tooltip: users[user_id]&.dc_tooltip }) %>
    <% end %>
  </span>

  <%= render 'data_cycle_core/application/filters/tag_groups/advanced_buttons', local_assigns if buttons %>
</span>
