<!--<div class="reveal-open" id="newCreativeWork" >-->
    <!--<h3>Neue Person erstellen</h3>-->

    <!--<%= form_for(@person) do |f| %>-->
        <!--<%= hidden_field_tag 'template', 'Person' %>-->
        <!--<%= f.text_field :given_name, class: 'form-control', value:'' %>-->
        <!--<%= f.text_field :family_name, class: 'form-control', value:'' %>-->
        <!--<%= f.submit "Erstellen", class: "button primary" %>-->
    <!--<% end %>-->

    <!--<button class="close-button" data-close aria-label="Close modal" type="button">-->
        <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
<!--</div>-->