<% value = RGeo::Geographic.spherical_factory(srid: 4326, has_z_coordinate: true).parse_wkt(value) if value.is_a?(String) %>

<% if value.geometry_type == RGeo::Feature::Point %> <%# only show points for now, not the lines %>
  <div class="detail-type geographic">
    <span class="detail-label"><%= label %>:</span>

    <% map_id = "map_#{SecureRandom.hex(16)}" %>
    <script>
      var <%= map_id %> = {
        type: "<%= value.geometry_type.to_s %>",
        points: [<%= "[#{value.x}, #{value.y}]" %>]
      };
    </script>

    <div id="<%= map_id %>" class="geographic-map" style="max-width: 600px; max-height: 450px;">
    </div>
  </div>
<% elsif value.geometry_type == RGeo::Feature::LineString %> <%# only show points for now, not the lines %>
  <div class="detail-type geographic">
    <span class="detail-label"><%= label %>:</span>
    
    <% map_id = "map_#{SecureRandom.hex(16)}" %>
    <script>
      var <%= map_id %> = {
        type: "<%= value.geometry_type.to_s %>",
        points: [<%= value.points.map { |p| "[#{p.x}, #{p.y}]" }.join(",") %>]
      };
    </script>

    <div id="<%= map_id %>" class="geographic-map" style="max-width: 600px; max-height: 450px;">
    </div>
  </div>
<% end %>
