<% if !@place.nil? %>

    <div class="reveal new-item" id="newPlace" data-reveal data-multiple-opened="true">
        <h3>Neuen Ort erstellen</h3>

        <%= form_for :place, :url => {:controller => :places, :action => "create"} do |f| %>

            <%= hidden_field_tag 'template', 'contentLocation' %>
            <div class="validation-container form-element">
                <%= label_tag 'place[datahash][name]', t('.name') %>
                <%= text_field_tag 'place[datahash][name]', '', class: 'form-control', value:'' %>
            </div>
            <div class="validation-container form-element">
                <%= label_tag 'place[datahash][address][streetAddress]', t('.street') %>
                <%= text_field_tag 'place[datahash][address][streetAddress]', '', class: 'form-control no-validation', value:'' %>
            </div>
            <div class="validation-container form-element">
                <%= label_tag 'place[datahash][address][postalCode]', t('.plz') %>
                <%= text_field_tag 'place[datahash][address][postalCode]', '', class: 'form-control no-validation', value:'' %>
            </div>
            <div class="validation-container form-element">
                <%= label_tag 'place[datahash][address][addressLocality]', t('.address') %>
                <%= text_field_tag 'place[datahash][address][addressLocality]', '', class: 'form-control no-validation', value:'' %>
            </div>
            <div class="validation-container form-element">
                <%= label_tag 'place[datahash][longitude]', t('.longitude') %>
                <%= text_field_tag 'place[datahash][longitude]', '', class: 'form-control no-validation', value:'' %>
            </div>
            <div class="validation-container form-element">
                <%= label_tag 'place[datahash][latitude]', t('.latitude') %>
                <%= text_field_tag 'place[datahash][latitude]', '', class: 'form-control no-validation', value:'' %>
            </div>
            <%= f.submit t(:submit), class: "button primary" %>

        <% end %>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<% end %>