<div class="grid <%= @mode %>">
	<div class="grid-sizer"></div>
	<div class="gutter-sizer"></div>
	<div class="grid-loading show">
		<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
		<span class="sr-only">Loading...</span>
	</div>

	<% unless contents.nil? %>
		<% contents.each do |content| %>
        <div class="grid-item data-cycle-object <%= 'expired-item' if content.respond_to?(:is_valid?) && !content.try(:is_valid?) %>">
          <div class="buttons">
            <%= render 'data_cycle_core/contents/tiles/attributes/external', item: content if content.try(:external_source) %>

            <% if can?(:read, DataCycleCore::WatchList) && content.class.method_defined?(:watch_list_data_hashes) && content.class != DataCycleCore::WatchList %>
              <%= render 'watch_lists', content: content %>
            <% end %>
          </div>

          <% cache([content, params.fetch(:language, 'de'), content.respond_to?('schema') ? Digest::MD5.hexdigest(content.schema&.to_s) : nil, @watch_list], expires_in: 24.hours + Random.rand(12.hours)) do %>
            <%= render_content_tile item: content %>
          <% end %>
        </div>
    <% end %>
  <% end %>
</div>
