<% unless local_assigns[:direction] == 'next' || contents.first_page? %>
  <li class="pagination-container text-center prev" data-page="<%= contents.prev_page %>">
    <%= link_to t('pagination.prev', locale: active_ui_locale), '#',
                class: 'button pagination-link',
                data: {
                  additional_form_parameters: {
                    page: contents.prev_page,
                    direction: 'prev'
                  }.to_json,
                  disable_with: tag.i(class: 'fa fa-spinner fa-fw fa-spin') + " #{t('common.loading', locale: active_ui_locale)}"
                } %>
  </li>
<% end %>

<% contents&.each do |content| %>
  <%= tag.li(class: content_tile_class(content, 'grid'),
  id: content.id,
  data: {
    id: content.id,
    page: contents.current_page,
    content_score: content.try(:internal_content_score)&.round
  }) do %>
    <% content_for :media_buttons, flush: true do %>
      <%= thing_content_score(content) %>

      <%= tag.i(class: 'has-overlay has-tip fa fa-window-restore', data: { dc_tooltip: t('common.has_overlay', locale: active_ui_locale) }) if content.try(:overlay?) %>

      <%= render 'data_cycle_core/contents/grid/attributes/external_connections', content: content if show_external_connections?(content) %>

      <% if content.try(:translated_locales)&.many? %>
        <i class="fa fa-language has-tip" aria-hidden="true" title="<%= content.translated_locales.map {|t| t("locales.#{t}", locale: active_ui_locale)}&.join("\n") %>"></i>
      <% end %>

      <% if can?(:read, DataCycleCore::WatchList) && content.class.method_defined?(:watch_list_data_hashes) && !content.is_a?(DataCycleCore::WatchList) %>
        <%= render 'data_cycle_core/application/watch_lists', content: content %>
      <% end %>
    <% end %>

    <% if content.is_a?(DataCycleCore::Thing) %>

      <% cache(content_view_cache_key(item: content, locale: @language, mode: 'list', watch_list: @watch_list), expires_in: 1.year + Random.rand(7.days)) do %>
        <%= render_content_tile(item: content, mode: 'list', parameters: { language: @language }) %>
      <% end %>

    <% else %>

      <%= render_content_tile(item: content, mode: 'list') %>

    <% end %>
  <% end %>
<% end %>

<% unless local_assigns[:direction] == 'prev' || contents.last_page? %>
  <li class="pagination-container text-center next" data-page="<%= contents.next_page %>">
    <%= link_to t('pagination.next', locale: active_ui_locale), '#',
                class: 'button pagination-link',
                data: {
                  additional_form_parameters: {
                    page: contents.next_page,
                    direction: 'next'
                  }.to_json,
                  disable_with: tag.i(class: 'fa fa-spinner fa-fw fa-spin') + " #{t('common.loading', locale: active_ui_locale)}"
                } %>
  </li>
<% end %>
