<%= render 'data_cycle_core/contents/editors/attribute', key: key, definition: definition, value: value, options: options, content: content do %>

    <%= label_tag key do %>
      <%= content_tag(:i, nil, class: 'fa fa-ban', aria_hidden: true) if options['readonly'].to_s == 'true' %>
      <%= definition['label'] %>
      <%= render 'helper_text', local_assigns %>
    <% end %>

    <div class="asset-object" id="<%= sanitize_to_id(key) %>"
         data-language="<%= I18n.locale.to_s %>"
         data-key="<%= key %>"
         data-label="<%= definition['label'] %>"
         data-definition="<%= definition.to_json %>"
         data-options="<%= options.to_json %>"
         data-max="1"
         data-write="<%= can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, content, :edit)) %>">

        <% if options['readonly'].to_s == 'true' %>
            <%= render_attribute_viewer key: 'thumbnail_url', definition: content.schema.dig('properties','thumbnail_url'), value: content.try(:thumbnail_url), parameters: { options: options.merge({hide_label: true}) }, content: content %>
        <% else %>
            <%= render_asset_editor(key: key, value: value, definition: definition, parameters: {options: options}, content: content) %>
        <% end %>

    </div>

<% end %>
