<div data-label="<%= definition['label'] %>" class="<%= [
    'clearfix',
    'form-element',
    key.attribute_name_from_key,
    ('validation-container' if definition.dig('validations').present?),
    definition.dig('type')&.underscore,
    (definition.dig('ui', 'edit', 'type')&.underscore if definition&.dig('ui', options[:edit_scope], 'partial').blank?),
    definition.dig('ui', 'edit', 'options', 'class')&.underscore,
    options&.dig('class'),
    ('is-embedded-title' if local_assigns[:parent]&.embedded_title_property_name.present? && key.attribute_name_from_key == local_assigns[:parent].embedded_title_property_name)
].reject(&:blank?).uniq.join(' ') %>" data-key="<%= key %>" data-readonly="<%= !attribute_editable?(key, definition, options, content) %>" data-id="<%= "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}" %>">

  <% if content.try(:translatable_property?, key.attribute_name_from_key, definition) && content.translatable? && I18n.available_locales&.many? %>
    <span class="translated"><i class="fa fa-language" aria-hidden="true"></i></span>
  <% end %>

  <%= render 'data_cycle_core/contents/editors/features/copyable_attribute', local_assigns if DataCycleCore::Feature::CopyableAttribute.copyable_attribute?(content, key) %>
  <%= render 'data_cycle_core/contents/editors/features/gip_key_figure', local_assigns if DataCycleCore::Feature::GipKeyFigure.allowed_attribute_key?(content, key) %>

  <%= yield %>

</div>
