<% unless options.try(:[], 'no-wrapper') %>

  <div data-label="<%= definition['label'] %>" class="<%= [
          'clearfix',
          'form-element',
          definition.dig('validations').present? ? 'validation-container' : '',
          key.split('[').last[0...-1].underscore,
          definition.dig('type').try(:underscore),
          definition.dig('editor', 'type').try(:underscore),
          definition.dig('editor', 'options', 'type').try(:underscore),
          definition.dig('editor', 'options', 'class').try(:underscore),
          definition.dig('editor', 'options', 'readonly') ? 'readonly' : ''
        ].reject(&:blank?).join(' ') %>" data-key="<%= key %>">

    <%= yield %>

  </div>

<% else %>

  <%= yield %>

<% end %>
