<% html_classes = [] %>
<% content_for(:additional_attribute_partials, flush:true) do %>
  <%
    while partial = Array.wrap(local_assigns.dig(:options, :additional_attribute_partials)).shift do
      if partial.is_a?(::Hash)
        html_content = render partial[:partial], local_assigns.merge(partial[:locals].symbolize_keys)
        if html_content.present?
          concat html_content
          html_classes.concat(Array.wrap(partial[:parent_html_classes]))
        end
      else
        concat render partial, local_assigns
      end
    end
  %>
<% end %>

<%= tag.div(
      class: attribute_editor_html_classes(html_classes:, **local_assigns),
      tabindex: 0,
      data: attribute_editor_data_attributes(**local_assigns)
    ) do %>
  <% if content_for?(:additional_attribute_partials) %>
    <div class="additional-attribute-partials">
      <%= yield_content!(:additional_attribute_partials) %>
    </div>
  <% end %>

  <% if attribute_editable?(key, definition, options, content) %>
    <%= render 'data_cycle_core/contents/editors/features/copyable_attribute', local_assigns if DataCycleCore::Feature::CopyableAttribute.copyable_attribute?(content, key) %>

    <%= render 'data_cycle_core/contents/editors/features/geo_key_figure', local_assigns if DataCycleCore::Feature::GeoKeyFigure.allowed_attribute_key?(content, key) %>
  <% end %>

  <%= yield %>
<% end %>
