<% unless options.try(:[], 'no-wrapper') %>

  <div data-label="<%= definition['label'] %>" class="<%= [
          'clearfix',
          'form-element',
          definition.dig('editor', 'type').in?(['date', 'datetime', 'embeddedObject']) ? '' : 'validation-container',
          key.split('[').last[0...-1].underscore,
          definition.dig('type').try(:underscore),
          definition.dig('editor', 'type').try(:underscore),
          definition.dig('editor', 'options', 'type').try(:underscore),
          definition.dig('editor', 'options', 'class').try(:underscore)
        ].reject(&:blank?).join(' ') %>" <%= definition.dig('editor', 'options', 'tabindex').nil? ? '' : 'tabindex=-1' %>>

    <%= yield %>

  </div>

<% else %>

  <%= yield %>

<% end %>