<% while partial = Array.wrap(local_assigns.dig(:options, :additional_attribute_partials)).shift do %>
  <%= render partial, local_assigns %>
<% end %>

<div data-label="<%= translated_attribute_label(key, definition, content, options) %>" class="<%= [
    'clearfix',
    'form-element',
    key.attribute_name_from_key,
    ('validation-container' if definition.dig('validations').present?),
    definition.dig('type')&.underscore,
    (definition.dig('ui', 'edit', 'type')&.underscore if definition&.dig('ui', options[:edit_scope], 'partial').blank?),
    definition.dig('ui', 'edit', 'options', 'class')&.underscore,
    options&.dig('class'),
    ('is-embedded-title' if local_assigns[:parent]&.embedded_title_property_name.present? && key.attribute_name_from_key == local_assigns[:parent].embedded_title_property_name)
].reject(&:blank?).uniq.join(' ') %>" data-key="<%= key %>" data-readonly="<%= !attribute_editable?(key, definition, options, content) %>" data-id="<%= "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}" %>">

  <% if attribute_editable?(key, definition, options, content) %>
    <%= render 'data_cycle_core/contents/editors/features/copyable_attribute', local_assigns if DataCycleCore::Feature::CopyableAttribute.copyable_attribute?(content, key) %>
    <%= render 'data_cycle_core/contents/editors/features/geo_key_figure', local_assigns if DataCycleCore::Feature::GeoKeyFigure.allowed_attribute_key?(content, key) %>
  <% end %>

  <%= yield %>

</div>
