<%= render 'data_cycle_core/contents/editors/attribute', key: key, definition: definition, value: value, options: options, content: content, parent: local_assigns[:parent] do %>

  <%= label_tag "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}" do %>
    <%= content_tag(:i, nil, class: 'fa fa-ban', aria_hidden: true) unless attribute_editable?(key, definition, options, content) %>
    <%= definition['label'] %>
    <%= render 'data_cycle_core/contents/helper_text', local_assigns %>
  <% end %>

  <% classification_items = DataCycleCore::ClassificationAlias.includes(:classification_tree_label, :primary_classification).where(classification_trees: { parent_classification_alias_id: nil }, classification_tree_labels: { name: definition['tree_label'] }).order(created_at: :asc) %>

  <ul class="no-bullet classification-radiobutton-list">
    <li class="radiobutton-wrap">
      <%= radio_button_tag key + '[]', '', true, id: sanitize_to_id(key + '[]') %>
      <%= label_tag key + '[]', "#{t("common.no_selection", locale: DataCycleCore.ui_language)}" %>
    </li>
    <%= collection_radio_buttons(nil, key + '[]', classification_items, :primary_classification_id, :internal_name, {}, { disabled: !attribute_editable?(key, definition, options, content), namespace: local_assigns.dig(:options, :prefix) }) do |rb| %>
      <li class="radiobutton-wrap">
        <%= rb.radio_button value: rb.value, checked: (value&.ids&.include?(rb.value) || (local_assigns.dig(:options, :edit_scope) == 'new' && classification_items.to_a.select { |c| c.name.in?(definition&.dig('ui', 'edit', 'default_value') || []) }.map(&:primary_classification_id).include?(rb.value))) %>
        <% if rb.object.try(:description).present? %>
          <%= rb.label title: rb.object.try(:description), class: 'dc-foundation-tooltip', data: { allow_html: true } do %>
            <%= rb.text %> <i class="fa fa-info-circle" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= rb.label %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% value.presence&.each do |c| %>
    <%= hidden_field_tag key + '[]', c.id %>
  <% end unless attribute_editable?(key, definition, options, content) %>
<% end if classification_tree_label_has_children?(definition['tree_label']) %>
