<%= render 'data_cycle_core/contents/editors/attribute', key: key, definition: definition, value: value, options: options, content: content do %>
    
  <%= label_tag(key, definition['label']) %>

  <div class="v-select">
      <% classification_items = DataCycleCore::ClassificationTreeLabel.find_by(name: definition['tree_label'])&.classification_trees&.includes(:sub_classification_alias)&.where(parent_classification_alias: nil) %>
      <% if classification_items.size > DataCycleCore.max_asynch_classification_items %>
          <%= select_tag(key, value.blank? ? nil : options_for_select(value.map {|c| [c.try(:name), c.id]}, value.map(&:id)), {multiple: true, disabled: !can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, content, :edit)), class: 'async-select', data: {tree_label: definition['tree_label'], max: 20, placeholder: ''}}) %>
      <% else %>
          <% available_items = classification_items&.map(&:sub_classification_alias).map{|c| [c.try(:name), c&.primary_classification.try(:id)]} %>
          <%= select_tag(key, options_for_select(available_items, value&.map(&:id)), {multiple: true, disabled: !can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, content, :edit)), class: 'multi-select', data: {tree_label: definition['tree_label'], max: 20, placeholder: ''}}) %>
      <% end %>

    <% value.presence&.each do |c| %>
      <%= hidden_field_tag key + '[]', c.id %>
    <% end unless can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, content, :edit)) %>
  </div>

<% end if classification_tree_label_has_children?(definition['tree_label']) %>