<%= render 'data_cycle_core/contents/editors/attribute', key: key, definition: definition, value: value, options: options, content: content, parent: local_assigns[:parent] do %>

  <%= label_tag "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}" do %>
    <%= content_tag(:i, nil, class: 'fa fa-ban', aria_hidden: true) unless attribute_editable?(key, definition, options, content) %>
    <%= definition['label'] %>
    <%= render 'data_cycle_core/contents/helper_text', local_assigns %>
  <% end %>

  <% if attribute_editable?(key, definition, options, content) && DataCycleCore::Feature::AutoTagging.allowed?(content) && DataCycleCore.features.dig(:auto_tagging, :attribute_keys).include?(key.attribute_name_from_key) %>
    <%= link_to auto_tagging_thing_path(id: content.id, key: sanitize_to_id(key)), class: 'auto-tagging-button', remote: true, data: { disable_with: '<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>' } do %>
      <i class="fa fa-cloud-download"></i>
    <% end %>
  <% end %>

  <div class="v-select">
    <% classification_items = classification_alias_filter_items(definition['tree_label'], { internal_name: :asc }) %>
    <%= hidden_field_tag key + '[]', nil %>
    <% if classification_items.size > DataCycleCore.max_asynch_classification_items || (DataCycleCore::Feature::AutoTagging.allowed?(content) && DataCycleCore.features.dig(:auto_tagging, :attribute_keys).include?(key.attribute_name_from_key)) %>
      <%= select_tag(
            key,
            async_classification_select_options(value, DataCycleCore::Classification),
            {
              multiple: true,
              disabled: !attribute_editable?(key, definition, options, content),
              class: 'async-select',
              data: {
                tree_label: definition['tree_label'],
                max: 20,
                close_on_select: false,
                placeholder: '',
                find_path: find_classifications_path,
                search_path: search_classifications_path
              },
              id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}"
            }.merge(definition.dig('ui', 'edit', 'options') || {})
          ) %>
    <% else %>
      <% available_items = classification_items&.map { |c|
            [
              c.try(:internal_name),
              c&.primary_classification.try(:id),
              {
                title: [
                  c.full_path,
                  c.description
                ].reject(&:blank?).join("\n\n"),
                data: {
                  title: c.full_path,
                },
                disabled: !c.assignable
              }
            ]
          } %>

      <%= select_tag(
            key,
            simple_classification_select_options(value, classification_items, DataCycleCore::Classification),
            {
              multiple: true,
              disabled: !attribute_editable?(key, definition, options, content),
              class: 'multi-select',
              data: {
                tree_label: definition['tree_label'],
                max: 20,
                close_on_select: false,
                placeholder: ''
              },
              id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}"
            }.merge(definition.dig('ui', 'edit', 'options') || {})
          ) %>
    <% end %>

    <% value.presence&.each do |c| %>
      <%= hidden_field_tag key + '[]', c.id %>
    <% end unless attribute_editable?(key, definition, options, content) %>
  </div>
<% end if classification_tree_label_has_children?(definition['tree_label']) %>
