<%= render 'data_cycle_core/contents/editors/attribute', key: key, definition: definition, value: value, options: options, content: content do %>

  <div class="form-element <%= attribute_name_from_key(key) %>">
      <%= label_tag key do %>
        <span class="icon <%= attribute_name_from_key(key) %>">
            <i aria-hidden="true" class="fa fa-clock-o"></i> <%= definition['label'] %>
        </span>
      <% end %>
      <% if options.dig('readonly').presence&.to_s  == 'true' %>
          <%= text_field_tag key, value.blank? ? value : l(value.to_datetime, format: :edit), options.merge({ class: '' }) %>
      <% else %>
          <%= datetime_field_tag key, value, options %>
      <% end %>
  </div>

<% end %>
