<%= render 'data_cycle_core/contents/editors/attribute', key: key, definition: definition, value: value, options: options, content: content do %>

  <div class="form-element <%= key.attribute_name_from_key %>">
      <%= label_tag key do %>
        <span class="icon <%= key.attribute_name_from_key %>">
            <%= content_tag(:i, nil, class: 'fa fa-ban', aria_hidden: true) if options['readonly'].to_s == 'true' %>
            <i aria-hidden="true" class="fa fa-calendar"></i>
            <%= definition['label'] %>
        </span>
        <%= render 'helper_text', local_assigns %>
      <% end %>
      <% if options.dig('readonly').presence&.to_s  == 'true' %>
          <%= text_field_tag key, value.blank? ? value : l(value.to_date, locale: DataCycleCore.ui_language), options.merge({ class: 'read-only date' }) %>
      <% else %>
          <%= date_field_tag key, value, options.merge('data-type' => 'datepicker') %>
      <% end %>
  </div>

<% end %>
