<%= render 'data_cycle_core/contents/editors/attribute_editor', key: key, definition: definition, value: value, options: options do %>

  <span class="icon <%= key.split('[').last[0...-1] %>">
      <i aria-hidden="true" class="fa fa-clock-o"></i> <%= definition['label'] %>
  </span>
  <div class="form-element <%= key.split('[').last[0...-1] %>">
      <%= datetime_field_tag key, value, options %>
  </div>

<% end %>
