<%= render 'data_cycle_core/contents/editors/attribute_editor', key: key, definition: definition, value: value, options: options do %>

  <% internal_template = DataCycleCore::DataHashService.get_internal_template(definition['storage_location'], definition['name'], definition['description']) %>
  <% internal_objects = DataCycleCore::DataHashService.get_internal_data(definition['storage_location'], value) %>

  <% unless internal_template.try(:metadata).dig('validation', 'name').nil? %>
    <% unless internal_objects.blank? %>
      <% internal_objects.each_with_index do |object, index| %>

        <% objectDataHash = object.get_data_hash %>
        <% unless object.try(:metadata).dig('validation').nil? %>

          <% validation_properties = get_ordered_validation_properties(object.metadata['validation']) %>
          <% if !validation_properties.nil? %>

            <div class="content-object-item" id="<%= sanitize_to_id(key) %>_item_<%= index %>">
              <span class="embedded-header"><%= render 'data_cycle_core/shared/icon', icon_type: internal_template.metadata['validation']['name'].downcase %> <%= definition['label'] %></span>

              <% unless options['readonly'] %>
                <button class="button removeContentObject"><i class="fa fa-times"></i></button>
              <% end %>

              <%= hidden_field_tag("#{key}[#{index}][id]", objectDataHash['id']) %>

              <% validation_properties.each do |o_key, o_prop| %>

                <%= render_attribute_editor key: "#{key}[#{index}][#{o_key}]", definition: o_prop, value: objectDataHash[o_key], parameters: { options: o_prop.dig('editor', 'options') || {} } %>

              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% validation_properties = get_ordered_validation_properties(internal_template.metadata['validation']) %>

    <% if !validation_properties.nil? %>
      <embedded-objects
        embedded-object-key="<%= key %>"
        :min="<%= definition.dig('validations', 'minLength') || 0 %>"
        :max="<%= definition.dig('validations', 'maxLength') || 0 %>"
        label="<%= definition['label'] %>"
        :readonly="<%= options['readonly'] ? true : false %>">
        <template scope="props" slot="embedded-item" >
          <span class="embedded-header"><%= render 'data_cycle_core/shared/icon', icon_type: internal_template.metadata['validation']['name'].downcase %> <%= definition['label'] %></span>
          <% validation_properties.each do |o_key, o_prop| %>

            <%= render_attribute_editor key: "#{key}[0][#{o_key}]", definition: o_prop, value: "", parameters: { options: o_prop.dig('editor', 'options') || {} } %>

          <% end %>
        </template>
      </embedded-objects>
    <% end %>
  <% end %>
<% end %>
