<%= render 'data_cycle_core/contents/editors/attribute', key: key, definition: definition, value: value, options: options, content: content do %>

  <%= hidden_field_tag key, value, class: 'location-data' %>

  <% if value.try(:geometry_type) == RGeo::Feature::Point || value.blank? %> <%# only show points for now, not the lines %>
      <div class="edit-type geographic">
          <% map_id = "map_#{SecureRandom.hex(16)}" %>
          <script>
              var <%= map_id %> = {
                  type: "<%= (value.presence&.geometry_type || RGeo::Feature::Point).to_s %>",
                      points: [<%= value.present? ? "[#{value.presence&.x}, #{value.presence&.y}]" : '[]' %>]
              };
          </script>

          <div id="<%= map_id %>" class="geographic-map <%= 'editable' if can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, content, :edit)) %>" data-default-position="<%= DataCycleCore.default_map_position.presence&.to_json %>" data-icon-path="<%= image_path('location.svg') %>">
          </div>
      </div>
  <% elsif value.try(:geometry_type) == RGeo::Feature::LineString %> <%# only show points for now, not the lines %>
      <div class="edit-type geographic">

          <% map_id = "map_#{SecureRandom.hex(16)}" %>
          <script>
              var <%= map_id %> = {
                  type: "<%= value.geometry_type.to_s %>",
                      points: [<%= value.points.map { |p| "[#{p.x}, #{p.y}]" }.join(",") %>]
              };
          </script>

          <div id="<%= map_id %>" class="geographic-map" data-default-position="<%= DataCycleCore.default_map_position.presence&.to_json %>" data-icon-path="<%= image_path('location.svg') %>">
          </div>
      </div>
  <% end %>

  <div class="map-info detail_object">
    <div class="content-object-item">
      <span class="embedded-header">
        <%= content_tag(:i, nil, class: 'fa fa-ban', aria_hidden: true) if options['readonly'].to_s == 'true' %>
        <%= definition['label'] %>
        <%= render 'helper_text', local_assigns %>
      </span>

      <% if value.try(:geometry_type) == RGeo::Feature::Point || value.blank? %>

        <div class="form-element longitude number">
          <%= label_tag key.gsub(/location/, 'longitude') do %>
            <%= DataCycleCore::Place.human_attribute_name(:longitude, locale: DataCycleCore.ui_language) %>
          <% end %>
          <%= number_field_tag key.gsub(/location/, 'longitude'), value.presence&.x, class: 'form-control', step: :any %>
        </div>

        <div class="form-element latitude number">
          <%= label_tag key.gsub(/location/, 'latitude') do %>
            <%= DataCycleCore::Place.human_attribute_name(:latitude, locale: DataCycleCore.ui_language) %>
          <% end %>
          <%= number_field_tag key.gsub(/location/, 'latitude'), value.presence&.y, class: 'form-control', step: :any %>
        </div>

        <%= render_attribute_editor key: key.gsub(/location/, 'elevation'), definition: content&.schema&.dig(*schema_path_from_key(key.gsub(/location/, 'elevation'))), value: (content.elevation.blank? || content.elevation.zero?) ? nil : content.elevation, parameters: { options: { force_render: true } }, content: content if content.collect_properties.flatten.include?('elevation') %>

        <% if can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, content, :edit)) && DataCycleCore::Feature::Geocode.allowed?(content) %>
          <a href="#" class="button geocode-address-button" title="<%= t('actions.geocode', locale: DataCycleCore.ui_language, title: content&.schema&.dig('properties', DataCycleCore::Feature::Geocode.address_source(content), 'label')) %>" data-address-key="<%= DataCycleCore::Feature::Geocode.address_source(content) %>"><%= t('actions.geocode', locale: DataCycleCore.ui_language, title: content&.schema&.dig('properties', DataCycleCore::Feature::Geocode.address_source(content), 'label')) %></a>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>
