<%= render 'data_cycle_core/contents/editors/attribute', key: key, definition: definition, value: value, options: options, content: content, parent: local_assigns[:parent] do %>

  <%= attribute_edit_label_tag(**local_assigns) %>

  <div class="duration-slider">
    <div class="small-10 columns">
      <%= tag.div tag.span(class: 'slider-handle', role: 'slider', tabindex: 1, aria: { controls: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}" }, data: { slider_handle: true }),
        class: "slider#{' disabled' unless attribute_editable?(key, definition, options, content) }",
        data: {
          slider: true,
          initial_start: value.try(:to_i) || 0,
          step: 1,
          position_value_function: 'pow',
          non_linear_base: 5,
          start: definition.dig('validations', 'min').try(:to_i) || 0,
          end: definition.dig('validations', 'max').try(:to_i) || 100,
          decimal: 0
        } %>
    </div>
    <div class="small-2 columns">
      <%= number_field_tag key, value, options.merge(id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}", min: definition.dig('validations', 'min').try(:to_i) || 0, max: definition.dig('validations', 'max').try(:to_i) || 100, step: 1, value: value.try(:to_i) || 0) %>
      <span class="duration-label"><%= options.fetch('data-unit', 'min') %></span>
    </div>
  </div>

<% end %>
