<%= render 'data_cycle_core/contents/editors/attribute_editor', key: key, definition: definition, value: value, options: options do %>

  <% value = value.nil? ? {} : value %>
  <div class="release-status" id="release_container_<%= sanitize_to_id(key) %>">
    <%= collection_select key, :release_id, DataCycleCore::Release.all, :id, :release_text, {selected: value['release_id']}, { class: "release-select", disabled: options['readonly'] } %>
    <%= hidden_field_tag key + "[release_comment]", value['release_comment'], placeholder: "Kommentar", class: "release-comment" %>

    <span class="button" data-open="release_comment_<%= sanitize_to_id(key) %>">Kommentar</span>
    <div class="reveal release-comment-overlay" id="release_comment_<%= sanitize_to_id(key) %>" data-reveal>
      <p class="lead">Kommentar</p>
      <%= text_area_tag key + "[release_comment]", value['release_comment'], class: "release-comment", disabled: options['readonly'] %>
      <button class="button save" data-close aria-label="Ok" type="button">Ok</button>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <% options = definition.dig('editor', 'options') || {} %>

  <%= render_attribute_editor key: "#{key}[value]", definition: definition.except('releasable'), value: value.try(:[], 'value'), parameters: { options: options.merge({ "no-wrapper" => true }) } %>

<% end %>
