<%= render 'data_cycle_core/contents/editors/attribute', key: key, definition: definition, value: value, options: options.merge('class' => 'detail_object'), content: content do %>

  <div class="content-object-item schedule-editor">
      <span class="embedded-header">
        <span class="icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
        <%= definition['label'] %>
        <%= render 'data_cycle_core/contents/helper_text', local_assigns %>
      </span>

      <% if options.dig('readonly').presence&.to_s  == 'true' %>
      <% else %>
        <div class="daterange">
          <div class="form-element dtstart">
            <%= label_tag "#{key}[duration][start]", t('schedule.dtstart', locale: DataCycleCore.ui_language) %>
            <%= datetime_field_tag "#{key}[duration][start]", nil, id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}_duration_start", data: { type: 'datepicker' } %>
          </div>

          <div class="form-element dtend">
            <%= label_tag "#{key}[duration][end]", t('schedule.dtend', locale: DataCycleCore.ui_language) %>
            <%= datetime_field_tag "#{key}[duration][end]", nil, id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}_duration_end", data: { type: 'datepicker' } %>
          </div>

          <div class="form-element fullday">
            <%= check_box_tag "#{key}[full_day]", id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}_full_day", data: { type: 'datepicker' } %>
            <%= label_tag "#{key}[full_day]", t('schedule.full_day', locale: DataCycleCore.ui_language) %>
          </div>
        </div>

        <div class="rrule">
          <div class="form-element">
            <%= label_tag "#{key}[rrule]", t('schedule.rrule', locale: DataCycleCore.ui_language) %>
            <%= select_tag "#{key}[rrule]", options_for_select(ice_cube_select_options) %>
          </div>

          <div class="daily form-element">
            <%= label_tag "#{key}[daily]", t('schedule.every.maskulin', locale: DataCycleCore.ui_language) %>
            <%= number_field_tag "#{key}[daily]", 1, in: 1..30, step: 1 %>
            <span class="after-label"><%= t('schedule.day', locale: DataCycleCore.ui_language) %></span>
          </div>

          <div class="weekly form-element">
            <%= label_tag "#{key}[weekly][week]", t('schedule.every.feminin', locale: DataCycleCore.ui_language) %>
            <%= number_field_tag "#{key}[weekly][week]", 1, in: 1..30, step: 1 %>
            <span class="after-label"><%= t('schedule.week', locale: DataCycleCore.ui_language) %></span>
          </div>

          <div class="weekly form-element">
            <%= label_tag "#{key}[weekly][weekday]", t('schedule.on', locale: DataCycleCore.ui_language) %>
            <% [*(1..6), 0].each do |v| %>
              <%= check_box_tag "#{key}[weekly][weekday][]", v, false, id: sanitize_to_id("#{key}[weekly][weekday][#{v}]") %>
              <%= label_tag sanitize_to_id("#{key}[weekly][weekday][#{v}]"), t('date.day_names', locale: DataCycleCore.ui_language)[v] %>
            <% end %>
          </div>

          <div class="enddate form-element">
            <%= label_tag "#{key}[enddate]", t('terms.until', locale: DataCycleCore.ui_language) %>
            <%= date_field_tag "#{key}[enddate]", nil, id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}_enddate", data: { type: 'datepicker' } %>
          </div>
        </div>
      <% end %>
  </div>

<% end %>
