<%= render 'data_cycle_core/contents/editors/attribute', key: key, definition: definition, value: value, options: options, content: content do %>

  <%= label_tag key do %>
    <%= content_tag(:i, nil, class: 'fa fa-ban', aria_hidden: true) if options['readonly'].to_s == 'true' %>
    <%= definition['label'] %>
  <% end %>
  <div class="editor-block">

      <%= hidden_field_tag key, value, options %>

      <% options.merge!({ data: { hidden_field_id: sanitize_to_id(key) }.merge(definition&.slice('validations', 'warnings')), class: 'quill-editor', id: "#{sanitize_to_id(key)}-editor" }) %>

      <%= content_tag :div, options do %>
          <%= value.presence&.html_safe %>
      <% end %>

  </div>

<% end %>
