<%= render 'data_cycle_core/contents/editors/attribute', key: key, definition: definition, value: value, options: options, content: content, parent: local_assigns[:parent] do %>

  <div class="editor-block <%= 'disabled' unless attribute_editable?(key, definition, options, content) %>">
    <%= yield_content!(:text_editor_header) %>

    <%= attribute_edit_label_tag(**local_assigns.merge(html_classes: 'dc-sticky-bar')) %>

    <%= hidden_field_tag key, value, options.merge(id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}", disabled: !attribute_editable?(key, definition, options, content)) %>

    <% options.merge!({
        data: {
          hidden_field_id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}",
          locale: I18n.locale,
          key: key,
          template_name: contextual_content(local_assigns).template_name,
          translate_inline: DataCycleCore::Feature['Translate']&.allowed_attribute?(contextual_content(local_assigns), key, I18n.locale, current_user)
        }.merge(definition&.slice('validations', 'warnings')),
        class: 'quill-editor',
        id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}-editor"
      }) %>

    <%= content_tag :div, options do %>
      <%= value.presence&.html_safe %>
    <% end %>

    <div class="ql-toolbar text-editor-toolbar">
      <span class="ql-formats">
        <%= render 'data_cycle_core/contents/editors/features/ai_lector', content: contextual_content(local_assigns), key: key if ai_lector_allowed?(**local_assigns) %>
      </span>
    </div>
  </div>

<% end %>
