<%= form_tag('', :method => "get", id: "search-form") do %>
  <section class="filters">
    <div class="row">
      <div class="column">
        <div class="search">
          <div class="input-group">
            <div class="input-group-button">
              <button type="submit" class="search_icon"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <%= text_field_tag :q,
              @search_param,
              placeholder: t('common.searchterm', locale: DataCycleCore.ui_language),
              class:"input-group-field fulltext-search-field" %>
          </div>
        </div>

        <div class="filtertags activefilter">
          <span class="icon">
            <i class="fa fa-check" aria-hidden="true"></i> <strong><%= t('common.active_filters', locale: DataCycleCore.ui_language) %></strong>
            <% if @total&.positive? %>
              <span class="result-count">
                (<strong><%= @total %></strong> <%= DataCycleCore::User.model_name.human(count: @total, locale: DataCycleCore.ui_language) %>)
              </span>
            <% end %>
          </span>
        </div>

        <div class=" filterbuttons clearfix">
          <div class="filterbuttons-left">
            <%= button_tag type: :submit, class: "button success", data: {
              disable_with: "<i class='fa fa-circle-o-notch fa-spin fa-3x fa-fw'></i> #{t('actions.searching', locale: DataCycleCore.ui_language)} ..."
            } do %>
              <i class="fa fa-search" aria-hidden="true"></i>
              <%= t('actions.filter', locale: DataCycleCore.ui_language) %>
            <% end %>

            <%= link_to request.path, class: 'button', id: 'reset-filter' do %>
              <i class="fa fa-times" aria-hidden="true"></i>
              <%= t('actions.reset', count: 2, locale: DataCycleCore.ui_language) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
