<% filter_config = DataCycleCore::Feature::MainFilter.available_filters(view: local_assigns[:view] || 'users', user: current_user, selected_filters: @filters) %>

<%= form_with(url: form_path, local: true, id: "search-form", data: { add_filter_path: add_filter_path, add_tag_group_path: add_tag_group_path }) do %>
  <%= hidden_field_tag 'mode', @mode %>

  <section class="filters">
    <div class="row">
      <div class="column filter-body">
        <% filter_config[:filter].each do |filter| %>
          <%= render "data_cycle_core/application/filters/sections/#{filter[:type]}", filter: filter, config: filter_config %>
        <% end %>

        <%= render 'data_cycle_core/application/filters/sections/tag_groups',
                    config: filter_config,
                    filters: @filters,
                    selected_classification_aliases: nil %>

        <div class="filterbuttons clearfix">
          <div class="filterbuttons-left">
            <%= button_tag type: :submit, class: "button success", data: {
              disable_with: "<i class='fa fa-spinner fa-spin fa-fw'></i> #{t('actions.searching', locale: active_ui_locale)} ..."
            } do %>
              <i class="fa fa-search" aria-hidden="true"></i>
              <%= t('actions.filter', locale: active_ui_locale) %>
            <% end %>

            <div class="filter-buttons">
              <%= link_to request.path, class: 'button', id: 'reset-filter', data: { dc_tooltip: t('actions.reset', count: 2, locale: active_ui_locale) } do %>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </div>

            <hr class="vertical-separator"/>

            <% if can?(:download_user_info_activity, current_user) %>
              <div class="filter-buttons">
                <%= button_tag type: :button, class: "button user-info-activity", id: 'download-user-info-activity', data: {
                  dc_tooltip: t('actions.download_user_info_activity', locale: active_ui_locale),
                  download_path: download_user_info_activity_users_path
                } do %>
                  <i class="fa fa-table" aria-hidden="true"></i> 
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render 'data_cycle_core/application/view_mode_selector',
              sortable: filter_config[:sortable],
              mode_selector: filter_config[:mode_selector],
              filter_context: filter_config[:view_type],
              additional_classes: 'column-padding' %>
<% end %>
