<%= form_for content, html: {class: 'edit-content-form validation-form'} do |f| %>
	<%= hidden_field_tag 'uuid', content.id %>
	<%= hidden_field_tag :table, content.class.table_name %>

	<section class="edit-header">
		<div class="row expanded">
			<div class="column edit-header-functions">
				<div class="edit-headline">
					<i class="fa fa-pencil" aria-hidden="true"></i> <%== "#{content.model_name.human(locale: DataCycleCore.ui_language)} #{t('actions.edit', locale: DataCycleCore.ui_language)}" %>
				</div>
				<ul>
					<li class="buttons">
						<%= link_to breadcrumbs[-2].url do %>
							<button type="button" class="button discard top" data-tooltip aria-haspopup="true" data-disable-hover="false"  title="Änderungen verwerfen"><i class="fa fa-times" aria-hidden="true"></i></button>
						<% end %>
            <button class="button-prime submit submit-edit-form" data-tooltip aria-haspopup="true" data-disable-hover="false"  title="Änderungen speichern"><i class="fa fa-check" aria-hidden="true"></i></button>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="row">
		<div class="column">
			<div class="detail-header editor">

				<div class="detail-header-info">
					<div class="type thema">
						<span class="icon">
								<i class="fa fa-user" aria-hidden="true"></i>
						</span>
						<span class="title"><%= content.model_name.human(locale: DataCycleCore.ui_language) %></span>
					</div>
				</div>

        <% if @user.is_a?(DataCycleCore::UserOrganization) %>
          <div class="form-element validation-container input">
              <%= f.text_field :name, readonly: @user.external %>
          </div>
        <% else %>
          <div class="form-element validation-container input">
              <%= f.text_field :given_name, readonly: @user.external %>
          </div>

          <div class="form-element validation-container input">
              <%= f.text_field :family_name, readonly: @user.external %>
          </div>
        <% end %>

        <div class="form-element validation-container input">
            <%= f.email_field :email, required: true, readonly: @user.external %>
        </div>

        <% unless @user.external %>
          <div class="form-element validation-container input">
              <%= f.password_field :password, autocomplete: 'off' %>
          </div>

          <div class="form-element input">
              <%= f.password_field :password_confirmation, autocomplete: 'off' %>
          </div>

          <% if current_user == @user %>
            <div class="form-element input">
                <%= f.password_field :current_password %>
            </div>
          <% end %>
        <% end %>

        <% if can? :generate_access_token, @user %>
          <div class="form-element">
            <%= f.label :access_token, nil, class: 'margin-left' %>
            <%= f.check_box :access_token, label: false, checked: @user.access_token.present? %>
          </div>
        <% end %>

        <% if can? :set_role, @user %>
          <div class="form-element validation-container">
              <%= f.select :role_id, DataCycleCore::Role.where('rank <= ?', current_user.role.try(:rank)).collect{|r| [t('roles.'+r.name, locale: DataCycleCore.ui_language), r.id]}, {}, class: "with-label" %>
          </div>
        <% end %>

        <% if can? :set_user_groups, @user %>
          <div class="form-element">

            <div class="v-select">
              <%= f.label :user_group_ids %>
              <%= f.collection_select :user_group_ids, DataCycleCore::UserGroup.all, :id, :name, {}, {multiple: true, class: 'multi-select'} %>
            </div>

          </div>
        <% end %>

			</div>
		</div>
	</div>

<% end %>
