<%= form_for content, html: {class: 'edit-content-form'} do |f| %>
	<%= hidden_field_tag 'uuid', content.id %>

	<section class="edit-header">
		<div class="row expanded">
			<div class="column edit-header-functions">
				<div class="edit-headline">
					<i class="fa fa-pencil" aria-hidden="true"></i> <%== "#{content.model_name.human(locale: DataCycleCore.ui_language)} #{t('actions.edit', locale: DataCycleCore.ui_language)}" %>
				</div>
				<ul>
					<li class="buttons">
						<%= link_to breadcrumbs[-2].url do %>
							<button type="button" class="button discard top" data-tooltip aria-haspopup="true" data-disable-hover="false"  title="Änderungen verwerfen"><i class="fa fa-times" aria-hidden="true"></i></button>
						<% end %>
            <button class="button-prime submit submit-edit-form" data-tooltip aria-haspopup="true" data-disable-hover="false"  title="Änderungen speichern"><i class="fa fa-check" aria-hidden="true"></i></button>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="row">
		<div class="column">
			<div class="detail-header editor">

				<div class="detail-header-info">
					<div class="type thema">
						<span class="icon">
								<i class="fa fa-user" aria-hidden="true"></i>
						</span>
						<span class="title"><%= content.model_name.human(locale: DataCycleCore.ui_language) %></span>
					</div>
				</div>

        <% unless @user.external %>
          <div class="form-element validation-container input" tabindex="-1">
              <%= f.text_field :given_name %>
          </div>

          <div class="form-element validation-container input" tabindex="-1">
              <%= f.text_field :family_name %>
          </div>

          <div class="form-element validation-container input" tabindex="-1">
              <%= f.email_field :email, required: true %>
          </div>

          <div class="form-element validation-container input" tabindex="-1">
              <%= f.password_field :password, autocomplete: 'off' %>
          </div>

          <div class="form-element validation-container input" tabindex="-1">
              <%= f.password_field :password_confirmation, autocomplete: 'off' %>
          </div>

          <% if current_user == @user %>
            <div class="form-element validation-container input" tabindex="-1">
                <%= f.password_field :current_password %>
            </div>
          <% end %>
        <% end %>

        <% if can? :set_role, @user %>
          <div class="form-element validation-container" tabindex="-1">
              <%= f.select :role_id, DataCycleCore::Role.where('rank > 0 AND rank <= ?', current_user.role.try(:rank)).collect{|r| [t('roles.'+r.name, locale: DataCycleCore.ui_language), r.id]}, label: false %>
          </div>
        <% end %>

        <% if can? :set_user_groups, @user %>
          <div class="form-element validation-container" tabindex="-1">

            <div class="v-select">
              <%= f.label :user_group_ids %>
              <%= hidden_field_tag 'user[user_group_ids][]' %>
              <%= select_tag('user[user_group_ids][]', options_for_select(DataCycleCore::UserGroup.all.map { |c| [c.name, c.id] }, content.user_groups.map(&:id)), {multiple: true, class: 'multi-select'}) %>
            </div>

          </div>
        <% end %>

			</div>
		</div>
	</div>

<% end %>
