<div class="reveal new-item" id="new_<%= sanitize_to_id(DataCycleCore::User.name.underscore) %>" data-reveal data-multiple-opened="true">
  <h3><%= t('actions.new', data: DataCycleCore::User.model_name.human(locale: active_ui_locale), locale: active_ui_locale ) %></h3>

  <%= form_with model: DataCycleCore::User.new, local: true, url: { controller: DataCycleCore::User.name.tableize, action: :create_user }, class: 'validation-form' do |f| %>

    <%= hidden_field_tag :table, DataCycleCore::User.name.demodulize.tableize %>

    <div class="form-element validation-container">
      <%= f.label :email do %>
        <%= DataCycleCore::User.human_attribute_name(:email, locale: active_ui_locale) %>
        <%= tag.i('*', class: 'required-field-marker', data: { dc_tooltip: t('common.required_field', locale: active_ui_locale) }) %>
      <% end %>
      <%= f.email_field :email, required: true, autofocus: true %>
    </div>

    <div class="form-element validation-container password-field">
      <%= f.label :password do %>
        <%= DataCycleCore::User.human_attribute_name(:password, locale: active_ui_locale) %>
        <%= tag.i('*', class: 'required-field-marker', data: { dc_tooltip: t('common.required_field', locale: active_ui_locale) }) %>
      <% end %>
      <%= f.password_field :password, required: true %>
    </div>

    <div class="form-element">
      <%= f.label :given_name %>
      <%= f.text_field :given_name %>
    </div>

    <div class="form-element">
      <%= f.label :family_name %>
      <%= f.text_field :family_name %>
    </div>

    <div class="form-element">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-element">
      <%= f.label :role_id do %>
        <%= DataCycleCore::User.human_attribute_name(:role_id, locale: active_ui_locale) %>
        <%= tag.i('*', class: 'required-field-marker', data: { dc_tooltip: t('common.required_field', locale: active_ui_locale) }) %>
      <% end %>
      <%= f.select :role_id, DataCycleCore::Role.accessible_by(current_ability).order(:rank).collect{|r| [t('roles.'+r.name, locale: active_ui_locale), r.id]}, {}, class: 'no-margin' %>
    </div>

    <%= f.submit t(:submit, locale: active_ui_locale), class: "button primary", data: { disable_with: t(:submit, locale: active_ui_locale) } %>

  <% end %>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
