<% breadcrumb :index, 'users' %>

<% content_for :top_content do %>
  <%= render 'filter' if user_signed_in? %>
<% end %>

<%= render 'results', contents: @paginate_object, no_cache: true %>

<% if can? :create_user, DataCycleCore::User %>
  <% content_for :new_button do %>
    <div id="new-object-circle">
        <a data-toggle="new-object" class="button-prime"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <div class="reveal" id="new-object" data-reveal data-append-to="#new-object-circle" data-v-offset="auto">
            <a class="option" href="#" data-open="new_data_cycle_core_user"><i class="fa fa-user" aria-hidden="true"></i><%= t('actions.new', data: DataCycleCore::User.model_name.human(locale: DataCycleCore.ui_language), locale: DataCycleCore.ui_language ) %></a>
            <a class="option last" href="#" data-open="new_data_cycle_core_user_organization"><i class="fa fa-users" aria-hidden="true"></i><%= t('actions.new', data: DataCycleCore::UserOrganization.model_name.human(locale: DataCycleCore.ui_language), locale: DataCycleCore.ui_language ) %></a>
        </div>
    </div>

    <%= render 'new', type: DataCycleCore::User %>
    <%= render 'new', type: DataCycleCore::UserOrganization %>

  <% end %>
<% end %>
