<% breadcrumb @user %>

<% content_for :top_content do %>

    <div class="column detail-header-wrapper">

        <div class="detail-header">

            <div class="detail-header-functions">
                <ul class="no-bullet">
                    <li><a href="<%= breadcrumbs[-2].url %>" class="hascontent"><i aria-hidden="true" class="fa fa-times"></i></a></li>
                </ul>
            </div>

            <div class="detail-header-info">
                <div class="type watchlist">
                    <%= render 'data_cycle_core/shared/icon', icon_type: 'person' %>
                    <span class="title"><%= DataCycleCore::User.model_name.human %></span>
                </div>
            </div>

            <div class="title">
              <%= @user.full_name %>
            </div>

            <div class="description">
              <%= @user.email %>
            </div>

            <% if can? :destroy, @user %>
                <div class="destroy">
                    <%= link_to @user, method: :delete, class:'button-prime small alert confirm', data: { 'confirmation-text': "#{DataCycleCore::User.model_name.human} löschen?", tooltip: "", 'disable-hover': false}, title: 'Löschen', 'aria-haspopup': "true" do %>
                        <i class="fa fa-trash-o" aria-hidden="true"></i><span>Löschen</span>
                    <% end %>
                </div>
            <% end %>

            <% if can? :edit, @user %>
              <div class="edit">
                <%= link_to edit_user_path(@user, trail: breadcrumb_trail), class: 'button-prime small', title: 'Bearbeiten', data: { tooltip: "", 'disable-hover': false }, 'aria-haspopup': "true" do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i><span>Bearbeiten</span>
                <% end %>
              </div>
            <% end %>

          <div class="tags">
            <div class="tag-group-wrapper">
              <span class="tag"><%= @user.role %></span>
            </div>
          </div>

        </div>

    </div>

<% end %>

<div class="detail-content">

    <div class="row">

    </div>

</div>