<div data-label="releasable" class="clearfix form-element releasable" tabindex="-1">

    <% value = value.blank? ? {} : value %>
    <div class="" id="release_container_<%= sanitize_to_id(key) %>">
        <label for="<%= sanitize_to_id("#{key}_release_id") %>">Status</label>
        <%= collection_select key, :release_id, DataCycleCore::Release.all, :id, :release_text, {selected: value['release_id']}, { class: "release-select", disabled: options['readonly'] } %>
        <%= hidden_field_tag key + "[release_comment]", value['release_comment'], placeholder: "Kommentar", class: "release-comment" %>

        <label for="<%= sanitize_to_id("#{key}_release_comment") %>">
            Kommentar
        </label>
        <div class="release-comment form-element">
            <%= simple_format(value['release_comment']) unless value['release_comment'].nil? %>
        </div>
        <div class="reveal release-comment-overlay" id="release_comment_<%= sanitize_to_id(key) %>" data-reveal>
            <p class="lead">Kommentar</p>
            <%= text_area_tag key + "[release_comment_text]", value['release_comment'], class: "release-comment", disabled: options['readonly'] %>
            <button class="button save" data-hidden-field-id="<%= key %>_release_comment" data-close aria-label="Ok" type="button">Ok</button>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <hr />

</div>
