<div data-label="releasable" class="clearfix form-element releasable" tabindex="-1">

  <% if can? :update_release_status, @creative_work %>
    <% value = value.blank? ? {} : value %>
    <div class="" id="release_container_<%= sanitize_to_id(key) %>">
        <label for="<%= sanitize_to_id("#{key}_release_id") %>">Status</label>
        <%= collection_select key, :release_id, DataCycleCore::Release.all, :id, :release_text, {selected: value['release_id']}, { class: "release-select", disabled: options['readonly'] } %>
        <%= hidden_field_tag key + "[release_comment]", value['release_comment'], placeholder: "Kommentar", class: "release-comment" %>

        <label for="<%= sanitize_to_id("#{key}_release_comment") %>">
            Kommentar
        </label>
        <div class="release-comment form-element">
            <%= text_area_tag key + "[release_comment]", value['release_comment'], class: "release-comment", disabled: options['readonly'] %>
        </div>
    </div>

    <hr />
  <% end %>

</div>
