<div data-label="releasable" class="clearfix form-element releasable">

  <% if can? :update_release_status, @content %>
    <% value = value.blank? ? {} : value %>
    <div class="" id="release_container_<%= sanitize_to_id(key) %>">
      <div class="clearfix form-element input">
        <label for="<%= sanitize_to_id("#{key}_release_id") %>"><%= t('common.status') %></label>
        <%= collection_select key, :release_id, DataCycleCore::Release.all, :id, :release_text, {selected: value['release_id']}, { class: "release-select", disabled: !can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, @content, :edit)) } %>
        <%= hidden_field_tag key + '[release_id]', value['release_id'] unless can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, @content, :edit)) %>
      </div>

        <div class="clearfix form-element">
            <%= hidden_field_tag key + "[release_comment]", value['release_comment'], placeholder: "Kommentar", class: "release-comment" %>

            <label for="<%= sanitize_to_id("#{key}_release_comment") %>">
                <%= t('common.comment') %>
            </label>

            <%= text_area_tag key + "[release_comment]", value['release_comment'], class: "release-comment", readonly: !can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, @content, :edit)) %>
        </div>
    </div>

    <hr />

  <% elsif current_user.is_rank?(0) && @content.indirect_data_links.by_receiver(current_user).valid.exists? %>
    <hr />
    <div class="finalize-button-container">
      <%= check_box_tag 'finalize' %>
      <%= label_tag 'finalize', t('actions.finalize', locale: DataCycleCore.ui_language), data: { tooltip: true, 'disable-hover': false }, title: t('common.content_not_editable', locale: DataCycleCore.ui_language) %>
    </div>

    <% if @content.indirect_data_links.by_receiver(current_user).valid.map(&:text_file).compact.present? %>
      <div class="data-link-text-files">
        <b><%= DataCycleCore::DataLink.human_attribute_name("text_file", locale: DataCycleCore.ui_language) %>: </b>

        <ul class="no-bullet">
        <% @content.indirect_data_links.by_receiver(current_user).valid.each do |data_link| %>
          <li><%= link_to data_link.text_file.name, get_text_file_data_link_url(data_link), target: :_blank if data_link.text_file.present? %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= hidden_field_tag "#{key}[release_id]", value['release_id'] %>
    <%= hidden_field_tag "#{key}[release_comment]", value['release_comment'] %>

  <% else %>

    <%= hidden_field_tag "#{key}[release_id]", value['release_id'] %>
    <%= hidden_field_tag "#{key}[release_comment]", value['release_comment'] %>

  <% end %>

</div>
