<% if item.schema.present? && item.template_name.present? %>

    <div class="type <%= item.template_name.downcase %> <%= "has-parent" if item.try(:parent).present? %>">
        <div class="infoRow">
            <% if DataCycleCore::Feature::LifeCycle.allowed?(item) && DataCycleCore::Feature::LifeCycle.allowed_attribute_keys(item).present? && item.content_type?('container') %>
              <%= render 'data_cycle_core/shared/icon', icon_type: item.try(DataCycleCore::Feature::LifeCycle.allowed_attribute_keys(item).first)&.first&.name&.parameterize(separator: '_') %>
            <% else %>
              <%= render 'data_cycle_core/shared/icon', icon_type: item.template_name.parameterize(separator: '_') %>
            <% end %>
            <span class="template-title"><%= t("content_type.#{item.template_name.downcase}", default: item.template_name, locale: DataCycleCore.ui_language) %></span>
            <span class="locale">(<%= I18n.locale.to_s %>)</span>
        </div>
    </div>

<% else %>

    <div class="type">
        <div class="infoRow">
            <span class="icon">
                <i class="fa fa-folder-open-o" aria-hidden="true"></i>
            </span>
            <span class="template-title">Undefined Content</span>
        </div>
    </div>

<% end %>
