<% if @content&.id.present? %>
    <div class="reveal new-item" id="newContent" data-reveal>
        <h3><%= t('actions.new', data: DataCycleCore::Content.model_name.human(locale: DataCycleCore.ui_language), locale: DataCycleCore.ui_language) %></h3>
        <%= form_for :creative_work, :url => {:action => "create"}, html: { class: 'validation-form' } do |f| %>
            <%= hidden_field_tag :table, :creative_works %>

            <%= select_tag 'template', options_for_select(@entities.map{ |c| [c&.template_name&.underscore&.titleize, c&.template_name] }.to_h) %>

            <%= select_tag 'locale', options_for_select(available_locales_with_names.except(:all).invert) %>

            <% sources = [] %>
            <% @content.children.each do |child| %>
              <% I18n.with_locale(child.first_available_locale) do %>
                <% sources.push(["#{child.title} (#{child.template_name}, #{I18n.locale})", "source_id=>#{child.id}, source_type=>#{child.class.name}"]) %>
              <% end %>
            <% end %>

            <div class="form-element">
              <div class="v-select white">
                <%= select_tag('source', options_for_select(sources), {class: 'single-select select', data: {placeholder: 'Vorlage wählen'}, include_blank: true}) %>
              </div>
            </div>

            <%= hidden_field_tag 'parent', @content.id %>
            <div class="validation-container form-element" data-key="creative_work[datahash][headline]">
                <%= label_tag 'creative_work[datahash][headline]', 'Titel' %>
                <%= text_field_tag 'creative_work[datahash][headline]', '', class: 'form-control', value:'' %>
            </div>
            <%= submit_tag t(:submit, locale: DataCycleCore.ui_language), class: "button primary", data: { disable_with: t(:submit, locale: DataCycleCore.ui_language) } %>
        <% end %>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <% if DataCycleCore.features.dig(:life_cycle, :idea_collection) && (life_cycle_items.keys.index(@content.try(DataCycleCore.features.dig(:life_cycle, :attribute_key))&.first&.name)&.<= life_cycle_items.keys.index(DataCycleCore.features.dig(:life_cycle, :idea_collection, :life_cycle_stage))) %>
      <div class="reveal new-item" id="new-idea-collection" data-reveal>
          <h3><%= t('actions.new', data: DataCycleCore.features.dig(:life_cycle, :idea_collection, :template), locale: DataCycleCore.ui_language) %></h3>

          <%= form_for :creative_work, :url => {:action => "create"} do |f| %>
              <%= hidden_field_tag :type, :creative_works %>
              <%= hidden_field_tag 'template', DataCycleCore.features.dig(:life_cycle, :idea_collection, :template) %>
              <%= hidden_field_tag 'parent', @content.id %>
              <div class="validation-container form-element">
                  <%= label_tag 'creative_work[datahash][headline]', 'Titel' %>
                  <%= text_field_tag 'creative_work[datahash][headline]', '', class: 'form-control', value:'', required: true %>
              </div>
              <%= submit_tag t(:submit, locale: DataCycleCore.ui_language), class: "button primary", data: { disable_with: t(:submit, locale: DataCycleCore.ui_language) } %>
          <% end %>

          <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <% end %>

<% end %>
