
<% content_for :top_content do %>
   <div class="top-content text-center">
     <h2><%= @creativeWork.headline.html_safe %></h2>
     <div class="description">
       <% if !@creativeWork[:description].nil? %>
        <%= @creativeWork.description.html_safe %>
       <% end %>
     </div>
     <div class="tags">
       <% @creativeWork.classification_aliases.each do |classificationAlias| %>
           <span class="tag"><a href="#"><%= classificationAlias.name %></a></span>
       <% end %>
     </div>
     <%= link_to 'edit', edit_creative_work_path(@creativeWork) %>
   </div>
<% end %>

<%= form_for(@creativeWork) do |f| %>

    <%= f.text_field :headline, class: 'form-control' %>


    <div class="editor-block">
      <%= f.hidden_field :description %>
      <%= f.fields_for :description do |form|%>

          <div class="quill-editor" data-hidden-field-id="<%= "#{form.object_name}".gsub(/(\])?\[/, "_").chop %>">
            <% if !@creativeWork[:description].nil? %>
              <%= @creativeWork[:description].html_safe %>
            <% end %>

          </div>

      <% end %>

    </div>

    <%= f.submit "Update", class: "button primary" %>
<% end %>
