<% breadcrumb :show_history, @creativeWork %>

<% content_for :top_content do %>

    <div class="reveal-blur">

        <div id="edit-form">

            <section class="edit-header">
                <div class="row expanded">
                    <div class="column small-6">
                        <div class="edit-headline">
                            <i class="fa fa-history" aria-hidden="true"></i> <%= @creativeWork.content_type %> Version ansehen
                        </div>
                    </div>
                    <div class="column small-6 text-overflow-hidden">
                      <span class="type <%= @historySource.metadata['validation']['name'].downcase %>">
                          <%= render 'data_cycle_core/shared/icon', icon_type: @historySource.metadata['validation']['name'].downcase %>
                          <span class="title"><%= @historySource.content_type %></span>
                          <span class="language">(<%= I18n.locale %>)</span>
                      </span>
                      <%= render 'data_cycle_core/creative_works/partials/metaData', dataCycleObject: @creativeWork %>
                    </div>
                </div>
            </section>

            <div class="flex-box full-size">

                <% I18n.with_locale(@historySource.first_available_locale) do %>

                    <div class="detail-content">
                        <div class="show-content">
                            <div class="detail-header-info">
                                <%= render 'data_cycle_core/shared/history_links', dataCycleObject: @creativeWork, historyObject: @historySource %>

                            </div>

                            <%= render 'data_cycle_core/contents/viewers/metadata/releasable_viewer', value: @historySource.get_releasable_hash, key: 'creative_work', definition: {'type' => 'releasable'}, options:{compare: true, force_render: true} %>
                            <%= render_content_partial 'history', content: @historySource, schema: @historySchema, options: {force_render: true, compare: true} %>

                        </div>
                    </div>

                <% end %>

            </div>

        </div>

    </div>

<% end %>
