<% breadcrumb :show_history, @creativeWork, @watch_list %>

<% content_for :top_content do %>

    <div class="reveal-blur">

        <div id="edit-form">
            <section class="edit-header">
                <div class="row expanded">
                  <div class="column edit-header-functions">
                    <div class="edit-headline">
                        <i class="fa fa-history" aria-hidden="true"></i> <%= @creativeWork.content_type %> <%= t('common.compare', locale: DataCycleCore.ui_language) %>
                    </div>
                    <ul>
                      <li class="has-dropdown right">
                        <a id="show-history-link" data-toggle="show-history"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= t('common.version', locale: DataCycleCore.ui_language) %></a>
                        <%= render 'histories', content: @creativeWork %>
                      </li>
                      <li class="buttons"></li>
                    </ul>
                  </div>
                </div>
            </section>

            <div class="flex-box full-size detail-content-wrapper">

                <% I18n.with_locale(@historySource.first_available_locale) do %>

                    <div class="detail-content">
                        <div class="show-content">
                            <div class="detail-header-info">
                                <%= render 'history_meta_data', content: @historySource %>
                            </div>

                            <%= render 'data_cycle_core/contents/viewers/metadata/releasable_viewer', value: @historySource.get_releasable_hash, key: 'creative_work', definition: {'type' => 'releasable'}, options:{compare: true, force_render: true} %>

                        </div>
                    </div>
                    <%= render_content_partial 'history', content: @historySource, schema: @historySchema, options: {force_render: true, compare: true} %>

                <% end %>

            </div>

        </div>

    </div>

<% end %>
