<% breadcrumb :show_history, @creativeWork, @watch_list %>

<% content_for :top_content do %>

    <div class="reveal-blur">

        <div id="edit-form">
            <section class="edit-header">
                <div class="row expanded">
                  <div class="column edit-header-functions">
                    <div class="edit-headline">
                        <i class="fa fa-history" aria-hidden="true"></i> <%= @creativeWork.content_type %> <%= t('common.compare', locale: DataCycleCore.ui_language) %>
                    </div>
                    <ul>
                      <li class="has-dropdown right">
                        <a id="show-history-link" data-toggle="show-history"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= t('common.version', locale: DataCycleCore.ui_language) %></a>
                        <%= render 'histories', content: @creativeWork %>
                      </li>
                      <li class="buttons"></li>
                    </ul>
                  </div>
                </div>
            </section>

            <div class="flex-box detail-header-fixed">

                <% I18n.with_locale(@historySource.first_available_locale) do %>

                    <div class="detail-header-info no-transparency fixed">
                        <div class="type <%= @historySource.metadata['validation']['name'].downcase %>">
                            <span>Unterschiede zu Version</span>
                        </div>
                        <%#= render 'data_cycle_core/creative_works/partials/history/metaData', dataCycleObject: @creativeWork, historyObject: @historySource, history: true %>
                        <%= render 'data_cycle_core/shared/history_links', dataCycleObject: @creativeWork, historyObject: @historySource, history: true %>

                    </div>

                    <div class="row split-content detail-content">
                        <div class="show-content">
                            <div class="detail-header-info">
                                <div class="type <%= @historySource.metadata['validation']['name'].downcase %>">
                                    <span>Unterschiede zu Version: </span>
                                </div>
                                <%#= render 'data_cycle_core/creative_works/partials/history/metaData', dataCycleObject: @creativeWork, historyObject: @historySource, history: true %>
                                <%= render 'data_cycle_core/shared/history_links', dataCycleObject: @creativeWork, historyObject: @historySource, history: true %>

                            </div>

                            <%= render 'data_cycle_core/contents/viewers/metadata/releasable_viewer',
                                       value: @historySource.get_releasable_hash,
                                       key: 'creative_work',
                                       definition: {'type' => 'releasable'},
                                       options:{compare: true, force_render: true} if @historySource.metadata['validation'].dig('releasable') == true %>

                            <%= render_content_partial 'history', content: @historySource, schema: @historySchema, options: {force_render: true, compare: true} %>

                        </div>
                    </div>

                <% end %>

                <% I18n.with_locale(@creativeWork.first_available_locale) do %>

                    <div class="detail-header-info no-transparency fixed right">
                        <div class="type <%= @historySource.metadata['validation']['name'].downcase %>">
                            <span>Aktuelle Version</span>
                        </div>
                        <%= render 'data_cycle_core/creative_works/partials/history/metaData', dataCycleObject: @creativeWork, historyObject: @historySource %>
                    </div>

                    <div class="row split-content detail-content">
                        <div class="show-content">
                            <div class="detail-header-info">
                                <div class="type <%= @historySource.metadata['validation']['name'].downcase %>">
                                    <span>Aktuelle Version: </span>
                                </div>
                                <%= render 'data_cycle_core/creative_works/partials/history/metaData', dataCycleObject: @creativeWork, historyObject: @historySource %>
                            </div>

                            <%= render 'data_cycle_core/contents/viewers/metadata/releasable_viewer',
                                       value: @creativeWork.get_releasable_hash,
                                       key: 'creative_work',
                                       definition: {'type' => 'releasable'},
                                       options:{force_render: true} if @creativeWork.metadata['validation'].dig('releasable') == true %>

                            <%= render_content_partial 'history_details', content: @creativeWork, schema: @dataSchema, options: {force_render: true} %>

                        </div>

                    </div>

                <% end %>

            </div>

        </div>

    </div>

<% end %>
