
<% content_for :top_content do %>

    <div class="column detail-header-wrapper">

        <div class="detail-header">

            <a class="close-button" href="<%= @breadcrumbs[-2][2] %>"><i aria-hidden="true" class="fa fa-times"></i></a>

            <%= render 'data_cycle_core/watch_lists/partials/add_to_watchlist' %>

            <div class="topleftinfo">
                <div class="type <%= @creativeWork.metadata['validation']['name'].downcase %>">
                    <%= render 'data_cycle_core/shared/icon', icon_type: @creativeWork.metadata['validation']['name'].downcase %>
                    <span class="title"><%= @creativeWork.metadata['validation']['name'] %></span>
                </div>
                <%= render 'data_cycle_core/creative_works/partials/metaData' %>
            </div>

            <!--<a class="bookmark marked" href="#">-->
            <!--<span class="bookmarkinfo">zur Recherche hinzugefügt</span>-->
            <!--<i class="fa fa-bookmark-o" aria-hidden="true"></i>-->
            <!--</a>-->

            <div class="title">
                <!--todo: check if name is allready in use-->
                <% if !@creativeWork.content.nil? && !@creativeWork.content['headline'].blank? %>
                    <%= @creativeWork.content['headline'] %>
                <% elsif  !@creativeWork.content.nil? && !@creativeWork.content['name'].blank? %>
                    <%= @creativeWork.content['name'] %>
                <% end %>

            </div>

            <!--todo: only use description field ?-->
            <div class="description">
                <% if !@creativeWork[:description].nil? %>
                    <%= @creativeWork.description.html_safe %>
                <% end %>
                <% if !@creativeWork.content.nil? && !@creativeWork.content['text'].nil? %>
                    <%= @creativeWork.content['text'].html_safe %>
                <% end %>
            </div>


            <% if @creativeWork.metadata['validation']['name'] == "Bild" %>
                <% unless @creativeWork.display_classification_aliases.empty? %>
                    <div class="tags">
                        <div class="tag-group-wrapper">
                            <span class="icon"><i class="fa fa-tags" aria-hidden="true"></i></span>
                            <% @creativeWork.display_classification_aliases.each do |classificationAlias| %>
                                <span class="tag"><%= classificationAlias.name %></span>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <%= render 'data_cycle_core/creative_works/partials/show/top_content/classificationAliases' %>
            <% end %>

            <%= render 'data_cycle_core/creative_works/partials/show/top_content/validityPeriod' %>

            <% if !@creativeWork.metadata['validation']['permissions'].nil? && is_writable(@creativeWork.metadata['validation']['permissions']) %>

                <div class="edit">
                    <%= link_to edit_creative_work_path(@creativeWork), class:'button-prime small' do %>
                        <i class="fa fa-pencil" aria-hidden="true"></i><span>Bearbeiten</span>
                    <% end %>
                </div>

            <% end %>

        </div>

        <!--<%= render 'data_cycle_core/creative_works/partials/filter' if user_signed_in? %>-->

    </div>

    <% if @creativeWork.metadata['validation']['content_type'] == 'entity' %>

        <%= render 'data_cycle_core/backend/views' if user_signed_in? %>

    <% end %>

<% end %>

<section>

    <% if @creativeWork.metadata['validation']['content_type'] == 'entity' %>

        <% contentData = [] %>

        <% @creativeWork.walk_tree do |content, level| %>

            <% if content.metadata['validation']['content_type'] != 'embedded' %>
                <% contentData.push(content) %>
            <% end %>

        <% end %>

        <% if @mode == 'list' %>
            <%= render 'data_cycle_core/backend/partials/list', dataCycleObjects: contentData %>
        <% else %>
            <%= render 'data_cycle_core/backend/partials/grid', dataCycleObjects: contentData %>
        <% end %>

    <% end %>

</section>

<% if @creativeWork.metadata['validation']['content_type'] == 'variant' %>

    <div class="detail-content <%= @creativeWork.metadata['validation']['description'].downcase if !@creativeWork.metadata.nil? && !@creativeWork.metadata['validation'].nil? && !@creativeWork.metadata['validation']['description'].nil? %>">

        <div class="row align-center">

            <%= render 'data_cycle_core/creative_works/partials/show/'+@creativeWork.metadata['validation']['name'].downcase rescue render "data_cycle_core/creative_works/partials/show/default" %>
            <%= render 'data_cycle_core/creative_works/partials/show/translation/translations', language: nil %>

        </div>

    </div>

<% end %>
