
<% if !internal_template.metadata.nil? && !internal_template.metadata['validation'].nil? && !internal_template.metadata['validation']['name'].nil? %>

	<% embedded_object_key = key %>

		<% if !internal_objects.nil? && !internal_objects.empty? %>

			<% start_index = internal_objects.length %>

			<% internal_objects.each_with_index do |object,index| %>

				<% objectDataHash = object.get_data_hash %>

				<% if !object.metadata.nil? && !object.metadata['validation'].nil? %>

					<% validation_properties = get_ordered_validation_properties(object.metadata['validation']) %>

					<% if !validation_properties.nil? %>

					<div class="content-object-item" id="<%= embedded_object_key %>_item_<%= index %>">

						<span class="embedded-header"><%= render 'data_cycle_core/shared/icon', icon_type: internal_template.metadata['validation']['name'].downcase %> <%= prop['label'] %></span>

						<button class="button removeContentObject"><i class="fa fa-times"></i></button>

						<% if parent_object_keys.kind_of?(Array) && !parent_object_keys.empty? %>
							<%= data_cycle_hidden_field 'id', objectDataHash['id'], parent_object_keys + [embedded_object_key, index] %>
						<% else %>
							<%= data_cycle_hidden_field 'id', objectDataHash['id'], [embedded_object_key, index] %>
						<% end %>

						<% validation_properties.each do |key, prop| %>

							<div class="clearfix <%= 'form-element validation-container' unless prop['editor']['type'] == 'embeddedObject' %> <%= key %> <%= prop['editor']['type'] %>" data-label="<%= prop['label'] %>" <%= "tabindex=-1" unless prop['type'] == 'object' || prop['type'] == 'embeddedLinkArray' || prop['editor']['type'] == 'duration' %>>

							<% if prop['type'] == 'object' && !prop['properties'].nil? %>

								<% object_options = !prop['editor'].nil? && !prop['editor']['options'].nil? ? prop['editor']['options'] : nil %>
								<%= content_tag :div, object_options do %>

									<% object_properties = get_ordered_validation_properties(prop) %>
									<% object_properties.each do |object_key, object_property| %>

										<% object_value = objectDataHash[key].nil? ? "" : objectDataHash[key][object_key] %>
										<%= data_cycle_field object_key, object_property, object_value, {class: 'form-control'}, [embedded_object_key, index, key] %>

									<% end %>

								<% end %>

							<% elsif prop['type'] == 'object' %>

								<% object_value = !objectDataHash[key].nil? && !objectDataHash[key].blank? ? objectDataHash[key] : "" %>

								<% if parent_object_keys.kind_of?(Array) && !parent_object_keys.empty? %>
									<%= data_cycle_field key, prop, object_value, {class: 'form-control'}, parent_object_keys + [index, key] %>
								<% else %>
									<%= data_cycle_field key, prop, object_value, {class: 'form-control'}, [embedded_object_key, index] %>
								<% end %>

							<% else %>

								<% object_value = !objectDataHash[key].nil? && !objectDataHash[key].blank? ? objectDataHash[key] : "" %>

								<% if parent_object_keys.kind_of?(Array) && !parent_object_keys.empty? %>
									<%= data_cycle_field key, prop, object_value, {class: 'form-control'}, parent_object_keys + [embedded_object_key] + [index] %>
								<% else %>
									<%= data_cycle_field key, prop, object_value, {class: 'form-control'}, [embedded_object_key,index] %>
								<% end %>

							<% end %>

							</div>

						<% end %>

					</div>

					<% end %>

				<% end %>

			<% end %>

		<% end %>

		<% validation_properties = get_ordered_validation_properties(internal_template.metadata['validation']) %>

		<% max = !prop.nil? && !prop['validations'].nil? && !prop['validations']['maxLength'].nil? ? prop['validations']['maxLength'] : 0 %>

		<% if !validation_properties.nil? %>

		<embedded-objects embedded-object-key="<%= embedded_object_key %>" :max="<%= max %>" label="<%= prop['label'] %>">
			<template scope="props" slot="embedded-item">
				<span class="embedded-header"><%= render 'data_cycle_core/shared/icon', icon_type: internal_template.metadata['validation']['name'].downcase %> <%= prop['label'] %></span>

					<% validation_properties.each do |key, prop| %>

						<div class="clearfix <%= 'form-element validation-container' unless prop['editor']['type'] == 'embeddedObject' %> <%= key %> <%= prop['editor']['type'] %>" data-label="<%= prop['label'] %>" <%= "tabindex=-1" unless prop['type'] == 'object' || prop['type'] == 'embeddedLinkArray' || prop['editor']['type'] == 'duration' %>>

						<% if prop['type'] == 'object' && !prop['properties'].nil? %>

							<% object_options = !prop['editor'].nil? && !prop['editor']['options'].nil? ? prop['editor']['options'] : nil %>
							<%= content_tag :div, object_options do %>
								<!--<div class="object-title"><strong><%= prop['label'] %></strong></div>-->

								<% object_properties = get_ordered_validation_properties(prop) %>
								<% object_properties.each do |object_key, object_property| %>

									<% object_value = @dataSchema[key].nil? ? "" : @dataSchema[key][object_key] %>
									<%= data_cycle_field object_key, object_property, object_value, {class: 'form-control'}, [embedded_object_key, '0', key] %>

								<% end %>

							<% end %>

						<% elsif prop['type'] == 'object' %>

							<% if parent_object_keys.kind_of?(Array) && !parent_object_keys.empty? %>
								<%= data_cycle_field key, prop, "", {class: 'form-control'}, parent_object_keys + [embedded_object_key] + ['0', key] %>
							<% else %>
								<%= data_cycle_field key, prop, "", {class: 'form-control'}, [embedded_object_key, '0'] %>
							<% end %>

						<% else %>

							<% if parent_object_keys.kind_of?(Array) && !parent_object_keys.empty? %>
								<%= data_cycle_field key, prop, "", {class: 'form-control'}, parent_object_keys + [embedded_object_key] + ['0'] %>
							<% else %>
								<%= data_cycle_field key, prop, "", {class: 'form-control'}, [embedded_object_key,'0'] %>
							<% end %>

						<% end %>

						</div>

					<% end %>

			</template>
		</embedded-objects>

		<% end %>

<% end %>