<% object = ("DataCycleCore::"+("#{prop['type_name']}".classify)).constantize %>
<div class="form-element validation-container <%= key.split('[').last[0...-1] %>" data-label="<%= prop['label'] %>">
	<div class="object-browser" id="<%= sanitize_to_id(key) %>">
		<%= label_tag(key, prop['label']) %>
		<input type="text" disabled="disabled" />
		<div class="media-thumbs">

			<% if prop['label'] != 'Videos' %>
				<% existing = [] %>
				<% unless value.blank? %>
					<% value.each do |item| %>
						<% image = object.where(id: item).first %>
						<% existing << image %>
					<% end %>
				<% end %>

				<% min = 0 %>
				<% max = 0 %>
				<% if !prop['validations'].nil? && !prop['validations']['min'].nil? %>
					<% min = prop['validations']['min'] %>
				<% end %>

				<% if !prop['validations'].nil? && !prop['validations']['max'].nil? %>
					<% max = prop['validations']['max'] %>
				<% end %>

				<object-browser :existing="<%= existing.to_json %>" object-class="<%= object %>" :min="<%= min %>" :max="<%= max %>" object-type="<%= prop['editor']['options']['data-type'].downcase %>" :object-label="'<%= prop['label'] %>'" hidden-name="<%= key %>[]" :reveal-link="true">
					<template scope="props" slot="item">
						<div v-if="props.item != undefined" :data-open="props.dataOpen" :class="[props.item.metadata.restrictions != undefined && props.item.metadata.restrictions != '' && props.item.metadata.restrictions != 'Keine Einschränkung;' ? 'has-restrictions' : '', 'media thumbnail']" :style="{ backgroundImage: 'url('+props.item.metadata.thumbnailUrl+')' }">
							<span slot="remove" class="delete-thumbnail" href="#" @click.stop="props.remove(props.item, $event)"><i aria-hidden="true" class="fa fa-times"></i></span>
							<div class="description" v-if="props.item.headline">
								{{ props.item.headline }}
							</div>
							<span class="caption"></span><input type="hidden" name="<%= key %>[]" :value="props.item.id">
						</div>
						<div class="large reveal media-preview" :id="'media-reveal-'+props.item.id+'_'+props.uid" data-reveal>
								<button class="close-button" data-close aria-label="Close modal" type="button">
										<span aria-hidden="true">&times;</span>
								</button>
								<span class="preview-title" v-if="props.item.headline">
									{{ props.item.headline }}
								</span>
								<div class="image">
										<img :src="props.item.metadata.contentUrl" />
								</div>
								<div class="description">
										<!-- todo: check only for empty string -->
										<div v-if="props.item.metadata.restrictions != undefined && props.item.metadata.restrictions != '' && props.item.metadata.restrictions != 'Keine Einschränkung;'">
												<strong>Einschränkungen:</strong> {{ props.item.metadata.restrictions }} <br /><br />
										</div>
										<a :href="'/creative_works/'+props.item.id">zur Detailansicht</a> |
										<a :href="props.item.metadata.url" v-if="props.item.metadata.url != undefined && props.item.metadata.url != ''" target="_blank">im Medienarchiv öffnen</a>
								</div>
						</div>
					</template>
				</object-browser>

			<% end %>
		</div>
	</div>
</div>