
<% unless internal_template.nil? %>

	<h2>Zitat</h2>

	<% embedded_object_key = key %>

	<% if !internal_objects.nil? && !internal_objects.empty? %>


		<% internal_objects.each do |object| %>

			<%= debug(object) %>
			<%= debug(object.get_data_hash) %>

		<% end %>

	<% else %>

		<div class="contentObject datatype-<%= embedded_object_key %>">

			<% if !internal_template.metadata.nil? && !internal_template.metadata['validation'].nil? %>

				<% validation_properties = get_ordered_validation_properties(internal_template.metadata['validation']) %>

				<% if !validation_properties.nil? %>

					<% validation_properties.each do |key, prop| %>

						<% if prop['type'] == 'object' && !prop['properties'].nil? %>

							<% object_options = !prop['editor'].nil? && !prop['editor']['options'].nil? ? prop['editor']['options'] : nil %>
							<%= content_tag :div, object_options do %>
								<!--<div class="object-title"><strong><%= prop['label'] %></strong></div>-->

								<% prop['properties'].each do |object_key, object_property| %>

									<% object_value = @dataSchema[key].nil? ? "" : @dataSchema[key][object_key] %>

									<%= data_cycle_field object_key, object_property, object_value, {class: 'form-control'}, [embedded_object_key, key] %>

								<% end %>

							<% end %>

						<% else %>

							<%# object_value = !@dataSchema[embedded_object_key].nil? && !@dataSchema[embedded_object_key].empty? && !@dataSchema[embedded_object_key].first[key].nil? ? @dataSchema[embedded_object_key].first[key] : "" %>
							<%= data_cycle_field key, prop, "", {class: 'form-control'}, [embedded_object_key,''] %>

						<% end %>

					<% end %>

				<% end %>
			<% end %>
		</div>

	<% end %>

<% end %>