
<% if !internal_template.metadata.nil? && !internal_template.metadata['validation'].nil? && !internal_template.metadata['validation']['name'].nil? %>

	<% embedded_object_key = key %>

	<div class="contentObject datatype-<%= embedded_object_key %>">

	<h2><%= render 'data_cycle_core/shared/icon', icon_type: internal_template.metadata['validation']['name'].downcase %> <%= prop['label'].capitalize %></h2>

		<% if !internal_objects.nil? && !internal_objects.empty? %>

			<% start_index = internal_objects.length %>

			<% internal_objects.each_with_index do |object,index| %>

				<% objectDataHash = object.get_data_hash %>

				<% if !object.metadata.nil? && !object.metadata['validation'].nil? %>

					<% validation_properties = get_ordered_validation_properties(object.metadata['validation']) %>

					<% if !validation_properties.nil? %>

					<div class="content-object-item" id="<%= embedded_object_key %>_item_<%= index %>">

						<%= data_cycle_hidden_field 'id', objectDataHash['id'], [embedded_object_key,index] %>

						<% validation_properties.each do |key, prop| %>

							<% if prop['type'] == 'object' && !prop['properties'].nil? %>

								<% object_options = !prop['editor'].nil? && !prop['editor']['options'].nil? ? prop['editor']['options'] : nil %>
								<%= content_tag :div, object_options do %>

									<% prop['properties'].each do |object_key, object_property| %>

										<% object_value = objectDataHash[key].nil? ? "" : objectDataHash[key][object_key] %>
										<%= data_cycle_field object_key, object_property, object_value, {class: 'form-control'}, [embedded_object_key, index, key] %>

									<% end %>

								<% end %>

							<% else %>

								<% object_value = !objectDataHash[key].nil? && !objectDataHash[key].empty? ? objectDataHash[key] : "" %>

								<% if !parents.empty? %>
									<%= data_cycle_field key, prop, object_value, {class: 'form-control'}, parents + [index] %>
								<% else %>
									<%= data_cycle_field key, prop, object_value, {class: 'form-control'}, [embedded_object_key,index] %>
								<% end %>

							<% end %>

						<% end %>

						<button class="button removeContentObject"><i class="fa fa-times"></i></button>

					</div>

					<% end %>

				<% end %>

			<% end %>

		<% end %>

		<% validation_properties = get_ordered_validation_properties(internal_template.metadata['validation']) %>

		<% max = !prop.nil? && !prop['validations'].nil? && !prop['validations']['maxLength'].nil? ? prop['validations']['maxLength'] : 0 %>
		
		<% if !validation_properties.nil? %>

		<embedded-objects embedded-object-key="<%= embedded_object_key %>" :max="<%= max %>">
			<template scope="props" slot="embedded-item">

					<% validation_properties.each do |key, prop| %>

						<% if prop['type'] == 'object' && !prop['properties'].nil? %>

							<% object_options = !prop['editor'].nil? && !prop['editor']['options'].nil? ? prop['editor']['options'] : nil %>
							<%= content_tag :div, object_options do %>
								<!--<div class="object-title"><strong><%= prop['label'] %></strong></div>-->

								<% prop['properties'].each do |object_key, object_property| %>

										<% object_value = @dataSchema[key].nil? ? "" : @dataSchema[key][object_key] %>
										<%= data_cycle_field object_key, object_property, object_value, {class: 'form-control'}, [embedded_object_key, '0', key] %>

								<% end %>

							<% end %>

						<% elsif prop['type'] == 'object' %>

								<%#= data_cycle_field key, prop, "", {class: 'form-control'}, [embedded_object_key, '0'] %>
								<%= data_cycle_field key, prop, "", {class: 'form-control'}, [embedded_object_key, '0'] %>

						<% else %>

							<% if !parents.empty? %>
								<%= data_cycle_field key, prop, "", {class: 'form-control'}, parents + ['0'] %>
							<% else %>
								<%= data_cycle_field key, prop, "", {class: 'form-control'}, [embedded_object_key,'0'] %>
							<% end %>

						<% end %>

					<% end %>

			</template>
		</embedded-objects>
		<% end %>

	</div>

<% end %>