<% if content.try(:translated_locales)&.many? %>
  <span class="has-tip" title="<%= content.translated_locales.map{ |t| t("locales.#{t}", locale: DataCycleCore.ui_language) }.join("\n") %>"><i class="fa fa-language" aria-hidden="true"></i></span>
<% end %>

<%= tag.span(render('data_cycle_core/contents/grid/attributes/external_connections', content: content), class: 'tile-external-connections') if content.try(:external_source) || content.try(:external_systems).present? %>

<%= link_to thing_path(content), title: t('actions.show', locale: DataCycleCore.ui_language).capitalize, target: :_blank, class: "show-link" do %>
  <i class="fa fa-eye" aria-hidden="true"></i>
<% end if local_assigns[:definition] && definition['type'] == "linked" && @diff_source.nil? && can?(:show, content, :tile_buttons) %>

<%= link_to edit_thing_path(content, locale: I18n.locale), title: t('actions.edit', locale: DataCycleCore.ui_language).capitalize, target: :_blank, class: "edit-link" do %>
  <i class="fa fa-pencil" aria-hidden="true"></i>
<% end if local_assigns[:definition] && definition['type'] == "linked" && @diff_source.nil? && can?(:update, content, :tile_buttons) %>

<%= tag.span(tag.i(class: 'fa fa-times'), class: 'delete-thumbnail') if local_assigns[:removable] %>
