<%= render 'data_cycle_core/contents/grid/default', local_assigns do %>
  <%= yield_content!(:contents_grid_bild) %>

  <% if item.try(:thumbnail_url).present? %>
    <div class="image-thumbnail">
      <img style="aspect-ratio: <%= aspect_ratio(item) %>;" data-src="<%= item.try(:thumbnail_url) %>" alt="<%= item.try(:title) %>" class="lazyload" />
    </div>
  <% end %>
<% end %>
