<% if !language.nil? && language == "de" %>

    <% german = dataCycleObject.translations.select{|l| l['locale'] == language}.first %>
    <%= render 'data_cycle_core/creative_works/partials/show/translation/translation_item', translation: german, dataCycleObject: dataCycleObject %>

<% else %>

    <% languages = dataCycleObject.translations.select{|l| l['locale'] != I18n.locale.to_s} %>

    <% if languages.size > 0 %>
        <hr />

        <div class="type translations">
            <div class="header">
                <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
                <span class="title">Übersetzungen</span>
            </div>
            <ul class="tabs" data-tabs id="example-tabs">
                <% languages.each_with_index do |translation, index| %>
                    <li class="tabs-title <% if index == 0 %>is-active<% end  %>"><a href="#panel<%= index + 1 %>" aria-selected="true"><%= "#{available_locales_with_names[translation.locale]}" %> <span><%= "(#{translation.locale})" %></span></a></li>
                <% end %>
            </ul>
            <div class="tabs-content" data-tabs-content="example-tabs">
                <% languages.each_with_index do |translation, index| %>
                  <div class="tabs-panel" id="panel<%= index + 1 %>">
                    <h5><%= translation.title %></h5>
                    <p><%= render 'data_cycle_core/creative_works/partials/show/translation/translation_item', translation: translation, dataCycleObject: dataCycleObject %>
                    </p>
                  </div>
                <% end %>
            </div>
        </div>

    <% end %>

<% end %>
