<span class="watch-list-item" id="content-<%= content&.id %>-watch-list-<%= watchlist&.id %>">
  <span class="check"><i class="fa fa-check" aria-hidden="true"></i></span>
  <span class="watchlist-headline">
      <%= link_to add_item_watch_list_path(watchlist, hashable_type: content&.class&.name, hashable_id: content), class: 'add-to-watchlist-link', remote: true do %>
          <%= watchlist.headline %>
      <% end %>
  </span>
  <span class="change-link">
      <%= link_to add_item_watch_list_path(watchlist, hashable_type: content&.class&.name, hashable_id: content), class: 'add-to-watchlist-link', remote: true do %>
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <% end %>
  </span>
</span>
