<a id="add-to-watchlist-link" class="hascontent watch-lists-link" data-toggle="watch-lists-<%= content.id %>"><i class="fa <%= (@accessible_watch_lists - content.watch_lists).length < @accessible_watch_lists.length ? 'fa-bookmark' : 'fa-bookmark-o' %>" aria-hidden="true"></i><span> Zu Merkliste hinzufügen</span></a>
<ul class="dropdown-pane no-bullet bottom watch-lists" id="watch-lists-<%= content.id %>" data-dropdown data-hover="true" data-hover-pane="true">
    <% @accessible_watch_lists.each do |watchlist| %>
        <li>
            <% if content.watch_lists.include?(watchlist) %>
                <span class="watch-list-item">
                    <span class="check checked"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span class="watchlist-headline">
                        <%= watchlist.headline %>
                    </span>
                    <span class="change-link">
                    <%= link_to removeItem_watch_list_path(watchlist, hashable_type: content.class.name, hashable_id: content.id), class: 'remove-from-watchlist-link confirm', data: {'confirmation-text': 'Von Merkliste entfernen?'} do %>
                        <i aria-hidden="true" class="fa fa-times-circle"></i>
                    <% end %>
                    </span>
                </span>
            <% else %>
                <span class="watch-list-item">
                    <span class="check"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span class="watchlist-headline">
                        <%= link_to addItem_watch_list_path(watchlist, hashable_type: content.class.name, hashable_id: content), class: 'add-to-watchlist-link', data: {'confirmation-text': 'Von Merkliste entfernen?'} do %>
                            <%= watchlist.headline %>
                        <% end %>
                    </span>
                    <span class="change-link">
                        <%= link_to addItem_watch_list_path(watchlist, hashable_type: content.class.name, hashable_id: content), class: 'add-to-watchlist-link', data: {'confirmation-text': 'Von Merkliste entfernen?'} do %>
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <% end %>
                    </span>
                </span>
            <% end %>
        </li>
    <% end %>

    <%= render 'data_cycle_core/application/watch_lists/new', content: content %>

</ul>
