<a id="add-to-watchlist-link" class="hascontent watch-lists-link" data-toggle="watch-lists-<%= content.id %>"><i class="fa <%= (@accessible_watch_lists - content.watch_lists).length < @accessible_watch_lists.length ? 'fa-bookmark' : 'fa-bookmark-o' %>" aria-hidden="true"></i></a>
<div class="dropdown-pane no-bullet bottom watch-lists" id="watch-lists-<%= content.id %>" data-dropdown data-hover="true" data-hover-pane="true" data-content-id="<%= content&.id %>" data-content-type="<%= content&.class&.name %>">
    <h5>Zu Merkliste hinzufügen</h5>
    <ul class="list-items">
      <% @accessible_watch_lists.each do |watchlist| %>
          <li>
              <% if content.watch_lists.include?(watchlist) %>
                <%= render 'data_cycle_core/application/watch_lists/remove_link', local_assigns.merge({ watchlist: watchlist }) %>
              <% else %>
                <%= render 'data_cycle_core/application/watch_lists/add_link', local_assigns.merge({ watchlist: watchlist }) %>
              <% end %>
          </li>
      <% end %>
    </ul>

    <%= render 'data_cycle_core/application/watch_lists/new', local_assigns %>

</div>
