<li id="header-menu-watch-list-<%= watch_list&.id %>" class="<%= 'my-selection' if watch_list.my_selection %>">
  <span class="watch-list-item <%= watch_list.user == current_user ? 'private' : 'shared' %>">
    <span class="watchlist-name">
      <%= link_to watch_list_list_title(watch_list), watch_list_path(watch_list), class: "watchlist-link", title: watch_list.name %>
    </span>
    <span class="change-link">
      <% if watch_list.my_selection %>
        <%= render 'data_cycle_core/application/downloads/download_buttons', content: watch_list %>
        <%= render 'data_cycle_core/watch_lists/bulk_edit_button', collection: watch_list if can?(:bulk_edit, watch_list) %>
        <%= render 'data_cycle_core/watch_lists/clear_button', watch_list: watch_list if can?(:remove_item, watch_list) %>
      <% end %>
    </span>
  </span>
</li>
