<% collections, collection_groups, new_index, nested, group_title = get_collection_groups(local_assigns, true) %>

<%= conditional_tag(:div, nested, class: "collection-group accordion-item#{ ' is-active' if local_assigns[:collection_item_count].to_i < 11 }", data: { accordion_item: true }) do %>
  <%= link_to group_title, '#', class: 'accordion-title' if group_title.present? %>
  <%= conditional_tag :div, nested, class: 'accordion-content', data: { tab_content: true } do %>
    <% if collection_groups.except(nil).present? %>
      <div class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
        <%= render partial: 'data_cycle_core/application/watch_lists/readable_link_collection', collection: collection_groups.except(nil), as: :collection_group, locals: local_assigns.merge(collection_group_index: new_index, collection_item_count: collection_groups&.size.to_i + collection_groups[nil]&.size.to_i) %>
      </div>
    <% end %>

    <%= render partial: 'data_cycle_core/application/watch_lists/readable_link', collection: collection_groups[nil], as: :watch_list, locals: local_assigns %>
  <% end %>
<% end %>
