
<%= form_tag(root_path, :method => "get", id: "search-form") do %>

<section class="filters">
    <div class="search row expanded">
        <div class="column">
            <div class="search">
                <div class="input-group">
                    <div class="input-group-button">
                        <button type="submit" class="search_icon "><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    <%= text_field_tag :search, params[:search], placeholder: "Suchbegriff",class:"input-group-field" %>
                </div>
            </div>
        </div>
    </div>
    <div class="main-filters row expanded">
        <div class="column">
        <div class="row">        
        <% ['Themenbereiche', 'Bundesländer', 'Märkte', 'Inhaltstypen'].each do |label| %>
        <% selected_classifications = get_classifications_for_id(@classification_array, label)  %>
        <div class="your-choice tags">
            <span class="icon">
                <i class="fa fa-check" aria-hidden="true"></i><%= label %>:
            </span>

            <% unless selected_classifications.nil? %>
                <% selected_classifications.each do |selected| %>
                    <label for="<%= selected.id %>">
                        <a class="tag">
                            <%= selected.name %><i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </label>
                <% end %>
            <% end %>

        </div>
<% end %>
        </div>
            <div class="row">

                <nav id="primary_nav_wrap">
                    <ul>

                        <%# classification_alias_id = DataCycleCore::ClassificationAlias.joins(classification_trees: [:classification_tree_label]).where("classification_tree_labels.name = ?", 'Sonstiges').where("classification_aliases.name = ?",'Auslagenthema (Sehnsuchtsthema)').first.id %>
                        <%= render 'data_cycle_core/backend/partials/filter/themenbereiche', tree_label: 'Themenbereiche', display_label: 'Thema', classification_alias_id: nil, show_selected: true %>

                        <%= render 'data_cycle_core/backend/partials/filter/classification', tree_label: 'Bundesländer', display_label: 'Bundesland', classification_alias_id: nil %>
                        <%= render 'data_cycle_core/backend/partials/filter/classification', tree_label: 'Märkte', display_label: 'Zielmarkt', classification_alias_id: nil %>

                        <%= render 'data_cycle_core/backend/partials/filter/sprache'%>
                    
                        <%= render 'data_cycle_core/backend/partials/filter/contentType', tree_label: 'Inhaltstypen', display_label: 'Inhaltstyp', classification_alias_id: nil, show_selected: false %>

                        <!--
                        <%#= render 'data_cycle_core/backend/partials/filter/classification', tree_label: 'Inhaltspools', display_label: 'Inhaltspool', classification_alias_id: nil %>
                        -->
                    </ul>
                </nav>
                <button type="reset" id="reset-filter" class="button">Filter Zurücksetzen</button>
            </div>
        </div>
    </div>
</section>


<% end %>
