
<%= form_tag(root_path, :method => "get", id: "search-form") do %>

<section class="filters">
    <div class="row">
    <div class="column">

        <div class="search">
            <div class="search">
                <div class="input-group">
                    <div class="input-group-button">
                        <button type="submit" class="search_icon "><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    <%= text_field_tag :search, params[:search], placeholder: "Suchbegriff",class:"input-group-field" %>
                </div>
            </div>
        </div>

        <div class="main-filters">

            <nav id="primary_nav_wrap">
                <ul>

                    <%# classification_alias_id = DataCycleCore::ClassificationAlias.joins(classification_trees: [:classification_tree_label]).where("classification_tree_labels.name = ?", 'Sonstiges').where("classification_aliases.name = ?",'Auslagenthema (Sehnsuchtsthema)').first.id %>
                    <%= render 'data_cycle_core/backend/partials/filter/themenbereiche', tree_label: 'Themenbereiche', display_label: 'Thema', classification_alias_id: nil %>

                    <%= render 'data_cycle_core/backend/partials/filter/classification', tree_label: 'Bundesländer', display_label: 'Bundesland', classification_alias_id: nil %>
                    <%= render 'data_cycle_core/backend/partials/filter/classification', tree_label: 'Märkte', display_label: 'Zielmarkt', classification_alias_id: nil %>

                    <%= render 'data_cycle_core/backend/partials/filter/sprache'%>

                    <!--
                    <%#= render 'data_cycle_core/backend/partials/filter/classification', tree_label: 'Inhaltspools', display_label: 'Inhaltspool', classification_alias_id: nil %>
                    -->
                </ul>
            </nav>

        </div>

        <ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs large-accordion" data-allow-all-closed="true">
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title"><span><i class="fa fa-chevron-down" aria-hidden="true"></i> </span></a>
            <div class="accordion-content" data-tab-content>

                <%= render 'data_cycle_core/backend/partials/filter/contentType', tree_label: 'Inhaltstypen', display_label: 'Inhaltstyp', classification_alias_id: nil %>

                <%= render 'data_cycle_core/backend/partials/filter/moreFilter', tree_label: 'Inhaltsarten', display_label: 'Inhaltsart', classification_alias_id: nil %>

                <%= render 'data_cycle_core/backend/partials/filter/moreFilter', tree_label: 'Jahreszeiten', display_label: 'Jahreszeit', classification_alias_id: nil %>

            </div>
          </li>
        </ul>

 <!--   </div>
    </div>
    <div class="row">
    <div class="columns large-8 small-12">-->

        <div class="filtertags activefilter">
            <span class="icon"><i class="fa fa-check" aria-hidden="true"></i> <strong>Angewendete Filter:</strong> </span>
            <% ['Themenbereiche', 'Bundesländer', 'Märkte', 'Inhaltstypen', 'Inhaltsarten', 'Jahreszeiten'].each do |label| %>
                <% selected_classifications = get_classifications_for_id(@classification_array, label)  %>
                <span class="your-choice tags <%= label.downcase %>" style="<%= "display: none;" if selected_classifications.blank? %>">
                    <i class="choice-label"><%= label %>:</i>
                    <% unless selected_classifications.blank? %>
                        <% selected_classifications.each do |selected| %>
                            <label for="<%= selected.id %>">
                                <a class="tag">
                                    <%= selected.name %><i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </label>
                        <% end %>
                    <% end %>
                </span>
            <% end %>
        </div>

        <!--<div class="filtertags">
            <span class="icon"><i class="fa fa-check" aria-hidden="true"></i> <strong>Neu ausgewählte Filter:</strong></span>
            <span class="your-choice tags">


                        <label for="a2afe096-2e40-4a46-8c5e-53b6840adb85">
                            <a class="tag">
                                Most<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="a9fe10fa-1d81-4a67-b789-ccf61127d083">
                            <a class="tag">
                                Schnaps<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>

                        <label for="f6c30b38-1d14-443e-9096-44541a4f0da3">
                            <a class="tag">
                                Kroatien<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="15210d5e-d82b-4a9c-8f60-0a28ef8265d5">
                            <a class="tag">
                                Polen<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="fdd8690a-0ecc-4a99-8e6c-19e75b703106">
                            <a class="tag">
                                Schweden<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="0eba11e4-9a49-4f9e-bbec-5df124cfa4ba">
                            <a class="tag">
                                Spanien<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="480ae1ad-735b-43f9-b2ac-da8214defd56">
                            <a class="tag">
                                Ukraine<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>

                        <label for="09eb945b-c44c-40c5-883f-1599f9d954f1">
                            <a class="tag">
                                Angebot<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="4047c3c5-7a4f-47ab-96e9-1325556b4e96">
                            <a class="tag">
                                Angebotszeitraum<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="c2bd2070-8e4e-441a-8768-0d0da661fd5f">
                            <a class="tag">
                                App<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="123f478c-ff1b-4762-8840-d2bdeb8a92b1">
                            <a class="tag">
                                Audio<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="d2050356-d0c5-49fd-af60-234ee3760682">
                            <a class="tag">
                                Bild<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="9ca2e05d-53da-4c66-a750-068938501767">
                            <a class="tag">
                                Firma<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="2d512e7d-e9bc-4b92-b9a7-95e416476815">
                            <a class="tag">
                                Person<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="c27a0a95-4f8e-4106-9709-e9b01036148a">
                            <a class="tag">
                                Quiz<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="8af54e98-b485-4da8-a068-3f2c7a9715b5">
                            <a class="tag">
                                Statistik<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="f99a756a-db0a-4ce1-9a1e-a46300cf10a7">
                            <a class="tag">
                                Artikel<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
                        <label for="691da031-20e8-4a1b-94a6-e48dda21b10e">
                            <a class="tag">
                                Biografie<i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </label>
            </span>
        </div>-->

    <div class=" filterbuttons"><!--columns large-4 small-12-->

        <button type="reset" id="reset-filter" class="button">Alle zurücksetzen</button>
        <%= button_tag("Filter anwenden", class: "button success") %>

    </div>

</div>
</div>
</section>


<% end %>
