
<%= form_tag(root_path, :method => "get", id: "search-form") do %>

<section class="filters">

    <div class="main-filters row expanded" style="display:none;">
        <div class="column">
            <div class="row">

                <nav id="primary_nav_wrap">
                    <ul>

                        <%# classification_alias_id = DataCycleCore::ClassificationAlias.joins(classification_trees: [:classification_tree_label]).where("classification_tree_labels.name = ?", 'Sonstiges').where("classification_aliases.name = ?",'Auslagenthema (Sehnsuchtsthema)').first.id %>
                        <%= render 'data_cycle_core/backend/partials/filter/themenbereiche', tree_label: 'Themenbereiche', display_label: 'Thema', classification_alias_id: nil %>

                        <%= render 'data_cycle_core/backend/partials/filter/classification', tree_label: 'Bundesländer', display_label: 'Bundesland', classification_alias_id: nil %>
                        <%= render 'data_cycle_core/backend/partials/filter/classification', tree_label: 'Märkte', display_label: 'Zielmarkt', classification_alias_id: nil %>

                        <%= render 'data_cycle_core/backend/partials/filter/sprache'%>

                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <div class="search row expanded">
        <div class="column">
            <div class="search">
                <div class="input-group">
                    <div class="input-group-button">
                        <button type="submit" class="search_icon "><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    <%= text_field_tag :search, params[:search], placeholder: "Suchbegriff",class:"input-group-field" %>
                </div>
            </div>
        </div>
    </div>

</section>


<% end %>