<% objects.presence&.each_with_index do |object, index| %>

    <% I18n.with_locale(object.first_available_locale) do %>

        <% original_object = find_original_object original_objects, object.id %>
        <% object_has_changed = mode == 'edit' ? get_object_changes(object, original_object) : true %>

        <%= render 'data_cycle_core/contents/viewers/attribute_viewer',
                    key: key,
                    definition: definition,
                    value: value,
                    options: options.merge({ hide_label: true, item_diff: object_has_changed, mode: mode }),
                    data_attributes: { id: object.id.split(','), editor: definition['editor']['type'] } do %>

            <span class="detail-label">
                <%= render 'data_cycle_core/shared/icon', icon_type: object.template_name.downcase %><strong><%= definition['label'].capitalize %> <%= content_tag(:span, index + 1) if objects.size.positive? %></strong>
            </span>

            <% unless object.schema.nil? %>

                <% validation_properties = get_ordered_validation_properties(object.schema) %>

                <% validation_properties.presence&.each do |key, prop| %>

                    <% object_value = object.try(key.to_sym) %>

                    <% item_has_changed = mode == 'edit' ? get_object_item_has_changed(key, prop, object_value, object_has_changed, definition) : false %>

                    <%= render_attribute_history_viewer key: key, definition: prop, value: object_value, parameters: { options: options.merge({ item_diff: item_has_changed, original_objects: original_object, mode: mode }), content: object } %>

                <% end %>

            <% end %>

        <% end %>

    <% end %>

<% end %>
