<ul id="<%= local_assigns[:key].present? ? "#{sanitize_to_id(key)}_asset_list" : 'single_asset_list' %>" class="asset-list no-bullet <%= local_assigns[:class] %>" data-asset-types="<%= local_assigns[:asset_types] %>" data-selected="<%= local_assigns[:selected] %>">
  <% assets.presence&.each do |asset| %>
    <li class="<%= 'active' if local_assigns[:selected] == asset.id %>" data-id="<%= asset.id %>">
      <a href="#" class="asset-deselect" title="<%= t('actions.delete', locale: DataCycleCore.ui_language) %>"><i class="fa fa-times" aria-hidden="true"></i></a>
      <%= render_asset_viewer(key: nil, definition: nil, value: asset) %>
    </li>
  <% end %>
</ul>
