<a data-toggle="download_<%= watch_list.id %>" class="button-prime small download-content-link" title="<%= t('actions.download_asset', locale: DataCycleCore.ui_language).capitalize %>" data-tooltip>
    <i class="fa fa-download" aria-hidden="true"></i>
</a>

<div class="reveal download-content-reveal"
     id="download_<%= watch_list.id %>"
     data-reveal>
    <h3 class="new_content_form_title"><%= t('common.download_content', locale: DataCycleCore.ui_language) %></h3>

    <% DataCycleCore::Feature::Download.available_collection_serializers('watch_list').each_key do |serializer_key| %>

        <%= link_to download_watch_list_path(watch_list, serializer_key), class:'small download-content-link', title: t('actions.download_asset', locale: DataCycleCore.ui_language).capitalize do %>
            <i class="fa fa-download" aria-hidden="true"></i>
            <span><%= serializer_key.camelize %></span>
        <% end if can? :download, watch_list %>

    <% end %>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>