<%= form_with model: content, local: true, html: { class: 'edit-content-form validation-form' } do |f| %>
  <%= hidden_field_tag 'uuid', content.id %>
  <%= hidden_field_tag :table, content.class.table_name %>

  <section class="edit-header">
    <div class="row expanded">
      <div class="column edit-header-functions">
        <div class="edit-name">
          <i class="fa fa-pencil" aria-hidden="true"></i> <%= DataCycleCore::WatchList.model_name.human(count: 1, locale: active_ui_locale) %> bearbeiten
        </div>
        <ul>
          <li class="buttons">
            <%= link_to previous_authorized_crumb.url do %>
              <button type="button" class="button discard top" title="<%= t('actions.discard_changes', locale: active_ui_locale) %>"><i class="fa fa-times" aria-hidden="true"></i></button>
            <% end if previous_authorized_crumb.present? %>

            <%= tag.button(
              tag.i(class: 'fa fa-check'),
              class: 'button-prime submit submit-edit-form',
              data: {
                dc_tooltip: t('actions.save_changes', locale: active_ui_locale),
                disable_with: tag.i(class: 'fa fa-circle-o-notch fa-spin fa-fw')
              }
            ) %>
          </li>
        </ul>

      </div>
    </div>
  </section>

  <div class="row">
    <div class="column">
      <div class="detail-header editor">

        <div class="detail-header-info">
          <span class="icon">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
          </span>
          <span class="title"><%= DataCycleCore::WatchList.model_name.human(count: 1, locale: active_ui_locale) %></span>
        </div>

        <div class="form-element input name validation-container" data-key="watch_list[full_path]">
          <%= f.label :full_path do %>
            <%= DataCycleCore::WatchList.human_attribute_name(:full_path, locale: active_ui_locale) %>
            <%= tag.i '*', class: 'required-field-marker', data: { dc_tooltip: t('common.required_field', locale: active_ui_locale) } %>
          <% end %>

          <%= f.text_field :full_path, data: { validate: 'text' } %>
        </div>

        <%= f.fields_for :collection_configuration, content.collection_configuration || DataCycleCore::CollectionConfiguration.new do |cc_form| %>
          <% if can?(:update_description, content) %>
            <div class="form-element input description" data-key="watch_list[collection_configuration][description]">
              <div class="editor-block">
                <%= cc_form.label :description %>
                <% description_id = [cc_form.options[:namespace], (cc_form.object_name + '[description]').underscore_blanks].compact.join('_') %>
                <%= cc_form.hidden_field :description %>

                <div class="quill-editor" data-hidden-field-id="<%= description_id %>" data-size="none" data-default-value="<%= content&.description %>">
                  <%= content&.description&.html_safe %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if !content.my_selection %>
          <div class="form-element check_box manual_order dc-checkbox" data-key="watch_list[manual_order]">
            <%= f.check_box :manual_order %>
            <%= f.label :manual_order, DataCycleCore::WatchList.human_attribute_name(:manual_order, locale: active_ui_locale) %>
          </div>
        <% end %>

        <% if can? :change_owner, content %>
          <div class="form-element">
            <div class="v-select">
              <%= f.label :user_id, DataCycleCore::WatchList.human_attribute_name(:user_id, locale: active_ui_locale) %>
              <%= hidden_field_tag 'watch_list[user_id]', nil, id: 'hidden_watch_list_user_id' %>
              <%= select_tag('watch_list[user_id]', options_for_select(DataCycleCore::User.includes(:role, :user_groups).order(email: :asc).filter { |u| u.can?(:create, DataCycleCore::WatchList) }.map { |c| [c.full_name, c.id, { title: c.email }] }, content.user&.id), { class: 'single-select', data: { allow_clear: false } }) %>
            </div>
          </div>
        <% end %>

        <% if can?(:create_api, content) %>
          <div class="form-element check_box api dc-checkbox" data-key="watch_list[api]">
            <%= f.check_box :api %>
            <%= f.label :api, DataCycleCore::WatchList.human_attribute_name(:api, locale: active_ui_locale) %>
          </div>
        <% end %>

        <% if can? :share, content %>
          <div class="form-element">
            <div class="v-select">
              <%= f.label :user_group_ids, DataCycleCore::WatchList.human_attribute_name(:user_group_ids, locale: active_ui_locale) %>
              <%= f.collection_select(:user_group_ids, DataCycleCore::UserGroup.all, :id, :name, {}, { class: 'multi-select', multiple: true, data: { placeholder: '' } }) %>
            </div>
          </div>
        <% end %>

        <% if can? :share, content %>
          <div class="form-element">
            <div class="v-select">
              <%= f.label :user_ids, DataCycleCore::WatchList.human_attribute_name(:user_ids, locale: active_ui_locale) %>
              <%= hidden_field_tag 'watch_list[user_ids][]', nil, id: 'hidden_watch_list_user_ids' %>
              <%= f.select(
                  :user_ids,
                  content.users.map { |u| u.to_select_option(active_ui_locale) }.map(&:to_option_for_select),
                  {
                    include_blank: true
                  },
                  {
                    multiple: true,
                    class: 'async-select',
                    data: {
                      max: 20,
                      placeholder: '',
                      search_path: search_users_path,
                      close_on_select: false
                    }
                  }
                ) %>
            </div>
          </div>
        <% end %>

        <%= f.fields_for :collection_configuration, content.collection_configuration || DataCycleCore::CollectionConfiguration.new do |cc_form| %>
          <div class="form-element input slug" data-key="watch_list[collection_configuration][slug]">
            <%= cc_form.label :slug do %>
              <%= DataCycleCore::CollectionConfiguration.human_attribute_name(:slug, locale: active_ui_locale) %>
            <% end %>

            <%= cc_form.text_field :slug %>
          </div>
        <% end unless content.my_selection %>
      </div>
    </div>
  </div>

<% end %>
