<%= form_with model: content, local: true, html: { class: 'edit-content-form validation-form' } do |f| %>
  <%= hidden_field_tag 'uuid', content.id %>
  <%= hidden_field_tag :table, content.class.model_name.route_key %>

  <section class="edit-header">
    <div class="row expanded">
      <div class="column edit-header-functions">
        <div class="edit-name">
          <i class="fa fa-pencil" aria-hidden="true"></i> <%= DataCycleCore::WatchList.model_name.human(count: 1, locale: active_ui_locale) %> bearbeiten
        </div>
        <ul>
          <li class="buttons">
            <%= link_to previous_authorized_crumb.url do %>
              <button type="button" class="button discard top" title="<%= t('actions.discard_changes', locale: active_ui_locale) %>"><i class="fa fa-times" aria-hidden="true"></i></button>
            <% end if previous_authorized_crumb.present? %>

            <%= tag.button(
              tag.i(class: 'fa fa-check'),
              class: 'button-prime submit submit-edit-form',
              data: {
                dc_tooltip: t('actions.save_changes', locale: active_ui_locale),
                disable_with: tag.i(class: 'fa fa-circle-o-notch fa-spin fa-fw')
              }
            ) %>
          </li>
        </ul>

      </div>
    </div>
  </section>

  <div class="row">
    <div class="column">
      <div class="detail-header editor">

        <div class="detail-header-info">
          <span class="icon">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
          </span>
          <span class="title"><%= DataCycleCore::WatchList.model_name.human(count: 1, locale: active_ui_locale) %></span>
        </div>

        <div class="form-element input name validation-container" data-key="watch_list[full_path]">
          <%= f.label :full_path do %>
            <%= DataCycleCore::WatchList.human_attribute_name(:full_path, locale: active_ui_locale) %>
            <%= tag.i '*', class: 'required-field-marker', data: { dc_tooltip: t('common.required_field', locale: active_ui_locale) } %>
          <% end %>

          <%= f.text_field :full_path, data: { validate: 'text' } %>
        </div>

        <% if can?(:update_description, content) %>
          <div class="form-element input description" data-key="watch_list[description]">
            <div class="editor-block">
              <%= f.label :description %>
              <% description_id = [f.options[:namespace], f.object_name, 'description'].compact.join('_') %>
              <%= f.hidden_field :description %>

              <div class="quill-editor" data-hidden-field-id="<%= description_id %>" data-size="none" data-default-value="<%= content&.description %>">
                <%= content&.description&.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless content.my_selection %>
          <div class="form-element input slug" data-key="watch_list[slug]">
            <%= f.label :slug do %>
              <%= DataCycleCore::WatchList.human_attribute_name(:slug, locale: active_ui_locale) %>
            <% end %>

            <%= f.text_field :slug %>
          </div>
        <% end %>

        <% if can? :change_owner, content %>
          <div class="form-element owner">
            <div class="v-select">
              <%= f.label :user_id, DataCycleCore::WatchList.human_attribute_name(:user_id, locale: active_ui_locale) %>
              <%= f.select(
                  :user_id,
                  Array.wrap(content.user).map { |u| u.to_select_option(active_ui_locale) }.map(&:to_option_for_select),
                  {},
                  {
                    class: 'async-select',
                    data: {
                      allow_clear: false,
                      max: 20,
                      placeholder: '',
                      search_path: search_users_path
                    }
                  }
                ) %>
            </div>
          </div>
        <% end %>

        <% if can?(:share, content) %>
          <div class="form-element shared_users">
            <div class="v-select">
              <%= f.label :shared_user_ids, DataCycleCore::WatchList.human_attribute_name(:shared_users, locale: active_ui_locale) %>
              <%= f.select(
                  :shared_user_ids,
                  content.shared_users.to_select_options(active_ui_locale).map(&:to_option_for_select),
                  {
                    include_blank: true
                  },
                  {
                    multiple: true,
                    class: 'async-select',
                    data: {
                      max: 20,
                      placeholder: '',
                      search_path: search_users_path
                    }
                  }
                ) %>
            </div>
          </div>

          <div class="form-element shared_user_groups">
            <div class="v-select">
              <%= f.label :shared_user_group_ids, DataCycleCore::WatchList.human_attribute_name(:shared_user_groups, locale: active_ui_locale) %>
              <%= f.select(
                  :shared_user_group_ids,
                  DataCycleCore::UserGroup.all.order(name: :asc).to_select_options(active_ui_locale).map(&:to_option_for_select),
                  {
                    include_blank: true
                  },
                  {
                    multiple: true,
                    class: 'multi-select',
                    data: {
                      placeholder: ''
                    }
                  }
                ) %>
            </div>
          </div>

          <div class="form-element shared_roles">
            <div class="v-select">
              <%= f.label :shared_role_ids, DataCycleCore::WatchList.human_attribute_name(:shared_roles, locale: active_ui_locale) %>
              <%= f.select(
                  :shared_role_ids,
                  DataCycleCore::Role.all.order(rank: :asc).to_select_options(active_ui_locale).map(&:to_option_for_select),
                  {
                    include_blank: true
                  },
                  {
                    multiple: true,
                    class: 'multi-select',
                    data: {
                      placeholder: ''
                    }
                  }
                ) %>
            </div>
          </div>
        <% end %>

        <% if can?(:create_api, content) %>
          <div class="form-element check_box api dc-checkbox" data-key="watch_list[api]">
            <%= f.check_box :api %>
            <%= f.label :api, DataCycleCore::WatchList.human_attribute_name(:api, locale: active_ui_locale) %>
          </div>

          <% if can?(:share, content) %>
            <div class="form-element linked_stored_filter">
              <div class="v-select">
                <%= f.label :linked_stored_filter_id, DataCycleCore::StoredFilter.human_attribute_name(:linked_stored_filter, locale: active_ui_locale) %>
                <%= f.select(
                    :linked_stored_filter_id,
                    [content.linked_stored_filter&.to_select_option&.to_option_for_select].compact,
                    {
                      include_blank: true
                    },
                    {
                      class: 'async-select',
                      data: {
                        max: 20,
                        placeholder: '',
                        search_path: search_stored_filters_path
                      }
                    }
                  ) %>
              </div>
            </div>

            <div class="form-element classification_tree_labels">
              <div class="v-select">
                <%= f.label :classification_tree_labels, DataCycleCore::StoredFilter.human_attribute_name(:concept_schemes, locale: active_ui_locale) %>
                <%= f.select(
                  :classification_tree_labels,
                  DataCycleCore::ClassificationTreeLabel.all.order(name: :asc).to_select_options(active_ui_locale).map(&:to_option_for_select),
                  {
                    include_blank: true
                  },
                  {
                    multiple: true,
                    class: 'multi-select',
                    data: {
                      placeholder: ''
                    }
                  }
                ) %>
              </div>
            </div>
          <% end %>
        <% end %>

        <% unless content.my_selection %>
          <div class="form-element check_box manual_order dc-checkbox" data-key="watch_list[manual_order]">
            <%= f.check_box :manual_order %>
            <%= f.label :manual_order, DataCycleCore::WatchList.human_attribute_name(:manual_order, locale: active_ui_locale) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
