<% breadcrumb @watch_list %>

<% content_for :top_content do %>

    <div class="column detail-header-wrapper">

            <div class="detail-header">

                <div class="detail-header-functions">
                    <ul class="no-bullet">
                        <% if can? :manage, @data_link %>
                            <li><%= render 'data_links', content: @watch_list %></li>
                        <% end %>
                        <li class="buttons"><a href="<%= breadcrumbs[-2].url %>" class="hascontent close-show-button"><i aria-hidden="true" class="fa fa-times"></i></a></li>
                    </ul>
                </div>

            <div class="detail-header-info">
                <div class="type watchlist">
                    <%= render 'data_cycle_core/shared/icon', icon_type: 'merkliste' %>
                    <span class="title">Merkliste</span>
                </div>
            </div>

            <div class="title">

                <% if !@watch_list.nil? && !@watch_list.headline.nil? %>
                    <%= @watch_list.headline %>
                <% end %>

            </div>

            <div class="edit">
                <% if can? :edit, @watch_list %>
                    <%= link_to edit_watch_list_path(@watch_list), class:'button-prime small' do %>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    <% end %>
              <% end %>
               <% if can? :destroy, @watch_list %>
                    <%= link_to @watch_list, method: :delete, class:'button-prime small alert confirm', data: { 'confirmation-text': "Merkliste löchen?"} do %>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <% end %>
                <% end %>
            </div>

        </div>

    </div>

    <%= render 'filter_minimal' if user_signed_in? %>

    <%#= render 'data_cycle_core/backend/views' if user_signed_in? %>

<% end %>

<div class="detail-content watchlist">

    <div class="row">

        <%= render 'results', contents: @contents unless @contents.nil? %>

    </div>

</div>
