<% breadcrumb :show, @watch_list, :name %>

<% content_for :top_content do %>

    <div class="column detail-header-wrapper">

            <div class="detail-header">

                <div class="detail-header-functions">
                    <ul class="no-bullet">
                        <li>
                          <div id="show-history-link" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>
                            <%= t('history.created_at', locale: DataCycleCore.ui_language) %> <%= l(Time.zone.at(Time.zone.at(@watch_list&.created_at)), locale: DataCycleCore.ui_language) %>
                            <span> <%= t('terms.from', locale: DataCycleCore.ui_language) %> </span>
                            <span><strong><a class="email-link" href="mailto:<%= "#{@watch_list&.user&.email}" %>"><%= "#{@watch_list&.user&.full_name}" %></a></strong></span>
                          </div>
                        </li>

                        <li>
                          <%= tag.span tag.i(class: 'fa fa-language', aria_hidden: true),
                            class: 'link',
                            data: {
                              tooltip: @watch_list.things.present? ? true : nil,
                              allow_html: true
                            },
                            title: @watch_list
                              .things.includes(:translations)
                              .map { |t| t.try(:available_locales) }.flatten.uniq
                              .map { |t| t("locales.#{t}", locale: DataCycleCore.ui_language) }
                              .join('<br />') %>
                        </li>
                        <%= tag.li render('data_links', content: @watch_list) if can?(:index, DataCycleCore::DataLink) %>
                        <li class="buttons">
                            <%= link_to previous_authorized_crumb.url, class: 'hascontent close-show-button' do %>
                              <i aria-hidden="true" class="fa fa-times"></i>
                            <% end if previous_authorized_crumb.present? %>
                        </li>
                    </ul>
                </div>

            <div class="detail-header-info">
                <div class="type watchlist">
                    <%= render 'data_cycle_core/shared/icon', icon_type: 'merkliste' %>
                    <span class="title"><%= DataCycleCore::WatchList.model_name.human(count: 1, locale: DataCycleCore.ui_language) %></span>
                    <% if can?(:edit, @watch_list) && !can?(:remove_item, @watch_list) %>
                      <i class="fa fa-exclamation-circle" data-tooltip title="<%= t('data_cycle_core.watch_list.locked_by_data_link', locale: DataCycleCore.ui_language) %>" aria-hidden="true"></i>
                    <% end %>
                </div>
            </div>

            <div class="title">
                <%= @watch_list&.name %>
            </div>

            <% if @watch_list.users.any? %>
                <div class="description watchlist">
                    <i class="fa fa-user"></i>
                    <%= safe_join(@watch_list.users.map{ |u| tag.span(u.full_name, title: u.email) }, ', ') %>
                </div>
            <% end %>

            <% if @watch_list.user_groups.any? %>
                <div class="description watchlist">
                    <i class="fa fa-users"></i>
                    <%= @watch_list.user_groups.map(&:name).join(', ') %>
                </div>
            <% end %>

            <div class="edit">
                <% if can? :edit, @watch_list %>
                    <%= link_to edit_watch_list_path(@watch_list), class:'button-prime small edit-content-link', data: { tooltip: true }, title: t('actions.edit', locale: DataCycleCore.ui_language).capitalize do %>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    <% end %>
              <% end %>
               <% if can? :destroy, @watch_list %>
                    <%= link_to @watch_list, method: :delete, class:'button-prime small alert', data: { tooltip: true, confirm: "#{@watch_list.model_name.human(locale: DataCycleCore.ui_language)} #{t('actions.delete', locale: DataCycleCore.ui_language)}?" }, title: t('actions.delete', locale: DataCycleCore.ui_language).capitalize do %>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <% end %>
                <% end %>
            </div>

        </div>

    </div>

<% end %>

<div class="detail-content watchlist">

    <div class="row">
        <%= render 'filter', filter: { classification_trees: ['Inhaltstypen'], search: true, language: true, collapse: true } %>

        <%= render 'results', contents: @contents unless @contents.nil? %>

    </div>

</div>
