<% breadcrumb @watch_list %>

<% content_for :top_content do %>

    <div class="column detail-header-wrapper">

            <div class="detail-header">

                <div class="detail-header-functions">
                    <ul class="no-bullet">
                        <% if can? :manage, @data_link %>
                            <li><%= render 'data_cycle_core/shared/data_links', dataCycleObject: @watch_list %></li>
                        <% end %>
                        <li><a href="<%= breadcrumbs[-2].url %>" class="hascontent"><i aria-hidden="true" class="fa fa-times"></i></a></li>
                </ul>
            </div>

            <div class="detail-header-info">
                <div class="type watchlist">
                    <%= render 'data_cycle_core/shared/icon', icon_type: 'merkliste' %>
                    <span class="title">Merkliste</span>
                </div>
            </div>

            <div class="title">

                <% if !@watch_list.nil? && !@watch_list.headline.nil? %>
                    <%= @watch_list.headline %>
                <% end %>

            </div>

            <% if can? :edit, @watch_list %>
                <div class="edit">
                    <%= link_to edit_watch_list_path(@watch_list), class:'button-prime small' do %>
                        <i class="fa fa-pencil" aria-hidden="true"></i><span>Bearbeiten</span>
                    <% end %>
                </div>
            <% end %>

            <% if can? :destroy, @watch_list %>
                <div class="destroy">
                    <%= link_to @watch_list, method: :delete, class:'button-prime small alert confirm', data: { 'confirmation-text': "Merkliste löchen?"} do %>
                        <i class="fa fa-trash-o" aria-hidden="true"></i><span>Löschen</span>
                    <% end %>
                </div>
            <% end %>

        </div>

    </div>

<% end %>

<section>
    <br /><br />
</section>

<div class="detail-content watchlist">

    <div class="row">

        <%= render 'data_cycle_core/watch_lists/partials/show/watch_list' %>

    </div>

</div>