<% breadcrumb :show, @watch_list, :name %>

<% content_for :top_content do %>

    <div class="column detail-header-wrapper">

        <div class="detail-header">

            <div class="detail-header-functions">
                <ul class="no-bullet">
                    <li>
                        <div id="show-history-link" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>
                            <%= t('history.created_at', locale: DataCycleCore.ui_language) %> <%= l(Time.zone.at(Time.zone.at(@watch_list&.created_at)), locale: DataCycleCore.ui_language) %>
                            <span> <%= t('terms.from', locale: DataCycleCore.ui_language) %> </span>
                            <span><strong><a class="email-link" href="mailto:<%= "#{@watch_list&.user&.email}" %>"><%= "#{@watch_list&.user&.full_name}" %></a></strong></span>
                        </div>
                    </li>

                    <li>
                        <%= tag.span tag.i(class: 'fa fa-language', aria_hidden: true),
                                     class: 'link',
                                     data: {
                                         tooltip: @watch_list.things.present? ? true : nil,
                                         allow_html: true
                                     },
                                     title: @watch_list
                                         .things.includes(:translations)
                                         .map { |t| t.try(:available_locales) }.flatten.uniq
                                         .map { |t| t("locales.#{t}", locale: DataCycleCore.ui_language) }
                                         .join('<br />') %>
                    </li>
                    <li>
                            <span class="link" aria_hidden="true">
                              <%= link_to api_v2_collection_path(api_subversion: nil, id: @watch_list),
                                          class: 'copy-to-clipboard',
                                          data: {
                                              tooltip: true,
                                              value: api_v2_collection_url(api_subversion: nil, id: @watch_list)
                                          },
                                          title: t('actions.copy_to_clipboard',
                                                   locale: DataCycleCore.ui_language) do %>
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                              <% end %>
                            </span>
                    </li>
                    <%= tag.li render('data_links', content: @watch_list) if can?(:index, DataCycleCore::DataLink) %>
                    <li class="buttons">
                        <%= link_to previous_authorized_crumb.url, class: 'hascontent close-show-button' do %>
                            <i aria-hidden="true" class="fa fa-times"></i>
                        <% end if previous_authorized_crumb.present? %>
                    </li>
                </ul>
            </div>

            <div class="detail-header-info">
                <div class="type watchlist">
                    <%= render 'data_cycle_core/shared/icon', icon_type: 'merkliste' %>
                    <span class="title"><%= DataCycleCore::WatchList.model_name.human(count: 1, locale: DataCycleCore.ui_language) %></span>
                    <% if can?(:edit, @watch_list) && !can?(:remove_item, @watch_list) %>
                        <i class="fa fa-exclamation-circle" data-tooltip title="<%= t('data_cycle_core.watch_list.locked_by_data_link', locale: DataCycleCore.ui_language) %>" aria-hidden="true"></i>
                    <% end %>
                </div>
            </div>

            <div class="title">
                <%= @watch_list&.name %>
            </div>

            <% if @watch_list.users.any? %>
                <div class="description watchlist">
                    <i class="fa fa-user"></i>
                    <%= safe_join(@watch_list.users.map{ |u| tag.span(u.full_name, title: u.email) }, ', ') %>
                </div>
            <% end %>

            <% if @watch_list.user_groups.any? %>
                <div class="description watchlist">
                    <i class="fa fa-users"></i>
                    <%= @watch_list.user_groups.map(&:name).join(', ') %>
                </div>
            <% end %>

            <div class="edit">
              <%= link_to download_watch_list_path(@watch_list), class:'button-prime small download-content-link', data: { tooltip: true }, title: t('actions.download_asset', locale: DataCycleCore.ui_language).capitalize, 'aria-haspopup': true do %>
                  <i class="fa fa-download" aria-hidden="true"></i>
              <% end if can? :download, @watch_list %>

              <%= link_to edit_watch_list_path(@watch_list), class:'button-prime small edit-content-link', data: { tooltip: true }, title: t('actions.edit', locale: DataCycleCore.ui_language) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end if can?(:edit, @watch_list) %>

              <% if can? :bulk_edit, @watch_list %>
                <% bulk_locked = @watch_list.things.any? { |t| cannot?(:edit, t) } %>
                <% content_locks = DataCycleCore::Feature::ContentLock.enabled? ? @watch_list.things.includes(:translations, :lock).map(&:lock).compact.sort_by(&:updated_at).reverse! : nil %>

                <span title="<%= t('actions.bulk_edit', locale: DataCycleCore.ui_language) +
                  (bulk_locked ? t('common.bulk_edit_locked_html', locale: DataCycleCore.ui_language) : '') +
                  (content_locks.present? ? safe_join(content_locks.map{ |cl| tag.span(tag.br + tag.br + tag.i(t('common.content_locked_with_name_html', user: cl.user&.full_name, data: distance_of_time_in_words(cl.locked_for), name: I18n.with_locale(cl.eventable&.first_available_locale){ cl.eventable.try(:title) }, locale: DataCycleCore.ui_language)), id: "content-lock-#{cl.id}", class: 'content-locked-text') }) : '') %>" data-tooltip data-allow-html="true">
                <%= button_to bulk_edit_watch_list_path(@watch_list),
                  method: :get,
                  disabled: bulk_locked || content_locks.present?,
                  class: "button-prime small bulk-edit-link #{'bulk_locked' if bulk_locked} #{'content-lock' if DataCycleCore::Feature::ContentLock.enabled?} #{'content-locked' if content_locks.present?}",
                  data: {
                    disable: true
                  }.merge(DataCycleCore::Feature::ContentLock.enabled? ? {
                    lock_length: DataCycleCore::Feature::ContentLock.lock_length,
                    locked_until: content_locks.map { |l| [l.id, l.locked_until&.to_i] }.to_h,
                    lock_content_id: @watch_list&.id,
                    lock_user_id: current_user.id
                  } : {}) do %>
                  <% if DataCycleCore::Feature::ContentLock.enabled? %>
                    <%= tag.span(class: 'pie-text') + tag.span(tag.span(class: 'pie-filler'), class: 'pie-timer') %>
                  <% end %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <% end %>
                </span>
              <% end %>

              <%= link_to @watch_list, method: :delete, class:'button-prime small alert', data: { tooltip: true, confirm: "#{@watch_list.model_name.human(locale: DataCycleCore.ui_language)} #{t('actions.delete', locale: DataCycleCore.ui_language)}?" }, title: t('actions.delete', locale: DataCycleCore.ui_language) do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
              <% end if can? :destroy, @watch_list %>

              <% things_external = @watch_list.things.any?{ |t| t.external_source_id.present? } %>
                <%= button_to bulk_delete_watch_list_path(@watch_list),
                  method: :delete,
                  remote: true,
                  class: 'button-prime small alert bulk-delete-button',
                  title: t('actions.delete_items_in_watch_list', locale: DataCycleCore.ui_language) + (things_external ? t('common.watch_list_external_things_locked_html', locale: DataCycleCore.ui_language) : ''),
                  data: {
                    tooltip: true,
                    confirm: "#{t('actions.delete_items_in_watch_list', locale: DataCycleCore.ui_language)}?",
                    allow_html: true,
                    id: @watch_list.id,
                    disable_with: tag.span(tag.span(class: 'progress-filled'), class: 'progress-bar') +
                      tag.span(class: 'progress-value') +
                      tag.i(class: 'fa fa-circle-o-notch fa-spin fa-fw', aria_hidden: true)
                  },
                  disabled: things_external do %>
                  <i class="fa fa-trash" aria_hidden="true"></i>
                <% end if can?(:bulk_delete, @watch_list) %>
            </div>

        </div>

    </div>

<% end %>

<div class="detail-content watchlist">

    <div class="row">
        <%= render 'filter', filter: { classification_trees: ['Inhaltstypen'], search: true, language: true, collapse: true } %>

        <%= render 'results', contents: @contents unless @contents.nil? %>

    </div>

</div>
