<% breadcrumb :show, @watch_list, :headline %>

<% content_for :top_content do %>

    <div class="column detail-header-wrapper">

            <div class="detail-header">

                <div class="detail-header-functions">
                    <ul class="no-bullet">
                        <li>
                            <span class="link" data-tooltip data-click-open="false" data-allow-html="true"
                                title="<%= @watch_list
                                    .watch_list_data_hashes.map(&:hashable)
                                    .map(&:available_locales).flatten.uniq
                                    .map{ |t| t("locales.#{t}", locale: DataCycleCore.ui_language) }
                                    .join('<br />') %>">
                                <i class="fa fa-language" aria-hidden="true"></i>
                            </span>
                        </li>
                        <% if can?(:index, DataCycleCore::DataLink) %>
                            <li><%= render 'data_links', content: @watch_list %></li>
                        <% end %>
                        <li class="buttons">
                            <%= link_to previous_authorized_crumb.url, class: 'hascontent close-show-button' do %>
                              <i aria-hidden="true" class="fa fa-times"></i>
                            <% end if previous_authorized_crumb.present? %>
                        </li>
                    </ul>
                </div>

            <div class="detail-header-info">
                <div class="type watchlist">
                    <%= render 'data_cycle_core/shared/icon', icon_type: 'merkliste' %>
                    <span class="title"><%= DataCycleCore::WatchList.model_name.human(count: 1, locale: DataCycleCore.ui_language) %></span>
                    <% if can?(:edit, @watch_list) && !can?(:remove_item, @watch_list) %>
                      <i class="fa fa-exclamation-circle" data-tooltip data-click-open="false" title="<%= t('data_cycle_core.watch_list.locked_by_data_link', locale: DataCycleCore.ui_language) %>" aria-hidden="true"></i>
                    <% end %>
                </div>
            </div>

            <div class="title">

                <% if !@watch_list.nil? && !@watch_list.headline.nil? %>
                    <%= @watch_list.headline %>
                <% end %>

            </div>

            <div class="edit">
                <% if can? :edit, @watch_list %>
                    <%= link_to edit_watch_list_path(@watch_list), class:'button-prime small edit-content-link', data: { tooltip: true, click_open: false }, title: t('actions.edit', locale: DataCycleCore.ui_language).capitalize do %>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    <% end %>
              <% end %>
               <% if can? :destroy, @watch_list %>
                    <%= link_to @watch_list, method: :delete, class:'button-prime small alert', data: { tooltip: true, click_open: false, confirm: "#{@watch_list.model_name.human(locale: DataCycleCore.ui_language)} #{t('actions.delete', locale: DataCycleCore.ui_language)}?" }, title: t('actions.delete', locale: DataCycleCore.ui_language).capitalize do %>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <% end %>
                <% end %>
            </div>

        </div>

    </div>

<% end %>

<div class="detail-content watchlist">

    <div class="row">
        <%= render 'filter', filter: { classification_trees: ['Inhaltstypen'], search: true, language: true, language_all: true, collapse: true } %>

        <%= render 'results', contents: @contents unless @contents.nil? %>

    </div>

</div>
