<a data-open="media-reveal-<%= content.id %>">
    <div class="thumbnail" style="background-image: url(<%= content.metadata['thumbnail_url'] %>)">
        <div class="show-for-print">
            <img src="<%= content.metadata['thumbnail_url'] %>" />
        </div>
        <% unless content.title.blank? %>
            <div class="description">
                <%= content.title %>
            </div>
        <% end %>
        <% if content.try(:restrictions).try(:include?, 'gesperrt') %>
            <span data-tooltip aria-haspopup="true" class="has-tip warning" data-disable-hover="false" tabindex="1"
                  title="Einschränkungen: <%= content.metadata['restrictions'] %>">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </span>
        <% end %>
    </div>
</a>

<div class="width-content reveal media-preview" id="media-reveal-<%= content.id %>" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="preview-title"><%= content.title %></span>
    <div class="image">
        <img class="lazyload" data-src="<%= content.metadata['thumbnail_url'] %>" />
    </div>
    <div class="description">

        <!-- todo: check only for empty string -->

        <% if !content.metadata['validity_period'].nil? && !content.metadata['validity_period'].blank? %>

            <strong>Gültigkeit</strong>
            <% if !content.metadata['validity_period']['date_published'].nil? && !content.metadata['validity_period']['date_published'].blank? %>
                <%= content.metadata['validity_period']['date_published'].to_datetime.to_s(:german_date_format) %>
            <% end %>

            <% if !content.metadata['validity_period']['expires'].nil? && !content.metadata['validity_period']['expires'].blank? %>
                <strong>bis</strong>
                <%= content.metadata['validity_period']['expires'].to_datetime.to_s(:german_date_format) unless content.metadata['validity_period']['expires'].include?('9999') %>
            <% end %>
            <br /><br />
        <% end %>

        <% if !content.metadata['restrictions'].nil? && !content.metadata['restrictions'].blank? && content.metadata['restrictions'] != 'Keine Einschränkung;' %>
            <strong>Einschränkungen: </strong>
            <% if content.try(:restrictions).try(:include?, 'gesperrt') %>
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <% end %>
            <%= content.metadata['restrictions'].html_safe %><br /><br />
        <% end %>

        <%= link_to content, target: '_blank' do %>
            zur Detailansicht
        <% end %> |
        <%= link_to 'in voller Größe öffnen', content.metadata['content_url'], target: '_blank' %> |
        <% unless content.metadata['url'].nil? && content.metadata['url'].blank? %>
            <a href="<%= content.metadata['url'] %>" target="_blank">im Medienarchiv öffnen</a>
        <% end %>
    </div>
</div>
