<div class="translatable-field-container">
  <span class="translatable-field active <%= I18n.locale %>">
    <%= render partial, params %>
  </span>

  <% I18n.available_locales.except(I18n.locale).each do |a_locale| %>
    <span class="translatable-field remote-render <%= a_locale %>"
      data-remote-path="<%= partial %>"
      data-remote-options="<%= to_query_params((params || {}).merge(locale: a_locale)).to_json %>">
    </span>
  <% end %>
</div>
