<% I18n.with_locale(locale) do %>
  <% internal_template = DataCycleCore::DataHashService.get_internal_template(definition['linked_table'], definition['template_name']) %>

  <% validation_properties = ordered_validation_properties(validation: internal_template.schema) %>

  <% unless validation_properties.nil? %>
    <div class="content-object-item" id="<%= sanitize_to_id(key) %>_item_<%= index %>">
      <span class="embedded-header">
        <% if can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, internal_template, :edit)) %>
          <span class="draggable-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
        <% end %>
        <%= render 'data_cycle_core/shared/icon', icon_type: internal_template.template_name.downcase %> <%= definition['label'] %>
      </span>

      <% if can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, internal_template, :edit)) %>
        <button type="button" class="button removeContentObject"><i class="fa fa-times"></i></button>
      <% end %>

      <% validation_properties.each do |o_key, o_prop| %>
        <%= render_attribute_editor key: "#{key}[#{index}][#{o_key}]", definition: o_prop, value: nil, parameters: { options: {} }, content: internal_template %>
      <% end %>
    </div>
  <% end %>
<% end %>
