<div class="content-object-item draggable_<%= sanitize_to_id(key) %>" id="<%= sanitize_to_id(key) %>_item_<%= index %>" data-id="<%= object.id %>" data-index="<%= index %>">

    <span class="embedded-header">
      <% if can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, content, :edit)) %>
        <span class="draggable-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
        <span class="swap-prev swap-button disabled" title="<%= t('common.embedded_move_up', locale: DataCycleCore.ui_language) %>" data-tooltip><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
        <span class="swap-next swap-button disabled" title="<%= t('common.embedded_move_down', locale: DataCycleCore.ui_language) %>" data-tooltip><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
      <% end %>
      <span class="icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
      <%= definition['label'] %>
      <%= render 'data_cycle_core/contents/helper_text', local_assigns %>
    </span>

    <% if can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, content, :edit)) %>
      <%= button_tag tag.i(class: 'fa fa-times'), type: :button, class: 'button removeContentObject', data: {
        confirm_delete: definition&.dig('translated') && object&.translations&.many? ? t('actions.delete_with_translated_html', locale: DataCycleCore.ui_language) : nil
      } %>
    <% end %>

    <%= hidden_field_tag("#{key}[#{index}][id]", object.id) unless local_assigns[:new_content] %>

    <% value = object.to_h || {} %>

    <% if can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, content, :edit)) %>
      <div class="daterange">
        <div class="form-element start">
          <%= label_tag "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id("#{key}[#{index}][duration][start]")}", t('schedule.dtstart', locale: DataCycleCore.ui_language) %>
          <%= datetime_field_tag "#{key}[#{index}][duration][start]", value[:dtstart], id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id("#{key}[#{index}][duration][start]")}", data: { type: 'datepicker' } %>
        </div>

        <div class="form-element dtend">
          <%= label_tag "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id("#{key}[#{index}][duration][end]")}", t('schedule.dtend', locale: DataCycleCore.ui_language) %>
          <%= datetime_field_tag "#{key}[#{index}][duration][end]", value[:dtend], id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id("#{key}[#{index}][duration][end]")}", data: { type: 'datepicker' } %>
        </div>

        <div class="form-element fullday">
          <%= check_box_tag "#{key}[#{index}][full_day]", id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id("#{key}[#{index}][full_day]")}", data: { type: 'datepicker' } %>
          <%= label_tag "#{key}[#{index}][full_day]", t('schedule.full_day', locale: DataCycleCore.ui_language) %>
        </div>
      </div>

      <div class="rrules">
        <div class="form-element">
          <%= label_tag "#{key}[#{index}][rrules][][rule_type]", t('schedule.rrule', locale: DataCycleCore.ui_language) %>
          <%= select_tag "#{key}[#{index}][rrules][][rule_type]", options_for_select(ice_cube_select_options, value.dig(:rrules, 0, :rule_type)) %>
        </div>

        <div class="form-element">
          <%= label_tag "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id("#{key}[#{index}][rrules][interval]")}" do %>
            <span class="daily"><%= t('schedule.every.maskulin', locale: DataCycleCore.ui_language) %></span>
            <span class="weekly"><%= t('schedule.every.feminin', locale: DataCycleCore.ui_language) %></span>
            <span class="monthly"><%= t('schedule.every.neutrum', locale: DataCycleCore.ui_language) %></span>
            <span class="yearly"><%= t('schedule.every.neutrum', locale: DataCycleCore.ui_language) %></span>
          <% end %>
          <%= number_field_tag "#{key}[#{index}][rrules][][interval]", 1, in: 1..30, step: 1, id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id("#{key}[#{index}][rrules][interval]")}" %>
          <span class="after-label">
            <span class="daily"><%= t('schedule.day', locale: DataCycleCore.ui_language) %></span>
            <span class="weekly"><%= t('schedule.week', locale: DataCycleCore.ui_language) %></span>
            <span class="monthly"><%= t('schedule.month', locale: DataCycleCore.ui_language) %></span>
            <span class="yearly"><%= t('schedule.year', locale: DataCycleCore.ui_language) %></span>
          </span>
        </div>

        <div class="weekly form-element">
          <%= label_tag sanitize_to_id("#{key}[#{index}][rrules][][validations][day_of_week]"), t('schedule.on', locale: DataCycleCore.ui_language) %>
          <% [*(1..6), 0].each do |v| %>
            <%= check_box_tag "#{key}[#{index}][rrules][][validations][day_of_week]", v, false, id: sanitize_to_id("#{key}[#{index}][rrules][][validations][day_of_week][#{v}]") %>
            <%= label_tag sanitize_to_id("#{key}[#{index}][rrules][][validations][day_of_week][#{v}]"), t('date.day_names', locale: DataCycleCore.ui_language)[v] %>
          <% end %>
        </div>

        <div class="monthly form-element">
          <%#= radio_button_tag "#{key}[rrules][][validations][wday]", 'weekday', true, id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}_rrules_validations_wday_weekday" %>
          <%#= label_tag "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}_rrules_validations_wday_weekday", t('schedule.weekday', locale: DataCycleCore.ui_language) %>
          <%#= radio_button_tag "#{key}[rrules][][validations][day_of_month]", 'dayofmonth', id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}_rrules_validations_day_of_month_dayofmonth" %>
          <%#= label_tag "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}_rrules_validations_day_of_month_dayofmonth", t('schedule.dayofmonth', locale: DataCycleCore.ui_language) %>
        </div>

        <div class="until daily weekly monthly yearly form-element">
          <%= label_tag "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id("#{key}[#{index}][rrules][until]")}", t('terms.until', locale: DataCycleCore.ui_language) %>
          <%= date_field_tag "#{key}[#{index}][rrules][][until]", nil, id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id("#{key}[#{index}][rrules][until]")}", data: { type: 'datepicker' } %>
        </div>
      </div>
    <% end %>



</div>
