<% new_content ||= false %>
<% if object.schema.present? %>

    <% validation_properties = ordered_validation_properties(validation: object.schema) %>
    <div class="content-object-item textblock draggable_<%= sanitize_to_id(key) %>" id="<%= sanitize_to_id(key) %>_item_<%= index %>" data-id="<%= object.id %>" data-index="<%= index %>">

        <%= hidden_field_tag("#{key}[#{index}][id]", object.id) unless new_content %>

        <span class="embedded-header form-element validation-container">
            <% if can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, object, :edit)) %>
              <span class="draggable-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>
              <span class="swap-prev swap-button disabled" title="<%= t('common.embedded_move_up', locale: DataCycleCore.ui_language) %>" data-tooltip><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
              <span class="swap-next swap-button disabled" title="<%= t('common.embedded_move_down', locale: DataCycleCore.ui_language) %>" data-tooltip><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
            <% end %>

            <% if object.try(:translatable_property_names)&.include?('text') %>
              <span class="translated"><i class="fa fa-language" aria-hidden="true"></i></span>
            <% end %>

            <%= label_tag "#{key}[#{index}][name]", validation_properties.dig('name', 'label') %>
            <%= text_field_tag "#{key}[#{index}][name]", I18n.with_locale(local_assigns[:attribute_locale]){ object.try(:name) } , class: 'form-control', placeholder: validation_properties.dig('name', 'label'), readonly: (options['readonly'].to_s == 'true') || !can?(:edit, DataCycleCore::DataAttribute.new("#{key}[#{index}][name]", definition, options, object, :edit)) %>
        </span>

        <% if can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, object, :edit)) %>
            <button type="button" class="button removeContentObject"><i class="fa fa-times"></i></button>
        <% end %>

        <%= render_attribute_editor key: "#{key}[#{index}][text]", definition: validation_properties['text'], value: I18n.with_locale(local_assigns[:attribute_locale]){ object.try(:text) } , parameters: { options: (validation_properties['text'].presence&.dig('editor', 'options') || {}).merge(prefix: local_assigns.dig(:options, :prefix)), new_content: new_content, parent: object }, content: content %>
    </div>
<% end %>
