<% value.presence&.includes(:translations)&.each_with_index do |object, index| %>

    <% I18n.with_locale(object.first_available_locale) do %>

        <%= render 'data_cycle_core/contents/viewers/attribute_viewer',
                    key: key,
                    definition: definition,
                    value: value,
                    options: options.merge({hide_label: true}),
                    data_attributes: { id: object.id.split(','), editor: definition.dig('editor', 'type').try(:underscore) } do %>

            <span class="detail-label">
                <%= render 'data_cycle_core/shared/icon', icon_type: value.first.template_name.downcase %><strong><%= definition['label'].titleize %> <%= content_tag(:span, (params.fetch(:page, 1).to_i - 1) * DataCycleCore.linked_objects_page_size + index + 1) if value.try(:total_count)&.>(1) || value.try(:total_pages)&.>(1) %></strong>
            </span>

            <div class="buttons">
              <% if (DataCycleCore.translatable_types & [object.class.name, object.template_name]).present? && I18n.available_locales&.size&.>(1) %>
                <span data-tooltip data-allow-html="true" title="<%= object.translated_locales.map{ |t| t("locales.#{t}", locale: DataCycleCore.ui_language) }.join("<br>") %>"><i class="fa fa-language" aria-hidden="true"></i></span>
              <% end %>

              <%= link_to contents_gpx_path(id: object.id, type: object.class.table_name), class: '', data: { tooltip: '' }, title: t('common.download_gpx', locale: DataCycleCore.ui_language) do %>
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
              <% end if object.respond_to?(:create_gpx) && object.geo_properties.present? %>

              <%= link_to edit_polymorphic_path(object, locale: I18n.locale), data: { tooltip: '' }, title: t('actions.edit', locale: DataCycleCore.ui_language).capitalize, target: :_blank, class: "edit-link" do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end if definition['editor']['type'] == "objectBrowser" && @historySource.nil? && can?(:crud, object) %>
            </div>

            <% unless object.schema.nil? %>

                <% validation_properties = get_ordered_validation_properties(object.schema) %>

                <% validation_properties.presence&.each do |key, prop| %>

                    <% object_value = object.try(key.to_sym) %>
                    <% object_value = object_value.presence&.includes(:translations)&.page&.per(DataCycleCore.linked_objects_page_size) if object_value.is_a?(ActiveRecord::Relation) && prop['type'] == 'object' %>

                    <%= render_attribute_viewer key: key, definition: prop, value: object_value, parameters: { options: options, content: object } %>

                            <% options[:force_render] = true if object.template_name == 'Publikations-Plan' %>

                            <%= render_attribute_viewer key: key, definition: prop, value: object_value, parameters: { options: options, content: @content  } %>

                        <% end %>

                    <% end %>

                <% end %>

            <% end %>

        <% end %>

    <% end %>

<% end %>

<div class="clear-both">
  <%= link_to t('common.load_more', locale: DataCycleCore.ui_language), polymorphic_path([:load_more_linked_objects, content], key: key, definition: definition, options: options, page: params.fetch(:page, 1).to_i + 1, load_more_action: :show), remote: true, id: "load_more_#{content&.id}_#{sanitize_to_id(key)}", class: 'load-more-linked-contents button small secondary', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: DataCycleCore.ui_language)}" } if value.try(:total_pages)&.positive? && !value&.last_page? %>
</div>
