<% if item.schema.present? && item.template_name.present? %>
  <div class="type <%= item.template_name.downcase %> <%= "has-parent" if item.try(:parent).present? %>" style="<%= classification_style(item.classification_alias_for_tree('Inhaltstypen')) %>">
    <div class="infoRow">
      <%= render 'data_cycle_core/shared/icon',
                 icon_class: item.try(:icon_class) || item.class.name.demodulize.underscore_blanks,
                 icon_type: "#{item.template_name.underscore_blanks}#{"_#{item.try(:life_cycle_stage)&.name&.underscore_blanks}" if DataCycleCore::Feature::LifeCycle.allowed?(item) && DataCycleCore::Feature::LifeCycle.allowed_attribute_keys(item).present? && item.content_type?('container')}",
                 icon_tooltip: item.translated_template_name(active_ui_locale) %>

      <%= render 'data_cycle_core/shared/template_title',
                 content: item,
                 languages: [I18n.locale.to_s] %>

      <%= tag.i(class: 'has-overlay has-tip fa fa-window-restore', data: { dc_tooltip: t('common.has_overlay', locale: active_ui_locale) }) if item.try(:overlay?) %>

      <%= render 'data_cycle_core/contents/grid/attributes/external_connections', content: item if show_external_connections?(item) %>

      <% if item.try(:translated_locales)&.many? %>
        <i class="fa fa-language" aria-hidden="true" data-dc-tooltip="<%= item.translated_locales.map {|t| t("locales.#{t}", locale: active_ui_locale)}&.join('<br>') %>"></i>
      <% end %>

      <%= yield_content!(:media_buttons) %>

      <%= thing_content_score(item) %>
    </div>
  </div>

<% else %>

  <div class="type">
    <div class="infoRow">
      <span class="icon">
        <i class="fa fa-folder-open-o" aria-hidden="true"></i>
      </span>
      <span class="template-title">UNDEFINED_CONTENT</span>
    </div>
  </div>

<% end %>
