<% random_id = SecureRandom.hex(10) %>

<a data-toggle="<%= random_id %>"><i class="fa fa-share" aria-hidden="true"></i><i class="fa <%= content.data_links.size.zero? ? "fa-user-o" : "fa-user" %>" aria-hidden="true"></i></a>
<div class="dropdown-pane align-right no-bullet bottom data-links" id="<%= random_id %>" data-dropdown data-hover="true" data-hover-pane="true">
  <h5><%= t('actions.send_with_data', data: DataCycleCore::DataLink.model_name.human(count: 2, locale: active_ui_locale), locale: active_ui_locale) %></h5>

  <ul class="list-items">
    <%= render partial: 'data_cycle_core/data_links/email_data_link', collection: content.data_links, as: :data_link, locals: { content: content } %>
  </ul>

  <%= render 'data_cycle_core/data_links/email_data_link', content: content, data_link: DataCycleCore::DataLink.new %>
</div>
