<% random_id = SecureRandom.hex(10) %>
<% if data_link.id.nil? %>
  <% if can?(:create, data_link) %>
    <button class="button new-data-link" data-open="<%= random_id %>"><%= t('data_cycle_core.data_links.create_link', locale: active_ui_locale) %></button>
    <%= render 'data_cycle_core/data_links/form_reveal', local_assigns.merge({ random_id: random_id }) %>
  <% end %>
<% else %>
  <li class="<%= "invalid" unless data_link.is_valid? %>" id="data-link-<%= data_link.id %>">
    <span class="email" data-dc-tooltip="<%= data_link.receiver&.email || 'DELETED' %>"><%= data_link_permission_icon(data_link.permissions) %><%= data_link.receiver&.email || 'DELETED' %></span>
    <span class="buttons">
      <% if data_link.valid_from.present? || data_link.valid_until.present? %>
        <i class="fa fa-calendar"
          aria-hidden="true"
          data-dc-tooltip="<%= t('terms.valid', locale: active_ui_locale) +
            (data_link.valid_from.present? ? " #{t('terms.from', locale: active_ui_locale)} #{l(data_link.valid_from.to_date, locale: active_ui_locale)}" : '') +
            (data_link.valid_until.present? ? " #{t('terms.until', locale: active_ui_locale)} #{l(data_link.valid_until.to_date, locale: active_ui_locale)}" : '') %>"></i>
      <% end %>

      <span class="copy-to-clipboard" data-dc-tooltip="<%= t('actions.copy_to_clipboard_data', data: t('common.url', locale: active_ui_locale), locale: active_ui_locale) %>" data-value="<%= data_link_url(data_link, source_table: @split_source&.class&.table_name, source_id: @split_source&.id) %>">
        <i class="fa fa-clipboard" aria-hidden="true"></i>
      </span>

      <% unless data_link.creator == current_user %>
        <i class="fa fa-user"
          aria-hidden="true"
          data-dc-tooltip="<%= "<b>#{t('common.creator', locale: active_ui_locale)}:</b> #{data_link.creator.full_name} &#x3C;#{data_link.creator.email}&#x3E;" if data_link.creator.present? %>"></i>
      <% end %>

      <% if can?(:edit, data_link) %>
        <span class="send-link-button" data-open="<%= random_id %>" data-dc-tooltip="<%= t('actions.edit', locale: active_ui_locale) %>"><i class="fa fa-pencil" aria-hidden="true"></i></span>
        <%= render 'data_cycle_core/data_links/form_reveal', local_assigns.merge({ random_id: random_id }) %>

        <% if data_link.is_valid? %>
          <%= link_to tag.i(class: 'fa fa-lock'), data_link_path(data_link), method: :delete, class: 'invalidate-data-link alert', data: { dc_tooltip: t('actions.lock', locale: active_ui_locale) }  %>
        <% else %>
          <%= link_to tag.i(class: 'fa fa-unlock'), unlock_data_link_path(data_link), method: :patch, class: 'unlock-data-link success', data: { dc_tooltip: t('actions.unlock', locale: active_ui_locale) }  %>
        <% end %>
      <% end %>
    </span>
  </li>
<% end %>
