<% data_link ||= DataCycleCore::DataLink.new %>

<%= form_for data_link, namespace: data_link.id, class: "send-link" do |f| %>
  <p class="lead"><%= DataCycleCore::DataLink.model_name.human(locale: active_ui_locale).titleize %></p>
  <%= f.hidden_field 'source_table', value: local_assigns[:split_source].class.table_name unless local_assigns[:split_source].blank? %>
  <%= f.hidden_field 'source_id', value: local_assigns[:split_source].id unless local_assigns[:split_source].blank? %>
  <%= f.hidden_field 'item_type', value: content.class.name %>
  <%= f.hidden_field 'item_id', value: content.id %>
  <%= f.fields_for :receiver, data_link.receiver || DataCycleCore::User.new do |r| %>
    <div class="form-element">
      <%= r.hidden_field :id %>
      <%= r.label :email, DataCycleCore::User.human_attribute_name("email", locale: active_ui_locale) %>
      <% if data_link.receiver.nil? %>
        <%= r.text_field :email, required: true, readonly: data_link.id.nil? ? false : true, label: false, list: "users", class: "ajax-datalist users", autocomplete: :off %>
        <datalist id="users"></datalist>
      <% else %>
        <%= r.text_field :email, required: true, readonly: data_link.id.nil? ? false : true, label: false %>
      <% end %>
    </div>
    <div class="form-element grid-x grid-margin-x">
      <div class="cell small-6">
        <%= r.label :given_name, DataCycleCore::User.human_attribute_name("given_name", locale: active_ui_locale) %>
        <%= r.text_field :given_name, readonly: data_link.id.nil? ? false : true, label: false %>
      </div>
      <div class="cell small-6">
        <%= r.label :family_name, DataCycleCore::User.human_attribute_name("family_name", locale: active_ui_locale) %>
        <%= r.text_field :family_name, readonly: data_link.id.nil? ? false : true, label: false %>
      </div>
    </div>
  <% end %>
  <div class="form-element">
    <%= f.label :validity_period, DataCycleCore::DataLink.human_attribute_name("validity_period", locale: active_ui_locale) %>
    <div class="form-element grid-x grid-margin-x align-center">
      <div class="cell"><%= f.date_field :valid_from, {placeholder: "tt.mm.jjjj", label: false} %></div>
      <div class="cell no-grow">-</div>
      <div class="cell"><%= f.date_field :valid_until, {placeholder: "tt.mm.jjjj", label: false} %></div>
    </div>
  </div>
  <div class="form-element">
    <%= f.label :permissions, DataCycleCore::DataLink.human_attribute_name("permissions", locale: active_ui_locale) %>
    <%= f.collection_radio_buttons(:permissions, data_link_modes(content), :type, :type, { checked: data_link.permissions&.to_sym || :read }) do |b| %>
      <%= b.radio_button %>
      <%= b.label { DataCycleCore::DataLink.human_attribute_name("permissions_#{b.text}", locale: active_ui_locale) } %>
    <% end %>
  </div>

  <div class="form-element">
    <%= f.label :text_file, DataCycleCore::DataLink.human_attribute_name("text_file", file_types: DataCycleCore::TextFileUploader.new.extension_white_list.join(', '), locale: active_ui_locale) %>
    <div class="v-select white">
      <%= f.select :asset_id, options_for_select(DataCycleCore::TextFile.accessible_by(current_ability).or(DataCycleCore::TextFile.accessible_by(current_ability).except(:where).where(id: data_link.asset_id)).order(name: :asc).pluck(:name, :id), data_link.asset_id), { include_blank: true }, { class: 'single-select reloadable', data: { placeholder: '', reload_path: assets_path, type: 'DataCycleCore::TextFile' } } %>
    </div>

    <%= render 'data_cycle_core/contents/new/shared/content_uploader', type: 'text_file' %>
  </div>

  <% if DataCycleCore::Feature::TranslatedDataLink.enabled? %>
    <div class="form-element">
      <%= f.label :locale, DataCycleCore::DataLink.human_attribute_name("locale", locale: active_ui_locale) %>
      <%= f.select :locale, DataCycleCore::Feature::TranslatedDataLink.locales, { selected: data_link.locale.presence || active_ui_locale } %>
    </div>
  <% end %>

  <div class="form-element">
    <%= f.label :comment, DataCycleCore::DataLink.human_attribute_name("comment", locale: active_ui_locale) %>
    <%= f.text_area :comment, class: "large-textfield", label: false %>
  </div>

  <div class="buttons">
    <%= f.button t('actions.save_without_send', locale: active_ui_locale),
      class: "button submit-button",
      name: :send,
      value: 0,
      data: {
        disable_with: "#{t('actions.save_without_send', locale: active_ui_locale)} <i class='fa fa-spinner fa-spin fa-fw'></i>"
      } %>
    <%= f.button t('actions.save_and_send', locale: active_ui_locale),
      class: "button submit-button",
      name: :send,
      value: 1,
      data: {
        disable: true
      } %>
  </div>
<% end %>
