<%= form_with url: polymorphic_path([:download, content]),
              method: :get,
              local: true,
              class: 'download-content-form',
              namespace: SecureRandom.hex(10) do |f| %>

  <fieldset class="active template reveal-body">
    <legend><%= t('common.choose_language', locale: active_ui_locale) %></legend>
    <div class="form-element">
      <div class="v-select white">
        <%= select_tag('language[]',
                               options_for_select(
                                   available_locales_for_select(content),
                                   I18n.locale
                               ),
                               {
                                   multiple: false,
                                   class: 'multi-select',
                                   id: "language_#{SecureRandom.hex(10)}"
                               }
                    ) %>
      </div>
    </div>
  </fieldset>

  <fieldset class="active serialize_formats reveal-body">
    <legend><%= t('common.download.available_formats', locale: active_ui_locale) %></legend>
    <div class="form-element">
      <% available_download_serializers(content).each_key.with_index do |serializer_key, i| %>
        <div>
          <%= f.radio_button "serialize_format", serializer_key, checked: i == 0 %>
          <%= f.label "serialize_format_#{serializer_key}", "#{t("common.download.#{serializer_key}", locale: active_ui_locale)}" %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <% if available_download_serializers(content).key?('asset') %>
    <fieldset class="active version hidden reveal-body">
      <legend><%= t('common.download.available_versions', locale: active_ui_locale) %></legend>
      <div class="form-element">
        <% (DataCycleCore::Asset::DEFAULT_ASSET_VERSIONS + Array.wrap(content.asset&.versions&.keys)).uniq.each_with_index do |version, i| %>
          <div>
            <%= f.radio_button "version", version, checked: i == 0 %>
            <%= f.label "version_#{version}", "#{t("common.download.version.#{version}", locale: active_ui_locale)}" %>
          </div>
        <% end %>

      </div>
    </fieldset>
    <% DataCycleCore::Feature::Serialize.asset_versions(content)&.each do |key, value| %>
      <fieldset class="active transformation hidden <%= key %> reveal-body">
        <legend><%= t('common.download.available_transformations', locale: active_ui_locale) %></legend>
        <div class="form-element">

          <% (['none'] + Array(value)).each_with_index do |t_format, i| %>
            <div>
              <%= f.radio_button "transformation[#{key}][format]", t_format, checked: i == 0 %>
              <%= f.label "transformation[#{key}][format]_#{t_format}", "#{t("common.download.format.#{t_format}", default: t_format, locale: active_ui_locale)}" %>
            </div>
          <% end %>

        </div>
      </fieldset>
    <% end %>
  <% end %>

  <div class="buttons reveal-footer">
    <%= button_tag safe_join([
        'download',
        tag.i(class: 'fa fa-download')
      ]),
      type: :submit,
      class: "button submit" %>
  </div>

<% end %>
