<%= form_with url: polymorphic_path([:download_indesign, content]),
              method: :get,
              local: true do %>

  <fieldset class="active template">
    <legend><%= t('common.choose_language', locale: active_ui_locale) %></legend>
    <div class="form-element">
      <div class="v-select white">
        <%= select_tag('language[]',
                               options_for_select(
                                   available_locales_for_select(content),
                                   I18n.locale
                               ),
                               {
                                   multiple: false,
                                   class: 'multi-select'
                               }
                    ) %>
      </div>
    </div>
  </fieldset>

  <fieldset class="active serialize_formats">
    <legend><%= t('common.download.available_formats', locale: active_ui_locale) %></legend>
    <div class="form-element">
      <div>
        <%= radio_button_tag "serialize_format[indesign]", '1', true %>
        <%= label_tag "serialize_format[indesign]", "#{t('common.download.indesign', locale: active_ui_locale)}" %>
      </div>
    </div>
  </fieldset>

  <div class="buttons">
    <%= button_tag 'download',
                       type: :submit,
                       class: "button submit" %>
  </div>

<% end %>
