<li id="<%= item.id %>" class="content-row">
  <div class="inner-item">
    <div class="type <%= item.template_name.downcase %>">
      <span class="toggle-details">
        <% if DataCycleCore::Feature::ImageProxy.frontend_enabled? %>
          <% mini_thumb_url = DataCycleCore::Feature::ImageProxy.mini_thumb_url(content: item) %>
          <figure class="mini-preview-image">
            <img data-src="<%= mini_thumb_url %>" alt="<%= item.title %>" class="lazyload dc-foundation-tooltip" title="<img src='<%= item.thumbnail_url %>' />" data-allow-html="true" data-template-classes="thumbnail-tooltip" />
          </figure>
        <% else %>
          <%= render 'data_cycle_core/shared/icon', icon_type: item.template_name.underscore_blanks, icon_class: item.try(:icon_class) || item.class.name.demodulize.underscore_blanks %>
        <% end %>

        <%= render 'data_cycle_core/shared/template_title',
                   content: item,
                   languages: item.translated_locales %>

        <span> - </span>

        <span class="title" title="<%= item.title %>"><%= item.title %></span>
      </span>

      <div class="buttons">
        <%= link_to tag.i(class: 'fa fa-external-link'), thing_path(item, watch_list_id: @watch_list&.id, locale: I18n.locale), target: :_blank, class: 'link-to-item' %>

        <%= yield_content!(:media_buttons) %>
      </div>
    </div>

    <div class="content-details remote-render"
      id="<%= "#{item.id}-#{local_assigns[:classification_parent_tree]&.id || classification_tree.id}-#{local_assigns[:container]&.id}" %>"
      data-remote-render-function="render_content_tile_details"
      data-remote-render-params="<%= to_query_params(item: item, mode: 'tree').to_json %>">
    </div>
  </div>
</li>
