<li id="<%= classification_tree.id %>">
  <span class="inner-item">
    <%= link_to request.params.slice(:language, :f, :stored_filter).merge({ ctl_id: classification_tree_label&.id, ct_id: classification_tree.id, mode: @mode }), data: { remote: true, disable: true }, class: 'tree-link' do %>
      <%= classification_tree.sub_classification_alias.try(:internal_name) %>
      <span class="children-count">(
        <span class="child-count-direct remote-render"
        id="tree-direct-child-count-<%= classification_tree.id %>"
        data-remote-render-params="<%= to_query_params(request.params.slice(:language, :f, :stored_filter, :watch_list_id, :id).merge({ action: controller.action_name, controller: controller.controller_name, ctl_id: classification_tree_label&.id, ct_id: classification_tree.id, mode: @mode, count_only: true, count_mode: 'classification_alias' })).to_json %>"
        ></span>
        /
        <span class="child-count-full remote-render"
        id="tree-child-count-<%= classification_tree.id %>"
        data-remote-render-params="<%= to_query_params(request.params.slice(:language, :f, :stored_filter, :watch_list_id, :id).merge({ action: controller.action_name, controller: controller.controller_name, ctl_id: classification_tree_label&.id, ct_id: classification_tree.id, mode: @mode, count_only: true, count_mode: 'ca_recursive' })).to_json %>"
        ></span>
        )</span>
    <% end %>
  </span>
  <ul class="children"></ul>
  <ul class="contents no-bullet"></ul>
</li>
