<li id="<%= item.id %>" data-parent-classification="<%= local_assigns[:classification_parent_tree]&.id || classification_tree.id %>" class="content-row tree-link-container">
  <div class="inner-item container">
    <%= link_to '#',
            class: "tree-link type #{item.template_name.downcase}",
            data: {
              disable: true,
              additional_form_parameters: {
                con_id: item.id,
                ctl_id: classification_tree_label&.id,
                cpt_id: local_assigns[:classification_parent_tree]&.id || classification_tree.id
              }.compact.to_json
            } do %>
      <span class="icon"><i class="folder-icon"></i></span>
      <span><%= item.translated_template_name(active_ui_locale) %> - </span>
      <span class="title" title="<%= item.title %>"><%= item.try(:title) %></span>
      <span class="children-count">
        (
        <span class="child-count-full result-count loading"
            id="container-child-count-<%= classification_tree.id %>-<%= item.id %>"
            data-additional-form-parameters="<%= to_query_params({
              content_class: local_assigns[:content_class] || 'things',
              count_mode: 'container',
              ctl_id: classification_tree_label&.id,
              ct_id: classification_tree.id,
              con_id: item.id
            }).to_json %>"
            >-</span>
        )
      </span>
    <% end %>

    <div class="buttons">
      <%= link_to tag.i(class: 'fa fa-external-link'), thing_path(item, watch_list_id: @watch_list&.id), target: :_blank, class: 'link-to-item' %>

      <%= yield_content!(:media_buttons) %>
    </div>
  </div>

  <ul class="contents no-bullet"></ul>
</li>
