<li id="<%= item.id %>" class="content-row">
  <div class="inner-item">
    <div class="type <%= item.template_name.downcase %>">
      <span class="toggle-details">
        <%= render 'data_cycle_core/shared/icon', icon_type: item.try(:icon_type), icon_class: item.try(:icon_class) %>

        <%= render 'data_cycle_core/shared/template_title', content: item, languages: [I18n.locale.to_s] %>

        <span> - </span>

        <span class="title" title="<%= item.title %>"><%= item.title %></span>
      </span>

      <div class="buttons">
        <%= yield_content!(:media_buttons) %>

        <%= link_to tag.i(class: 'fa fa-eye'), thing_path(item, locale: I18n.locale), target: :_blank, class: "link-to-item", data: { dc_tooltip: t('actions.show', locale: active_ui_locale) } %>
      </div>
    </div>

    <div class="content-details remote-render"
          id="<%= "#{item.id}-#{local_assigns[:classification_parent_tree]&.id || classification_tree.id}-#{local_assigns[:container]&.id}" %>"
          data-remote-render-function="render_content_tile_details"
          data-remote-render-params="<%= to_query_params(item: item, mode: 'tree', parameters: { language: local_assigns[:language] }).to_json %>">
    </div>
  </div>
</li>
