
<div class="grid-item data-cycle-object">
  <div class="inner">
    <div class="type">
      <div class="infoRow">
          <span class="icon">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <!--<i class="fa fa-calendar" aria-hidden="true"></i>-->
          </span>
        <span class="title">Bild</span>
      </div>
    </div>

    <div class="title">
      <%= link_to item do %>
          <%= item.headline %>
      <% end %>
    </div>
    <div class="description">
      <%= item.description %>
      <!--<%= item.id %>-->
    </div>
    <div class="tags">
      <% item.classification_aliases.each do |classificationAlias| %>
          <span class="tag"><a href="#"><%= classificationAlias.name %></a></span>
      <% end %>
    </div>
    <% if !item.metadata['url'].nil? %>
        <div class="image">
          <img src="<%= item.metadata['url'] %>" alt="item.headline" />
        </div>
    <% end %>
    <!--<div class="info">-->
    <!--<div class="infoRow">-->
    <!--<span class="icon"><i class="fa fa-align-left" aria-hidden="true"></i></span>-->
    <!--<span class="title"><strong>8</strong> Texte</span>-->
    <!--</div>-->
    <!--<div class="infoRow">-->
    <!--<span class="icon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>-->
    <!--<span class="title"><strong>63</strong> Bilder</span>-->
    <!--</div>-->
    <!--<div class="infoRow">-->
    <!--<span class="icon"><i class="fa fa-play" aria-hidden="true"></i></span>-->
    <!--<span class="title"><strong>1</strong> Video</span>-->
    <!--</div>-->
    <!--<div class="infoRow">-->
    <!--<span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>-->
    <!--<span class="title">de, en, ru, it, pl, si <strong>+5</strong></span>-->
    <!--</div>-->
    <!--</div>-->
    <!-- <div>
          <%= item.metadata %>
      </div> -->
  </div>
</div>
