<div class="grid-item data-cycle-object">
    <% I18n.with_locale(@language) do %>
        <%= link_to item do %>

            <div class="inner">

                <% if !item.metadata.nil? && !item.metadata['validation'].nil? && !item.metadata['validation']['name'].nil? %>

                    <div class="type <%= item.metadata['validation']['name'].downcase %>">
                        <div class="infoRow">
                            <%= render 'data_cycle_core/creative_works/partials/render/icon', icon_type: item.metadata['validation']['name'].downcase %>
                            <span class="title"><%= item.metadata['validation']['name'] %></span>
                        </div>
                    </div>

                <% else %>

                    <div class="type">
                        <div class="infoRow">
                        <span class="icon">
                            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                        </span>
                            <span class="title">Undefined Content</span>
                        </div>
                    </div>

                <% end %>

                <% unless item.metadata.nil? %>

                    <% unless item.metadata['thumbnailUrl'].nil? %>

                        <div class="image">
                            <img src="<%= item.metadata['thumbnailUrl'] %>" alt="<%= item.content['name'] unless item.content.blank?%>" />
                        </div>

                    <% end %>

                <% end %>

                <div class="title">

                    <% if !item.content.nil? && !item.content['name'].blank? %>
                        <%= item.content['name'] %>
                    <% elsif  !item.content.nil? && !item.content['headline'].blank? %>
                        <%= item.content['headline'] %>
                    <% end %>

                </div>

                <% if !item.content.nil? && !item.content['description'].blank? %>

                    <div class="description">
                        <%= item.content['description'].html_safe %>
                    </div>

                <% end %>

                <% unless item.display_classification_aliases.nil? %>

                    <div class="tags">
                        <% item.display_classification_aliases.each do |classificationAlias| %>
                            <span class="tag"><%= classificationAlias.name %></span>
                        <% end %>
                    </div>

                <% end %>

            </div>

        <% end %>
    <% end %>
</div>
