<% I18n.with_locale(item.first_available_locale(@language)) do %>

  <%= link_to polymorphic_path(item, watch_list_id: @watch_list), class: 'content-link' do %>

    <div class="inner">
      <%= render 'data_cycle_core/contents/tiles/attributes/type', local_assigns %>
      <%= render 'data_cycle_core/contents/tiles/attributes/parent', item: item.parent if item.try(:parent).present? %>
      <%= render 'data_cycle_core/contents/tiles/attributes/title', local_assigns if item.try(:title).present? %>
      <%= render 'data_cycle_core/contents/tiles/attributes/description', local_assigns if item.try(:desc).present? %>

      <%= yield %>

      <%= render 'data_cycle_core/contents/tiles/attributes/tags', local_assigns if item.try(:display_classification_aliases).present? %>

      <% if content_for?(:media_thumbs) %>
        <%= yield(:media_thumbs) %>
        <% @view_flow&.content&.delete(:media_thumbs) %>
      <% else %>
        <%= render 'data_cycle_core/contents/tiles/attributes/images', local_assigns if item.try(:image).is_a?(ActiveRecord::Relation) && item.try(:image).present? %>
      <% end %>
    </div>

  <% end %>

<% end %>
