<% I18n.with_locale(@language) do %>

    <div class="inner">

        <div class="infoRow">
            <%= render 'data_cycle_core/shared/icon', icon_type: 'gruppe' %>
              <span class="title"><%= DataCycleCore::UserGroup.model_name.human(locale: DataCycleCore.ui_language) %> (<%= item.users.count %>)</span>
        </div>

        <div class="title">
          <%= item.name %>
        </div>

        <div class="tags">
          <span class="tag"><%#= item.role.name %></span>
        </div>

    </div>

    <div class="item-links">
      <% if can? :edit, item %>
        <%= link_to edit_user_group_path(item, watch_list_id: @watch_list), class: 'button-prime small', title: t('actions.edit', locale: DataCycleCore.ui_language).capitalize, data: { tooltip: "", 'disable-hover': false }, 'aria-haspopup': "true" do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      <% end %>

      <% if can? :destroy, item %>
        <%= link_to item, method: :delete, class:'button-prime small alert confirm', data: { 'confirmation-text': "#{item.model_name.human(locale: DataCycleCore.ui_language)} #{t('actions.delete', locale: DataCycleCore.ui_language)}?", tooltip: "", 'disable-hover': false}, title: t('actions.delete', locale: DataCycleCore.ui_language).capitalize, 'aria-haspopup': "true" do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>

<% end %>
