<% I18n.with_locale(@language) do %>

    <div class="inner">

        <div class="infoRow">
            <% icon_type = (item.role && item.role.rank > 0) ? 'person' : 'anonym' %>
            <%= render 'data_cycle_core/shared/icon', icon_type: icon_type %>
            <%== "<del>" if item.access_locked? %>
              <span class="title"><%= item.model_name.human(locale: DataCycleCore.ui_language) %> <%= "("+item.class.human_attribute_name('external', locale: DataCycleCore.ui_language)+")" if item.external %></span>
            <%== "</del>" if item.access_locked? %>
        </div>

        <div class="title">
          <%= item.name %>
        </div>

        <div class="description">
          <%= item.email %>
        </div>

        <div class="tags">
          <% if item.role %>
            <span class="tag"><%= t('roles.'+item.role.name, locale: DataCycleCore.ui_language) %></span>
          <% end %>
          <% item.user_groups.each do |user_group| %>
            <span class="tag"><%= user_group.name %></span>
          <% end %>
        </div>

    </div>

    <div class="item-links">
      <% if can? :edit, item %>
        <%= link_to edit_user_path(item, trail: breadcrumb_trail), class: 'button-prime small', title: t('actions.edit', locale: DataCycleCore.ui_language).capitalize, data: { tooltip: "", 'disable-hover': false }, 'aria-haspopup': "true" do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      <% end %>

      <% if can?(:destroy, item) && !item.access_locked? %>
        <%= link_to item, method: :delete, class:'button-prime small alert confirm', data: { 'confirmation-text': "#{item.model_name.human(locale: DataCycleCore.ui_language)} #{t('actions.lock', locale: DataCycleCore.ui_language)}?", tooltip: "", 'disable-hover': false}, title: t('actions.lock', locale: DataCycleCore.ui_language).capitalize, 'aria-haspopup': "true" do %>
            <i class="fa fa-lock" aria-hidden="true"></i>
        <% end %>
      <% elsif can?(:destroy, item) %>
        <%= link_to unlock_user_path(item), method: :post, class:'button-prime small alert', data: { tooltip: "", 'disable-hover': false}, title: t('actions.unlock', locale: DataCycleCore.ui_language).capitalize, 'aria-haspopup': "true" do %>
            <i class="fa fa-unlock" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>

<% end %>
