
<div class="callout home">
  <h1>Willkommen</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="row home-login">
  <div class="columns large-6 small-12 left">
    <h2 class="form-heading"> <i class="fa fa-smile-o" aria-hidden="true"></i><span>Login</span></h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="row">
        <div class="small-5 columns">
          <label for="user_email" class="text-right middle">E-Mail:</label>
        </div>
        <div class="small-7 columns">
            <%= f.input :email, required: false, autofocus: true, label: false %>
        </div>
      </div>

      <div class="row">
        <div class="small-5 columns">
          <label for="user_password" class="text-right middle">Passwort:</label>
        </div>
        <div class="small-7 columns">
          <%= f.input :password, required: false, label: false %>
        </div>
      </div>

      <div class="row">
        <div class="small-5 columns">

        </div>
        <div class="small-7 columns">
            <%= f.input :remember_me, as: :boolean, label: 'Angemeldet bleiben ?' if devise_mapping.rememberable? %>
        </div>
      </div>

      <div class="row">
        <div class="small-7 small-offset-5 columns end">
          <div class="form-actions">
            <%= f.button :button, class:"button",type:"submit" do %>
              <p><i class="fa fa-angle-right" aria-hidden="true"></i></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-7 small-offset-5 columns end">
          <div class="form-actions">
            <%= link_to "https://adfs.austria.info/adfs/ls/idpinitiatedsignon.aspx", class:"button" do %>
              <i class="fa fa-angle-right" aria-hidden="true"> remote</i>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
  <div class="columns large-6 small-12 right">
    <h2 class="form-heading"><i class="fa fa-cogs" aria-hidden="true"></i><span>Registrieren</span></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="row">
        <div class="small-3 columns">
          <label for="user_email" class="text-right middle">E-Mail:</label>
        </div>
        <div class="small-7 columns end">
          <%= f.input :email, required: true, autofocus: true, label: false, disabled: true %>
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="user_password" class="text-right middle">Passwort:</label>
        </div>
        <div class="small-7 columns end">
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false, disabled: true %>
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
            <label for="user_password_confirmation" class="text-right middle">Passwort wiederholen:</label>
        </div>
        <div class="small-7 columns end">
          <%= f.input :password_confirmation, required: true, label: false, disabled: true %>
        </div>
      </div>

      <div class="row">
        <div class="small-7 small-offset-3 columns">
          <div class="form-actions">
            <%= f.button :button, class:"button",type:"submit", disabled: true do %>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>

<!--
<%= render "devise/shared/links" %>
-->
