<div class="glass home-container">
  <div class="home-container-content">
    <!--[if lt IE 9]>
      <div class="legacy-ie-fix"></div>
    <![endif]-->
    <div class="columns">
      <%= render 'logo' %>
      <h1><%= t('welcome', locale: active_ui_locale) %></h1>
    </div>

    <div class="columns">
      <ul class="accordion" data-accordion>
        <li class="accordion-item<%= ' is-active' if local_assigns[:active_view] != 'new' %>" data-accordion-item>
          <!-- Accordion tab title -->
          <a href="#" class="accordion-title">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <span><%= t('devise.sessions.new.sign_in', locale: active_ui_locale) %></span>
          </a>

          <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
          <div class="accordion-content" data-tab-content>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="row">
                <div class="small-4 columns">
                  <label for="user_email" class="text-right middle">
                    <%= t('activerecord.attributes.user.email', locale: active_ui_locale) %>:
                  </label>
                </div>
                <div class="small-7 columns end">
                  <%= f.email_field :email, required: false, autofocus: true %>
                </div>
              </div>

              <div class="row">
                <div class="small-4 columns">
                  <label for="user_password" class="text-right middle">
                    <%= t('activerecord.attributes.user.password', locale: active_ui_locale) %>:
                  </label>
                </div>
                <div class="small-7 columns end password-field">
                  <%= f.password_field :password, required: false %>
                </div>
              </div>

              <div class="row">
                <div class="small-4 columns">&nbsp;
                </div>
                <div class="small-7 columns end">
                  <%- if devise_mapping.recoverable? %>
                    <%= link_to t('devise.shared.links.forgot_your_password'),
                                new_password_path(resource_name),
                                class: 'forgotten_password_link' %>
                  <% end -%>
                </div>
              </div>

              <div class="row">
                <div class="small-4 columns">&nbsp;
                </div>
                <div class="small-7 columns end">
                  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                    <%= link_to t('devise.shared.links.didn_t_receive_confirmation_instructions'),
                                new_confirmation_path(resource_name),
                                class: 'forgotten_password_link' %>
                  <% end -%>
                </div>
              </div>

              <div class="row">
                <div class="small-12">&nbsp;</div>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="row">
                  <div class="small-4 columns">&nbsp;</div>
                  <div class="small-7 columns end dc-checkbox">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, t('activerecord.attributes.user.remember_me', locale: active_ui_locale) %>
                  </div>
                </div>
              <% end %>

              <div class="row">
                <div class="small-7 small-offset-4 columns end">
                  <div class="form-actions">
                    <%= f.button :button, class:"button",type:"submit" do %>
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <% end %>
                  </div>
                </div>
              </div>

            <% end %>
          </div>
        </li>

        <% if DataCycleCore::User.included_modules.include?(Devise::Models::Registerable) %>
          <li class="accordion-item<%= ' is-active' if local_assigns[:active_view] == 'new' %>" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><i class="fa fa-cogs" aria-hidden="true"></i>
              <span>Registrieren</span>
            </a>

            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
            <div class="accordion-content" data-tab-content>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                <div class="row">
                  <div class="small-4 columns">
                    <label for="user_email" class="text-right middle">
                      <%= DataCycleCore::User.human_attribute_name(:email, locale: active_ui_locale) %>:
                      <%= tag.i('*', class: 'required-field-marker', data: { dc_tooltip: t('common.required_field', locale: active_ui_locale) }) %>
                    </label>
                  </div>
                  <div class="small-7 columns end">
                    <%= f.email_field :email, required: true, autofocus: true %>
                  </div>
                </div>

                <div class="row">
                  <div class="small-4 columns">
                    <label for="user_password" class="text-right middle">
                      <%= DataCycleCore::User.human_attribute_name(:password, locale: active_ui_locale) %>:
                      <%= tag.i('*', class: 'required-field-marker', data: { dc_tooltip: t('common.required_field', locale: active_ui_locale) }) %>
                    </label>
                  </div>
                  <div class="small-7 columns end password-field">
                    <%= f.password_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                  </div>
                </div>

                <% if DataCycleCore::Feature::UserRegistration.terms_conditions_url.present? %>
                  <div class="row login-checkboxes">
                    <div class="small-4 columns text-right">
                      <%= check_box_tag "user[additional_attributes][terms_conditions_at]", Time.zone.now.iso8601, false, { required: true } %>
                    </div>
                    <div class="small-7 columns end">
                      <label for="user_additional_attributes_terms_conditions_at"><%= t('common.user_registration.terms_conditions', url: DataCycleCore::Feature::UserRegistration.terms_conditions_url, locale: active_ui_locale).html_safe %></label>
                    </div>
                  </div>
                <% end %>

                <% if DataCycleCore::Feature::UserRegistration.privacy_policy_url.present? %>
                  <div class="row login-checkboxes">
                    <div class="small-4 columns text-right">
                      <%= check_box_tag "user[additional_attributes][privacy_policy_at]", Time.zone.now.iso8601, false, { required: true }  %>
                    </div>
                    <div class="small-7 columns end">
                      <label for="user_additional_attributes_privacy_policy_at"><%= t('common.user_registration.privacy_policy', url: DataCycleCore::Feature::UserRegistration.privacy_policy_url, locale: active_ui_locale).html_safe %> </label>
                    </div>
                  </div>
                <% end %>

                <div class="row">
                  <div class="small-12">&nbsp;</div>
                </div>
                <div class="row">
                  <div class="small-4 columns">&nbsp;</div>
                  <div class="small-7 columns end">
                    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                      <%= link_to t('devise.shared.links.didn_t_receive_confirmation_instructions'),
                                  new_confirmation_path(resource_name),
                                  class: 'forgotten_password_link' %>
                    <% end -%>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12">&nbsp;</div>
                </div>

                <div class="row">
                  <div class="small-7 small-offset-4 columns end">
                    <div class="form-actions">
                      <%= f.button :button, class:"button",type:"submit" do %>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
          </li>
        <% end %>

      </ul>

    </div>
  </div>

  <%= render 'footer_logo' %>
</div>
