
<div class="glass home-container">
    <div class="home-container-content">
        <!--[if lt IE 9]>
        <div class="legacy-ie-fix"></div>
        <![endif]-->
        <div class="columns">
            <%= render 'logo' %>
            <h1>Willkommen</h1>
        </div>


        <div class="columns">

            <ul class="accordion" data-accordion>
                <li class="accordion-item is-active" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title"><i class="fa fa-smile-o" aria-hidden="true"></i><span>Login</span></a>

                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>

                        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                            <div class="row">
                                <div class="small-4 columns">
                                    <label for="user_email" class="text-right middle">E-Mail:</label>
                                </div>
                                <div class="small-7 columns end">
                                    <%= f.input :email, required: false, autofocus: true, label: false %>
                                </div>
                            </div>

                            <div class="row">
                                <div class="small-4 columns">
                                    <label for="user_password" class="text-right middle">Passwort:</label>
                                </div>
                                <div class="small-7 columns end">
                                    <%= f.input :password, required: false, label: false %>
                                </div>
                            </div>

                            <div class="row">
                                <div class="small-4 columns">&nbsp;</div>
                                <div class="small-7 columns end">
                                    <%= f.input :remember_me, as: :boolean, label: 'Angemeldet bleiben ?' if devise_mapping.rememberable? %>
                                </div>
                            </div>

                            <div class="row">
                                <div class="small-7 small-offset-4 columns end">
                                    <div class="form-actions">
                                        <%= f.button :button, class:"button",type:"submit" do %>
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        <% end %>
                                    </div>
                                </div>
                            </div>

                        <% end %>

                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title"><i class="fa fa-cogs" aria-hidden="true"></i><span>Registrieren</span></a>

                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>

                        <% if DataCycleCore::User.included_modules.include?(Devise::Models::Registerable) %>

                            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                <%= f.error_notification %>

                                <div class="row">
                                    <div class="small-4 columns">
                                        <label for="user_email" class="text-right middle">E-Mail:</label>
                                    </div>
                                    <div class="small-7 columns end">
                                        <%= f.input :email, required: true, autofocus: true, label: false, disabled: true %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-4 columns">
                                        <label for="user_password" class="text-right middle">Passwort:</label>
                                    </div>
                                    <div class="small-7 columns end">
                                        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false, disabled: true %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-4 columns">
                                        <label for="user_password_confirmation" class="text-right middle">Passwort wiederholen:</label>
                                    </div>
                                    <div class="small-7 columns end">
                                        <%= f.input :password_confirmation, required: true, label: false, disabled: true %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-7 small-offset-4 columns end">
                                        <div class="form-actions">
                                            <%= f.button :button, class:"button",type:"submit", disabled: true do %>
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>

                            <% end %>

                        <% end %>

                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
