<%= render 'data_cycle_core/contents/viewers/attribute', key: key, definition: definition, value: value, options: options, content: content do %>

    <% unless value.blank? %>
        <% asset = value.first %>

        <div class="inner">
            <span class="asset-title"><%= asset.file.file.filename %></span>
            <span class="asset-type"><%=  asset.content_type %> (<%= asset.file_size %> B)</span>
            <div class="thumb hide-for-print">
                <a href="<%= asset.file.url %>" target="_blank">
                    öffnen <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    <% end %>
<% end %>
