<% if value.present? || options.dig(:force_render).to_s == 'true' %>

    <% mode = options.fetch(:mode, 'has-changes edit') %>

    <div data-label="<%= data_label ||= definition['label'] %>" class="detail-type <%= [
                key.split('[').count > 1 ? key.split('[').last[0...-1].underscore : key.underscore,
                definition.dig('type').try(:underscore),
                definition.dig('ui', 'show', 'type').try(:underscore),
                options.dig(:item_diff).present? ? "#{mode}" : "",
                options.dig('class'),
            ].reject(&:blank?).join(' ') %>"
         <%= data_attributes.map { |k,v| " data-#{k}='#{v.to_s}'" if v.present? }.join(' ').html_safe if local_assigns.has_key? :data_attributes %>
    >

        <% if options.dig(:hide_label).blank? %>
            <span class="detail-label">
              <span class="icon <%= definition['label']&.parameterize(separator: '_') %>"><i class="fa" aria-hidden="true"></i></span>
              <%= definition['label'] %>
            </span>
        <% end %>

        <%= yield %>

    </div>
<% end %>
