<%= render 'data_cycle_core/contents/viewers/attribute',
  key: key,
  definition: definition,
  value: value,
  options: options,
  content: content do %>

    <span class="detail-content">
      <% case options.dig(:item_diff, 0) %>
      <% when '~' %>
        <del><%= l(options.dig(:item_diff, 1), locale: DataCycleCore.ui_language) %></del>
        <ins><%= l(options.dig(:item_diff, 2), locale: DataCycleCore.ui_language) %></ins>
      <% when '+' %>
        <%= l(options.dig(:item_diff, 1), locale: DataCycleCore.ui_language) %>
      <% else %>
        <%= l(value, locale: DataCycleCore.ui_language) if value.present? %>
      <% end %>
    </span>

<% end %>
