<%= render 'data_cycle_core/contents/viewers/attribute',
  local_assigns.merge(data_attributes: {
    value: value.presence, editor: "date_picker"
  }) do %>

    <span class="detail-content">
      <% case options.dig(:item_diff, 0) %>
      <% when '~' %>
        <del><%= l(options.dig(:item_diff, 1), locale: active_ui_locale) %></del>
        <ins><%= l(options.dig(:item_diff, 2), locale: active_ui_locale) %></ins>
      <% when '+' %>
        <%= l(options.dig(:item_diff, 1), locale: active_ui_locale) %>
      <% else %>
        <%= l(value, locale: active_ui_locale) %>
      <% end %>
    </span>

<% end %>
