<% objects = value.presence&.includes(:translations) %>
<% objects = Array(objects) + new_relations(options.dig(:item_diff), 'things').includes(:translations).to_a.concat if changes_by_mode(options.dig(:item_diff), '+').present? %>

<% if objects.present? %>
  <%= conditional_tag :div, !local_assigns[:no_wrapper], class: 'embedded-viewer', data: { accordion: true, allow_all_closed: true, multi_expand: true } do %>
    <% objects.presence&.each_with_index do |object, index| %>
      <%= render 'data_cycle_core/contents/viewers/attribute',
        key: key,
        definition: definition,
        value: value,
        options: options.merge({
          hide_label: true,
          item_diff: changes_by_value(options.dig(:item_diff), object.try('thing_id') || object.id),
          mode: changes_class(options.dig(:item_diff), object.try('thing_id') || object.id),
          class: 'accordion-item'
        }),
        data_attributes: { id: [object.id], editor: 'embedded_object', accordion_item: true },
        content: content do %>

        <a href="#" class="accordion-title">
          <span class="title"><%= definition['label'].titleize %></span>
        </a>

        <div class="accordion-content remote-render" data-tab-content
        data-remote-path="data_cycle_core/contents/viewers/embedded/default"
        data-remote-options="<%= to_query_params(local_assigns.merge({ object: object, index: index, locale: I18n.locale })).to_json %>">
        </div>
      <% end %>
    <% end %>

    <% if value.try(:total_pages)&.positive? && !value&.last_page? %>
      <span class="clear-both">
        <%= link_to t('common.load_more', locale: DataCycleCore.ui_language), load_more_linked_objects_thing_path(
            local_assigns[:parent] || content,
            key: key.attribute_name_from_key,
            complete_key: key,
            content_id: content&.id,
            content_type: content&.class&.table_name,
            definition: definition,
            options: options,
            page: local_assigns.fetch(:page, 1).to_i + 1,
            load_more_action: :show,
            locale: I18n.locale
          ),
          remote: true,
          id: "load_more_#{content&.id}_#{sanitize_to_id(key)}",
          class: 'load-more-linked-contents button small secondary',
          data: {
            disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: DataCycleCore.ui_language)}"
          } %>
      </span>
    <% end %>
  <% end %>
<% end %>
