<%= render 'data_cycle_core/contents/viewers/attribute_viewer', key: key, definition: definition, value: value, options: options, data_attributes: { id: value.presence&.ids, editor: "object_browser" } do %>

<%
=begin
%>
    <% if definition['releasable'] && value.is_a?(Hash) %>
        <div class="release-status">
            <span class="status-information"><%= DataCycleCore::Release.find(value['release_id']).release_text %></span>
            <% unless value['release_comment'].blank? %>
                <span class="status-comment" data-open="release-comment-<%= object_id %>-<%= key %>"><i class="fa fa-comment" aria-hidden="true"></i></span>
                <div class="reveal release-comment" id="release-comment-<%= object_id %>-<%= key %>" data-reveal>
                    <p class="lead">Kommentar</p>
                    <div class="release-comment"><%= simple_format(value['release_comment']) %></div>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% end %>
        </div>
        <% value = value['value'] unless value.blank? %>
    <% end %>
<%
=end
%>
  <ul class="content-tiles">
    <% objects = value.presence&.includes(:translations)&.page&.per(DataCycleCore.linked_objects_page_size) %>
    <% objects.presence&.each do |item| %>
        <li class="<%= [
                          'copy-single',
                            'content',
                            item.class.name.demodulize.underscore.sub('_', '-'),
                            item.template_name.underscore.sub('_', '-'),
                        ].join(' ') %>" data-id="<%= [item.id] %>">

            <%= render_first_existing_partial [
                                                  "data_cycle_core/contents/viewers/linked/#{item.class.name.demodulize.underscore}_#{item.template_name.underscore}_tile",
                                                  "data_cycle_core/contents/viewers/linked/#{item.class.name.demodulize.underscore}_tile",
                                                  'data_cycle_core/contents/viewers/linked/content_tile'
                                              ], {
                                                  content: item
                                              } %>
        </li>
    <% end %>

    <div class="clear-both">
      <%= link_to t('common.load_more', locale: DataCycleCore.ui_language), polymorphic_path([:load_more_linked_objects, content], key: key, definition: definition, options: options, page: params.fetch(:page, 1).to_i + 1, load_more_action: :show), remote: true, id: "load_more_#{content&.id}_#{sanitize_to_id(key)}", class: 'load-more-linked-contents button small secondary', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: DataCycleCore.ui_language)}" } if objects.try(:total_pages)&.positive? && !objects&.last_page? %>
    </div>
  </ul>

<% end %>
