<% object = ("DataCycleCore::"+("#{definition['type_name']}".classify)).constantize %>
<%= render 'data_cycle_core/contents/viewers/attribute_viewer', key: key, definition: definition, value: (value.is_a?(Hash) ? value['value'] : value), options: options, data_attributes: {id: (value.is_a?(Hash) ? value['value'] : value), editor: "object_browser" } do %>

    <% if definition['releasable'] && value.is_a?(Hash) %>
        <div class="release-status">
            <span class="status-information"><%= DataCycleCore::Release.find(value['release_id']).release_text %></span>
            <% unless value['release_comment'].blank? %>
                <span class="status-comment" data-open="release-comment-<%= object_id %>-<%= key %>"><i class="fa fa-comment" aria-hidden="true"></i></span>
                <div class="reveal release-comment" id="release-comment-<%= object_id %>-<%= key %>" data-reveal>
                    <p class="lead">Kommentar</p>
                    <div class="release-comment"><%= simple_format(value['release_comment']) %></div>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% end %>
        </div>
        <% value = value['value'] unless value.blank? %>
    <% end %>

    <ul class="content-tiles">
        <% unless value.nil? %>
            <% object.find(value) do |item| %>
                <li class="<%= [
                                   'content',
                                   item.class.name.demodulize.underscore.sub('_', '-'),
                                   item.template_name.underscore.sub('_', '-')
                               ].join(' ') %>">

                    <%= render_first_existing_partial [
                                                          "data_cycle_core/contents/viewers/linked/#{item.class.name.demodulize.underscore}_#{item.template_name.underscore}_tile",
                                                          "data_cycle_core/contents/viewers/linked/#{item.class.name.demodulize.underscore}_tile",
                                                          'data_cycle_core/contents/viewers/linked/content_tile'
                                                      ], {
                                                          content: item
                                                      } %>
                </li>
            <% end %>
        <% end %>
    </ul>
<% end %>
