<%= render 'data_cycle_core/contents/viewers/attribute',
  key: key,
  definition: definition,
  value: value,
  options: (options || {}).merge(definition&.dig('ui', 'edit', 'options', 'additional_value_paths').present? ? { force_render: true }: {}),
  content: content,
  data_attributes: {
    value: { x: value.try(:x), y: value.try(:y), elevation: content&.try(:elevation) }.to_json,
    editor: "geographic"
  } do %>

    <% value ||= options.dig(:item_diff, 1) %>
    <% is_line_string = (value.presence&.geometry_type || definition.dig('ui', 'edit', 'type')).to_s.include?('LineString') %>

    <div class="geographic">
        <div id="map_<%= SecureRandom.hex(16) %>" class="geographic-map <%= is_line_string ? 'linestring' : 'point' %> <%= changes_mode(options.dig(:item_diff)) %>"
          data-map-options="<%= DataCycleCore.default_map_position.presence&.to_json %>"
          data-before-position="<%= options.dig(:item_diff, 1).presence&.to_s if options.dig(:item_diff, 0) == '~' %>"
          data-after-position="<%= options.dig(:item_diff, 0) == '~' ? options.dig(:item_diff, 2).presence&.to_s : options.dig(:item_diff, 1).presence&.to_s %>"
          data-type="<%= (value.presence&.geometry_type || (is_line_string ? 'MultiLineString' : 'Point')).to_s %>"
          data-value="<%= value.presence&.to_s %>"
          data-additional-values="<%= additional_map_values([content], Array.wrap(definition&.dig('ui', 'edit', 'options', 'additional_value_paths')))&.to_json %>">
        </div>
    </div>

    <div class="map-info <%= 'linestring-info' if is_line_string %>">
      <span class="detail-label"><%= definition['label'] %></span>

      <% if !is_line_string %>
        <% case options.dig(:item_diff, 0) %>
        <% when '~' %>
          <% x_html = "<del>#{options.dig(:item_diff, 1).presence&.x}</del><ins>#{options.dig(:item_diff, 2).presence&.x}</ins>" %>
          <% y_html = "<del>#{options.dig(:item_diff, 1).presence&.y}</del><ins>#{options.dig(:item_diff, 2).presence&.y}</ins>" %>
        <% when '+' %>
          <% x_html = options.dig(:item_diff, 1).presence&.x&.to_s %>
          <% y_html = options.dig(:item_diff, 1).presence&.y&.to_s %>
        <% else %>
          <% x_html = value.presence&.x&.to_s %>
          <% y_html = value.presence&.y&.to_s %>
        <% end %>

        <div class="detail-type longitude number" data-label="<%= DataCycleCore::Thing.human_attribute_name(:longitude, locale: DataCycleCore.ui_language) %>">
          <span class="detail-label">
            <%= DataCycleCore::Thing.human_attribute_name(:longitude, locale: DataCycleCore.ui_language) %>
          </span>
          <span class="detail-content">
            <%= x_html&.html_safe %>
          </span>
        </div>

        <div class="detail-type latitude number" data-label="<%= DataCycleCore::Thing.human_attribute_name(:latitude, locale: DataCycleCore.ui_language) %>">
          <span class="detail-label">
            <%= DataCycleCore::Thing.human_attribute_name(:latitude, locale: DataCycleCore.ui_language) %>
          </span>
          <span class="detail-content">
            <%= y_html&.html_safe %>
          </span>
        </div>
      <% end %>

      <% if content.elevation.present? && content.elevation.nonzero? %>
        <div class="detail-type elevation number" data-label="<%= DataCycleCore::Thing.human_attribute_name(:elevation, locale: DataCycleCore.ui_language) %>">
          <span class="detail-label">
            <%= DataCycleCore::Thing.human_attribute_name(:elevation, locale: DataCycleCore.ui_language) %>
          </span>
          <span class="detail-content">
            <%= content.elevation %>
          </span>
        </div>
      <% end %>
    </div>
<% end %>
