<%= render 'data_cycle_core/contents/viewers/attribute', key: key, definition: definition, value: value, options: options, content: content do %>

    <% if value.try(:geometry_type) == RGeo::Feature::Point %> <%# only show points for now, not the lines %>
        <div class="detail-type geographic">
            <span class="map-info openlayers-style">
                <%= DataCycleCore::Place.human_attribute_name(:longitude, locale: DataCycleCore.ui_language) %>: <span class="map-longitude"><%= value.presence&.x %></span><br>
                <%= DataCycleCore::Place.human_attribute_name(:latitude, locale: DataCycleCore.ui_language) %>: <span class="map-latitude"><%= value.presence&.y %></span>
            </span>

            <% map_id = "map_#{SecureRandom.hex(16)}" %>
            <script>
                var <%= map_id %> = {
                    type: "<%= value.geometry_type.to_s %>",
                        points: [<%= "[#{value.x}, #{value.y}]" %>]
                };
            </script>

            <div id="<%= map_id %>" class="geographic-map" style="max-height: 450px;" data-default-position="<%= DataCycleCore.default_map_position.presence&.to_json %>" data-icon-path="<%= image_path('location.svg') %>">
            </div>
        </div>
    <% elsif value.try(:geometry_type) == RGeo::Feature::LineString %> <%# only show points for now, not the lines %>
        <div class="detail-type geographic">

            <% map_id = "map_#{SecureRandom.hex(16)}" %>
            <script>
                var <%= map_id %> = {
                    type: "<%= value.geometry_type.to_s %>",
                        points: [<%= value.points.map { |p| "[#{p.x}, #{p.y}]" }.join(",") %>]
                };
            </script>

            <div id="<%= map_id %>" class="geographic-map" style="max-height: 450px;" data-default-position="<%= DataCycleCore.default_map_position.presence&.to_json %>" data-icon-path="<%= image_path('location.svg') %>">
            </div>
        </div>
    <% end %>
<% end %>
