<% if value.try(:start_date).present? || value.try(:end_date).present? %>

  <div class="event_period">
    <i class="fa fa-calendar" aria-hidden="true"></i>

    <% unless value.try(:start_date).nil? %>
      <%= t('terms.from', locale: active_ui_locale) %>
      <span class="date">
        <% if value.start_date.to_s(:time) == '00:00' || value.try(:event_schedule)&.many? || value.try(:event_schedule)&.first.try(:schedule_object)&.first(2)&.many? %>
          <strong><%= l(value.start_date.to_date, format: :full, locale: active_ui_locale) %></strong>
        <% else %>
          <strong><%= l(value.start_date.to_datetime, locale: active_ui_locale) %></strong>
        <% end %>
      </span>
    <% end %>

    <% unless value.try(:end_date).nil? %>
      <%= t('terms.until', locale: active_ui_locale) %>
      <span class="date">
        <% if value.end_date.to_s(:time) == '00:00' || value.try(:event_schedule)&.many? || value.try(:event_schedule)&.first.try(:schedule_object)&.first(2)&.many? %>
          <strong><%= l(value.end_date.to_date, format: :full, locale: active_ui_locale) %></strong>
        <% else %>
          <strong><%= l(value.end_date.to_datetime, locale: active_ui_locale) %></strong>
        <% end %>
      </span>
    <% end %>
  </div>

<% end %>
