<%= render 'data_cycle_core/contents/viewers/attribute', local_assigns do %>

  <% objects = value.presence&.map(&:to_h)&.compact&.group_by { |s| [s[:dtstart]&.in_time_zone&.beginning_of_day, s.dig(:rrules, 0, :until)&.to_datetime&.beginning_of_day, s.dig(:rrules, 0, :exdates)] } %>
  <% objects&.each do |validity_period, opening_times| %>
    <div class="opening-time-group">
      <span class="opening-time-validity-period">
        <%= opening_time_validity_period(validity_period) %>
        <%= opening_time_ex_dates(opening_times) %>
        <%= render 'data_cycle_core/shared/validation_messages', content: content, key: key, value: opening_times if definition.key?('validations') %>
      </span>

      <span class="opening-time-opening-hours">
        <%= opening_time_opening_hours(opening_times) %>
      </span>
    </div>
  <% end %>

<% end %>
