<%= render 'data_cycle_core/contents/viewers/attribute', local_assigns do %>

  <div class="inner">
    <div class="thumb">
      <% if content.try(:content_url).present? %>
        <a href="<%= content.try(:content_url) %>" target="_blank" class="link-to-image">
          <img class="lazyload" data-src="<%= value.try(:html_safe) %>" style="aspect-ratio: <%= aspect_ratio(content) %>;" />
        </a>
      <% else %>
        <img class="lazyload" data-src="<%= value.try(:html_safe) %>" style="aspect-ratio: <%= aspect_ratio(content) %>;" />
      <% end %>
    </div>
  </div>

<% end %>
