<% objects = value.presence %>
<% objects = Array(objects) + new_relations(options.dig(:item_diff), 'things').to_a.concat if changes_by_mode(options.dig(:item_diff), '+').present? %>

<% objects.presence&.each_with_index do |object, index| %>

  <%= render 'data_cycle_core/contents/viewers/attribute',
      key: key,
      definition: definition,
      value: value,
      options: options.merge({
        hide_label: true
      }),
      data_attributes: { id: [object.id], editor: 'schedule' },
      content: content do %>

    <span class="detail-label">
      <%= render 'data_cycle_core/shared/icon', icon_type: definition.dig('label')&.downcase %><strong><%= definition['label'].titleize %> <%= content_tag(:span, (local_assigns.fetch(:page, 1).to_i - 1) * DataCycleCore.linked_objects_page_size + index + 1) if value.try(:total_count)&.>(1) || value.try(:total_pages)&.>(1) %></strong>
      <i><%=object.try(:schedule_object)&.terminating? ? "(#{object.schedule_object.all_occurrences.size})" : "#{t('schedule.ongoing', locale: DataCycleCore.ui_language)}" %></i>
    </span>

    <%= render 'data_cycle_core/contents/viewers/shared/buttons', local_assigns.merge({ content: object }) %>

    <% validity_range = Array.wrap(object.try(:schedule_object)&.first(2)) || [] %>

    <span class="detail-content events-calender-view">
      <%= render partial: 'data_cycle_core/contents/viewers/schedule/date_leaf', collection: Array.wrap(validity_range.first), as: :date, locals: { object: object, skip_year: true } %>
      <%= render partial: 'data_cycle_core/contents/viewers/schedule/date_leaf', collection: Array.wrap(validity_range.last), as: :date, locals: { object: object, skip_year: true } %>
    </span>

  <% end %>

<% end %>
