<% I18n.with_locale(item.first_available_locale(local_assigns[:locale])) do %>

  <% if item.try(:desc).present? %>
    <div class="desctiption">
      <%= sanitize(item.desc) %>
    </div>
  <% end %>

  <%= render 'data_cycle_core/contents/grid/attributes/tags', item: item, classification_tree_visibility: 'list' if item.try(:display_classification_aliases, 'list').present? %>

  <div class="thumbnails">
    <% if item.try(:image).is_a?(ActiveRecord::Relation) %>
      <% item.image.presence&.includes(:translations)&.each do |image| %>
          <img data-src="<%= image.thumbnail_url %>" alt="<%= image.title %>" class="lazyload" title="<img src='<%= image.thumbnail_url %>' />" data-tooltip data-allow-html="true" data-template-classes="thumbnail-tooltip" />
      <% end %>
    <% elsif item.try(:thumbnail_url).present? %>
      <img data-src="<%= item.thumbnail_url %>" alt="<%= item.title %>" class="lazyload" title="<img src='<%= item.thumbnail_url %>' />" data-tooltip data-allow-html="true" data-template-classes="thumbnail-tooltip" />
    <% elsif item.try(:image).is_a?(String) && item.try(:image).present? %>
      <img data-src="<%= item.image %>" alt="<%= item.title %>" class="lazyload" title="<img src='<%= item.image %>' />" data-tooltip data-allow-html="true" data-template-classes="thumbnail-tooltip" />
    <% end %>
  </div>

<% end %>
