<% content_for(:additional_attributes, flush:true) do %>
  <% if !item.organization? && item.name.present? %>
    <li>
      <span class="attribute-label"><%= DataCycleCore::User.human_attribute_name(:name, locale: active_ui_locale) %></span>
      <span class="attribute-value"><%= item.name %></span>
    </li>
  <% end %>

  <% item.user_api_feature.additional_tile_values(item)&.each do |key, value| %>
    <li>
      <span class="attribute-label"><%= DataCycleCore::User.human_attribute_name(key, default: key&.split('/').last, locale: active_ui_locale) %></span>
      <span class="attribute-value"><%= user_additional_tile_attribute_value(key, value) %></span>
    </li>
  <% end %>
<% end %>

<% if content_for?(:additional_attributes) %>
  <ul class="user-additional-attributes no-bullet">
    <%= yield_content!(:additional_attributes) %>
  </ul>
<% end %>

<div class="tags">
  <ul class="no-bullet no-format">
    <% if item.role %>
      <li class="tag"><%= t('roles.'+item.role.name, locale: active_ui_locale) %></li>
    <% end %>

    <% item.user_groups.each do |user_group| %>
      <li class="tag"><%= user_group.name %></li>
    <% end %>
  </ul>
</div>
