<!DOCTYPE html>
<html lang="de">
<head>
    <%= render 'head' %>
</head>
<body>
    <%= display_flash_messages_new %>

    <%= render 'header' %>

    <div class="off-canvas-wrapper">

        <%= render 'user-settings' if user_signed_in? %>

        <div class="off-canvas-content" data-off-canvas-content>

            <%= render 'breadcrumb' if user_signed_in? %>

            <%= yield :new_button %>

            <div class="reveal-blur">

                <%= yield :top_content %>

                <div class="expanded row">
                    <div class="column">
                        <%= yield %>
                    </div>
                </div>

                <%= render 'footer' %>

            </div>

        </div>

    </div>

</body>
</html>
