<!DOCTYPE html>
<html lang="en">
<head>
    <%= render 'data_cycle_core/shared/head' %>
</head>
<body>

    <%= render 'data_cycle_core/shared/header' %>

    <div class="off-canvas-wrapper">

        <%= render 'data_cycle_core/backend/user-settings' if user_signed_in? %>

        <div class="off-canvas-content" data-off-canvas-content>

            <%= render 'data_cycle_core/backend/breadcrumb' if user_signed_in? %>

            <%= render 'new_content_links' if user_signed_in? && can?(:create, DataCycleCore::CreativeWork) %>

            <div class="reveal-blur">

                <%= render 'data_cycle_core/application/filter' if user_signed_in? %>

                <%= render 'data_cycle_core/backend/views' if user_signed_in? %>

                <div class="expanded row">
                    <div class="column">

                        <%= display_flash_messages_new %>

                        <%= yield %>
                    </div>
                </div>

                <%= render 'data_cycle_core/shared/footer' %>

            </div>

        </div>

    </div>

</body>
</html>
