<!DOCTYPE html>
<html lang="<%= active_ui_locale %>" data-i18n-digest="<%= i18n_digest %>" data-holidays-country-code="<%= Array.wrap(DataCycleCore.holidays_country_code).join('_') %>">
  <head>
    <%= render 'head' %>
  </head>
  <body class="<%= controller_name %>">
    <%= display_flash_messages_new %>

    <%= render 'header' %>

    <%= render 'user_settings' if user_signed_in? %>

    <div class="off-canvas-content" data-off-canvas-content>

      <%= render 'breadcrumb' %>

      <%= yield :new_button %>

      <div class="inner-container">

        <%= yield :top_content %>

        <div class="expanded row">
          <div class="column">
            <%= yield %>
          </div>
        </div>

        <%= yield :admin_panel if can? :show_admin_panel, @content %>

      </div>

      <%= render 'footer' if @split_source.nil? %>

    </div>

    <%= yield_content!(:body_scripts) %>
  </body>
</html>
