<!DOCTYPE html>
<html lang="<%= active_ui_locale %>">
  <head>
    <%= render 'head' %>
  </head>
  <body class="<%= controller_name %> devise with-glass" style="<%= dc_background_image_style %>">
    <%= display_flash_messages_new %>

    <%= yield %>
  </body>
</html>
