<!DOCTYPE html>
<html lang="de">
  <head>
    <%= render 'head' %>
  </head>
  <body class="<%= controller_name %> devise with-glass" style="<%= dc_background_image_style %>">
    <%= display_flash_messages_new %>

    <%= render 'data_cycle_core/application/additional_noscript_tags' %>

    <%= yield %>
  </body>
</html>
