<% header = render 'data_cycle_core/application/mailer/header' %>
<% footer = render 'data_cycle_core/application/mailer/footer' %>

<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= message.subject %></title>
    <%= render 'data_cycle_core/application/mailer/styles' %>
    <%= yield :head %>
  </head>
  <body>
    <div align="center">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <%= header %>

        <tr class="main_content">
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                      <%= yield %>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <%= footer %>
      </table>
    </div>
  </body>
</html>
