<% breadcrumb :reports %>

<section class="reports">
  <h1><%= t('data_cycle_core.reports.available_reports', locale: active_ui_locale) %></h1>
  <ul class="available-reports no-bullet">
    <% @reports.each do |key, report| %>
      <li>
        <a href="#" class="report-overlay-link" data-open="report-overlay-<%= key %>"><%= t("feature.report_generator.#{key}", locale: active_ui_locale) %></a>

        <div class="reveal" id="report-overlay-<%= key %>" data-reveal>
          <div class="reveal-header"><%= t("feature.report_generator.#{key}", locale: active_ui_locale) %></div>
          <div class="remote-render"
              data-remote-path="data_cycle_core/reports/form"
              data-remote-options="<%= to_query_params({ key: key, report: report }).to_json %>">
          </div>

          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </li>
    <% end %>
  </ul>
</section>
