<% content_for(:advanced_filters, flush:true) do %>
  <% filter&.dig(:filters)&.each_with_index do |advanced_filter, idx| %>
    <%= render_advanced_filter_partial({
          filter_type: advanced_filter['t'],
          filter_title: advanced_filter['n'],
          filter_name: advanced_filter['n'].presence&.underscore_blanks,
          filter_method: advanced_filter['m'],
          filter_code: advanced_filter['c'],
          filter_buttons: advanced_filter['buttons'],
          filter_advanced_type: advanced_filter['q'],
          identifier: advanced_filter['identifier'],
          value: advanced_filter['v'] }) %>
  <% end %>

  <% if can?(:advanced_filter, config[:view_type]&.to_sym) %>
    <div class="add-advanced-filter-container">
      <%= select_tag :add_advanced_filter,
                      grouped_options_for_select(DataCycleCore::Feature::AdvancedFilter.available_filters(current_user, config[:view_type])),
                      prompt: t("filter.add", locale: active_ui_locale),
                      class: 'single-select',
                      data: {
                        allow_clear: false
                      } %>
    </div>
  <% end %>
<% end %>

<% if content_for?(:advanced_filters) %>
  <div class="advanced-filters accordion" data-accordion data-allow-all-closed="true">
    <div class="accordion-item <%= 'is-active' if DataCycleCore::Feature::AdvancedFilter.always_visible? %>" data-accordion-item>
      <div class="accordion-content" data-tab-content style="<%= 'display: block;' if DataCycleCore::Feature::AdvancedFilter.always_visible? %>">
        <%= yield_content!(:advanced_filters) %>
      </div>
      <a href="#" class="accordion-title">
        <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
      </a>
    </div>
  </div>
<% end %>
