<div class="classification-tree-filter filter" data-id="<%= filter[:identifier] %>">
  <%= hidden_field_tag "f[#{filter[:identifier]}][c]", 's' %>
  <%= hidden_field_tag "f[#{filter[:identifier]}][t]", :classification_alias_ids %>
  <%= hidden_field_tag "f[#{filter[:identifier]}][n]", filter&.dig(:config) %>
  <%= hidden_field_tag "f[#{filter[:identifier]}][m]", 'i' %>

  <ul class="no-bullet">
    <% filter&.dig(:classification_aliases)&.each do |item| %>
      <li class="<%= item.internal_name&.underscore_blanks %>" style="<%= classification_style(item) %>">
        <input type="checkbox" name="f[<%= filter[:identifier] %>][v][]" value="<%= item.id %>" id="<%= filter[:identifier] %>_<%= item.id %>" <%= 'checked' if filter[:value]&.include?(item.id) %> />
        <label for="<%= filter[:identifier] %>_<%= item.id %>" data-dc-tooltip="<%= classification_tooltip(item) %>">
          <span class="title">
            <%= render 'data_cycle_core/shared/icon', icon_type: item.internal_name&.underscore_blanks %>
            <span class="inner-title"><%= item.internal_name %></span>
          </span>
        </label>
      </li>
    <% end %>
  </ul>
</div>
