<% I18n.with_locale(@language) do %>

    <%= link_to polymorphic_path(item, watch_list_id: @watch_list) do %>

        <div class="inner">

            <%= render 'data_cycle_core/creative_works/partials/index/render/type', item: item %>
            <%= render 'data_cycle_core/creative_works/partials/index/render/title', item: item %>
            <%= render 'data_cycle_core/creative_works/partials/index/render/description', item: item %>

            <% unless item.metadata.nil? %>

                <% unless item.metadata['thumbnail_url'].nil? %>

                    <div class="image">
                        <img src="<%= item.metadata['thumbnail_url'] %>" alt="<%= item.content['name'] unless item.content.blank?%>" />
                    </div>

                <% end %>

            <% end %>

            <% unless item.display_classification_aliases.nil? %>

                <div class="tags">
                    <% item.display_classification_aliases.each do |classificationAlias| %>
                        <span class="tag"><%= classificationAlias.name %></span>
                    <% end %>
                </div>

            <% end %>

            <%= render 'data_cycle_core/creative_works/partials/index/render/contentInfo', item: item %>

        </div>

    <% end %>

<% end %>
