<%= render 'data_cycle_core/contents/grid/compact/tile_wrapper', local_assigns.except(:tile_links).merge(tile_classes: 'asset') do %>
  <%
    thumbnail_url = object.try(:asset)&.first&.thumbnail_url
  %>
  <%
      render_locale = I18n.locale
      random_id = SecureRandom.hex(10)
  %>
  <% I18n.with_locale(object.first_available_locale) do %>
    <div class="thumbnail media item lazyload <%= local_assigns[:class] %>" data-open="<%= random_id %>" data-bg="<%= thumbnail_url %>">
      <% if object.title.present? %>
        <div class="description">
          <%= object.title %> (<%= I18n.locale.to_s %>)
        </div>
      <% end %>
      <%= tag.span(tag.i(class: 'fa fa-bars'), class: 'draggable-handle') if local_assigns[:edit_buttons] && attribute_editable?(key, definition, options, content) %>
      <%= render 'data_cycle_core/contents/grid/attributes/warnings', content: object, locale: render_locale %>
    </div>

    <div class="width-content reveal media-preview" id="<%= random_id %>" data-reveal>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= tag.span "#{object.title} (#{I18n.locale.to_s})", class: 'preview-title' if object.try(:title).present? %>
      <div class="image">
        <img class="lazyload" data-src="<%= thumbnail_url %>" />
      </div>
      <div class="description">
        <%= render 'data_cycle_core/contents/validity_period', dataCycleObject: object %>
        <%= render 'data_cycle_core/contents/grid/attributes/warnings', content: object, text: true, locale: render_locale %>
        <%= link_to t('tile_links.details', locale: active_ui_locale), thing_path(object), target: :_blank %>
        <% if can?(:download, object) && object.try(:content_url).present? %>
          | <%= link_to t('tile_links.full_size', locale: active_ui_locale), object.try(:content_url), target: :_blank %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
