<% render_locale = I18n.locale %>
<% I18n.with_locale(object.first_available_locale) do %>
  <% content_for(:tile_header_buttons, tag.span(tag.i(class: 'fa fa-bars'), class: 'draggable-handle')) if local_assigns[:edit_buttons] && attribute_editable?(key, definition, options, content) %>
  <% content_for(:tile_header_buttons, render('data_cycle_core/shared/icon', icon_type: object.try(:icon_type), icon_class: object.try(:icon_class))) %>
  <% content_for(:tile_header_buttons, render_linked_content_warnings(content, { content: object, locale: render_locale })) %>

  <%= render 'data_cycle_core/contents/grid/compact/tile_wrapper', local_assigns.merge(tile_classes: 'media') do %>
    <div class="tile-top">
      <%= yield_content!(:tile_links) %>

      <%= render_translatable_linked_field(content, 'data_cycle_core/contents/grid/compact/attributes/title', { object: object }) %>

      <% if object.respond_to?(:internal_name) && object.internal_name.present? %>
        <span class="title working-title" title="<%= object.internal_name %>">
          (<%= sanitize(strip_links(truncate(object.internal_name, length: 70, separator: " ", escape: false))) %>)
        </span>
      <% end %>
    </div>

    <%= tag.div(yield_content!(:additional_tile_attributes), class: 'tile-properties') if content_for?(:additional_tile_attributes) %>
  <% end %>
<% end %>
