<% thumbnail_url = object.try(:thumbnail_url) || object.try(:asset).try(:first).try(:thumbnail_url) %>

<% if thumbnail_url.blank? %>
  <%= render 'data_cycle_core/contents/grid/compact/default', local_assigns %>
<% else %>
  <%= render 'data_cycle_core/contents/grid/compact/tile_wrapper', local_assigns.except(:tile_links).merge(tile_classes: 'video asset') do %>
    <%
        render_locale = I18n.locale
        random_id = SecureRandom.hex(10)
    %>
    <% I18n.with_locale(object.first_available_locale) do %>
      <div class="thumbnail media item lazyload <%= local_assigns[:class] %>" data-open="<%= random_id %>" data-bg="<%= thumbnail_url %>">
        <% if object.title.present? %>
          <div class="description">
            <%= object.title %> (<%= I18n.locale.to_s %>)
          </div>
        <% end %>
        <%= tag.span(tag.i(class: 'fa fa-bars'), class: 'draggable-handle') if local_assigns[:edit_buttons] && attribute_editable?(key, definition, options, content) %>
        <%= render_linked_content_warnings(content, { content: object, locale: render_locale }) %>
      </div>

      <div class="width-content reveal media-preview" id="<%= random_id %>" data-reveal>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= tag.span "#{object.title} (#{I18n.locale.to_s})", class: 'preview-title' if object.try(:title).present? %>
        <div class="video">
          <video class="lazyload" data-poster="<%= thumbnail_url %>" controls="controls" controlsList="nodownload" preload="none">
            <source src="<%= object.try(:content_url) %>" type="video/mp4">
            Your browser does not support the video tag
          </video>
        </div>
        <div class="description">
          <%= render 'data_cycle_core/contents/validity_period', dataCycleObject: object %>
          <%= render_linked_content_warnings(content, { content: object, locale: render_locale, text: true }) %>
          <%= link_to t('tile_links.details', locale: active_ui_locale), thing_path(object), target: :_blank %>
          <% if can?(:download, object) && object.try(:content_url).present? %>
            | <%= link_to t('tile_links.full_size', locale: active_ui_locale), object.try(:content_url), target: :_blank %>
          <% end %>
          <% if DataCycleCore.features.dig(:external_media_archive, :enabled) %>
            <% if object.try(:url).present? %>
              | <%= link_to t('tile_links.media_archive', locale: active_ui_locale), object.url, target: :_blank %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
