<div class="reveal" id="<%= html_id %>" data-reveal>
  <div class="reveal-header"><%= t('actions.add_items_to_watch_list', data: DataCycleCore::WatchList.model_name.human(count: 1, locale: active_ui_locale), locale: active_ui_locale) %></div>
  <%= form_with url: add_to_watchlist_stored_filters_path, local: true, namespace: SecureRandom.hex(10), class: 'add-items-to-watch-list-form' do |f| %>
    <div class="reveal-body">
      <div class="validation-container form-element">
        <%= f.label :watch_list_id, ActionView::OutputBuffer.new("#{DataCycleCore::WatchList.model_name.human(count: 1, locale: active_ui_locale)} #{tag.span('*', class: 'required-field-marker')}") %>
        <div class="v-select white">
          <%= f.select(:watch_list_id,
          [],
          {},
          {
            required: true,
            class: 'async-select add-items-to-watch-list-select',
            data: {
              tags: true,
              max: 20,
              placeholder: '',
              search_path: search_watch_lists_path
            }
          }) %>
        </div>
      </div>
      <div class="search-form-data"></div>
    </div>
    <div class="buttons reveal-footer">
      <%= f.button safe_join([
          t('actions.add', locale: active_ui_locale),
          tag.i(class: 'fa fa-plus')
        ]),
        class: 'button primary',
        data: {
          disable_with: safe_join([
            t('actions.add', locale: active_ui_locale),
            tag.i(class: 'fa fa-spinner fa-spin fa-fw')
          ])
        },
        type: :submit %>
    </div>
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
