<div data-id="<%= identifier %>" class="advanced-filter <%= filter_method || 'i' %>" data-label="<%= filter_name %>">

  <%= hidden_field_tag "f[#{identifier}][c]", local_assigns[:filter_code] || 'a' %>
  <%= hidden_field_tag "f[#{identifier}][t]", 'advanced_attributes' %>
  <%= hidden_field_tag "f[#{identifier}][n]", filter_title %>
  <%= hidden_field_tag "f[#{identifier}][q]", filter_advanced_type %>

  <div class="advanced-filter-title">
    <span class="icon"><i class="fa fa-th" aria-hidden="true"></i></span>
    <span><%= t("filter.#{filter_name}", default: filter_title, locale: active_ui_locale) %></span>
  </div>

  <% filter_mode_options = advanced_attribute_filter_options(filter_advanced_type) %>
  <% if filter_advanced_type == 'boolean' %>
    <%= hidden_field_tag "f[#{identifier}][m]", 'n' %>
  <% else %>
    <div class="advanced-filter-mode">
      <%= select_tag "f[#{identifier}][m]", options_for_select(filter_mode_options, filter_method), {class: 'advanced-filter-mode-selector'} %>
    </div>
  <% end %>

  <div class="advanced-filter-selector">
    <% if filter_advanced_type == 'string' %>
      <%= hidden_field_tag "f[#{identifier}][v][helper]", 'true', {class: 'hidden_helper', disabled: (!['b', 'p'].include?(filter_method))} %>
      <%= text_field_tag "f[#{identifier}][v][text]", value&.dig('text'), { placeholder: '', class: 'filter-text', disabled: (['b', 'p'].include?(filter_method)), data: { initial_focus: true } } %>
    <% elsif filter_advanced_type == 'date' || filter_advanced_type == 'date_range' %>
      <span class="separator"><%= t("terms.from", locale: active_ui_locale) %></span>
      <%= date_field_tag "f[#{identifier}][v][from]", value&.dig('from') || local_assigns[:default_from], { placeholder: 'tt.mm.jjjj', data: { initial_focus: true } } %>
      <span class="separator"><%= t("terms.until", locale: active_ui_locale) %></span>
      <%= date_field_tag "f[#{identifier}][v][until]", value&.dig('until') || local_assigns[:default_until], { placeholder: 'tt.mm.jjjj' } %>
    <% elsif filter_advanced_type == 'boolean' %>
      <div class="advanced-filter-selector">
        <%= radio_button_tag "f[#{identifier}][v]", 'true', (value != 'false'), data: { initial_focus: true } %>
        <%= label_tag "f_#{identifier}_v_true", t("common.is_true", default: filter_title, locale: active_ui_locale) %>
      </div>
      <div class="advanced-filter-selector">
        <%= radio_button_tag "f[#{identifier}][v]", 'false', (value == 'false') %>
        <%= label_tag "f_#{identifier}_v_false", t("common.is_false", default: filter_title, locale: active_ui_locale) %>
      </div>
    <% else #numeric %>
      <span class="separator"><%= t("terms.min", locale: active_ui_locale) %></span>
      <%= number_field_tag "f[#{identifier}][v][min]", value&.dig('min'), { step: 'any', placeholder: '', class: 'filter-text', data: { initial_focus: true } } %>
      <span class="separator"><%= t("terms.max", locale: active_ui_locale) %></span>
      <%= number_field_tag "f[#{identifier}][v][max]", value&.dig('max'), { step: 'any', placeholder: '', class: 'filter-text' } %>
    <% end %>
  </div>

  <% if can?(:advanced_filter, :backend) && local_assigns[:filter_buttons] %>
    <div class="buttons">
      <a class="remove-advanced-filter" data-target="<%= identifier %>"><i aria-hidden="true" class="fa fa-times"></i></a>
    </div>
  <% end %>
</div>
