<% excluded_types ||= [] %>
<% children = item.sub_classification_alias %>
<%= tag.li(data: { children: children.present? ? children.size : nil }) do %>
  <%= check_box_tag "f[#{identifier}][v][]", item.id, local_assigns[:value]&.include?(item.id), id: "#{identifier}_#{item.id}", disabled: !item.assignable %>
  <label for="<%= identifier %>_<%= item.id %>" data-dc-tooltip="<%= classification_tooltip(item) %>" style="<%= "--classification-color: #{item.color}" if item.color? %>" class="<%= 'has-color' if item.color? %>">
    <span class="title">
      <span class="inner-title"><%= item.internal_name %></span>
    </span>
  </label>

  <% if children.present? %>
    <ul class="sub-classifications">
      <%= render partial: 'data_cycle_core/application/filters/classification_items',
                  collection: children,
                  as: :item,
                  locals: {
                    excluded_types: excluded_types,
                    tree_label: tree_label,
                    identifier: identifier,
                    value: value
                  } %>
    </ul>
  <% end %>
<% end %>
