<% excluded_types ||= [] %>
<%= tag.li(data: { children: item.sub_classification_alias.size > 0 ? item.sub_classification_alias.size : nil }) do %>
  <input type="checkbox" name="f[<%= identifier %>][v][]" value="<%= item.id %>" id="<%= identifier %>_<%= item.id %>" <%= 'checked' if local_assigns[:value]&.include?(item.id) %> />
  <label for="<%= identifier %>_<%= item.id %>" data-dc-tooltip="<%= classification_tooltip(item) %>">
    <span class="title">
      <span class="inner-title"><%= item.internal_name %></span>
    </span>
  </label>

  <% if item.sub_classification_alias.reject { |type| excluded_types.include?(type.internal_name) }.present? %>
    <ul class="sub-classifications">
      <%= render partial: 'data_cycle_core/application/filters/classification_items',
                  collection: item.sub_classification_alias
                    .includes(:primary_classification, :classification_alias_path, :sub_classification_alias)
                    .reject { |type| excluded_types.include?(type.internal_name) }
                    .sort{ |a,b| I18n.with_locale(a.first_available_locale(active_ui_locale)){ a.name } <=> I18n.with_locale(b.first_available_locale(active_ui_locale)){ b.name } },
                  as: :item,
                  locals: {
                    excluded_types: excluded_types,
                    tree_label: tree_label,
                    identifier: identifier,
                    value: value
                  } %>
    </ul>
  <% end %>
<% end %>
