<% selected = (@classification_array && @classification_array.include?(item.id)) ? "checked" : "" %>
<li<%= " data-children='#{item.sub_classification_alias.size}'" if item.sub_classification_alias.size > 0 %>>
    <input type="checkbox" name="classification[][selected]" value="<%= item.id %>" id="<%= item.id %>" <%= selected %> />
    <label for="<%= item.id %>">
        <span class="title">
            <span class="inner-title"><%= item.name %></span>
        </span>
    </label>

    <% if item.sub_classification_alias.size > 0 %>
        <ul class="sub-classifications">
            <% item.sub_classification_alias.sort{|a,b| a.name <=> b.name}.each do |sub_item| %>
                <%= render 'data_cycle_core/application/filters/classification_items', item: sub_item %>
            <% end %>
        </ul>
    <% end %>

</li>
