<li class="filter <%= li_class ||= '' %>" data-tree-label="<%= tree_label.downcase %>">
    <% excluded_types ||= [] %>
    <%= render 'data_cycle_core/shared/icon', icon_type: tree_label.downcase %>
    <span class="title"><%= display_label %></span>
    <div>
        <ul class="clearfix <%= ul_class ||= '' %>">
            <% if classification_trees %>
                <% classification_trees[tree_label].sort{|a,b| a.name <=> b.name}.each do |item| %>
                    <%= render 'data_cycle_core/application/filters/classification_items', item: item %>
                <% end %>
            <% end %>
        </ul>
    </div>
</li>
