<li class="filter <%= li_class ||= '' %>" data-tree-label="<%= tree_label.downcase %>">

    <% excluded_types ||= [] %>
    <%= render 'data_cycle_core/shared/icon', icon_type: tree_label.downcase %>
    <span class="title"><%= display_label %></span>
    <div>
        <ul class="clearfix <%= ul_class ||= '' %>">
            <% if !classification_trees.blank? && !classification_trees[tree_label].blank? %>
              <%= render partial: 'data_cycle_core/application/filters/classification_items', collection: classification_trees[tree_label].sort{|a,b| a.name <=> b.name}, as: :item, locals: {excluded_types: excluded_types} %>
            <% end %>
        </ul>
    </div>
</li>
