<div data-id="<%= filter_name %>_<%= index %>" data-index="<%= index %>" class="advanced-filter" data-label="<%= filter_name %>">
  <%= hidden_field_tag "f[#{index}][c]", 'a' %>
  <%= hidden_field_tag "f[#{index}][t]", :classification_alias_ids %>
  <%= hidden_field_tag "f[#{index}][n]", filter_title %>

  <div class="advanced-filter-title">
    <%= render 'data_cycle_core/shared/icon', icon_type: filter_name %>
    <span><%= t("filter.#{filter_name}", default: filter_title, locale: DataCycleCore.ui_language) %></span>
  </div>

  <div class="advanced-filter-mode">
    <%= t("common.is", locale: DataCycleCore.ui_language) %>
    <%= hidden_field_tag "f[#{index}][m]", 'i' %>
  </div>

  <div class="advanced-filter-selector">
    <% classification_items = DataCycleCore::ClassificationTreeLabel
      .find_by(name: filter_title)
      &.classification_trees
      &.includes(
        :parent_classification_alias, sub_classification_alias: [
          :classifications, sub_classification_alias: [
            :classifications, sub_classification_alias: [
              :classifications, :sub_classification_alias
            ]
          ]
        ]
      ) || [] %>

    <% if classification_items.size > DataCycleCore.max_asynch_classification_items %>
        <%= select_tag(
          "f[#{index}][v]",
          value.blank? ? nil : options_for_select(
            value.map { |c|
              [
                @selected_classification_aliases[c].try(:internal_name),
                c,
                {
                  title: [
                    @selected_classification_aliases[c].full_path,
                    @selected_classification_aliases[c].description
                  ].reject(&:blank?).join("\n\n")
                }
              ]
            }, value
          ),
          {
            multiple: true,
            class: 'async-select',
            data: {
              tree_label: filter_title,
              max: 20,
              placeholder: '',
              alias_ids: true
            }
          }
        ) %>
    <% else %>
        <% available_items = classification_items&.map { |c|
          [
            c.sub_classification_alias.try(:internal_name),
            c.sub_classification_alias.try(:id),
            {
              title: [
                c.sub_classification_alias.full_path,
                c.sub_classification_alias.description
              ].reject(&:blank?).join("\n\n")
            }
          ]
        } %>

        <%= select_tag(
          "f[#{index}][v]",
          options_for_select(available_items, value),
          {
            multiple: true,
            class: 'multi-select',
            data: {
              tree_label: filter_title,
              max: 20,
              placeholder: ''
            }
          }
        ) %>
    <% end %>
  </div>

  <% if can?(:advanced_filter, :backend) %>
    <div class="buttons">
      <a class="remove-advanced-filter button alert" data-target="<%= filter_name %>_<%= index %>"><i aria-hidden="true" class="fa fa-times"></i></a>
    </div>
  <% end %>
</div>
