<div data-id="<%= identifier %>" class="advanced-filter <%= filter_method || 'i' %>" data-label="<%= filter_name %>">
  <%= hidden_field_tag "f[#{identifier}][c]", local_assigns[:filter_code] || 'a' %>
  <%= hidden_field_tag "f[#{identifier}][t]", local_assigns[:filter_type] || :geo_filter %>
  <%= hidden_field_tag "f[#{identifier}][n]", filter_title %>
  <%= hidden_field_tag "f[#{identifier}][q]", local_assigns[:filter_advanced_type] || :geo_radius %>
  <%= hidden_field_tag "f[#{identifier}][m]", 'i' %>

  <div class="advanced-filter-title">
    <%= render 'data_cycle_core/shared/icon', icon_type: filter_name&.underscore_blanks, icon_class: 'filter' %>
    <span><%= t("filter.#{filter_name}", default: filter_title, locale: active_ui_locale) %></span>
  </div>

  <div class="advanced-filter-selector">
    <span class="separator"><%= t("common.center_point", locale: active_ui_locale) %></span>
    <%= number_field_tag "f[#{identifier}][v][lon]", value&.dig('lon'), { step: 'any', placeholder: t('common.placeholder.longitude', locale: active_ui_locale), class: 'filter-text', data: { initial_focus: true } } %>

    <%= number_field_tag "f[#{identifier}][v][lat]", value&.dig('lat'), { step: 'any', placeholder: t('common.placeholder.latitude', locale: active_ui_locale), class: 'filter-text' } %>
    <span class="separator"><%= t("common.distance", locale: active_ui_locale) %></span>
    <%= number_field_tag "f[#{identifier}][v][distance]", value&.dig('distance'), { class: 'filter-text' } %>

    <%= select_tag "f[#{identifier}][v][unit]", options_for_select(['km', 'm'], value.present? ? value&.dig('unit') || 'm' : 'km'), class: 'geo-radius-unit-selector' %>
  </div>

  <div class="buttons">
    <a class="geolocation-button" data-dc-tooltip="<%= t('common.geolocation_from_browser', locale: active_ui_locale) %>"><i aria-hidden="true" class="fa fa-location-arrow"></i></a>

    <% if can?(:advanced_filter, :backend) && local_assigns[:filter_buttons] %>
      <a class="remove-advanced-filter" data-target="<%= identifier %>"><i aria-hidden="true" class="fa fa-times"></i></a>
    <% end %>
  </div>

</div>
