<div data-id="<%= identifier %>" class="advanced-filter <%= filter_method || 'i' %>" data-label="<%= filter_name %>">
  <%= hidden_field_tag "f[#{identifier}][c]", local_assigns[:filter_code] || 'a' %>
  <%= hidden_field_tag "f[#{identifier}][t]", :id %>
  <%= hidden_field_tag "f[#{identifier}][n]", filter_title %>
  <%= hidden_field_tag "f[#{identifier}][q]", filter_advanced_type %>

  <div class="advanced-filter-title">
    <%= render 'data_cycle_core/shared/icon', icon_type: filter_name&.underscore_blanks, icon_class: 'filter' %>
    <span><%= t("filter.#{filter_name}", default: filter_title, locale: active_ui_locale) %></span>
  </div>

  <div class="advanced-filter-mode">
    <%= select_tag "f[#{identifier}][q]",
      options_for_select([
        [t("common.all", locale: active_ui_locale), 'all'],
        [t("common.internal", locale: active_ui_locale), 'internal'],
        [t("common.external", locale: active_ui_locale), 'external']
      ], filter_advanced_type) %>
  </div>

  <div class="advanced-filter-selector">
    <%= hidden_field_tag "f[#{identifier}][v][helper]", 'true', {class: 'hidden_helper', disabled: (!['b', 'p'].include?(filter_method))} %>
    <%= text_field_tag "f[#{identifier}][v][text]", value&.dig('text'), { placeholder: '', class: 'filter-text', disabled: (['b', 'p'].include?(filter_method)), data: { initial_focus: true } } %>
  </div>

  <% if can?(:advanced_filter, :backend) && local_assigns[:filter_buttons] %>
    <div class="buttons">
      <a class="remove-advanced-filter" data-target="<%= identifier %>"><i aria-hidden="true" class="fa fa-times"></i></a>
    </div>
  <% end %>
</div>
