<div class="reveal" id="save-filter-with-name" data-reveal>
  <h3><%= t('data_cycle_core.stored_searches.save', locale: DataCycleCore.ui_language) %></h3>
  <%= form_for(DataCycleCore::StoredFilter.new, html: { id: 'save-filter-name-form' }) do |f| %>
    <div class="validation-container form-element">
      <%= f.label :name, DataCycleCore::StoredFilter.human_attribute_name(:name, locale: DataCycleCore.ui_language) %>
      <%= f.text_field :name, required: true, label: false, list: "search_history", class: "ajax-datalist search_history", autocomplete: :off %>
      <datalist id="search_history"></datalist>
    </div>
    <% if can?(:create_global, DataCycleCore::StoredFilter) %>
      <div class="validation-container form-element">
        <%= f.check_box :system, label: false %>
        <%= f.label :system, DataCycleCore::StoredFilter.human_attribute_name(:system, locale: DataCycleCore.ui_language) %><br>
      </div>
    <% end %>
    <div class="buttons">
      <%= f.button t('actions.save', locale: DataCycleCore.ui_language),
        class: 'button primary',
        data: {
          save: t('actions.save', locale: DataCycleCore.ui_language),
          update: t('actions.update', locale: DataCycleCore.ui_language),
          disable_with: "<i class='fa fa-circle-o-notch fa-spin fa-3x fa-fw'></i> #{t('actions.save', locale: DataCycleCore.ui_language)}"
        },
        type: :submit %>
    </div>
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
