<div data-id="<%= identifier %>" class="advanced-filter <%= filter_method || 'i' %>" data-label="<%= filter_name %>">
  <%= hidden_field_tag "f[#{identifier}][t]", 'related_to' %>
  <%= hidden_field_tag "f[#{identifier}][n]", filter_title %>
  <%= hidden_field_tag "f[#{identifier}][q]", filter_advanced_type %>
  <%= hidden_field_tag "f[#{identifier}][c]", local_assigns[:filter_code] || 'a' %>

  <div class="advanced-filter-title">
    <%= render 'data_cycle_core/shared/icon', icon_type: filter_name&.underscore_blanks, icon_class: 'filter' %>
    <span><%= t("common.is", locale: active_ui_locale) %></span>
  </div>
  <div class="advanced-filter-mode">
    <%= select_tag "f[#{identifier}][m]", options_for_select([[t("filter.related_to_method.related", locale: active_ui_locale), 'i'], [t("filter.related_to_method.not_related", locale: active_ui_locale), 'e']], filter_method) %>
  </div>
  <div class="advanced-filter-selector">
    <%= select_tag("f[#{identifier}][v]",
      union_values_to_options(value),
      {
        include_blank: true,
        multiple: false,
        class: 'async-select',
        data: {
          initial_focus: true,
          max: 20,
          placeholder: '',
          search_path: select_search_or_collection_stored_filters_path
        }
      }) %>
  </div>
  <% if can?(:advanced_filter, :backend) && local_assigns[:filter_buttons] %>
    <div class="buttons">
      <a class="remove-advanced-filter" data-target="<%= identifier %>"><i aria-hidden="true" class="fa fa-times"></i></a>
    </div>
  <% end %>
</div>
