<div
  data-id="<%= identifier %>"
  class="advanced-filter conditional-value-selector <%= filter_method ||= 'i' %>"
  data-label="<%= filter_name %>"
>
  <%= hidden_field_tag "f[#{identifier}][t]", 'related_to' %>
  <%= hidden_field_tag "f[#{identifier}][n]", filter_title %>
  <%= hidden_field_tag "f[#{identifier}][q]", filter_advanced_type %>
  <%= hidden_field_tag "f[#{identifier}][c]", local_assigns[:filter_code] || 'a' %>

  <div class="advanced-filter-title">
    <%= render 'data_cycle_core/shared/icon', icon_type: filter_name&.underscore_blanks, icon_class: 'filter' %>
    <span><%= t("common.is", locale: active_ui_locale) %></span>
  </div>

  <div class="advanced-filter-mode">
    <%= select_tag "f[#{identifier}][m]", related_to_filter_options(filter_method) %>
  </div>

  <div class="advanced-filter-selector">
    <%= select_tag("f[#{identifier}][v]",
      (filter_method.in?(['i', 'e']) ? union_values_to_options(value) : nil),
      {
        required: true,
        multiple: false,
        class: 'async-select',
        disabled: !filter_method.in?(['i', 'e']),
        data: {
          active_for: ['i', 'e'],
          initial_focus: filter_method.in?(['i', 'e']),
          max: 20,
          search_path: select_search_or_collection_stored_filters_path
        }
      }) %>

    <%= hidden_field_tag "f[#{identifier}][v]", 'dummy', disabled: !filter_method.in?(['p', 'b']), data: { active_for: ['p', 'b'] } %>
  </div>

  <% if can?(:advanced_filter, :backend) && local_assigns[:filter_buttons] %>
    <div class="buttons">
      <button type="button" class="remove-advanced-filter" data-target="<%= identifier %>">
        <i aria-hidden="true" class="fa fa-times"></i>
      </button>
    </div>
  <% end %>
</div>
