<%= render 'data_cycle_core/application/filters/tag_groups/language',
  title: 'Sprache',
  key: 'language',
  target: 'language',
  value: stored_search.language,
  buttons: false if stored_search.language.present? %>

<% selected_classification_aliases = DataCycleCore::ClassificationAlias.includes(:classification_alias_path)
  .select(:id, :name)
  .where(id: stored_search.parameters
    &.select { |f| f['t'] == 'classification_alias_ids' }
    &.map { |f| f['v'] }
    &.flatten
    &.compact
    &.uniq
  )
  .map { |c| [c.id, c.name] }
  .to_h %>

<% stored_search.parameters.presence&.reject { |f| f['t'].blank? || f['t'] == 'order' }&.each do |filter| %>
  <%= render_advanced_filter_tags_partial({
    filter_type: filter['t'],
    title: filter['n'],
    key: filter['n'].presence&.underscore_blanks,
    target: filter['n'].presence&.underscore_blanks,
    filter_advanced_type: filter['q'],
    value: filter['v'],
    filter_method: filter['m'],
    selected_classification_aliases: selected_classification_aliases,
    buttons: false
  }) %>
<% end %>

<% if stored_search.shared_users.present? %>
  <span class="tag-group tags shared_users">
    <span class="tag-group-label">
      <i class="dc-type-icon user-icon"></i>
      <%= DataCycleCore::StoredFilter.human_attribute_name(:shared_users, locale: active_ui_locale) %>
    </span>
    <span class="tags-container">
      <% stored_search.shared_users.to_select_options(active_ui_locale).each do |user| %>
        <%= tag.span(user.name, class: 'tag', data: { dc_tooltip: user.dc_tooltip }) %>
      <% end %>
    </span>
  </span>
<% end %>

<% if stored_search.shared_user_groups.present? %>
  <span class="tag-group tags shared_user_groups">
    <span class="tag-group-label">
      <i class="dc-type-icon user_group-icon"></i>
      <%= DataCycleCore::StoredFilter.human_attribute_name(:shared_user_groups, locale: active_ui_locale) %>
    </span>
    <span class="tags-container">
      <% stored_search.shared_user_groups.to_select_options(active_ui_locale).each do |user| %>
        <%= tag.span(user.name, class: 'tag', data: { dc_tooltip: user.dc_tooltip }) %>
      <% end %>
    </span>
  </span>
<% end %>

<% if stored_search.shared_roles.present? %>
  <span class="tag-group tags shared_roles">
    <span class="tag-group-label">
      <i class="dc-type-icon role-icon"></i>
      <%= DataCycleCore::StoredFilter.human_attribute_name(:shared_roles, locale: active_ui_locale) %>
    </span>
    <span class="tags-container">
      <% stored_search.shared_roles.to_select_options(active_ui_locale).each do |role| %>
        <%= tag.span(role.name, class: 'tag', data: { dc_tooltip: role.dc_tooltip }) %>
      <% end %>
    </span>
  </span>
<% end %>

<% if stored_search.linked_stored_filter_id.present? %>
  <span class="tag-group tags linked_stored_filter">
    <span class="tag-group-label">
      <i class="dc-type-icon stored_filter-icon"></i>
      <%= DataCycleCore::StoredFilter.human_attribute_name(:linked_stored_filter, locale: active_ui_locale) %>
    </span>
    <span class="tags-container">
      <% value = stored_search.linked_stored_filter.to_select_option(active_ui_locale) %>
      <%= tag.span(value.name, class: 'tag', data: { dc_tooltip: value.dc_tooltip }) %>
    </span>
  </span>
<% end %>

<% if stored_search.concept_schemes.present? %>
  <span class="tag-group tags concept_schemes">
    <span class="tag-group-label">
      <i class="dc-type-icon concept_scheme-icon"></i>
      <%= DataCycleCore::StoredFilter.human_attribute_name(:concept_schemes, locale: active_ui_locale) %>
    </span>
    <span class="tags-container">
      <% stored_search.concept_schemes.order(name: :asc).to_select_options(active_ui_locale).each do |cs| %>
        <%= tag.span(cs.name, class: 'tag', data: { dc_tooltip: cs.dc_tooltip }) %>
      <% end %>
    </span>
  </span>
<% end %>
