<li class="sprache">
    <%= render 'data_cycle_core/shared/icon', icon_type: "sprache" %>
    <span class="title"><%= t('common.language', locale: DataCycleCore.ui_language) %></span>
    <div>
        <ul class="split-list clearfix">
            <% available_locales_with_names.except((show_all ||= false) ? nil : :all).each do |key,value| %>
                <li>
                    <input type="radio" name="language" value="<%= key.to_s %>" id="<%= key.to_s %>" <%= "checked" if key.to_s == @language.to_s %> />
                    <label for="<%= key.to_s %>">
                        <span class="title">
                            <%= value %>
                        </span>
                    </label>
                </li>
            <% end %>
        </ul>
    </div>
</li>
