<div data-id="<%= identifier %>" class="advanced-filter conditional-value-selector <%= filter_method ||= 'i' %>" data-label="<%= filter_name %>">
  <%= hidden_field_tag "f[#{identifier}][c]", local_assigns[:filter_code] || 'a' %>
  <%= hidden_field_tag "f[#{identifier}][t]", local_assigns[:filter_type] || :user %>
  <%= hidden_field_tag "f[#{identifier}][q]", local_assigns[:filter_advanced_type] || filter_title %>
  <%= hidden_field_tag "f[#{identifier}][n]", filter_title %>

  <div class="advanced-filter-title">
    <%= render 'data_cycle_core/shared/icon', icon_type: filter_name&.underscore_blanks, icon_class: 'filter' %>
    <span><%= t("filter.#{filter_name}", default: filter_title, locale: active_ui_locale) %></span>
  </div>

  <div class="advanced-filter-mode">
    <%= select_tag "f[#{identifier}][m]", options_for_select([
      [t("common.has", locale: active_ui_locale), 'i'],
      [t("common.has_not", locale: active_ui_locale), 'e'],
      [t("filter.user.exists", locale: active_ui_locale), 'p'],
      [t("filter.user.not_exists", locale: active_ui_locale), 'b'],
      [t("filter.user.like", locale: active_ui_locale), 's'],
      [t("filter.user.not_like", locale: active_ui_locale), 'u']
      ], filter_method) %>
  </div>

  <div class="advanced-filter-selector">
    <%= select_tag("f[#{identifier}][v]",
      filter_method.in?(['i', 'e']) ? options_for_select(DataCycleCore::User.with_deleted.where(id: value).map { |u| u.to_select_option(active_ui_locale, false) }.map(&:to_option_for_select), value) : nil,
      {
        multiple: true,
        class: 'async-select',
        disabled: !filter_method.in?(['i', 'e']),
        data: {
          initial_focus: filter_method.in?(['i', 'e']),
          active_for: ['i', 'e'],
          max: 20,
          placeholder: '',
          search_path: search_users_path,
          query_params: {
            disable_locked: false
          }
        }
      }) %>
    <%= hidden_field_tag "f[#{identifier}][v][helper]", 'true', disabled: !filter_method.in?(['p', 'b']), data: { active_for: ['p', 'b'] } %>
    <%= text_field_tag "f[#{identifier}][v][text]",
        value.is_a?(Hash) ? value&.dig('text') : nil,
        class:"filter-text #{'hidden' unless ['s', 'u'].include?(filter_method)}",
        disabled: ['s', 'u'].exclude?(filter_method),
        data: { initial_focus: filter_method.in?(['s', 'u']), active_for: ['s', 'u'] } %>
  </div>

  <% if can?(:advanced_filter, :backend) && local_assigns[:filter_buttons] %>
    <div class="buttons">
      <a class="remove-advanced-filter" data-target="<%= identifier %>"><i aria-hidden="true" class="fa fa-times"></i></a>
    </div>
  <% end %>
</div>
