<div class="custom-filter">
  <% index ||= 1 %>
  <%= hidden_field_tag "custom_filters[][filter_type]", :classification_tree %>
  <%= hidden_field_tag "custom_filters[][filter_name]", filter_name %>

  <div class="custom-filter-title">
    <%= render 'data_cycle_core/shared/icon', icon_type: filter_name.downcase %>
    <span><%= t("filter.#{filter_name}", default: filter_name, locale: DataCycleCore.ui_language) %></span>
  </div>

  <div class="custom-filter-mode">
    <%= t("common.is", locale: DataCycleCore.ui_language) %>
    <%= hidden_field_tag "custom_filters[][method]", :include %>
  </div>

  <div class="custom-filter-selector">
    <%= select_tag("custom_filters[][values]", value.blank? ? nil : options_for_select(value, value), { multiple: true, class: 'async-select', data: { tree_label: filter_name, max: 20, alias_ids: 1, placeholder: '' } }) %>
  </div>

  <a class="remove-custom-filter-button button alert"><i aria-hidden="true" class="fa fa-times"></i></a>
</div>
