$('#object_browser_<%= "#{params[:prefix]}#{sanitize_to_id(params[:key])}" %>').data("total", <%= @total || 0 %>);
$('#object_browser_<%= "#{params[:prefix]}#{sanitize_to_id(params[:key])}" %> .object-browser-header .item-count').text(<%= @total || 0 %>);
$('#object_browser_<%= "#{params[:prefix]}#{sanitize_to_id(params[:key])}" %> .items .loading').hide();

<% content_for :rendered_items, flush: true do %>
  <% I18n.with_locale(params[:locale] || I18n.locale) do %>
    <% @results.each do |object| %>
      <%= render_linked_partial(key: params[:key] + (params[:definition]['type'] == "object" ? '[][id]' : '[]'), definition: params[:definition], parameters: { object: object, prefix: params[:prefix], options: params[:options], objects: params[:objects], edit_buttons: true }, content: @content) %>
    <% end %>
  <% end %>
<% end %>

$('<%= @total.presence&.positive? ? j(yield(:rendered_items)) : ('<span class="no-results">' + t('common.no_results') + '</span>').html_safe %>').insertBefore('#object_browser_<%= "#{params[:prefix]}#{sanitize_to_id(params[:key])}" %> > .items > .loading').foundation();
