$('#object_browser_<%= sanitize_to_id(params[:key]) %>').data("total", <%= @total || 0 %>);
$('#object_browser_<%= sanitize_to_id(params[:key]) %> .object-browser-header .item-count').text(<%= @total || 0 %>);
$('#object_browser_<%= sanitize_to_id(params[:key]) %> .items .loading').hide();

<% content_for :rendered_items, flush: true do %>
  <% I18n.with_locale(params[:language] || I18n.locale) do %>
    <% @results.each do |content| %>
      <%= render_object_browser_partial(key: params[:key] + (params[:definition]['type'] == "object" ? '[][id]' : '[]'), definition: params[:definition], parameters: { object: content, options: params[:options], objects: params[:objects], editable: params[:editable] }) %>
    <% end %>
  <% end %>
<% end %>

$('<%= @total.presence&.positive? ? j(yield(:rendered_items)) : ('<span class="no-results">' + t('common.no_results') + '</span>').html_safe %>').insertBefore('#object_browser_<%= sanitize_to_id(params[:key]) %> > .items > .loading');
