<%= form_with url: things_path,
  local: !local_assigns[:object_browser],
  html: {
    class: "validation-form multi-step#{' disabled' if local_assigns[:search_required] && local_assigns[:search_param].blank? && cannot?(:create_without_search, local_assigns[:template] || DataCycleCore::Thing)}",
    data: to_query_params(local_assigns.slice(:template, :key, :search_param, :search_required, :scope, :parent, :content, :locale, :options, :content_uploader))
  } do %>

  <div class="form-crumbs"></div>

  <% if local_assigns[:template].present? %>
    <%= render 'data_cycle_core/contents/new/shared/search_warning' if local_assigns[:search_required] && local_assigns[:search_param].blank? && cannot?(:create_without_search, template) %>

    <%= hidden_field_tag :template, template.template_name, id: "#{local_assigns.dig(:options, :prefix)}template" %>
    <%= render_new_form(template: template, parameters: local_assigns) %>
  <% else %>
    <%= render 'data_cycle_core/contents/new/shared/search_warning', warning: true if local_assigns[:search_required] && local_assigns[:search_param].blank? && cannot?(:create_without_search, DataCycleCore::Thing) %>

    <fieldset class="active template">
      <legend><%= t('actions.choose_type', locale: DataCycleCore.ui_language) %></legend>
      <div class="form-element">
        <%= label_tag "#{local_assigns.dig(:options, :prefix)}template", t('common.data_type', locale: DataCycleCore.ui_language) %>
        <div class="v-select white">
          <%= select_tag(
            :template,
            options_for_select(
              new_content_select_options(
                query_methods: local_assigns[:query_methods],
                content: local_assigns[:content],
                scope: local_assigns[:scope]
              ).map { |t| [t("content_type.#{t&.template_name&.underscore_blanks}", default: t&.template_name, locale: DataCycleCore.ui_language), t.template_name] }
            ),
            {
              class: 'single-select',
              data: {
                tree_label: 'Inhaltstypen',
                allow_clear: false
              },
              id: "#{local_assigns.dig(:options, :prefix)}template"
            }
          ) %>
        </div>
      </div>
    </fieldset>
    <fieldset class="content-fields"></fieldset>
  <% end %>

  <div class="buttons">
    <button class="button reset" data-disable type="reset">
      <%= t('actions.reset', count: 1, locale: DataCycleCore.ui_language) %>
    </button>
    <button class="button prev" type="button">
      <%= t('actions.back', locale: DataCycleCore.ui_language) %>
    </button>
    <button class="button next" data-disable type="button">
      <%= t('actions.next', locale: DataCycleCore.ui_language) %>
    </button>
    <% if local_assigns[:content_uploader] %>
      <button class="button submit set-all-attributes" data-disable type="button">
        <%= t('actions.set_all_attributes', data: local_assigns[:asset_class]&.constantize&.model_name&.human(count: 2, locale: DataCycleCore.ui_language) , locale: DataCycleCore.ui_language) %>
      </button>
    <% end %>
    <%= button_tag t("actions.#{local_assigns[:content_uploader] ? 'set_and_next' : 'save'}", locale: DataCycleCore.ui_language),
      type: :submit,
      class: "button submit",
      disabled: local_assigns[:search_required] && local_assigns[:search_param].blank? && cannot?(:create_without_search, local_assigns[:template] || DataCycleCore::Thing),
      data: {
        disable_with: "#{t("actions.#{local_assigns[:content_uploader] ? 'set_and_next' : 'save'}", locale: DataCycleCore.ui_language)} <i class='fa fa-circle-o-notch fa-spin fa-fw'></i>"
        } %>
  </div>

<% end %>
