<% objects = value.presence %>
<% objects = Array(objects) + new_relations(options.dig(:item_diff), 'things').to_a.concat if changes_by_mode(options.dig(:item_diff), '+').present? %>

<% objects.presence&.each_with_index do |object, index| %>

    <%= render 'data_cycle_core/contents/viewers/attribute',
      key: key,
      definition: definition,
      value: value,
      options: options.merge({
        hide_label: true
      }),
      data_attributes: { id: [object.id], editor: 'schedule' },
      content: content do %>

        <span class="detail-label">
            <%= render 'data_cycle_core/shared/icon', icon_type: definition.dig('label')&.downcase %><strong><%= definition['label'].titleize %> <%= content_tag(:span, (local_assigns.fetch(:page, 1).to_i - 1) * DataCycleCore.linked_objects_page_size + index + 1) if value.try(:total_count)&.>(1) || value.try(:total_pages)&.>(1) %></strong>
        </span>

        <%= render 'data_cycle_core/contents/viewers/shared/buttons', local_assigns.merge({ content: object }) %>

        <span class="detail-content">
            <%
                object_string = ''
                begin
                    object_string = object.try(:to_s)&.try(:html_safe)
                rescue
                    object_string = ''
                end
            %>
            <%= object_string %>
            <% appointments = object.try(:schedule_object)&.next_occurrences(5) %>
            <% if appointments&.size&.positive? %>
              <p>
                <br/>
                upcoming:
                <ul>
                  <% appointments.each do |date| %>
                    <li><%= "#{date.start_time.to_s(:only_date)} #{date.start_time.to_s(:only_time)}" %></li>
                  <% end %>
                </ul>
              </p>
            <% end %>
        </span>

    <% end %>

<% end %>
