<% if can? :create, DataCycleCore::WatchList %>
    <li class="<%= dataCycleObject.nil? ? 'add-watchlist-to-menu' : 'add-watchlist' %>">
        <% @new_watch_list ||= DataCycleCore::WatchList.new %>

        <%= form_for @new_watch_list, namespace: dataCycleObject.nil? ? "header-menu" : dataCycleObject.id, html: { class: "add-watchlist-form" } do |f| %>
            <%= hidden_field_tag 'hashable_id', dataCycleObject.id unless dataCycleObject.nil? %>
            <%= hidden_field_tag 'hashable_type', dataCycleObject.class.name unless dataCycleObject.nil? %>
            <div class="validation-container form-element">
                <%= f.text_field :headline, class: 'form-control', value:'', placeholder: 'Neue Merkliste', required: true %>
                <%= button_tag(type: 'submit', class: "button primary") do %>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                <% end %>
            </div>

        <% end %>
    </li>
<% end %>