<h1>
  <%= t('devise.mailer.reset_password_instructions.greeting', locale: DataCycleCore.ui_language,
                                                              recipient: @user.full_name.strip) %>
</h1>

<p>
  <%= t('devise.mailer.reset_password_instructions.instruction', locale: DataCycleCore.ui_language) %>
  <%= link_to t('devise.mailer.reset_password_instructions.action', locale: DataCycleCore.ui_language),
              edit_password_url(@resource, reset_password_token: @token) %>

  <br /><br />

  <%= t('devise.mailer.reset_password_instructions.instruction_2', locale: DataCycleCore.ui_language) %>

  <%= t('devise.mailer.reset_password_instructions.instruction_3', locale: DataCycleCore.ui_language) %>
</p>
