<div class="edit">
    <%= yield :buttons %>

    <%= link_to create_duplication_thing_path(content),
                method: :get,
                class: 'button-prime small',
                data: {
                    tooltip: true,
                    confirm: "#{content.template_name} #{t('actions.duplicate_content', locale: DataCycleCore.ui_language)}?"
                },
                title: t('common.duplicate_content', locale: DataCycleCore.ui_language),
                'aria-haspopup': true do %>
        <i class="fa fa-clone" aria-hidden="true"></i>
    <% end if DataCycleCore::Feature::DuplicateContent.enabled? && can?(:create, content, 'duplicate') && content.content_type?('entity') %>

    <%= render 'new_content_button',
      content: content,
      source: content,
      parent: content.try(:parent),
      parents: @parents,
      button_class: 'small',
      scope: 'duplicate',
      template: content,
      button_title: t('actions.create_from_existing', locale: DataCycleCore.ui_language) if can?(:create, content, 'duplicate') && content.content_type?('entity') %>

    <% if can?(:move_content, content) && @parents.present? && content.schema_type == 'CreativeWork' %>
        <%= link_to "#", class:'button-prime small', data: { tooltip: true, open: 'move-to-container-overlay', click_open: false }, title: t('actions.move_to_container', locale: DataCycleCore.ui_language), 'aria-haspopup': true do %>
            <i class="fa fa-folder" aria-hidden="true"></i>
        <% end %>
        <%= render 'move_to_container_overlay', content: content %>
    <% end %>

    <%= link_to gpx_thing_path(content), class: 'button-prime small gpx-content-link', data: { tooltip: true }, title: t('common.download_gpx', locale: DataCycleCore.ui_language), 'aria-haspopup': true do %>
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
    <% end if DataCycleCore::Feature::GpxConverter.enabled? && content.respond_to?(:create_gpx) && content.geo_properties.present? %>

    <%= render 'downloads', content: content if DataCycleCore::Feature::Download.allowed?(content) && DataCycleCore::Feature::Download.dependencies_allowed?(content) %>

    <%= link_to edit_thing_path(content, watch_list_id: @watch_list, locale: I18n.locale), class:'button-prime small edit-content-link', data: { tooltip: true }, title: t('actions.edit', locale: DataCycleCore.ui_language).capitalize, 'aria-haspopup': true do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end if can? :edit, content %>

    <%= link_to thing_path(content, watch_list_id: @watch_list),
                method: :delete,
                class:'button-prime small delete-content-link',
                data: {
                    tooltip: true,
                    confirm: "#{content.template_name} #{t('actions.delete', locale: DataCycleCore.ui_language)}? #{(content.try(:children)&.any? || content.try(:is_related?))? t('common.children_present_html', locale: DataCycleCore.ui_language) : '' }"
                },
                title: t('actions.delete', locale: DataCycleCore.ui_language).capitalize, 'aria-haspopup': true do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end if can? :destroy, content %>
</div>

<%= render 'release_status', content: content if DataCycleCore::Feature::Releasable.allowed?(content) && content.try(:release_status_id).present? %>

<%= render 'data_cycle_core/contents/external_connections', content: content if content.try(:external_source) || content.try(:external_systems).present? %>
