<div class="detail-header-info">
    <div class="type <%= content.content_type.downcase %>">
        <%= render_content_partial 'icon', content: content %>

        <span class="title"><%= content.content_type %></span>
        <% unless content.translated_locales.size > 1 %>
          <span class="language">(<%= I18n.locale %>)</span>
        <% end %>
    </div>
</div>

<%= render_content_partial 'header_functions', content: content %>
