<div class="detail-header-functions">
    <ul class="no-bullet">
        <li class="has-dropdown"><%= render 'history_links', dataCycleObject: content %></li>
        <% if content.respond_to?(:siblings) && content.respond_to?(:parent) && !content.parent.nil? && !content.siblings.try(:size).nil? && !content.siblings.try(:size).zero? %>
          <li class="has-dropdown right">
            <%= render 'split_sources', contents: content.siblings.select{|s| s.template_name == content.template_name }, selected: @splitSource, url: compare_creative_work_path(content), title_text: t('common.compare_contents', locale: DataCycleCore.ui_language) %>
          </li>
        <% end %>
        <% if can?(:manage, DataCycleCore::DataLink) %>
            <li class="has-dropdown right"><%= render 'data_links', content: content %></li>
        <% end %>
        <% if can? :subscribe, content %>
            <li class="has-dropdown right">
                <a id="subscribe-link" data-toggle="subscribe"><i class="fa <%= content.subscriptions.by_user(current_user).size > 0 ? 'fa-bell' : 'fa-bell-o' %>" aria-hidden="true"></i></a>
                <div class="dropdown-pane no-bullet bottom" id="subscribe" data-dropdown data-hover="true" data-hover-pane="true">
                  <h5><%= t('common.contents', count: 1, locale: DataCycleCore.ui_language) %> <%= content.subscriptions.by_user(current_user).size > 0 ? t('actions.subscribed', locale: DataCycleCore.ui_language) : t('actions.subscribe', locale: DataCycleCore.ui_language) %></h5>
                  <%= render 'subscriptions', content: content %>
                </div>
            </li>
        <% end %>
        <% if can? :manage, DataCycleCore::WatchList %>
            <li class="has-dropdown right"><%= render 'watch_lists', content: content %></li>
        <% end %>
        <% if can? :print, content %>
          <li class="buttons">
            <button class="link" onclick="window.print();"><i aria-hidden="true" class="fa fa-print"></i></button>
          </li>
        <% end %>
        <li class="buttons">
          <% unless current_user.role.rank == 0 %>
            <a href="<%= breadcrumbs[-2].url %>" class="hascontent close-show-button"><i aria-hidden="true" class="fa fa-times"></i></a>
          <% end %>
        </li>
    </ul>
</div>
