<div class="column detail-header-wrapper">

    <div class="detail-header">
        <%= render_content_partial 'header_top', content: content %>

        <% content_title = yield %>
        <% if content_title.blank? %>
            <div class="title">
                <%= content.title %>
            </div>
        <% else %>
            <%= content_title %>
        <% end %>

        <%#= render 'tags' ,content: content%>

        <%= render 'header_properties', content: content %>

        <% content.mapped_classification_aliases.group_by(&:classification_tree_label).each do |tree, classification_aliases| %>
            <div data-label="<%= tree.name %>" class="detail-type classification">
                <span class="detail-label">
                    <span class="icon tags"><i class="fa" aria-hidden="true"></i></span>
                    <%= tree.name %>
                </span>

                <span class="detail-content tags">
                    <% classification_aliases.uniq.each do |classification_alias| %>
                        <span data-tooltip data-allow-html="true" data-tooltip-class="tooltip classification"
                              aria-haspopup="true" class="tag"
                              title="<%= classification_tooltip(classification_alias) %>">
                            <%= classification_alias.name %>
                        </span>
                    <% end %>
                </span>
            </div>
        <% end %>

        <%= render 'validity_period', dataCycleObject: content %>

        <%= render 'data_cycle_core/contents/viewers/life_cycle', content: content %>

        <%= render_content_partial 'header_bottom', content: content %>
    </div>

</div>
