<section class="edit-header">
  <div class="row expanded">
    <div class="column edit-header-functions">
      <div class="edit-name">
        <% if content_for?(:form_action) %>
          <%= content_for(:form_action) %>
        <% else %>
          <i class="fa fa-pencil" aria-hidden="true"></i> <%= t("content_type.#{content.template_name.underscore_blanks}", default: content.template_name.titleize, locale: DataCycleCore.ui_language) + ' ' + t('actions.edit', locale: DataCycleCore.ui_language) %>
        <% end %>
      </div>
      <ul>
        <%= render 'agbs' if current_user.is_rank?(0) && lookup_context.exists?('agbs', lookup_context.prefixes, true) %>

        <%= yield :additional_functions %>

        <% if can?(:index, content) && content.respond_to?(:siblings) && content.respond_to?(:parent) && !content.parent.nil? && !content.siblings.try(:size).nil? && !content.siblings.try(:size).zero? %>
          <li class="has-dropdown right">
            <%= render 'split_sources', contents: content.siblings, selected: @split_source, url: '', title_text: t('common.choose_splitsource', locale: DataCycleCore.ui_language) %>
          </li>
        <% end %>

        <% if content.translatable? && I18n.available_locales&.many? %>
          <%= render 'edit_locale_links', locales: available_locales_with_names.except(:all), content: content, source_locale: @split_source_params&.dig(:source_locale) %>
        <% end %>

        <% if can? :index, DataCycleCore::DataLink %>
          <li class="has-dropdown right"><%= render 'data_links', content: content %></li>
        <% end %>

        <li class="buttons">
          <%= button_tag tag.i(class: 'fa fa-exchange', aria_hidden: true),
            class: 'normalize-content-button',
            title: t('common.normalize', locale: DataCycleCore.ui_language),
            data: {
              title: t('common.normalize', locale: DataCycleCore.ui_language),
              tooltip: true,
              click_open: false,
              url: normalize_thing_path(content),
              disable_with: tag.i(class: 'fa fa-circle-o-notch fa-spin fa-fw', aria_hidden: true)
            } if DataCycleCore::Feature::Normalize.enabled? %>

          <%= link_to tag.button(
            tag.i(class: 'fa fa-times', aria_hidden: true),
            class: 'button discard top',
            type: :button,
            title: t('actions.discard_changes', locale: DataCycleCore.ui_language),
            data: {
              tooltip: true
            }), previous_authorized_crumb.url if previous_authorized_crumb.present? %>

          <%= button_tag tag.i(class: 'fa fa-check', aria_hidden: true),
            class: 'button-prime submit submit-edit-form',
            title: content_for?(:submit_button_text) ? content_for(:submit_button_text) : t('actions.save_changes', locale: DataCycleCore.ui_language),
            data: {
              tooltip: true,
              disable_with: tag.i(class: 'fa fa-circle-o-notch fa-spin fa-fw', aria_hidden: true)
            } %>
        </li>
      </ul>
    </div>
  </div>
</section>
