<div class="detail-header-info">
    <div class="type <%= content.template_name.downcase %>">
        <%= render 'data_cycle_core/shared/icon', icon_type: content.template_name.downcase %>

        <span class="title"><%= t("content_type.#{content.template_name.downcase}", default: content.template_name.titleize, locale: DataCycleCore.ui_language) %></span>
        <span class="language">(<%= I18n.locale %>)</span>
    </div>
</div>

<%= render_content_partial 'header_functions', content: content %>
