<section class="edit-header">
  <div class="row expanded">
    <div class="column edit-header-functions">
      <div class="edit-headline">
        <i class="fa fa-pencil" aria-hidden="true"></i> <%== "#{content.template_name} #{t('actions.edit', locale: DataCycleCore.ui_language)}" %>
      </div>
      <ul>
        <% if current_user.try(:role).try(:rank).nil? || current_user.try(:role).try(:rank).zero? %>
          <%= render 'agbs' %>
        <% end %>

        <% if content.respond_to?(:siblings) && content.respond_to?(:parent) && !content.parent.nil? && !content.siblings.try(:size).nil? && !content.siblings.try(:size).zero? %>
          <li class="has-dropdown right">
            <%= render 'split_sources', contents: content.siblings, selected: @splitSource, url: '', title_text: t('common.choose_splitsource', locale: DataCycleCore.ui_language) %>
          </li>
        <% end %>

        <% if DataCycleCore.translatable_types.include?(content.class.name) %>
          <%= render 'edit_locale_links', local_assigns.merge({ locales: available_locales_with_names }) %>
        <% elsif content.translated_locales.size > 1 %>
          <%= render 'edit_locale_links', local_assigns.merge({ locales: available_locales_with_names.select{ |k, v| content.translated_locales.include?(k) } }) %>
        <% end %>

        <% if can? :manage, DataCycleCore::DataLink %>
          <li class="has-dropdown right"><%= render 'data_links', content: content %></li>
        <% end %>

        <!--<li>-->
        <!--<button type="button" class="button delete top" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Löschen"><i class="fa fa-trash" aria-hidden="true"></i></button>-->
        <!--</li>-->
        <li class="buttons">
          <%= link_to breadcrumbs[-2].url do %>
            <button type="button" class="button discard top" data-tooltip aria-haspopup="true" data-disable-hover="false"  title="Änderungen verwerfen"><i class="fa fa-times" aria-hidden="true"></i></button>
          <% end %>
          <button class="button-prime submit submit-edit-form" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Änderungen speichern"><i class="fa fa-check" aria-hidden="true"></i></button>
        </li>
      </ul>
    </div>
  </div>
</section>
