<div class="detail-header-functions">
  <ul class="no-bullet">
    <li class="has-dropdown"><%= render 'history_links', dataCycleObject: content %></li>

    <%= render 'data_cycle_core/contents/locale_links', local_assigns if content.try(:translated_locales)&.many? %>

    <%= render 'content_header_preview_links', content: content if content.try(:output_channel)&.includes(:primary_classification_alias)&.any? { |c| c.uri.present? || c.primary_classification_alias&.uri.present? } %>

    <% if can? :create, :auto_translate %>
      <%= render 'auto_translation', local_assigns if DataCycleCore::Feature::AutoTranslation.allowed?(content) %>
    <% end %>
    <% if can? :destroy, :auto_translate %>
      <%= render 'reset_auto_translation', local_assigns if content.template_name == 'Übersetzung' %>
    <% end %>

    <% if can?(:index, content) && content.content_type?('entity') %>
      <li class="has-dropdown compare-contents-link">
        <%= render 'data_cycle_core/application/compare_sources', content: content, diff_source: nil, source_parameter: :diff_source %>
      </li>
    <% end %>
    <% if content.content_type?('container') && I18n.available_locales&.many? && content.try(:children).present? %>
      <li>
        <span class="link" title="<%= content.try(:children).presence&.includes(:translations).map(&:translated_locales)&.flatten&.uniq&.map{ |t| t("locales.#{t}", locale: active_ui_locale) }&.join("\n") %>"><i class="fa fa-language" aria-hidden="true"></i></span>
      </li>
    <% end %>
    <% if can?(:index, DataCycleCore::DataLink) %>
      <li class="has-dropdown"><%= render 'data_cycle_core/data_links/data_links_list', content: content %></li>
    <% end %>
    <% if can? :subscribe, content %>
      <li class="has-dropdown">
        <a id="subscribe-link" data-toggle="subscribe"><i class="fa <%= content.subscriptions.by_user(current_user).size > 0 ? 'fa-bell' : 'fa-bell-o' %>" aria-hidden="true"></i></a>
        <div class="dropdown-pane no-bullet bottom" id="subscribe" data-dropdown>
          <h5><%= content.subscriptions.by_user(current_user).size > 0 ? t('actions.subscribed_to', data: t('common.contents', count: 1, locale: active_ui_locale), locale: active_ui_locale) : t('actions.subscribe_to', data: t('common.contents', count: 1, locale: active_ui_locale), locale: active_ui_locale) %></h5>
          <%= render 'subscriptions', content: content %>
        </div>
      </li>
    <% end %>
    <% if can?(:index, DataCycleCore::WatchList) %>
      <li class="has-dropdown"><%= render 'watch_lists', content: content %></li>
    <% end %>
    <% if can?(:download_content_report, content) && DataCycleCore::Feature::ReportGenerator.content_reports(content).present? %>
      <li class="has-dropdown">
        <%= render 'content_reports', content: content %>
      </li>
    <% end %>
    <% if can? :clear_all, :cache %>
      <li>
        <%= link_to clear_cache_thing_path(content),
                      method: :get,
                      data: {
                          confirm: "#{t('common.confirm_delete_cache', locale: active_ui_locale) }",
                          dc_tooltip: t('data_cycle_core.cache.clear', locale: active_ui_locale)
                      } do %>
          <span class="icon"><i class="fa fa-shield" aria-hidden="true"></i></span>
        <% end %>
      </li>
    <% end %>
    <li class="buttons">
      <%= button_tag(type: 'button', class: 'link copy-to-clipboard', data: { value: content.id, dc_tooltip: t('actions.copy_to_clipboard_data', locale: active_ui_locale, data: 'ID') }) do %>
        <%= tag.i(class: 'fa fa-hashtag') %>
      <% end %>
    </li>
    <li class="buttons">
      <%= link_to previous_authorized_crumb.url, class: 'has-content close-show-button' do %>
        <i aria-hidden="true" class="fa fa-times"></i>
      <% end if previous_authorized_crumb.present? %>
    </li>
  </ul>
</div>
