<div class="column detail-header-wrapper">

    <div class="detail-header">
        <%= render_content_partial 'header_top', content: content %>

        <% content_title = yield %>
        <% if content_title.blank? %>
            <div class="title">
                <%= content.title %>
            </div>
        <% else %>
            <%= content_title %>
        <% end %>

        <%#= render 'tags' ,content: content%>

        <%= render 'header_properties', content: content %>

        <%= render 'validity_period', dataCycleObject: content %>

        <%= render_content_partial 'header_bottom', content: content %>
    </div>

</div>
