<%= render 'external_source', local_assigns if content.external_source %>

<div class="edit">
  <%= yield :buttons %>
  <% if can?(:create, content.class) && content.content_type?('entity') && !DataCycleCore.excluded_new_item_objects.include?(content.template_name) %>
      <%= link_to "#", class:'button-prime small', data: { tooltip: true, open: 'newContent', click_open: false }, title: t('actions.create_from_existing', locale: DataCycleCore.ui_language), 'aria-haspopup': true do %>
          <i class="fa fa-plus" aria-hidden="true"></i>
      <% end %>
      <%= render 'new_content_from_template', content: content %>
  <% end %>

  <% if can?(:move_content, content) && @parents.present? %>
      <%= link_to "#", class:'button-prime small', data: { tooltip: true, open: 'move-to-container-overlay', click_open: false }, title: t('actions.move_to_container', locale: DataCycleCore.ui_language), 'aria-haspopup': true do %>
          <i class="fa fa-folder" aria-hidden="true"></i>
      <% end %>
      <%= render 'move_to_container_overlay', content: content %>
  <% end %>

  <%= link_to polymorphic_path([:gpx, content]), class: 'button-prime small gpx-content-link', data: { tooltip: true, click_open: false }, title: t('common.download_gpx', locale: DataCycleCore.ui_language), 'aria-haspopup': true do %>
    <i class="fa fa-location-arrow" aria-hidden="true"></i>
  <% end if content.respond_to?(:create_gpx) && content.geo_properties.present? %>

  <%= link_to edit_polymorphic_path(content, watch_list_id: @watch_list), class:'button-prime small edit-content-link', data: { tooltip: true, click_open: false }, title: t('actions.edit', locale: DataCycleCore.ui_language).capitalize, 'aria-haspopup': true do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
  <% end if can? :edit, content %>

  <%= link_to polymorphic_path(content, watch_list_id: @watch_list), :method => :delete, class:'button-prime small delete-content-link', data: { tooltip: true, click_open: false, confirm: "#{content.template_name} #{t('actions.delete', locale: DataCycleCore.ui_language)}?" }, title: t('actions.delete', locale: DataCycleCore.ui_language).capitalize, 'aria-haspopup': true do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  <% end if can? :destroy, content %>
</div>

<%= render 'release_status', dataCycleObject: content, status: @release_status %>

<%= render 'life_cycle_buttons', local_assigns if content.content_type?(['container', 'entity']) && content.schema&.dig('features', 'life_cycle') %>
