<% if content.external_source %>
  <%= render 'external_source', local_assigns %>
<% end %>

<% content_data = content.get_data_hash %>

<% if can? :edit, content %>
    <div class="edit">
        <%= link_to edit_polymorphic_path(content, watch_list_id: @watch_list), class:'button-prime small edit-content-link' do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>

        <% if can? :destroy, content %>
            <%= link_to polymorphic_path(content, watch_list_id: @watch_list), :method => :delete, class:'button-prime small delete-content-link', data: {tooltip: "", confirm:"#{content.metadata['validation']['name']} #{t('actions.delete', locale: DataCycleCore.ui_language)}?"}, title: t('actions.delete', locale: DataCycleCore.ui_language).capitalize, 'aria-haspopup': "true" do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
        <% end %>
    </div>
<% end %>

<div class="tags">
    <% content.classification_tree_definitions.each do |definition| %>
        <% if !content_data[definition[:key]].blank? %>
            <div class="tag-group-wrapper">
                <span class="icon <%= definition['label'] %>"><i class="fa" aria-hidden="true"></i></span>
                <span class="tag-group-header"><%= definition['label'] %>: </span>

                <% content.send(definition[:key]).each do |classification| %>
                    <span class="tag"><%= classification.name %></span>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>

<%= render 'validity_period', dataCycleObject: content %>

<%= render 'release_status', dataCycleObject: content, status: @release_status %>
