<section class="edit-header">
  <div class="row expanded">
    <div class="column edit-header-functions">
      <div class="edit-headline">
        <i class="fa fa-pencil" aria-hidden="true"></i> <%== "#{content.content_type} #{t('actions.edit', locale: DataCycleCore.ui_language)}" %>
      </div>
      <ul>
        <% if content.try(:siblings) && content.try(:parent) && !content.try(:siblings).try(:size).nil? && !content.try(:siblings).try(:size).zero? %>
          <li class="has-dropdown">
            <a data-toggle="split-sources"><i class="fa fa-columns" aria-hidden="true"></i> <%= t('common.splitsource', locale: DataCycleCore.ui_language) %></a>
            <ul class="dropdown-pane no-bullet bottom" id="split-sources" data-dropdown data-hover="true" data-hover-pane="true">
              <li id="split-source-selector">
                <%= form_tag('', method: :get) do %>
                  <% sources = [] %>
                  <% content.siblings.each do |child| %>
                    <% I18n.with_locale(child.first_available_locale) do %>
                      <% sources.push({ value: "source_id=>#{child.id},source_type=>#{child.class.name}", label: "#{child.title} (#{child.content_type}, #{I18n.locale})", level: 0 }) %>
                    <% end %>
                  <% end %>

                  <% selected = @splitSource ? { value: "source_id=>#{@splitSource.id},source_type=>#{@splitSource.class.name}", label: "#{@splitSource.title} (#{@splitSource.content_type}, #{@splitSource.translated_locales.first})", level: 0 } : '' %>

                  <custom-select :multiple="false" hidden-field-id="source" label="label" :custom-options="<%= sources.to_json %>" :selected-values="<%= selected.to_json %>"></custom-select>

                  <button class="button"><%= t('common.load_splitsource', locale: DataCycleCore.ui_language) %></button>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>

        <% if DataCycleCore.translatable_types.include?(content.class.name) %>
          <li class="has-dropdown">
            <a data-toggle="language-menu"><i class="fa fa-language" aria-hidden="true"></i> <%= t('common.language', locale: DataCycleCore.ui_language) %></a>
            <ul class="dropdown-pane no-bullet bottom" id="language-menu" data-dropdown data-hover="true" data-hover-pane="true">
              <% available_locales_with_names.each do |locale| %>
                <li class="<%= "active" if locale.first == I18n.locale %>">
                  <%= link_to_unless locale.first == I18n.locale, locale.last, edit_polymorphic_path(content, watch_list_id: @watch_list, locale: locale.first) %>
                  <%== '<span class="buttons"><i class="fa fa-language" aria-hidden="true"></i></span>' if content.translated_locales.include?(locale.first) %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% if can? :manage, DataCycleCore::DataLink %>
          <li class="has-dropdown"><%= render 'data_links', content: content %></li>
        <% end %>

        <!--<li>-->
        <!--<button type="button" class="button delete top" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Löschen"><i class="fa fa-trash" aria-hidden="true"></i></button>-->
        <!--</li>-->
        <li class="buttons">
          <%= link_to breadcrumbs[-2].url do %>
            <button type="button" class="button discard top" data-tooltip aria-haspopup="true" data-disable-hover="false"  title="Änderungen verwerfen"><i class="fa fa-times" aria-hidden="true"></i></button>
          <% end %>
          <button class="button-prime submit submit-edit-form" data-tooltip aria-haspopup="true" data-disable-hover="false"  title="Änderungen speichern"><i class="fa fa-check" aria-hidden="true"></i></button>
        </li>
      </ul>
    </div>
  </div>
</section>
