<span class="diff metadata">
    <span class="type <%= content.template_name.downcase %>">
        <%= t("content_type.#{content.template_name.downcase}", default: content.template_name.titleize, locale: DataCycleCore.ui_language) %> (<%= I18n.locale %>)
    </span>

    <% if content.history? %>
      <% if content.history_valid&.first.present? %>
        <%= t('history.updated_at', locale: DataCycleCore.ui_language) %>
        <strong><%= l(Time.zone.at(content.history_valid&.first), locale: DataCycleCore.ui_language) %></strong>
      <% end %>
    <% elsif content.updated_at.present? %>
        <%= t('history.valid_since', locale: DataCycleCore.ui_language) %>
        <strong><%= l(Time.zone.at(content.updated_at), locale: DataCycleCore.ui_language) %></strong>
    <% end %>

    <% if content.try(:last_updated_by).is_a?(ActiveRecord::Relation) && content.try(:last_updated_by).present? %>
        <% person = content.last_updated_by.first %>
        <%= t('terms.from', locale: DataCycleCore.ui_language) %> <strong><a href="mailto:<%= person.email %>"><%= person.full_name %></a></strong>
    <% else %>
      <%= t('terms.from', locale: DataCycleCore.ui_language) %> <strong>System</strong>
    <% end %>
</span>
