<span class="meta-data">
    <span class="type <%= content.template_name.downcase %>">
        <%= t("content_type.#{content.template_name.downcase}", default: content.template_name.titleize, locale: DataCycleCore.ui_language) %>
    </span>

    (<%= I18n.locale %>,

    <% if content.history? %>
        <%= l(Time.zone.at(I18n.with_locale(content.first_available_locale){content.history_valid&.first}), locale: DataCycleCore.ui_language) %>
    <% else %>
        <%= l(Time.zone.at(content.updated_at), locale: DataCycleCore.ui_language) if content.updated_at.present? %>
    <% end %>
    )
    <% if content.try(:last_updated_by).is_a?(ActiveRecord::Relation) && content.try(:last_updated_by).present? %>
        <% person = content.last_updated_by.first %>
        <%= t('terms.from', locale: DataCycleCore.ui_language) %> <strong><a href="mailto:<%= person.email %>"><%= person.full_name %></a></strong>
    <% end %>
</span>
