<% content_for(:content_external_connections, flush: true) do %>
  <% external_connections = external_systems_with_details(content) if show_external_connections?(content) %>

  <% external_connections&.each do |name, syncs| %>
    <div class="external-connection-with-dropdown">
      <span class="external-connection" data-toggle="external-connections-<%= name.underscore_blanks %>">
        <i class="fa fa-external-link-square external-connections-icon <%= syncs.pluck(:status).compact.join(' ') %>"></i>
        <%= name %>
        <%= tag.span('*', class: 'primary-external-system', data: { dc_tooltip: t('content_external_data.primary_external_system_tooltip', locale: active_ui_locale) }) if syncs.any?{ |s| s[:primary] } %>
        (<%= syncs.size %>)
      </span>
      <div class="dropdown-pane bottom external-connections-dropdown" id="external-connections-<%= name.underscore_blanks %>" data-dropdown>
        <ul class="list-items no-bullet">
          <% syncs.each do |sync| %>
            <li>
              <%= external_sync_status_icon(sync[:status], sync[:sync_type], true) %>

              <%= tag.span(class: 'sync-external-key') do %>
                <%= tag.span(sync[:name] || sync[:external_key], class: 'copy-to-clipboard', data: { value: sync[:external_key], dc_tooltip: sync[:title] }) %>
              <% end %>

              <%= tag.span(l(sync[:date], locale: active_ui_locale, format: :history), class: 'last-successful-sync-at') if sync[:date].present? %>

              <%= link_to tag.i(class: 'external-link-icon fa fa-pencil-square-o'), sync[:external_edit_url], class: 'external-edit-link', target: :_blank, data: { dc_tooltip: t('actions.external_edit', locale: active_ui_locale) } if sync[:external_edit_url].present? %>

              <%= link_to tag.i(class: 'external-link-icon fa fa-external-link'), sync[:external_detail_url], class: 'external-detail-link', target: :_blank, data: { dc_tooltip: t('actions.external_detail', locale: active_ui_locale) } if sync[:external_detail_url].present? %>

              <%= link_to tag.i(class: 'switch-primary-external-system-icon fa fa-exchange'),
                            switch_primary_external_system_thing_path(content, external_system_sync_id: sync[:id]),
                            class: 'switch-primary-external-system-link external-connection-button',
                            data: {
                              method: :post,
                              dc_tooltip: t('content_external_data.tooltip', locale: active_ui_locale),
                              confirm: t('content_external_data.warning_html', locale: active_ui_locale),
                              confirmation_button_class: 'success',
                              disable_with: tag.i(class: 'fa fa-spinner fa-spin fa-fw')
                            } if sync[:id].present? && sync[:sync_type] == 'duplicate' && can?(:switch_primary_external_system, content) %>

              <%= link_to tag.i(class: 'demote-primary-external-system-icon fa fa-long-arrow-down'),
                            demote_primary_external_system_thing_path(content),
                            class: 'demote-primary-external-system-link external-connection-button',
                            data: {
                              method: :post,
                              dc_tooltip: t('external_connections.demote_to_sync.tooltip', locale: active_ui_locale),
                              confirm: t('external_connections.demote_to_sync.warning_html', locale: active_ui_locale),
                              confirmation_button_class: 'success',
                              disable_with: tag.i(class: 'fa fa-spinner fa-spin fa-fw')
                            } if sync[:primary] && can?(:demote_primary_external_system, content) %>

              <%= link_to tag.i(class: 'remove-external-system-icon fa fa-trash'),
                            remove_external_connection_thing_path(content, external_system_sync_id: sync[:id]),
                            class: 'remove-external-system-link alert external-connection-button',
                            data: {
                              method: :delete,
                              dc_tooltip: t('external_connections.remove_external_system_sync.tooltip', locale: active_ui_locale),
                              confirm: t('external_connections.remove_external_system_sync.warning_html', locale: active_ui_locale),
                              confirmation_button_class: 'alert',
                              disable_with: tag.i(class: 'fa fa-spinner fa-spin fa-fw')
                            } if sync[:id].present? && can?(:remove_external_connection, content) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= render 'data_cycle_core/contents/external_connections/new_external_connection_overlay', content: content if can?(:create_external_connection, content) %>
<% end %>

<% if content_for?(:content_external_connections) %>
  <div class="external-connections">
    <%= yield_content!(:content_external_connections) %>
  </div>
<% end %>
