<div class="external-connections">
  <% if content.external_source.present? %>
    <div class="external-connection">
      <span class="copy-to-clipboard" title="<b><%= DataCycleCore::Thing.human_attribute_name(:external_key, locale: DataCycleCore.ui_language) + ':</b> '  + content.external_key.to_s %>" data-tooltip data-value="<%= content.external_key %>" data-allow-html="true">
        <span class="external-source-icon fa-stack">
          <i class="fa fa-file-o fa-stack-2x" aria_hidden="true"></i>
          <i class="fa fa-long-arrow-right fa-stack-1x" aria_hidden="true"></i>
        </span>
        <b><%= content.external_source.name %></b>
      </span>
      <%= link_to content.external_source.external_url(content), class: 'external-link', title: t('actions.external_edit', locale: DataCycleCore.ui_language), target: :_blank do %>
        <i class="external-link-icon fa fa-external-link" aria_hidden="true"></i>
      <% end if content.external_source.external_url(content).present? %>
    </div>
  <% end %>

  <% content.external_system_syncs.each do |external_relation| %>
    <div class="external-connection">
      <span class="copy-to-clipboard" title="<b><%= DataCycleCore::Thing.human_attribute_name(:external_key, locale: DataCycleCore.ui_language) + ':</b> ' + external_relation.external_key.to_s + (external_relation.status.present? ? "<br><b>#{t('common.status', locale: DataCycleCore.ui_language)}:</b> #{t("external_connection_states.#{external_relation.status}", locale: DataCycleCore.ui_language)}" : '') %><br><b><%= t('common.date', locale: DataCycleCore.ui_language) %>:</b> <%= l(external_relation.updated_at, locale: DataCycleCore.ui_language) %>" data-tooltip data-value="<%= external_relation.external_key %>" data-allow-html="true">
        <span class="external-system-icon fa-stack <%= external_relation.status %>">
          <i class="fa fa-file-o fa-stack-2x" aria_hidden="true"></i>
          <i class="fa fa-long-arrow-right fa-stack-1x" aria_hidden="true"></i>
        </span>
        <b><%= external_relation.external_system.name %></b>
      </span>
      <%= link_to external_relation.external_url, class: 'external-link', title: t('actions.external_edit', locale: DataCycleCore.ui_language), target: :_blank do %>
        <i class="external-link-icon fa fa-external-link" aria_hidden="true"></i>
      <% end if external_relation.external_url.present? %>
    </div>
  <% end %>
</div>
