<%= render_content_partial 'edit_header_functions', content: content %>

<%= form_for content, url: polymorphic_path(content, watch_list_id: @watch_list), html: {class: 'validation-form edit-content-form'} do |f| %>
    <%= hidden_field_tag 'uuid', content.id %>
    <%= hidden_field_tag :table, content.class.table_name %>
    <%= hidden_field_tag "#{content.class.name.demodulize.underscore}[datahash][creator][]", content.try(:creator).try(:first).try(:id) %>
    <%= hidden_field_tag 'locale', I18n.locale %>

    <% unless @split_source.nil? %>
        <% I18n.with_locale(@split_source.first_available_locale) do %>
            <div class="flex-box">
                <div class="row split-content detail-content">
                    <%= hidden_field_tag 'splitview', true %>
                    <% if can?(:subscribe, @split_source) && @split_source.subscriptions.by_user(current_user).size == 0 %>
                        <div class="subscribe-parent notice"><p>Sie sollten diesen Inhalt (<%= @split_source.template_name%>) abonnieren, um Ihren neu erstellten Inhalt (<%= content.template_name%>) aktuell halten zu können.</p>
                            <%= link_to "Abonnieren", subscriptions_path(subscribable_id: @split_source.id, subscribable_type: @split_source.class.name), method: :post %>

                            <button name="button" type="button" class="close-subscribe-notice" data-close="" aria-label="Dismiss Notice"><span aria-hidden="true">×</span></button>
                        </div>
                    <% end %>
                    <div class="show-content">
                        <div class="detail-header-info">
                            <%= render 'meta_data', content: @split_source %>
                        </div>

                        <%= render_content_partial 'details', content: @split_source, options: { force_render: true } %>

                    </div>
                </div>
        <% end %>
    <% end %>

    <div class="row<%= ' split-content edit-content' unless @split_source.nil? %>">
        <div class="column">
            <div class="detail-header editor">

                <div class="detail-header-info">
                    <%= render 'meta_data', content: content %>
                </div>

                <a class="bookmark" href="#">
                    <span class="bookmarkinfo">zur Recherche hinzufügen</span>
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                </a>

                <div id="validation_errors">
                </div>

                <% if content.schema.present? %>

                    <% validation_properties = ordered_validation_properties(validation: content.schema) %>

                    <%= render 'data_cycle_core/contents/editors/metadata/finalize', content: content if current_user.is_rank?(0) && content.indirect_data_links.by_receiver(current_user).valid.exists? %>

                    <% if !validation_properties.nil? %>

                        <% validation_properties.each do |key, prop| %>

                            <% value = content.try(key.to_sym) %>

                            <%= render_attribute_editor key: "#{keyPrefix}[#{key}]", definition: prop, value: value, parameters: { options: {} }, content: content %>

                        <% end %>

                    <% end %>

                <% end %>

            </div>
        </div>
    </div>

    <% unless @split_source.nil? %>
        </div>
    <% end %>

<% end %>

<%= content_for :forms %>
