<span class="created-at">
  <% if content.is_history? %>
    <%= t('history.updated_at', locale: DataCycleCore.ui_language) %>
    <strong><%= I18n.with_locale(content.first_available_locale){content.history_valid&.first}&.to_datetime&.to_s(:german_datetime_format)%></strong>
  <% else %>
    <%= t('history.valid_since', locale: DataCycleCore.ui_language) %>
    <strong><%= content.updated_at&.to_datetime&.to_s(:german_datetime_format)%></strong>
  <% end %>
  <% unless content.metadata.nil? || content.metadata['last_updated_by'].blank? %>
    <% updater = get_user_for_id(content.metadata['last_updated_by']) %>
    <%= t('terms.from', locale: DataCycleCore.ui_language) %> <strong><a href="mailto:<%= updater.email %>"><%= updater.full_name %></a></strong>
  <% end %>
</span>
