<div class="metadata">
  <span class="type <%= content.template_name.downcase %>">
    <%= render_content_partial 'icon', content: content %>
    <%= content.template_name %> (<%= I18n.locale %>)
  </span>

  <span class="created-at">
    <%= t('history.created_at', locale: DataCycleCore.ui_language) %>
    <strong><%= Time.at(content.created_at).to_s(:german_datetime_format) %></strong>
    <% if !content.metadata.nil? && !content.creator.blank? %>
      <% creator = content.creator.first %>
      <%= t('terms.from', locale: DataCycleCore.ui_language) %> <strong><a href="mailto:<%= "#{creator.email}" %>"><%= "#{creator.name}" %></a></strong>
    <% end %>
  </span>

</div>
