<div class="metadata <%= local_assigns[:html_class] %>">
  <span class="type <%= content.template_name.underscore_blanks %>" style="<%= classification_style(content.classification_alias_for_tree('Inhaltstypen')) %>">
    <%= render 'data_cycle_core/shared/icon', icon_type: content&.icon_type, icon_class: content&.icon_class %>
    <span class="title"><%= content.translated_template_name(active_ui_locale) %></span>
    <span class="template-locale">(<%= I18n.locale %>)</span>
  </span>

  <span class="created-at">
    <% date = visible_content_date(content) %>
    <%= date %>
  </span>
</div>
