<div class="metadata">

    <span class="type <%= content.template_name.downcase %>">
        <%= render_content_partial 'icon', content: content %>
        <%= t("content_type.#{content.template_name.downcase}", default: content.template_name.titleize, locale: DataCycleCore.ui_language) %> (<%= I18n.locale %>)
    </span>

    <span class="created-at">
        <%= t('history.created_at', locale: DataCycleCore.ui_language) %>
        <strong><%= l(Time.at(content.created_at), locale: DataCycleCore.ui_language) if content.created_at.present? %></strong>
        <% if content.created_by_user.present? %>
            <% creator = content.created_by_user %>
            <%= t('terms.from', locale: DataCycleCore.ui_language) %> <strong><a href="mailto:<%= "#{creator.email}" %>"><%= "#{creator.full_name}" %></a></strong>
        <% end %>
    </span>

</div>
