<% grouped_related_contents(content)&.each do |thing_template, relations| %>
  <% template_name = thing_template.template_name %>

  <li>
    <span>
      <%= render 'data_cycle_core/contents/lists/attributes/type', item: thing_template.template_thing %>
    </span>
    <ul class="children">
      <% relations.each do |attribute_name, count|%>
        <li>
          <span class="inner-item">
            <%= translated_attribute_label(attribute_name, nil, thing_template.template_thing) %> (<%= count %>)

            <%= button_tag(type: :button, class: 'add-items-to-watch-list', id: "add-items-to-watch-list-#{template_name.underscore_blanks}-#{attribute_name}", data: { open: "add-items-to-watch-list-overlay-#{template_name.underscore_blanks}-#{attribute_name}", template_name: template_name, relation_a: attribute_name }) do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
              <%= t('actions.add_items_to_watch_list', data: DataCycleCore::WatchList.model_name.human(count: 1, locale: active_ui_locale), locale: active_ui_locale) %>
            <% end if can?(:add_item, DataCycleCore::WatchList) %>
          </span>
        </li>

        <% if can?(:add_item, DataCycleCore::WatchList) %>
          <%= render 'data_cycle_core/contents/lists/add_items_to_watch_list', template_name: template_name, relation_a: attribute_name, content: content %>
        <% end %>
      <% end %>
    </ul>
  </li>
<% end %>
