<% unless dataCycleObject.try(:validity_period).nil?  %>

  <% if !dataCycleObject.validity_period.try(:valid_from).nil? || !dataCycleObject.validity_period.try(:valid_until).nil? %>

    <div class="validity_period">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <% definition = dataCycleObject.properties_for('validity_period') %>
      <%= attribute_viewer_label_tag('validity_period', definition, dataCycleObject, nil) %>

      <% unless dataCycleObject.validity_period.try(:valid_from).nil? %>
        <% from_definition = definition.dig('properties', 'valid_from') %>
        <%= attribute_viewer_label_tag('valid_from', from_definition, dataCycleObject, nil) %>
        <span class="date">
          <%= l(dataCycleObject.validity_period.valid_from.to_date, locale: active_ui_locale) %>
        </span>
      <% end %>

      <% unless dataCycleObject.validity_period.try(:valid_until).nil? %>
        <% until_definition = definition.dig('properties', 'valid_until') %>
        <%= attribute_viewer_label_tag('valid_until', until_definition, dataCycleObject, nil) %>
        <span class="date"><%= l(dataCycleObject.validity_period.valid_until.to_date, locale: active_ui_locale) %></span>
      <% end %>
    </div>

  <% end %>

<% end %>
