<% breadcrumb :show_history, @content, @watch_list %>

<% content_for :top_content do %>

    <div class="reveal-blur">
        <section class="edit-header">
            <div class="row expanded">
              <div class="column edit-header-functions">
                <div class="edit-name">
                    <i class="fa fa-history" aria-hidden="true"></i> <%= @content.template_name %> <%= t('common.compare', locale: DataCycleCore.ui_language) %>
                </div>
                <ul>
                  <li class="has-dropdown">
                    <a id="show-history-link" data-toggle="show-history"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= t('common.version', locale: DataCycleCore.ui_language) %></a>
                    <%= render 'histories', content: @content, additional_classes: 'align-right' %>
                  </li>
                  <li class="buttons"></li>
                </ul>
              </div>
            </div>
        </section>

        <div class="column">

            <div class="detail-content detail-content-wrapper">

                <% I18n.with_locale(@diff_source.first_available_locale) do %>

                    <div class="detail-content row">
                        <div class="show-content">
                            <div class="detail-header-info diff">
                                <% I18n.with_locale(@diff_source.first_available_locale) do %>
                                  <%= render 'diff_meta_data', content: @diff_source %>
                                <% end %>

                                <span class="meta-data-splitter">
                                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </span>

                                <% I18n.with_locale(@content.first_available_locale) do %>
                                  <%= render 'diff_meta_data', content: @content %>
                                <% end %>
                            </div>

                        </div>
                    </div>

                    <%= render_content_partial 'history', content: @diff_source, options: { compare: true, force_render: true } %>

                <% end %>

            </div>

        </div>

    </div>

<% end %>
