<<<<<<< HEAD
<% breadcrumb :show_history, @content, @watch_list %>
=======
<% thing, thing_history, show_restore_link = thing_from_histories(@content, @diff_source) %>

<% breadcrumb :show_history, thing, @watch_list %>
>>>>>>> old/develop

<% content_for :top_content do %>

  <div>
    <section class="edit-header">
      <div class="row expanded">
        <div class="column edit-header-functions">
          <div class="edit-name">
<<<<<<< HEAD
            <i class="fa fa-history" aria-hidden="true"></i> <%= @content.template_name %> <%= t('common.compare', locale: active_ui_locale) %>
          </div>
          <ul>
            <% if can?(:restore_version, @diff_source) %>
              <li>
                <%= link_to tag.i(class: 'fa fa-bolt', aria_hidden: true),
                            restore_history_version_thing_path(id: @content.id, history_id: @diff_source&.id),
                            method: :post,
                            class: 'button alert clear restore-version-button',
                            title: t('history.restore.version.title', locale: active_ui_locale),
                            data: {
                              confirm: t('history.restore.version.confirmation_html', history_version_html: history_version_html(@diff_source), locale: active_ui_locale)
                            } %>
              </li>
            <% end %>
            <li class="has-dropdown">
              <a id="show-history-link" data-toggle="show-history"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= t('common.version', locale: active_ui_locale) %></a>

              <div class="dropdown-pane no-bullet bottom align-right"
                id="show-history"
                data-dropdown
                data-hover="true"
                data-hover-pane="true">
                <div class="remote-render"
                    data-remote-path="data_cycle_core/application/histories"
                    data-remote-options="<%= to_query_params({ content: @content, history_id: @diff_source&.id }).to_json %>">
                </div>
              </div>
            </li>
            <li class="buttons"></li>
=======
            <i class="fa fa-arrows-h" aria-hidden="true"></i> <%= @content.template_name %> <%= t('common.compare', locale: active_ui_locale) %>
          </div>
          <ul>
            <% if show_restore_link && can?(:restore_version, thing_history) %>
              <li>
                <%= link_to tag.i(class: 'fa fa-history', aria_hidden: true),
                            restore_history_version_thing_path(id: thing.id, history_id: thing_history.id),
                            method: :post,
                            class: 'button alert clear restore-version-button',
                            data: {
                              confirm: t('history.restore.version.confirmation_html', history_version_html: history_version_html(thing_history), locale: active_ui_locale),
                              dc_tooltip: t('history.restore.version.title', locale: active_ui_locale)
                            } %>
              </li>
            <% end %>
>>>>>>> old/develop
          </ul>
        </div>
      </div>
    </section>

    <div class="column">

<<<<<<< HEAD
      <div class="detail-content detail-content-wrapper">

        <% I18n.with_locale(@diff_source.first_available_locale) do %>

          <div class="detail-content row">
            <div class="show-content">
              <div class="detail-header-info diff">
                <%= render 'diff_meta_data', content: @diff_source %>

                <span class="meta-data-splitter">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>

                <%= render 'diff_meta_data', content: @content %>
              </div>

=======
      <div class="content-diff-wrapper">

        <% I18n.with_locale(@source_locale) do %>

          <div class="detail-content row content-diff-header">
            <div class="show-content">
              <div class="detail-header-info diff">
                <%= render 'data_cycle_core/contents/history/history_meta_data', content: @diff_source, diff_id: @content.id %>

                <span class="meta-data-splitter">
                  <%= link_to tag.i(class: 'fa fa-long-arrow-right'), history_thing_path(id: @diff_source.id, history_id: @content.id, watch_list_id: @watch_list&.id), data: { dc_tooltip: t('history.switch_versions', locale: active_ui_locale) } %>
                </span>

                <%= render 'data_cycle_core/contents/history/history_meta_data', content: @content, right_side: true, diff_id: @diff_source.id %>

                <%= tag.span(tag.i(class: 'fa fa-exclamation'), class: 'history-different-locales', data: { dc_tooltip: t('history.different_locales', locale: active_ui_locale) }) if @source_locale.to_s != @target_locale.to_s %>
              </div>
>>>>>>> old/develop
            </div>
          </div>

          <%= render_content_partial 'history', content: @diff_source, options: { compare: true, force_render: true } %>

        <% end %>

      </div>

    </div>

  </div>

<% end %>
