<% thing, thing_history, show_restore_link = thing_from_histories(@content, @diff_source) %>

<% breadcrumb :show_history, thing, @watch_list %>

<% content_for :top_content do %>
  <div>
    <section class="edit-header">
      <div class="row expanded">
        <div class="column edit-header-functions">
          <div class="edit-name">
            <i class="fa fa-arrows-h" aria-hidden="true"></i> <%= @content.template_name %> <%= t('common.compare', locale: active_ui_locale) %>
          </div>
          <ul>
            <% if show_restore_link && can?(:restore_version, thing_history) %>
              <li>
                <%= link_to tag.i(class: 'fa fa-history', aria_hidden: true),
                            restore_history_version_thing_path(id: thing.id, history_id: thing_history.id),
                            method: :post,
                            class: 'button alert clear restore-version-button',
                            data: {
                              confirm: t('history.restore.version.confirmation_html', history_version_html: history_version_html(thing_history), locale: active_ui_locale),
                              dc_tooltip: t('history.restore.version.title', locale: active_ui_locale)
                            } %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </section>

    <div class="column">
      <div class="content-diff-wrapper">
        <% I18n.with_locale(@source_locale) do %>
          <div class="detail-content row content-diff-header">
            <div class="show-content">
              <div class="detail-header-info diff">
                <%= render 'data_cycle_core/contents/history/history_meta_data', content: @diff_source, diff_id: @content.id %>

                <span class="meta-data-splitter">
                  <%= link_to tag.i(class: 'fa fa-long-arrow-right'), history_thing_path(id: @diff_source.id, history_id: @content.id, watch_list_id: @watch_list&.id), data: { dc_tooltip: t('history.switch_versions', locale: active_ui_locale) } %>
                </span>

                <%= render 'data_cycle_core/contents/history/history_meta_data', content: @content, right_side: true, diff_id: @diff_source.id %>

                <%= tag.span(tag.i(class: 'fa fa-exclamation'), class: 'history-different-locales', data: { dc_tooltip: t('history.different_locales', locale: active_ui_locale) }) if @source_locale.to_s != @target_locale.to_s %>
              </div>
            </div>
          </div>

          <div class="detail-content detail-content-wrapper">
            <div class="row align-center">
              <div class="type properties">
                <% ordered_validation_properties(validation: @diff_source.schema, scope: :show, exclude_types: ['timeseries']).each do |key, prop| %>
                  <%= render_attribute_viewer key: key,
                                              definition: prop,
                                              value: @diff_source.try(key.to_sym),
                                              parameters: {
                                                options: object_viewer_history_options(**{
                                                  object: @diff_source,
                                                  key: key,
                                                  options: { compare: true, force_render: true }.stringify_keys,
                                                  item_diff: @diff_schema
                                                }),
                                                diff_target: @content
                                              },
                                              content: @diff_source %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
