<% breadcrumb :content, @content, @watch_list %>

<% content_for :top_content do %>
    <%= render_content_partial 'header', content: @content %>
<% end %>

<% if DataCycleCore::Feature::Container.enabled? && @content.content_type?('container') %>
    <ul class="accordion container-details" data-accordion data-allow-all-closed="true">
        <li class="accordion-item is-active" data-accordion-item>
            <div class="accordion-content" data-tab-content>
                <%= render_content_partial 'details', content: @content %>
            </div>
            <a href="#" class="accordion-title"><span><i class="fa fa-chevron-down" aria-hidden="true"></i><span class="closed"><%= t('common.details.show') %></span><span class="open"><%= t('common.details.hide') %></span> </span></a>
        </li>
    </ul>

    <%= render 'filter', filter: { classification_trees: ['Inhaltstypen'], search: true, language: true, collapse: true } %>
    <%= render 'results', contents: @contents %>

    <% content_for :new_button do %>
        <%= render 'new_content_button',
                   query_methods: DataCycleCore::Feature::Container.query_methods(@content),
                   content: @content,
                   parent: @content.content_type?(:container) ? @content : nil,
                   scope: 'container',
                   button_class: 'new-object-circle' if new_content_select_options(query_methods: DataCycleCore::Feature::Container.query_methods(@content), scope: 'container').present? %>
    <% end %>
<% else %>
    <%= render_content_partial 'details', content: @content %>
<% end %>

<% content_for :admin_panel do %>

    <section id="admin-panel">
        <nav id="admin-icons">
            <a data-toggle="menuBar">
                <i class="fa fa-user-secret"></i>
            </a>
            <a data-toggle="schema">
                <i class="fa fa-code"></i>
            </a>
            <a data-toggle="datahash">
                <i class="fa fa-hashtag"></i>
            </a>
            <a data-toggle="json-api">
                <i class="fa">json</i>
            </a>
        </nav>
        <section id="admin-inner">
            <section id="schema" data-toggler=".expanded">
                <section class="schema-nav">
                    <button class="copy-to-admin-clipboard">COPY</button>
                </section>
<pre id="json"><code><%= JSON.pretty_generate(@content.schema) %></code></pre>
            </section>
            <section id="datahash" data-toggler=".expanded">
                <section class="datahash-nav">
                    <button class="copy-to-admin-clipboard">COPY</button>
                </section>
                <%
                    admin_data_hash = {
                        external_key: @content.external_key,
                        external_source_id: @content.external_source_id,
                        created_at: @content.created_at,
                        created_by: @content.created_by,
                        updated_at: @content.updated_at,
                        updated_by: @content.updated_by,
                    }.merge(@content.get_data_hash)
                %>
<pre id="json"><code><%= JSON.pretty_generate(admin_data_hash) %></code></pre>
            </section>
            <section id="json-api" data-toggler=".expanded">
                <section class="json-api-nav">
                    <button class="copy-to-admin-clipboard">COPY</button>
                </section>
                <%
                    json_api_show = DataCycleCore::Api::V3::ContentsController.render(
                        assigns: {content: @content, mode_parameters: [], language: 'de', include_parameters: []},
                        template: 'data_cycle_core/api/v2/contents/show',
                        layout: false
                    )
                %>
                <pre id="json"><code><%= json_api_show %></code></pre>
            </section>
        </section>
    </section>

<% end %>