<% contents.presence&.each do |content| %>
  <% I18n.with_locale(content.first_available_locale) do %>
    <% if content.container? %>
      <li id="<%= content.id %>" data-parent-classification="<%= local_assigns[:classification_parent_tree]&.id || classification_tree.id %>" class="content-row">
        <div class="inner-item container">
          <%= link_to params.permit(language: [], f: [:c, :t, :n, :m, v: []]).merge({ container_id: content.id, classification_parent_tree_id: local_assigns[:classification_parent_tree]&.id || classification_tree.id }), data: { remote: true, disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: DataCycleCore.ui_language)}" }, class: "tree-link type #{content.template_name.downcase}" do %>
            <span class="icon"><i class="folder-icon"></i></span>
            <span><%= t("content_type.#{content.template_name.underscore_blanks}", default: content.template_name, locale: DataCycleCore.ui_language) %> - </span>
            <span class="title"><%= content.try(:title) %></span>
            <% if content_counts[content.id]&.positive? %>
              <span class="children-count">(<%= content_counts[content.id] %>)</span>
            <% end %>
          <% end %>
          <%= link_to tag.i(class: 'fa fa-external-link'), thing_path(content), target: :_blank, class: 'link-to-item' %>
        </div>
        <ul class="contents no-bullet"></ul>
      </li>
    <% else %>
      <li id="<%= content.id %>" class="content-row">
        <div class="inner-item">
          <div class="type <%= content.template_name.downcase %>">
            <span class="tree-link toggle-details">
              <%= render 'data_cycle_core/shared/icon', icon_type: content.template_name.parameterize(separator: '_') %>
              <span><%= t("content_type.#{content.template_name.underscore_blanks}", default: content.template_name, locale: DataCycleCore.ui_language) %></span>
              <span class="locale">(<%= content.translated_locales.join(', ') %>) - </span>
              <span class="title"><%= content.title %></span>
            </span>
            <%= link_to tag.i(class: 'fa fa-external-link'), thing_path(content, locale: I18n.locale), target: :_blank, class: 'link-to-item' %>
          </div>

          <div class="content-details remote-render" id="<%= "#{content.id}-#{local_assigns[:classification_parent_tree]&.id || classification_tree.id}" %>" data-remote-path="data_cycle_core/classification_tree_labels/content_details" data-remote-options="<%= to_query_params(content: content).to_json %>"></div>
        </div>
      </li>
    <% end %>
  <% end %>
<% end %>
<% if @page < @total_pages %>
  <li class="content-row button-row">
    <%= link_to params.permit(language: [], f: [:c, :t, :n, :m, v: []]).merge({ classification_tree_id: local_assigns[:classification_parent_tree]&.id || classification_tree.id, container_id: local_assigns[:container]&.id, classification_parent_tree_id: local_assigns[:classification_parent_tree]&.id, page: (@page + 1) }), data: {remote: true, disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: DataCycleCore.ui_language)}"} do %>
      <%= t('common.load_more', locale: DataCycleCore.ui_language) %>
    <% end %>
  </li>
<% end %>
