<% breadcrumb :classification_tree_label, @classification_tree_label %>
<% content_for :top_content do %>
  <%= render 'filter', view_type: 'classification_tree', additional_classes: 'column-padding' if user_signed_in? %>
<% end %>
<div id="classification-tree-label-list" class="row">
  <div class="small-12 columns">
    <ul class="backend-treeview-list">
      <li id="<%= @classification_tree_label.id %>">
        <h1>
          <%= t("tree_view.#{@classification_tree_label.name}", locale: active_ui_locale, default: @classification_tree_label.name) %>
          <% if can?(:download, @classification_tree_label) %>
            <%= link_to download_classifications_path(classification_tree_label_id: @classification_tree_label.id,
                                                        include_contents: true,
                                                        format: :csv),
                          class: 'download' do %>
              <i class="fa fa-download" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </h1>
        <ul class="children">
          <%= render 'data_cycle_core/contents/tree/classification_trees', classification_tree_label: @classification_tree_label,
                                             classification_trees: @classification_trees %>
        </ul>
      </li>
    </ul>
  </div>
</div>
