<% unless dataCycleObject.metadata.nil? %>
 <div class="image">

    <% unless dataCycleObject.metadata['contentUrl'].nil? %>

       
            <div class="image-container stripes"><img src="<%= dataCycleObject.metadata['contentUrl'] %>" alt="<%= dataCycleObject.content['name'] unless dataCycleObject.content.blank?%>" /></div>
        

    <% end %>

    <!--<%= dataCycleObject.classification_aliases.to_a.map{|item| item.name}.join("<br/>").html_safe %>-->

  <div class="image-data">

    <h5>Details</h5>

              <%= render 'data_cycle_core/creative_works/partials/show/translation/translations', language: 'de', dataCycleObject: dataCycleObject %>

                  <% unless dataCycleObject.metadata['comment'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                   label: dataCycleObject.metadata['validation']['properties']['comment']['label'],
                   prop: dataCycleObject.metadata['validation']['properties']['comment'],
                   key: 'label',
                   value: dataCycleObject.metadata['comment'] %>
    <% end %>
    <dl>

      <% unless dataCycleObject.metadata['creator'].nil? %>
        <dt><%= dataCycleObject.metadata['validation']['properties']['creator']['label'] %></dt>
        <dd><%= dataCycleObject.metadata['creator'] %></dd>
      <% end %>

      <% unless dataCycleObject.metadata['license'].nil? %>
        <dt><i class="fa fa-copyright" aria-hidden="true"></i> <%= dataCycleObject.metadata['validation']['properties']['license']['label'] %></dt>
        <dd><%= dataCycleObject.metadata['license'] %>
        <% unless dataCycleObject.metadata['mandatoryLicense'].nil? %><br><%= render 'data_cycle_core/creative_works/partials/show/datatype/boolean',
                   label: dataCycleObject.metadata['validation']['properties']['mandatoryLicense']['label'],
                   prop: dataCycleObject.metadata['validation']['properties']['mandatoryLicense'],
                   key: 'mandatoryLicense',
                   value: dataCycleObject.metadata['mandatoryLicense'] %>
        <% end %>
        </dd>
      <% end %>

        <!-- todo: check only for empty string -->
      <% if !dataCycleObject.metadata['restrictions'].nil? && dataCycleObject.metadata['restrictions'] != 'Keine Einschränkung;' && !dataCycleObject.metadata['restrictions'].blank? %>
        <dt><i class="fa fa-info-circle" aria-hidden="true"></i> <%= dataCycleObject.metadata['validation']['properties']['restrictions']['label'] %></dt>
        <dd>
                <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                           label: '',
                           prop: dataCycleObject.metadata['validation']['properties']['restrictions'],
                           key: 'restrictions',
                           value: dataCycleObject.metadata['restrictions'] %>
        </dd>
      <% end %>

      <% unless dataCycleObject.metadata['width'].nil? %>
        <dt><i class="fa fa-info-circle" aria-hidden="true"></i> Bildinformationen</dt>
        <dd><%= dataCycleObject.metadata['width'] %>px/<%= dataCycleObject.metadata['height'] %>px, <%= dataCycleObject.metadata['contentSize'] %>Bytes<br />
            <strong>Format:</strong> <%= dataCycleObject.metadata['fileFormat'] %>

                    <% unless dataCycleObject.metadata['dateCreated'].nil? %>
                <%= render 'data_cycle_core/creative_works/partials/show/datatype/datetime',
                           label: dataCycleObject.metadata['validation']['properties']['dateCreated']['label'],
                           prop: dataCycleObject.metadata['validation']['properties']['dateCreated'],
                           key: 'dateCreated',
                           value: dataCycleObject.metadata['dateCreated'] %>
            <% end %>

            <% unless dataCycleObject.metadata['dateModified'].nil? %>
                <%= render 'data_cycle_core/creative_works/partials/show/datatype/datetime',
                           label: dataCycleObject.metadata['validation']['properties']['dateModified']['label'],
                           prop: dataCycleObject.metadata['validation']['properties']['dateModified'],
                           key: 'dateModified',
                           value: dataCycleObject.metadata['dateModified'] %>
            <% end %>
          </dd>
      <% end %>

        <dt><i class="fa fa-external-link-square" aria-hidden="true"></i> Bild-URLs</dt>
        <dd>
            <% unless dataCycleObject.metadata['contentUrl'].nil? %>
                <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                           label: dataCycleObject.metadata['validation']['properties']['contentUrl']['label'],
                           prop: dataCycleObject.metadata['validation']['properties']['contentUrl'],
                           key: 'contentUrl',
                           value: dataCycleObject.metadata['contentUrl'] %>
            <% end %>

            <% unless dataCycleObject.metadata['thumbnailUrl'].nil? %>
                <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                           label: dataCycleObject.metadata['validation']['properties']['thumbnailUrl']['label'],
                           prop: dataCycleObject.metadata['validation']['properties']['thumbnailUrl'],
                           key: 'thumbnailUrl',
                           value: dataCycleObject.metadata['thumbnailUrl'] %>
            <% end %>

            <% unless dataCycleObject.metadata['url'].nil? %>
                <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                           label: dataCycleObject.metadata['validation']['properties']['url']['label'],
                           prop: dataCycleObject.metadata['validation']['properties']['url'],
                           key: 'url',
                           value: dataCycleObject.metadata['url'] %>
            <% end %>
        </dd>
      
    </dl>

    <% unless dataCycleObject.metadata['contentLocation'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/place',
                   label: dataCycleObject.metadata['validation']['properties']['contentLocation']['label'],
                   prop: dataCycleObject.metadata['validation']['properties']['contentLocation'],
                   key: 'contentLocation',
                   value: dataCycleObject.metadata['contentLocation'] %>
    <% end %>

    <% unless dataCycleObject.metadata['accountablePerson'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/person',
                   label: dataCycleObject.metadata['validation']['properties']['accountablePerson']['label'],
                   prop: dataCycleObject.metadata['validation']['properties']['accountablePerson'],
                   key: 'accountablePerson',
                   value: dataCycleObject.metadata['accountablePerson'] %>
    <% end %>

    <% unless dataCycleObject.metadata['source'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                   label: dataCycleObject.metadata['validation']['properties']['source']['label'],
                   prop: dataCycleObject.metadata['validation']['properties']['source'],
                   key: 'source',
                   value: dataCycleObject.metadata['source'] %>
    <% end %>

    <% unless dataCycleObject.metadata['imageId'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                   label: dataCycleObject.metadata['validation']['properties']['imageId']['label'],
                   prop: dataCycleObject.metadata['validation']['properties']['imageId'],
                   key: 'imageId',
                   value: dataCycleObject.metadata['imageId'] %>
    <% end %>

    <% unless dataCycleObject.metadata['visibility'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                   label: dataCycleObject.metadata['validation']['properties']['visibility']['label'],
                   prop: dataCycleObject.metadata['validation']['properties']['visibility'],
                   key: 'visibility',
                   value: dataCycleObject.metadata['visibility'] %>
    <% end %>

    <% unless dataCycleObject.metadata['access'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                   label: dataCycleObject.metadata['validation']['properties']['access']['label'],
                   prop: dataCycleObject.metadata['validation']['properties']['access'],
                   key: 'access',
                   value: dataCycleObject.metadata['access'] %>
    <% end %>



  </div>

</div>

<% end %>
