<% unless @creativeWork.metadata.nil? %>

 <div class="image">

    <% unless @creativeWork.metadata['contentUrl'].nil? %>

       
            <div class="image-container stripes"><img src="<%= @creativeWork.metadata['contentUrl'] %>" alt="<%= @creativeWork.content['name'] unless @creativeWork.content.blank?%>" /></div>
        

    <% end %>

    <!--<%= @creativeWork.classification_aliases.to_a.map{|item| item.name}.join("<br/>").html_safe %>-->

  <div class="image-data">

    <h5>Details</h5>

              <%= render 'data_cycle_core/creative_works/partials/show/translation/translations', language: 'de' %>

                  <% unless @creativeWork.metadata['comment'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                   label: @creativeWork.metadata['validation']['properties']['comment']['label'],
                   prop: @creativeWork.metadata['validation']['properties']['comment'],
                   key: 'label',
                   value: @creativeWork.metadata['comment'] %>
    <% end %>
    <dl>

      <% unless @creativeWork.metadata['creator'].nil? %>
        <dt><%= @creativeWork.metadata['validation']['properties']['creator']['label'] %></dt>
        <dd><%= @creativeWork.metadata['creator'] %></dd>
      <% end %>

      <% unless @creativeWork.metadata['license'].nil? %>
        <dt><i class="fa fa-copyright" aria-hidden="true"></i> <%= @creativeWork.metadata['validation']['properties']['license']['label'] %></dt>
        <dd><%= @creativeWork.metadata['license'] %>
        <% unless @creativeWork.metadata['mandatoryLicense'].nil? %><br><%= render 'data_cycle_core/creative_works/partials/show/datatype/boolean',
                   label: @creativeWork.metadata['validation']['properties']['mandatoryLicense']['label'],
                   prop: @creativeWork.metadata['validation']['properties']['mandatoryLicense'],
                   key: 'mandatoryLicense',
                   value: @creativeWork.metadata['mandatoryLicense'] %>
        <% end %>
        </dd>
      <% end %>   

      <% unless @creativeWork.metadata['width'].nil? %>
        <dt><i class="fa fa-info-circle" aria-hidden="true"></i> Bildinformationen</dt>
        <dd><%= @creativeWork.metadata['width'] %>px/<%= @creativeWork.metadata['height'] %>px, <%= @creativeWork.metadata['contentSize'] %>Bytes<br />
            <strong>Format:</strong> <%= @creativeWork.metadata['fileFormat'] %>

                    <% unless @creativeWork.metadata['dateCreated'].nil? %>
                <%= render 'data_cycle_core/creative_works/partials/show/datatype/datetime',
                           label: @creativeWork.metadata['validation']['properties']['dateCreated']['label'],
                           prop: @creativeWork.metadata['validation']['properties']['dateCreated'],
                           key: 'dateCreated',
                           value: @creativeWork.metadata['dateCreated'] %>
            <% end %>

            <% unless @creativeWork.metadata['dateModified'].nil? %>
                <%= render 'data_cycle_core/creative_works/partials/show/datatype/datetime',
                           label: @creativeWork.metadata['validation']['properties']['dateModified']['label'],
                           prop: @creativeWork.metadata['validation']['properties']['dateModified'],
                           key: 'dateModified',
                           value: @creativeWork.metadata['dateModified'] %>
            <% end %>
          </dd>
      <% end %>

        <dt><i class="fa fa-external-link-square" aria-hidden="true"></i> Bild-URLs</dt>
        <dd>
            <% unless @creativeWork.metadata['contentUrl'].nil? %>
                <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                           label: @creativeWork.metadata['validation']['properties']['contentUrl']['label'],
                           prop: @creativeWork.metadata['validation']['properties']['contentUrl'],
                           key: 'contentUrl',
                           value: @creativeWork.metadata['contentUrl'] %>
            <% end %>

            <% unless @creativeWork.metadata['thumbnailUrl'].nil? %>
                <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                           label: @creativeWork.metadata['validation']['properties']['thumbnailUrl']['label'],
                           prop: @creativeWork.metadata['validation']['properties']['thumbnailUrl'],
                           key: 'thumbnailUrl',
                           value: @creativeWork.metadata['thumbnailUrl'] %>
            <% end %>

            <% unless @creativeWork.metadata['url'].nil? %>
                <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                           label: @creativeWork.metadata['validation']['properties']['url']['label'],
                           prop: @creativeWork.metadata['validation']['properties']['url'],
                           key: 'url',
                           value: @creativeWork.metadata['url'] %>
            <% end %>
        </dd>
      
    </dl>

    <% unless @creativeWork.metadata['contentLocation'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/place',
                   label: @creativeWork.metadata['validation']['properties']['contentLocation']['label'],
                   prop: @creativeWork.metadata['validation']['properties']['contentLocation'],
                   key: 'contentLocation',
                   value: @creativeWork.metadata['contentLocation'] %>
    <% end %>

    <% unless @creativeWork.metadata['accountablePerson'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/person',
                   label: @creativeWork.metadata['validation']['properties']['accountablePerson']['label'],
                   prop: @creativeWork.metadata['validation']['properties']['accountablePerson'],
                   key: 'accountablePerson',
                   value: @creativeWork.metadata['accountablePerson'] %>
    <% end %>

    <% unless @creativeWork.metadata['source'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                   label: @creativeWork.metadata['validation']['properties']['source']['label'],
                   prop: @creativeWork.metadata['validation']['properties']['source'],
                   key: 'source',
                   value: @creativeWork.metadata['source'] %>
    <% end %>

    <% unless @creativeWork.metadata['imageId'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                   label: @creativeWork.metadata['validation']['properties']['imageId']['label'],
                   prop: @creativeWork.metadata['validation']['properties']['imageId'],
                   key: 'imageId',
                   value: @creativeWork.metadata['imageId'] %>
    <% end %>

    <% unless @creativeWork.metadata['visibility'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                   label: @creativeWork.metadata['validation']['properties']['visibility']['label'],
                   prop: @creativeWork.metadata['validation']['properties']['visibility'],
                   key: 'visibility',
                   value: @creativeWork.metadata['visibility'] %>
    <% end %>

    <% unless @creativeWork.metadata['access'].nil? %>
        <%= render 'data_cycle_core/creative_works/partials/show/datatype/string',
                   label: @creativeWork.metadata['validation']['properties']['access']['label'],
                   prop: @creativeWork.metadata['validation']['properties']['access'],
                   key: 'access',
                   value: @creativeWork.metadata['access'] %>
    <% end %>



  </div>

</div>

<hr>

<% end %>
