<table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%">
  <tr>
    <td style="background:white;padding:24pt;border-radius: 7px;box-shadow: 0px 5px 18px 2px rgba(0, 0, 0, 0.15);">
      <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
        <tr>
          <td>
            <span style="font-size:11.5pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;color:#333333"><b><%= t('hello', locale: @locale) %></b></span>
          </td>
        </tr>
        <tr>
          <td width="100%" style="width:100%;padding:12pt 0 0 0;">
            <%= first_available_i18n_t(
              "data_cycle_core.data_links.?.#{@data_link.permissions}_link_html",
              @resource.template_namespaces,
              user: @user.full_name,
              a_type: first_available_i18n_t(:akkusativ, @resource.template_namespaces, scope: "data_link_mailer.?.#{@data_link.item.model_name.singular_route_key}", default: :default, locale: @locale),
              url: @url,
              title: @title,
              n_type: first_available_i18n_t(:nominativ, @resource.template_namespaces, scope: "data_link_mailer.?.#{@data_link.item.model_name.singular_route_key}", default: :default, locale: @locale)&.upcase_first,
              locale: @locale
            ) %>
          </td>
        </tr>

        <% if @data_link.comment.present? %>
          <tr>
            <td style="padding:12pt 0 3pt 0">
              <span style="font-size:12pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;color:#999999"><%= DataCycleCore::DataLink.human_attribute_name("comment", locale: @locale) %></span>
            </td>
          </tr>
          <tr>
            <td style="padding:0">
              <table border="1" cellspacing="0" cellpadding="20" width="100%" style="width:100%;border-color:#d6d6d6;" bordercolor="#d6d6d6">
                <tr>
                  <td>
                    <p>
                      <span style="font-size:12pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;color:#333333"><%= simple_format(@data_link.comment) %></span>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>

        <% if @data_link.text_file.present? %>
          <tr>
            <td style="padding:12pt 0 0 0">
              <span style="font-size:12pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;color:#999999"><%= DataCycleCore::DataLink.human_attribute_name("text_file", file_types: DataCycleCore::TextFile.extension_white_list.join(', '), locale: @locale) %>:</span>
              &nbsp;&nbsp;&nbsp;<a href="<%= get_text_file_data_link_url(@data_link, host: Rails.application.config.asset_host) %>" target="_blank">
                <span style="color:#333333;text-decoration:underline;text-underline:underline"><%= @data_link.text_file.name %></span>
              </a>
            </td>
          </tr>
        <% end %>

        <tr>
        </tr>
        <tr>
          <td style="padding:12pt 0 0 0">
            <span style="font-size:12pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;color:#999999"><%= DataCycleCore::DataLink.human_attribute_name("permissions", locale: @locale) %>: </span>
            <%= DataCycleCore::DataLink.human_attribute_name("permissions_#{@data_link.permissions}".to_sym, locale: @locale) %>
          </td>
        </tr>

        <% if @data_link.valid_from.present? || @data_link.valid_until.present? %>
          <tr>
          </tr>
          <tr>
            <td style="padding:12pt 0 0 0">
              <span style="font-size:12pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;color:#999999"><%= t('terms.valid', locale: @locale).capitalize %></span>
              <% if @data_link.valid_from.present? %>
                <span style="font-size:12pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;color:#999999"><%= t('terms.from', locale: @locale) %></span>
                <%= l(@data_link.valid_from.to_date, locale: @locale) %>
              <% end %>
              <% if @data_link.valid_until.present? %>
                <span style="font-size:12pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;color:#999999"><%= t('terms.until', locale: @locale) %></span>
                <%= l(@data_link.valid_until.to_date, locale: @locale) %>
              <% end %>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding:24pt 0 0 0;">
        <div align="center">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td align="center">
                <table border="0" cellspacing="0" cellpadding="0" align="center">
                  <tr>
                    <td align="center" style="box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);border-radius: 3px;" bgcolor="#90c062"><a href="<%= @url %>" target="_blank" style="font-size:12pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;color:white;text-decoration:none;text-underline:none;border-radius: 3px; padding: 16px 0; border: 1px solid #90c062; display: inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= first_available_i18n_t("data_link_mailer.?.content_#{@data_link.permissions}", @resource.template_namespaces, locale: @locale).upcase %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <% if (notice = first_available_i18n_t('data_cycle_core.data_links.?.notice', @resource.template_namespaces, button_text: first_available_i18n_t("data_link_mailer.?.content_#{@data_link.permissions}", @resource.template_namespaces, locale: @locale).upcase, locale: @locale)).present? %>
      <tr>
        <td style="padding:24pt 0 0 0;">
          <div align="center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td align="center">
                  <table border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                      <td align="center" style="box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);border-radius: 7px;padding:24pt;color:#333333;" bgcolor="#fff3d9">
                        <span style="font-size:15pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;"><%= first_available_i18n_t('data_link_mailer.?.notice', @resource.template_namespaces, locale: @locale) %></span>
                        <br>
                        <br>
                        <%= notice %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
