<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sehr geehrter Partner,</h1>
    <% unless @data_link.comment.blank? %>
      <span>Kommentar:</span>
      <p>
        <%= simple_format(@data_link.comment) %>
      </p>
    <% end %>
    <p>
      <%= @user.full_name %> hat einen Inhalt mit Ihnen geteilt und bittet um Ihre Ergänzungen und ihr Feedback. Bitte nehmen Sie allfällige Änderungen an Text, Bildern und Videos direkt im Formular vor: <br>
      <%= link_to @headline, @url %>.<br>
    </p>
    <p>
      <b>Berechtigung: </b> <%= t('helpers.label.data_link.permissions.' + @data_link.permissions) %>
    </p>
    <p>
      <b>Gültigkeit: </b>
      <% if @data_link.valid_from.nil? && @data_link.valid_until.nil? %>
        unbeschränkt
      <% else %>
        <%= "von: #{@data_link.valid_from.to_datetime.to_s(:german_datetime_format)} " unless @data_link.valid_from.nil? %>
        <%= "bis: #{@data_link.valid_until.to_datetime.to_s(:german_datetime_format)} " unless @data_link.valid_until.nil? %>
      <% end %>
    </p>
  </body>
</html>
