<table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%">
  <tr>
    <td style="background:white;padding:24pt;border-radius: 7px;box-shadow: 0px 5px 18px 2px rgba(0, 0, 0, 0.15);">
      <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
        <tr>
          <td>
            <span style="font-size:11.5pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;color:#333333"><b><%= t('hello', locale: @locale) %></b></span>
          </td>
        </tr>
        <tr>
          <td width="100%" style="width:100%;padding:12pt 0 0 0;">
            <%= t("data_cycle_core.data_links.updated_watchlist_html", a_type: t(:akkusativ, scope: "data_link_mailer.#{@data_link.item.model_name.singular_route_key}", default: :default, locale: @locale), url: @url, title: @title, locale: @locale) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="padding:24pt 0 0 0;">
      <div align="center">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td align="center">
              <table border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                  <td align="center" style="box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);border-radius: 3px;" bgcolor="#90c062"><a href="<%= @url %>" target="_blank" style="font-size:12pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;color:white;text-decoration:none;text-underline:none;border-radius: 3px; padding: 16px 0; border: 1px solid #90c062; display: inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= t("data_link_mailer.content_#{@data_link.permissions}", locale: @locale).upcase %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <% if t('data_cycle_core.data_links.notice', default: '', locale: @locale).present? %>
    <tr>
      <td style="padding:24pt 0 0 0;">
        <div align="center">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td align="center">
                <table border="0" cellspacing="0" cellpadding="0" align="center">
                  <tr>
                    <td align="center" style="box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);border-radius: 7px;padding:24pt;color:#333333;" bgcolor="#fff3d9">
                      <span style="font-size:15pt;font-family: 'Lucida Grande', 'Segoe', Arial, sans-serif;"><%= t('data_link_mailer.notice', locale: @locale) %></span>
                      <br>
                      <br>
                      <%= t('data_cycle_core.data_links.notice', button_text: t("data_link_mailer.content_#{@data_link.permissions}", locale: @locale).upcase, locale: @locale) %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  <% end %>
</table>
