<div class="grid <%= @mode %>">

	<div class="grid-sizer"></div>
	<div class="gutter-sizer"></div>
	<div class="grid-loading">
		<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
		<span class="sr-only">Loading...</span>
	</div>

	<% unless dataCycleObjects.nil? %>

		<% dataCycleObjects.each do |dataCycleObject| %>

			<% if !dataCycleObject.nil? && !dataCycleObject.metadata.nil? && !dataCycleObject.metadata['validation'].nil? %>

				<%# if !dataCycleObject.metadata['validation']['content_type'].nil? && dataCycleObject.metadata['validation']['content_type'] != 'embedded' %>

					<% if !dataCycleObject.metadata['validation']['name'].nil? && !dataCycleObject.metadata['validation']['name'].blank? %>

						<div class="grid-item data-cycle-object">
							<% if can? :manage, DataCycleCore::WatchList %>
								<%= render 'data_cycle_core/watch_lists/partials/remove_item_link', item: dataCycleObject if !@watch_list.nil? && !@watch_list.id.nil? %>
								<%= render 'data_cycle_core/watch_lists/partials/add_to_watchlist', dataCycleObject: dataCycleObject unless !@watch_list.nil? && !@watch_list.id.nil? %>
							<% end %>

							<% case dataCycleObject.metadata['validation']['description'] %>
								<% when "Person" %>
									<%= render "data_cycle_core/persons/partials/index/#{dataCycleObject.metadata['validation']['name'].downcase}", item: dataCycleObject rescue render "data_cycle_core/persons/partials/index/default", item: dataCycleObject  %>
								<% when "Place" %>
									<%= render "data_cycle_core/places/partials/index/#{dataCycleObject.metadata['validation']['name'].downcase}", item: dataCycleObject rescue render "data_cycle_core/places/partials/index/default", item: dataCycleObject  %>
								<% else %>
									<%= render "data_cycle_core/creative_works/partials/index/#{dataCycleObject.metadata['validation']['name'].downcase}", item: dataCycleObject rescue render "data_cycle_core/creative_works/partials/index/default", item: dataCycleObject  %>
							<% end %>

						</div>

					<% end %>

				<%# end %>

			<% end %>

		<% end %>

	<% end %>

</div>
