<div class="grid <%= @mode %>">

	<div class="grid-sizer"></div>
	<div class="gutter-sizer"></div>
	<div class="grid-loading">
		<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
		<span class="sr-only">Loading...</span>
	</div>

	<% unless dataCycleObjects.nil? %>

		<% dataCycleObjects.reject(&:nil?).each do |dataCycleObject| %>

			<% if !dataCycleObject.nil? && !dataCycleObject.metadata.nil? && !dataCycleObject.metadata['validation'].nil? %>

				<%# if !dataCycleObject.metadata['validation']['content_type'].nil? && dataCycleObject.metadata['validation']['content_type'] != 'embedded' %>

				<% if !dataCycleObject.metadata['validation']['name'].nil? && !dataCycleObject.metadata['validation']['name'].blank? %>

					<div class="grid-item data-cycle-object <%= "expired" unless dataCycleObject.is_valid %>">

						<% unless dataCycleObject.is_valid %>
							<span class="status expired">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
						<% end %>

						<% if can? :manage, DataCycleCore::WatchList %>
							<% if !@watch_list.nil? && !@watch_list.id.nil? && controller_name == 'watch_lists' %>
								<%= render 'data_cycle_core/watch_lists/partials/remove_item_link', item: dataCycleObject %>
							<% else %>
								<%= render 'data_cycle_core/watch_lists/partials/add_to_watchlist', dataCycleObject: dataCycleObject %>
							<% end %>
						<% end %>

						<%= render_content_tile item: dataCycleObject %>

					</div>

				<% end %>

				<%# end %>

			<% end %>

		<% end %>

	<% end %>

</div>
