<%= render 'data_cycle_core/contents/editors/attribute_editor', key: key, definition: definition, value: value, options: options do %>

  <%= label_tag key do %>
      <span class="icon <%= key.split('[').last[0...-1] %>">
          <i aria-hidden="true" class="fa fa-clock-o"></i>
      </span>
      <%= definition['label'] %>
  <% end %>
  <div class="duration-slider">
      <div class="small-10 columns">
          <div class="slider <%= can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options, content)) ? '' : 'disabled' %>" data-slider data-initial-start="<%= value.try(:to_i) || 0 %>" data-step="1" data-position-value-function="pow" data-non-linear-base="5" data-start="<%= definition.dig('validations', 'min').try(:to_i) %>" data-end="<%= definition.dig('validations', 'max').try(:to_i) %>" data-decimal="0">
              <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="<%= sanitize_to_id(key) %>"></span>
          </div>
      </div>
      <div class="small-2 columns">
          <%= number_field_tag key, value, options %>
          <span class="duration-label"><%= options.fetch('data-unit', 'min') %></span>
      </div>
  </div>

<% end %>
