<% if item.present? %>
    <div class="reveal new-item" id="<%= "new-#{item.template_name.parameterize(separator: '_')}" %>" data-reveal>
        <h3><%= t('actions.new', data: item.template_name.titleize, locale: DataCycleCore.ui_language) %></h3>

        <% unless params.dig(:f, :s, :v).present? || can?(:create_without_search, item.template_name) %>
            <span class="notice"><%= t('common.no_search', locale: DataCycleCore.ui_language) %></span>
        <% end %>

        <%= form_for(item.class.new, html: {class: 'validation-form'} ) do |f| %>
            <%= hidden_field_tag 'template', item.template_name %>
            <%= hidden_field_tag "#{item.class.name.demodulize.underscore}[datahash][#{DataCycleCore::Feature::LifeCycle.attribute_keys.first}][]", DataCycleCore::Feature::LifeCycle.ordered_classifications.dig(life_cycle_name, :id) if DataCycleCore::Feature::LifeCycle.enabled? && local_assigns.has_key?(:life_cycle_name) %>
            <%= hidden_field_tag 'parent_template', parent_template if local_assigns.has_key?(:parent_template) %>
            <%= hidden_field_tag 'table', "#{item.class.table_name}" %>

            <% unless DataCycleCore::Feature::Container.enabled? %>
                <%= select_tag 'locale', options_for_select(available_locales_with_names.except(:all).invert, current_user.default_locale) %>
            <% end %>
            <% item.new_content_fields&.each_with_index do |attribute, index| %>
                <div class="validation-container form-element">
                    <%= label_tag "#{item.class.name.demodulize.underscore}[datahash][#{attribute}]", "#{item.schema.dig('properties', attribute, 'label')}" %>
                    <%= text_field_tag "#{item.class.name.demodulize.underscore}[datahash][#{attribute}]", '', class: 'form-control', value: (index==0 ? params.dig(:f, :s, :v) : ''), disabled: params.dig(:f, :s, :v).blank? && !can?(:create_without_search, item.template_name) %>
                </div>
            <% end %>

            <% if params.dig(:f, :s, :v).present? || can?(:create_without_search, item.template_name) %>
                <%= f.submit t(:submit, locale: DataCycleCore.ui_language), class: "button primary", data: { disable_with: t(:submit, locale: DataCycleCore.ui_language) } %>
            <% end %>
        <% end %>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% end %>
