<div class="reveal new-content-reveal<%= local_assigns[:object_browser] ? ' in-object-browser' : '' %>"
    id="new_<%= local_assigns.fetch(:key, 'default') %>"
    data-reveal
    data-multiple-opened="true">
  <h3 class="new_content_form_title"><%= t('common.create_new_content', locale: active_ui_locale) %></h3>

  <div class="new-content-form remote-render"
      id="<%= local_assigns.fetch(:key, 'default') %>_new_form"
      data-remote-path="data_cycle_core/contents/new/shared/new_form"
      data-remote-render-function="<%= local_assigns[:render_function] %>"
      data-remote-render-params="<%= local_assigns[:render_params] %>"
      data-remote-options="<%= to_query_params(local_assigns.deep_merge(options: { force_render: true, prefix: SecureRandom.uuid.underscore + '_', ui_scope: 'create' })).to_json %>">
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
