<% if content.send(link_type).nil? %>
    <h5><%= t('actions.new', data: link_type.titleize, default: "New #{link_type.titleize}") %></h5>
    <%= link_to t('actions.generate', data: link_type.titleize), new_data_link_path(item_id: content.id, item_type: content.class.name, permissions: permission), class: "button small" %>
<% else %>
    <h5><%= link_type.titleize %></h5>
    <li>
      <input readonly="readonly" type="text" class="copy-input" value="<%= h(data_link_url(content.send(link_type), source_id: params[:source_id], source_type: params[:source_type] )) %>">
      <button class="button small copy-button"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
    </li>
    <li>
      <span class="button small send-link-button" data-open="<%= id %>"><%= t('actions.send_with_data', data: "Link", default: 'Send') %></span>
      <%= link_to t('actions.delete_with_data', data: "Link", default: 'Delete'), content.send(link_type), method: :delete, class: "button small alert delete-button" %>
    </li>
    <div class="reveal" id="<%= id %>" data-reveal>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= form_tag send_mail_data_link_path(content.send(link_type), type: type), class: "send-link" do |f| %>
        <p class="lead">Link zum <%== type.capitalize %> verschicken</p>
        <%= hidden_field_tag 'data_link[url_params][source_type]', @splitType unless @splitType.blank? %>
        <%= hidden_field_tag 'data_link[url_params][source_id]', @splitSource.id unless @splitSource.blank? %>
        <%= text_field_tag "data_link[receiver]", "", placeholder: "E-Mail Adresse", required: true %>
        <%= text_area_tag "data_link[comment]", "", placeholder: "Kommentar" %>
        <%= button_tag "Link versenden", class: "button small submit-button" %>
      <% end %>
    </div>
<% end %>
