<header>
  <div class="top-bar">
    <div class="top-bar-title">
      <!-- <span data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span> -->
      <span class="logo">
        <%= link_to image_tag("data_cycle_core/datacycle.png", alt: "DataCycle"), '' %>
      </span>
      <span class="title">DataCycle</span>
    </div>
    <div class="top-bar-right" id="main-menu">
      <ul class="menu">
        <li>
          <%= link_to '#' do %>
            <i class="material-icons">info_outline</i><span>Info</span>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to '#' do %>
              <i class="material-icons">settings</i><span>Einstellungen</span>
            <% end %>
          </li>
          <li>
            <%= link_to '#' do %>
              <i class="material-icons">insert_emoticon</i><span><%= current_user.email %></span>
            <% end %>
          </li>
          <li>
            <%= link_to data_cycle_core.destroy_user_session_path, method: :delete do %>
              <i class="material-icons">exit_to_app</i>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to '#' do %>
              <i class="material-icons">settings</i><span>Registrieren</span>
            <% end %>
          </li>
          <li>
            <%= link_to data_cycle_core.new_user_session_path do %>
              <i class="material-icons">insert_emoticon</i><span>Login</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
