<% historyObject ||= nil %>

<div id="show-history-link" data-toggle="show-history" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>
    <% unless historyObject.nil? %>
        bearbeitet am <%= Time.at(historyObject.updated_at).to_s(:german_datetime_format) %>

        <% if historyObject.metadata.try(:[], 'last_updated_by') %>
            <% person = get_user_for_id(historyObject.metadata['last_updated_by']) %>
        <% end %>

    <% else %>
        erstellt am <%= Time.at(dataCycleObject.created_at).to_s(:german_datetime_format) %>

        <% if !dataCycleObject.metadata.nil? && !dataCycleObject.creator.blank? %>
            <% person = dataCycleObject.creator.first %>
        <% end %>

    <% end %>

    <% if person.kind_of?(Object) && person.nil? == false %>
        <span> von </span>
        <span><strong><a class="email-link" href="mailto:<%= "#{person.email}" %>"><%= "#{person.name}" %></a></strong></span>
    <% else %>
        <span> von </span>
        <span><strong>Unbekannt</strong></span>
    <% end %>

    <% if history ||= false %>
      <span class="history-metadata">
              <%= link_to polymorphic_url([:history_detail, dataCycleObject], history_id: historyObject.id, watch_list_id: @watch_list), class:'has-tip', title:'Artikel Version ansehen', data:{tooltip:'', 'disable-hover':''},'aria-haspopup':'true' do  %>
          <i class="fa fa-eye" aria-hidden="true"></i>
        <% end %>
      </span>
    <% end %>
</div>

<% if dataCycleObject.histories.size > 0 %>
    <ul class="dropdown-pane no-bullet bottom" id="show-history" data-dropdown data-hover="true" data-hover-pane="true">
      <div class="history-items">
        <li>Letzte Bearbeitungen:</li>
        <% dataCycleObject.histories.each do |item|%>
            <li class="<%= item == @historySource ? 'active' : '' %>">
                <% if item.metadata.try(:[], 'last_updated_by') %>
                    <% person = get_user_for_id(item.metadata['last_updated_by']) %>
                    <%= "<a class='email-link' href='mailto:#{person.email}'>#{person.name}</a>".html_safe %>
                <% else %>
                    <%= "Unbekannt".html_safe %>
                <% end %>

                <i><%= Time.at(item.updated_at).to_s(:german_datetime_format) %></i>

                <% if can?(:history, dataCycleObject) && item != @historySource %>
                    <span class="history-link">
                      <i>
                          <% if item.class.class_name == 'CreativeWorkHistory' %>
                              <% if action_name == 'history_detail' %>
                                  <%= link_to polymorphic_url([:history_detail, dataCycleObject], history_id: item.id, watch_list_id: @watch_list) do %>
                                      <i class="fa fa-history" aria-hidden="true"></i>
                                  <% end %>
                              <% else %>
                                  <%= link_to polymorphic_url([:history, dataCycleObject], history_id: item.id, watch_list_id: @watch_list) do %>
                                      <i class="fa fa-history" aria-hidden="true"></i>
                                  <% end %>
                              <% end %>
                          <% end %>
                      </i>
                    </span>
                <% end %>

            </li>
        <% end %>
      </div>
    </ul>
<% end %>
