<div id="new-object-circle">
    <a data-toggle="new-object" class="button-prime"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <div class="reveal" id="new-object" data-reveal data-append-to="#new-object-circle" data-v-offset="auto">
        <!--<a class="option" href="#"><i class="fa fa-commenting" aria-hidden="true"></i>Themenvorschlag einbringen</a>-->
        <a class="option" href="#" data-open="recherche"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Recherche beginnen</a>
        <a class="option last" href="#" data-open="newCreativeWork"><i class="fa fa-folder-open-o" aria-hidden="true"></i>Neues Thema erstellen</a>
    </div>
</div>

<!-- testing -->

<% unless @creativeWork.nil? %>

    <div class="reveal new-item" id="newCreativeWork" data-reveal>
        <h3>Neues Thema erstellen</h3>

        <%= form_for(@creativeWork) do |f| %>
            <%= hidden_field_tag 'template', 'Thema' %>
            <div class="validation-container form-element">
                <%= f.text_field :headline, class: 'form-control', value:params[:search] %>
            </div>
            <% if params[:search].present? %>
                <%= f.submit "Erstellen", class: "button primary" %>
            <% end %>
        <% end %>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="reveal new-item" id="recherche" data-reveal>
        <h3>Neue Recherche beginnen</h3>

        <%= form_for(@creativeWork) do |f| %>
            <%= hidden_field_tag 'template', 'Recherche' %>
            <div class="validation-container form-element">
                <%= f.text_field :headline, class: 'form-control', value:params[:search] %>
            </div>
            <% if params[:search].present? %>
                <%= submit_tag "Erstellen", class: "button primary" %>
            <% end %>
        <% end %>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<% end %>
