<span class="template-title" title="<%= content.translated_template_name(active_ui_locale) %>">
  <%= content.translated_template_name(active_ui_locale) %>
</span>

<% if local_assigns[:languages].present? && languages.size <= 2 %>
  <span class="locale">(<%= languages.join(', ') %>)</span>
<% elsif local_assigns[:languages].present? %>
  <span class="locale" title="<%= languages.join(', ') %>">(<%= languages[0..1].join(', ') %>, &hellip;)</span>
<% end %>
