<% if DataCycleCore.features.dig(:external_media_archive, :enabled) %>
  <% external_system = DataCycleCore::ExternalSystem.find_by(name: 'Medienarchiv') %>
  <fieldset class="<%= 'iframe' if external_system.present? %>">
    <legend><%= t('common.create_via_mediaarchive', data: 'Bild', locale: DataCycleCore.ui_language) %></legend>

    <% if external_system.present? %>
      <%= render 'asset_upload', key: local_assigns[:key] || 'iframe_image', asset_type: 'image' %>

      <iframe id="import-medium" class="new-item-iframe lazyload" data-src="<%= external_system.credentials.dig('host') %>/admin/media/import_iframe?type=Image&token=<%= external_system.credentials.dig('token') %><%= '&guest=true' unless current_user.presence&.role&.rank&.positive? %><%= "&user[email]=#{current_user.presence&.email}&user[firstname]=#{current_user.presence&.given_name}&user[lastname]=#{current_user.presence&.family_name}" %>&locale=<%= @language&.first || I18n.locale.to_s %>" data-uploader-id="asset-upload-reveal-<%= local_assigns[:key] || 'iframe_image' %>">
        <p>Formular konnte nicht geladen werden</p>
      </iframe>
    <% else %>
      <div class="callout alert">
        <h4>Fehler!</h4>
        <p>Verbindung zum Medienarchiv nicht möglich.</p>
      </div>
    <% end %>
  </fieldset>
<% else %>
  <% new_dialog_config = DataCycleCore.new_dialog.dig(template&.template_name&.underscore_blanks) %>
  <% new_dialog_config ||= DataCycleCore.new_dialog.dig(template&.schema_type&.underscore_blanks) %>
  <% new_dialog_config ||= DataCycleCore.new_dialog.dig('default') %>

  <fieldset class="no-search-warning no-submit">
    <legend><%= t('actions.new', data: t("content_type.#{template&.template_name&.underscore_blanks}", default: template&.template_name, locale: DataCycleCore.ui_language), locale: DataCycleCore.ui_language) %></legend>

    <%= render 'data_cycle_core/contents/new/shared/content_uploader', local_assigns.merge(type: 'image') %>
  </fieldset>
<% end %>
