<% if DataCycleCore.features.dig(:external_media_archive, :enabled) %>
  <% content_for :new_content_form_title do %>
    <%= t('actions.new',
      data: t("content_type.#{new_template.template_name.underscore_blanks}",
        default: new_template.template_name,
        locale: DataCycleCore.ui_language),
      locale: DataCycleCore.ui_language) %>
  <% end %>

  <% content_for :form_crumbs do %>
    <%= render 'data_cycle_core/contents/new/shared/crumbs',
      crumbs: local_assigns[:form_crumbs],
      title: yield(:new_content_form_title) %>
  <% end %>

  <% external_system = DataCycleCore::ExternalSystem.find_by(name: 'Medienarchiv') %>
  <% if external_system.present? %>
    <iframe id="import-medium" class="new-item-iframe lazyload" data-src="<%= external_system.credentials.dig('host') %>/admin/media/import_iframe?type=Image&token=<%= external_system.credentials.dig('token') %><%= '&guest=true' unless current_user.presence&.role&.rank&.positive? %><%= "&user[email]=#{current_user.presence&.email}&user[firstname]=#{current_user.presence&.given_name}&user[lastname]=#{current_user.presence&.family_name}" %>&locale=<%= @language&.first || I18n.locale.to_s %>">
      <p>Formular konnte nicht geladen werden</p>
    </iframe>
  <% else %>
    <div class="callout alert">
      <h4>Fehler!</h4>
      <p>Verbindung zum Medienarchiv nicht möglich.</p>
    </div>
  <% end %>
<% else %>
    <%= render 'data_cycle_core/contents/new/default_form', local_assigns %>
<% end %>
