<h3><%= t('actions.new', data: item.template_name, locale: DataCycleCore.ui_language) %></h3>

<%= form_with url: polymorphic_path(item.class), local: true, html: { class: 'validation-form' } do %>
  <%= hidden_field_tag :table, item.class.table_name %>
  <%= hidden_field_tag :template, item.template_name %>

  <% item.new_content_fields.each do |attribute| %>
      <div class="form-element<%= ' validation-container' if item.schema.dig('properties', attribute, 'validations').present? %>">
        <%= label_tag "#{item.class.name.demodulize.underscore}[datahash][#{attribute}]", "#{item.schema.dig('properties', attribute, 'label')}" %>
        <%= text_field_tag "#{item.class.name.demodulize.underscore}[datahash][#{attribute}]", nil, class: 'form-control' %>
      </div>
  <% end %>

  <div class="buttons">
    <%= link_to t('actions.back', locale: DataCycleCore.ui_language), contents_new_path, class: "button primary", data: { disable_with: '<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> ' + t('actions.back', locale: DataCycleCore.ui_language) }, remote: true, method: :post %>
    <%= submit_tag t('submit', locale: DataCycleCore.ui_language), class: "button primary", data: { disable_with: '<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> ' + t('submit', locale: DataCycleCore.ui_language) } %>
  </div>
<% end %>
