<% if DataCycleCore.features.dig(:external_media_archive, :enabled) %>
  <% external_system = DataCycleCore::ExternalSystem.find_by(name: 'Medienarchiv') %>
  <fieldset class="<%= 'iframe' if external_system.present? %>">
    <legend><%= t('common.create_via_mediaarchive', data: 'Video', locale: active_ui_locale) %></legend>
    <% if external_system.present? %>
      <%#= render 'asset_upload', key: local_assigns[:key] || 'iframe_video', asset_type: 'video' %>

      <iframe id="import-medium" class="new-item-iframe lazyload" data-src="<%= external_system.credentials(:export).dig('host') %>/admin/media/import_iframe?type=Video&token=<%= external_system.credentials(:export).dig('token') %><%= '&guest=true' unless current_user.presence&.role&.rank&.positive? %><%= "&user[email]=#{current_user.presence&.email}&user[firstname]=#{current_user.presence&.given_name}&user[lastname]=#{current_user.presence&.family_name}" %>&locale=<%= @language&.first || I18n.locale.to_s %>" data-uploader-id="asset-upload-reveal-<%= local_assigns[:key] || 'iframe_video' %>">
        <p>Formular konnte nicht geladen werden</p>
      </iframe>
    <% else %>
      <div class="callout alert">
        <h4>Fehler!</h4>
        <p>Verbindung zum Medienarchiv nicht möglich.</p>
      </div>
    <% end %>
  </fieldset>
<% else %>
  <%= render 'data_cycle_core/contents/new/asset', local_assigns %>
<% end %>
