<% I18n.with_locale(@language) do %>

    <%= link_to item do %>

        <div class="inner">
            <% unless @watch_list.nil? %>
                <%= render 'data_cycle_core/watch_lists/partials/remove_item_link', item: item %>
            <% end %>

            <%= render 'data_cycle_core/creative_works/partials/index/render/type', item: item %>

            <div class="title">

                <% if !item.givenName.nil? && !item.familyName.nil? %>
                    <%= "#{item.givenName} #{item.familyName}" %>
                <% end %>

            </div>

            <% if !item.content.nil? && !item.content['jobTitle'].blank? %>

                <div class="description">
                    <%= item.content['jobTitle'].html_safe %>
                </div>

            <% end %>

            <% unless item.display_classification_aliases.nil? %>

                <div class="tags">
                    <% item.display_classification_aliases.each do |classificationAlias| %>
                        <span class="tag"><%= classificationAlias.name %></span>
                    <% end %>
                </div>

            <% end %>

            <%= render 'data_cycle_core/creative_works/partials/index/render/contentInfo', item: item %>

        </div>

    <% end %>

<% end %>