<% if !objects.nil? && !objects.blank? %>

    <% objects_length = objects.size %>

    <% objects.each_with_index do |object,index| %>

        <% I18n.with_locale(object.first_available_locale) do %>

            <% objectDataHash = object.get_data_hash %>

            <% object_id = objectDataHash['id'] %>
            <% original_object = find_original_object original_objects, object_id %>
            <% object_has_changed = mode == 'edit' ? get_object_changes(object, original_object) : true %>

            <%= render 'data_cycle_core/contents/viewers/attribute_viewer',
                       key: key,
                       definition: definition,
                       value: value,
                       options: options.merge({hide_label: true, item_diff: object_has_changed, mode: mode}),
                       data_attributes: {id: object.id.split(','), editor: definition['editor']['type']} do %>

                <span class="detail-label">
                    <%= render 'data_cycle_core/shared/icon', icon_type: object.template_name.downcase %><strong><%= definition['label'].capitalize %> <%= content_tag(:span, index+1) if objects_length > 1 %></strong>
                </span>
<%
=begin
%>
                <div class="buttons">
                  <% if DataCycleCore.translatable_types.include?(object.class.name) %>
                    <a data-toggle="translated-locales-history-<%= object.id %>"><i class="fa fa-language" aria-hidden="true"></i></a>
                    <ul class="dropdown-pane no-bullet bottom translated-locales" id="translated-locales-history-<%= object.id %>" data-dropdown data-hover="true" data-hover-pane="true">
                      <% object.translated_locales.each do |locale| %>
                        <li><%= t("locales.#{locale}", locale: DataCycleCore.ui_language) %></li>
                      <% end %>
                    </ul>

                  <% end %>
                  <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_polymorphic_path(object, locale: I18n.locale), target: :_blank, class: "edit-link" if definition['editor']['type'] == "objectBrowser" && @historySource.nil? && can?(:crud, object) %>
                </div>
<%
=end
%>
                <% if !object.metadata.nil? && !object.schema.nil? %>

                    <% validation_properties = get_ordered_validation_properties(object.schema) %>

                    <% if !validation_properties.nil? %>

                        <% validation_properties.each do |key, prop| %>

                            <% object_value = prop.dig('type') == "object" ? object.try(key.to_sym) : objectDataHash[key] %>

                            <% item_has_changed = mode == 'edit' ? get_object_item_has_changed(key, prop, object_value, object_has_changed, definition) : false %>

                            <%= render_attribute_history_viewer key: key, definition: prop, value: object_value, parameters: { options: options.merge({item_diff: item_has_changed, original_objects: original_object, mode: mode})} %>

                        <% end %>

                    <% end %>

                <% end %>

            <% end %>

        <% end %>

    <% end %>

<% end %>
