<ul class="dc-additional-values-filter accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
  <% additional_values.each do |key, value| %>
    <% filters = value.dig('definition', 'ui', 'edit', 'filters', 'classification_tree') %>
    <%= tag.li(
      class: "dc-additional-values-filter-item #{'accordion-item' if filters.present?}",
      data: {
        accordion_item: filters.present? ? true: nil
      }
    ) do %>
      <%= label_tag "dc_map_additional_value_#{key}", class: 'dc-additional-values-filter-title' do %>
        <%= check_box_tag "dc_map_additional_value_#{key}" %>
        <%= tag.span(value['label'], class: 'attribute-label-text') %>
      <% end %>

      <% if filters.present? %>
        <a href="#" class="accordion-title"></a>

        <div class="accordion-content" data-tab-content>
          <%= filters %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</ul>
