<li class="<%= [
    'item',
    'content',
    'copy-single',
    object.class.name.demodulize.underscore_blanks.dasherize,
    object.schema_type&.underscore&.dasherize,
    object.template_name.underscore.dasherize,
    changes_class(local_assigns.dig(:options, :item_diff), object.id),
    local_assigns[:tile_classes],
    object.id.in?(local_assigns[:objects] || []) ? 'active' : nil,
    object.hard_content_warnings? ? 'hard-warnings' : nil
  ].compact.join(' ') %>" data-id="<%= local_assigns[:object_id] || object.id %>">
    <div class="content-link">
      <%= hidden_field_tag key, object.id, id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}" %>
      <%= render 'data_cycle_core/contents/viewers/shared/buttons', content: object, definition: definition if local_assigns[:tile_links] %>

      <%= yield %>

      <%= yield_content!(:tile_buttons) %>
    </div>
</li>
