<div class="column detail-header-wrapper">
  <div class="detail-header">
    <a class="close-button" href="<%= breadcrumbs[-2].url %>"><i aria-hidden="true" class="fa fa-times"></i></a>

    <%= render 'data_cycle_core/watch_lists/partials/add_to_watchlist', dataCycleObject: content %>

    <% if can? :write, content %>
      <div class="edit">
        <%= link_to send("edit_#{content.class.class_name.underscore}_path", content, trail: breadcrumb_trail), class:'button-prime small' do %>
          <i class="fa fa-pencil" aria-hidden="true"></i><span>Bearbeiten</span>
        <% end %>
      </div>    
    <% end %>

    <div class="topleftinfo">
      <div class="type <%= content.content_type.downcase %>">
        <%= render_content_partial 'icon', content: content %>
        <span class="title"><%= content.content_type %></span>
      </div>

      <span class="metadata">
        <span>erstellt am </span>
        <span><strong><%= content.created_at.to_s(:german_datetime_format) %></strong><% if content.creator.nil? %>.<% end %></span>
        <% if content.creator %>
          <span> von </span>
          <span><strong><a href="mailto:<%= "#{content.creator.email}" %>"><%= "#{content.creator.name}" %></strong></a>.</span>
        <% end %>
        <span>Letzte Bearbeitung: </span>
        <span><strong><%= content.updated_at.to_s(:german_datetime_format) %></strong></span>
      </span>
    </div>

    <div class="title">
      <%= content.title %>
    </div>

    <% content_data = content.get_data_hash %>
    <div class="tags">
      <% content.classification_tree_definitions.each do |definition| %>
        <% if !content_data[definition[:key]].blank? %>
          <div class="tag-group-wrapper">        
            <span class="icon <%= definition['label'] %>"><i class="fa" aria-hidden="true"></i></span>
            <span class="tag-group-header"><%= definition['label'] %>: </span>

            <% content.classifications.select { |c| content_data[definition[:key]].include?(c.id) }.each do |classification| %>
              <span class="tag"><%= classification.name %></span>              
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
