<a id="generate_report" data-toggle="generate_reports"><i class="fa fa-table" aria-hidden="true"></i></a>

<div class="dropdown-pane no-bullet bottom" id="generate_reports" data-dropdown>
  <h5><%= t('data_cycle_core.reports.available_reports', locale: active_ui_locale) %></h5>
  <ul class="available-reports no-bullet">
    <% DataCycleCore::Feature::ReportGenerator.content_reports(content).each do |key, report| %>
      <li>
        <a href="#" class="report-overlay-link" data-open="report-overlay-<%= key %>"><%= t("feature.report_generator.#{key}", locale: active_ui_locale) %></a>

        <div class="reveal" id="report-overlay-<%= key %>" data-reveal>
          <h3><%= t("feature.report_generator.#{key}", locale: active_ui_locale) %></h3>
          <div class="remote-render"
              data-remote-path="data_cycle_core/reports/form"
              data-remote-options="<%= to_query_params({ key: key, report: report, content: content }).to_json %>">
          </div>

          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </li>
    <% end %>
  </ul>
</div>
