<%= form_tag('', :method => "get", id: "search-form", data: { add_filter_path: add_filter_path, add_tag_group_path: add_tag_group_path }) do %>
  <% filter = local_filter_options(filter, @filters) %>
  <%= hidden_field_tag 'mode', @mode %>
  <%= hidden_field_tag 'ct_id', @classification_tree&.id %>
  <%= hidden_field_tag 'ctl_id', @classification_tree_label&.id %>

  <% if filter[:collapse] %>
    <div class="accordion filter-collapse" data-accordion data-allow-all-closed="true">
      <div class="row accordion-item  <%= 'is-active' if (filter[:collapse] == 'open') %>" data-accordion-item>
        <section class="filters accordion-content" data-tab-content>
        <% else %>
          <section class="filters">
          <% end %>

          <div class="row">
            <div class="column">
              <%= render 'data_cycle_core/application/filters/fulltext_search', fulltext_search: filter[:fulltext_search] if filter[:search] %>

              <div class="main-filters">
                <nav id="primary_nav_wrap">
                  <ul class="clickable-menu">
                    <% if filter[:classification_tree_data].present? %>
                      <% filter[:classification_trees].presence&.each_with_index do |tree_label, idx| %>
                        <%= render 'data_cycle_core/application/filters/classification_tree',
                            tree_label: tree_label,
                            display_label: t("filter.#{tree_label.presence&.underscore_blanks}", default: tree_label, locale: DataCycleCore.ui_language),
                            excluded_types: tree_label == 'Inhaltstypen' ? filter[:excluded_types] : [],
                            classification_tree: filter.dig(:classification_tree_data, tree_label),
                            index: idx unless filter.dig(:classification_tree_data, tree_label).nil? %>
                      <% end %>
                    <% end %>
                  </ul>
                </nav>
              </div>

              <% if content_for?(:advanced_filters) || filter[:advanced].present? %>
                <div class="advanced-filters accordion" data-accordion data-allow-all-closed="true">
                  <div class="accordion-item <%= 'is-active' if DataCycleCore::Feature::AdvancedFilter.always_visible? %>" data-accordion-item>
                    <div class="accordion-content" data-tab-content style="<%= 'display: block;' if DataCycleCore::Feature::AdvancedFilter.always_visible? %>">
                      <%= yield :advanced_filters %>
                      <% if filter[:advanced].present? %>
                        <% if can?(:advanced_filter, :backend) %>
                          <div class="add-advanced-filter-container">
                            <%= select_tag :add_advanced_filter,
                                grouped_options_for_select(filter[:advanced].presence&.sort&.group_by{ |f| f[1] }&.transform_keys { |k| t("filter_groups.#{k}", default: k, locale: DataCycleCore.ui_language) }),
                                prompt: t("filter.add", locale: DataCycleCore.ui_language),
                                class: 'single-select',
                                data: {
                                  index: filter[:index] + (@advanced_filters.presence&.size || 0),
                                  allow_clear: false
                                } %>
                          </div>
                        <% end %>

                        <% @advanced_filters.presence&.each_with_index do |advanced_filter, idx| %>
                          <%= render_advanced_filter_partial({
                              filter_type: advanced_filter['t'],
                              filter_title: advanced_filter['n'],
                              filter_name: advanced_filter['n'].presence&.underscore_blanks,
                              filter_method: advanced_filter['m'],
                              filter_advanced_type: advanced_filter['q'],
                              value: advanced_filter['v'],
                              index: idx + filter[:index]}) %>
                        <% end %>
                      <% end %>

                    </div>
                    <a href="#" class="accordion-title">
                      <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    </a>
                  </div>
                </div>
              <% end %>

              <div class="filtertags activefilter">
                <span class="icon">
                  <i class="fa fa-check" aria-hidden="true"></i> <b><%= t('common.active_filters', locale: DataCycleCore.ui_language) %>:</b>
                </span>
                <span class="filter-groups">
                  <%= render 'data_cycle_core/application/filters/tag_groups/fulltext_search',
                    value: filter[:fulltext_search],
                    buttons: 'a',
                    key: 'fulltext_search',
                    target: 'fulltext_search' if filter[:fulltext_search].present? %>

                  <% @default_filters.presence&.each do |default_filter| %>
                    <%= render_advanced_filter_tags_partial({
                        filter_type: default_filter['t'],
                        title: default_filter['n'],
                        key: default_filter['n'].presence&.underscore_blanks,
                        target: default_filter['n'].presence&.underscore_blanks + "_#{filter[:classification_trees]&.index(default_filter['n']).to_i}",
                        value: default_filter['v'],
                        classification_aliases: @selected_classification_aliases&.slice(*default_filter['v']),
                        buttons: 'd'
                    }) %>
                  <% end %>

                  <% @advanced_filters.presence&.each_with_index do |advanced_filter, idx| %>
                    <%= render_advanced_filter_tags_partial({
                        title: advanced_filter['n'],
                        key: advanced_filter['n'].presence&.underscore_blanks,
                        target: advanced_filter['n'].presence&.underscore_blanks + "_#{idx + filter[:index]}",
                        filter_method: advanced_filter['m'],
                        filter_type: advanced_filter['t'],
                        value: advanced_filter['v'],
                        filter_advanced_type: advanced_filter['q'],
                        container_classes: 'advanced-tags',
                        classification_aliases: @selected_classification_aliases&.slice(*advanced_filter['v']),
                        buttons: 'a'
                    }) %>
                  <% end %>
                </span>
              </div>

              <div class="languagetags">
                <%= render 'data_cycle_core/application/filters/tag_groups/language',
                    title: 'Sprache',
                    key: 'language',
                    target: 'language',
                    value: @language,
                    buttons: 'd' %>
              </div>

              <div class=" filterbuttons clearfix">
                <div class="filterbuttons-left">
                  <%= button_tag type: :submit, class: "button success", data: {
                      disable_with: "<i class='fa fa-circle-o-notch fa-spin fa-3x fa-fw'></i> #{t('actions.searching', locale: DataCycleCore.ui_language)} ..."
                    } do %>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <%= t('actions.filter', locale: DataCycleCore.ui_language) %>
                  <% end %>

                  <ul class="clickable-menu language-filter">
                    <%= render 'data_cycle_core/application/filters/language' if filter[:language] %>
                  </ul>

                  <div class="expandable-buttons">
                    <%= button_tag type: :button, id: 'save-filter', data: { open: 'save-filter-with-name' } do %>
                      <i class="fa fa-floppy-o" aria-hidden="true"></i>
                      <span class="expandable">
                        <%= t('data_cycle_core.stored_searches.save', locale: DataCycleCore.ui_language) %>
                      </span>
                    <% end if can?(:create, DataCycleCore::StoredFilter) && filter[:store] %>

                    <%= link_to request.path + '?reset=true', class: 'button', id: 'reset-filter' do %>
                      <i class="fa fa-times" aria-hidden="true"></i>
                      <span class="expandable">
                        <%= t('actions.reset', count: 2, locale: DataCycleCore.ui_language) %>
                      </span>
                    <% end %>

                    <%= button_tag type: :button, id: 'add-items-to-watch-list', data: { open: 'add-items-to-watch-list-overlay' } do %>
                      <i class="fa fa-plus" aria-hidden="true"></i>
                      <span class="expandable">
                        <%= t('actions.add_items_to_watch_list', data: DataCycleCore::WatchList.model_name.human(count: 1, locale: DataCycleCore.ui_language), locale: DataCycleCore.ui_language) %>
                      </span>
                    <% end if can?(:add_item, DataCycleCore::WatchList) && filter[:add_items_to_watch_list] %>
                  </div>
                </div>

                <div class="filterbuttons-right">
                  <% if can?(:show_history, DataCycleCore::StoredFilter) && filter[:store] %>
                    <%= render 'stored_filters' %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </section>

        <% if filter[:collapse] %>
          <a href="#" class="accordion-title">
            <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          </a>
        </div>
      </div>
    <% end %>

    <%= render 'data_cycle_core/application/view_mode_selector', sortable: filter[:sortable], mode_selector: filter[:mode_selector], additional_classes: filter[:additional_mode_selector_classes] %>
  <% end %>

  <% if can?(:create, DataCycleCore::StoredFilter) && filter[:store] %>
    <%= render 'data_cycle_core/application/filters/new_stored_filter', local_assigns %>
  <% end %>

  <% if can?(:add_item, DataCycleCore::WatchList) && filter[:add_items_to_watch_list] %>
    <%= render 'data_cycle_core/application/filters/add_items_to_watch_list', local_assigns %>
  <% end %>
