<header>
  <div class="top-bar">
    <div class="top-bar-title">
      <%= link_to root_path do %>
        <%= render 'logo', inverted: true %>
        <%= header_title %>
        <%= yield :menu_title %>
      <% end %>
    </div>
    <div class="top-bar-right" id="main-menu">
      <ul class="menu">
        <li>
          <% if can?(:read, DataCycleCore::WatchList) %>
            <%= render 'watch_lists' %>
          <% end %>
        </li>
        <li>
          <% if DataCycleCore.info_link.blank? %>
            <%= link_to tag.i(class: 'fa fa-question') + tag.span('Info'), 'https://datacycle.info/', title: 'datacycle.info', target: :_blank %>
          <% elsif DataCycleCore.info_link.is_a?(::String) %>
            <%= link_to tag.i(class: 'fa fa-question') + tag.span('Info'), DataCycleCore.info_link, target: :_blank %>
          <% else %>
            <%= link_to tag.i(class: 'fa fa-question') + tag.span('Info'), info_path, target: :_blank %>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li>
            <button type="button" class="button show-sidebar" data-toggle="settings-off-canvas">
              <span><%= current_user.email %></span>
              <i class="fa fa-bars icon-right" aria-hidden="true"></i>
            </button>
          </li>
        <% else %>
          <li>
            <%= link_to data_cycle_core.new_user_session_path do %>
              <span>Login</span>
              <i class="fa fa-sign-in icon-right" aria-hidden="true"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
