<header>
    <div class="top-bar">
        <div class="top-bar-title">
            <!-- <span data-responsive-toggle="main-menu" data-hide-for="medium">
              <button class="menu-icon dark" type="button" data-toggle></button>
            </span> -->
            <%= link_to '/' do %>
              <%= render 'logo' %>
              <%= yield :menu_title %>
            <% end %>
        </div>
        <div class="top-bar-right" id="main-menu">
            <ul class="menu">
                <li>
                  <%= link_to subscriptions_path, class: 'user-subscriptions-link' do %>
                    <%= DataCycleCore::Subscription.model_name.human(count: 2, locale: DataCycleCore.ui_language) %>
                  <% end if user_signed_in? && current_user.role&.rank&.positive? %>
                </li>
                <li>
                    <% if can?(:manage, DataCycleCore::WatchList) %>
                        <%= render 'watch_lists' %>
                    <% end %>
                </li>
                <li>
                    <% if DataCycleCore.features.dig(:publishable) && can?(:show_publications, DataCycleCore::Content) %>
                        <%= link_to t('common.publications_calendar', locale: DataCycleCore.ui_language), publications_path, class: 'publications-link' %>
                    <% end %>
                </li>
                <li>
                    <% if can?(:show_history, DataCycleCore::StoredFilter) %>
                        <%= render 'stored_filters' %>
                    <% end %>
                </li>
                <li>
                    <%= link_to '/info' do %>
                        <i class="fa fa-question" aria-hidden="true"></i><span>Info</span>
                    <% end %>
                </li>
                <% if user_signed_in? %>
                    <li>
                        <button type="button" class="button show-sidebar" data-toggle="settings-off-canvas">
                            <span><%= current_user.email %></span><i class="fa fa-smile-o icon-right" aria-hidden="true"></i>
                        </button>
                    </li>
                <% else %>
                    <!--<li>
                        <%= link_to '#' do %>
                            <span>Registrieren</span><i class="fa fa-cogs icon-right" aria-hidden="true"></i>
                        <% end %>
                    </li>-->
                    <li>
                        <%= link_to data_cycle_core.new_user_session_path do %>
                            <span>Login</span><i class="fa fa-smile-o icon-right" aria-hidden="true"></i>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</header>
