<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= full_title %></title>

<%= csrf_meta_tags %>
<%= vite_client_tag %>
<%= action_cable_meta_tag %>
<%= vite_javascript_tag 'application', defer: true %>
<%= vite_stylesheet_tag 'application.scss', media:'all' %>
