<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= full_title %></title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<% if Array(@language).include?('zh') || I18n.locale.to_s == 'zh' %>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC|Noto+Sans+TC&display=swap&subset=chinese-simplified,chinese-traditional,vietnamese" rel="stylesheet">
<% end %>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%#= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
<%= action_cable_meta_tag %>
<%= vite_client_tag %>
<%= vite_javascript_tag 'application' %>
<% if DataCycleCore.default_map_position.dig('editor') == 'TourSprung' %>
  <link href="https://static.maptoolkit.net/api/v8.9/mtk.css" rel="stylesheet" type="text/css"  />
  <link rel="stylesheet" type="text/css" href="https://static.maptoolkit.net/api/v8.9/editor.css" />
  <link rel="stylesheet" href="//unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css" type="text/css">

  <script src="https://static.maptoolkit.net/api/v8.9/mtk.<%= DataCycleCore.ui_language %>.js" defer></script>
  <script type="text/javascript" src="https://static.maptoolkit.net/api/v8.9/editor.js" defer></script>
  <script src="//unpkg.com/leaflet-gesture-handling" defer></script>
<% end %>
