<div class="dropdown-pane no-bullet bottom <%= additional_classes if local_assigns[:additional_classes].present? %>" id="show-history" data-dropdown data-hover="true" data-hover-pane="true">
  <h5><%= t('history.latest_edits', locale: DataCycleCore.ui_language) %>:</h5>
  <ul class="list-items">
    <% content.histories.each do |item|%>
        <li class="<%= item == @historySource ? 'active' : '' %>">
            <!-- # TODO: refactor last_updated_by -->
            <% if item.try(:last_updated_by).is_a?(ActiveRecord::Relation) && item.try(:last_updated_by).present? %>
                <% person = item.last_updated_by.first %>
                <%= "<a class='email-link' href='mailto:#{person.email}'>is_a(Relation)#{person.full_name}</a>".html_safe %>
            <% elsif item.metadata.try(:[], 'last_updated_by') %>
                <% person = get_user_for_id(item.metadata['last_updated_by']) %>
                <%= "<a class='email-link' href='mailto:#{person.email}'>#{person.full_name}</a>".html_safe %>
            <% else %>
                <%= "Unbekannt".html_safe %>
            <% end %>

            <i><%= l(Time.zone.at(I18n.with_locale(item.first_available_locale){item.history_valid&.first}), locale: DataCycleCore.ui_language) %></i>

            <% if can?(:history, content) && item != @historySource %>
                <span class="history-link">
                  <i>
                      <% if action_name == 'history_detail' %>
                          <%= link_to polymorphic_url([:history_detail, content], history_id: item.id, watch_list_id: @watch_list) do %>
                              <i class="fa fa-history" aria-hidden="true"></i>
                          <% end %>
                      <% else %>
                          <%= link_to polymorphic_url([:history, content], history_id: item.id, watch_list_id: @watch_list) do %>
                              <i class="fa fa-history" aria-hidden="true"></i>
                          <% end %>
                      <% end %>
                  </i>
                </span>
            <% end %>

        </li>
    <% end %>
  </ul>
</div>
