<div id="show-history-link" data-toggle="show-history" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>
    <%= t("history.#{dataCycleObject.histories.exists? ? 'updated_at' : 'created_at'}", locale: DataCycleCore.ui_language) %> <%= l(Time.zone.at(Time.zone.at(dataCycleObject.updated_at)), locale: DataCycleCore.ui_language) if dataCycleObject.updated_at.present? %>
    <% person = dataCycleObject.histories.present? ? dataCycleObject.try(:updated_by_user) : dataCycleObject.try(:created_by_user) %>

    <% if person.is_a?(Object) && !person.nil? %>
        <span> <%= t('terms.from', locale: DataCycleCore.ui_language) %> </span>
        <span><strong><a class="email-link" href="mailto:<%= "#{person.email}" %>"><%= "#{person.full_name}" %></a></strong></span>
    <% else %>
        <span> <%= t('terms.from', locale: DataCycleCore.ui_language) %> </span>
        <span><strong>System</strong></span>
    <% end %>

</div>

<% if dataCycleObject.histories.exists? %>
    <%= render 'histories', content: dataCycleObject %>
<% end %>
