<div class="dropdown-pane no-bullet bottom <%= additional_classes if local_assigns[:additional_classes].present? %>" id="show-history" data-dropdown data-hover="true" data-hover-pane="true">
  <h5><%= t('history.latest_edits', locale: DataCycleCore.ui_language) %>:</h5>
  <ul class="list-items">
    <% content.histories.each do |item|%>
        <li class="<%= item == @history_source ? 'active' : '' %>">
            <% if item.try(:last_updated_by).is_a?(ActiveRecord::Relation) && item.try(:last_updated_by).present? %>
                <% person = item.last_updated_by.first %>
                <%= "<a class='email-link' href='mailto:#{person.email}'>#{person.full_name}</a>".html_safe %>
            <% elsif item == content.histories.last && item.try(:creator).is_a?(ActiveRecord::Relation) && item.try(:creator).present? %>
                <% person = item.creator.first %>
                <%= "<a class='email-link' href='mailto:#{person.email}'>#{person.full_name}</a>".html_safe %>
            <% else %>
                System
            <% end %>

            <% I18n.with_locale(item.first_available_locale) do %>
              <i title="<%= l(Time.zone.at(item.history_valid&.first), locale: DataCycleCore.ui_language) %>"><%= l(Time.zone.at(item.history_valid&.first), locale: DataCycleCore.ui_language) %></i>
            <% end %>

            <% if can?(:history, content) && item != @history_source %>
                <span class="history-link">
                  <i>
                      <% if action_name == 'history_detail' %>
                          <%= link_to polymorphic_url([:history_detail, content], history_id: item.id, watch_list_id: @watch_list) do %>
                              <i class="fa fa-history" aria-hidden="true"></i>
                          <% end %>
                      <% else %>
                          <%= link_to polymorphic_url([:history, content], history_id: item.id, watch_list_id: @watch_list) do %>
                              <i class="fa fa-history" aria-hidden="true"></i>
                          <% end %>
                      <% end %>
                  </i>
                </span>
            <% end %>

        </li>
    <% end %>
  </ul>
</div>
