<div class="content-uploader" data-asset-uploader="asset-upload-reveal-<%= key_id %>">
  <button type="button" class="button asset-selector-button" data-disable data-open="asset-selector-<%= key_id %>">
    <i class="fa fa-plus"></i>
  </button>

  <div class="full reveal asset-selector-reveal"
    id="asset-selector-<%= key_id %>"
    data-reveal data-multiple-opened="true"
    data-v-offset="0"
    data-hidden-field-id="<%= key_id %>"
    data-hidden-field-key="<%= key %>"
    data-editable-list-id="<%= local_assigns[:editable_list_key] %>">
    <div class="asset-list-container">
      <h3><%= t('common.select_asset_title', locale: active_ui_locale) %></h3>
      <div class="scrollable-asset-list">
        <%= render 'data_cycle_core/assets/asset_list', class: 'selectable', key: key_id, assets: nil, asset_types: DataCycleCore.asset_objects.select { |a| a.underscore.include?(asset_type) } %>
      </div>
      <div class="buttons">
        <a class="asset-upload-link button" data-open="asset-upload-reveal-<%= key_id %>">
          <i class="fa fa-upload" aria-hidden="true"></i>
          1. <%= t('data_cycle_core.upload', locale: active_ui_locale) %>
        </a>

        <%= render 'data_cycle_core/application/asset_import',
            key: key_id,
            asset_type: asset_type,
            uploader_validation: uploader_validation(asset_type: asset_type),
            uploader_validation_text: true,
            type_translation: "data_cycle_core/#{asset_type}".classify.constantize.model_name.human(count: 2, locale: active_ui_locale) %>

        <a class="select-asset-link success button disabled">
          2. <%= t('common.select_asset', data: label, locale: active_ui_locale) %>
        </a>
      </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
