<a data-toggle="new-object"
  class="button-prime <%= local_assigns[:button_class] %>"
  title="<%= local_assigns.fetch(:button_title, t('common.create_new_content', locale: DataCycleCore.ui_language)) %>"
  data-tooltip>
  <i class="fa fa-plus" aria-hidden="true"></i>
</a>
<div class="reveal" id="new-object" data-reveal data-v-offset="auto" data-multiple-opened="true">
  <div class="new-object-links" id="create_content_links">
    <div id="user-new-favorites" class="new-favorites remote-render"
      data-remote-path="data_cycle_core/application/new_contents/new_content_links"
      data-remote-options="<%= to_query_params(local_assigns).to_json %>">
    </div>

    <%= render 'data_cycle_core/application/new_contents/new_content_form', local_assigns.merge({
      query_methods: local_assigns[:query_methods]
    }) %>

    <a class="option default-new-option" href="#" data-open="new_default">
      <span class="icon"><i class="fa fa-file" aria-hidden="true"></i></span>
      <%= t('common.create_new_content', locale: DataCycleCore.ui_language) %>
    </a>
  </div>
</div>
