<a data-toggle="split-sources"><i class="fa fa-columns" aria-hidden="true"></i></a>
<ul class="dropdown-pane no-bullet bottom" id="split-sources" data-dropdown data-hover="true" data-hover-pane="true">
  <h5><%= title_text %></h5>
  <li id="split-source-selector">
    <%= form_tag(url, method: :get) do %>
      <% sources = [] %>
      <% contents.each do |content| %>
        <% I18n.with_locale(content.first_available_locale) do %>
          <% sources.push({ value: "source_id=>#{content.id},source_type=>#{content.class.name}", label: "#{content.title} (#{content.content_type}, #{I18n.locale})", level: 0 }) %>
        <% end %>
      <% end %>

      <% selected_value = '' %>
      <% I18n.with_locale(selected.first_available_locale) do %>
        <% selected_value = { value: "source_id=>#{selected.id},source_type=>#{selected.class.name}", label: "#{selected.title} (#{selected.content_type}, #{selected.translated_locales.first})", level: 0 } %>
      <% end unless selected.blank? %>

      <custom-select :multiple="false" hidden-field-id="source" label="label" :custom-options="<%= sources.to_json %>" :selected-values="<%= selected_value.to_json %>"></custom-select>

      <button class="button"><%= t('common.load_splitsource', locale: DataCycleCore.ui_language) %></button>
    <% end %>
  </li>
</ul>
