<div class="reveal" id="content-upload-reveal" data-reveal>
  <h2><%= t('data_cycle_core.upload') %></h2>
  <%= form_tag('contents/upload', multipart: true, id: 'content-upload-form') do %>
    <%= file_field_tag 'files', multiple: true, accept: 'image/*,video/*', class: 'upload-file' %>
    <%= label_tag 'files', content_tag(:i, nil, class: 'fa fa-plus'), class: 'button' %>
    <%= button_tag t('actions.upload'), class: 'button' %>
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
