<div class="off-canvas position-right" id="settings-off-canvas" data-off-canvas data-content-overlay="false">
        <div class="settings-row">
            <div class="row column">
                <%= link_to data_cycle_core.destroy_user_session_path, method: :delete, class: 'logout-link' do %>
                    <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                    <span class="title">Ausloggen</span>
                <% end %>
            </div>
          <% if current_user.role && current_user.role.rank > 0 %>
            <% if can? :update, current_user %>
              <div class="row columns">
                  <%= link_to edit_user_path(current_user) do %>
                      <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                      <span class="title"><%= DataCycleCore::User.model_name.human(locale: DataCycleCore.ui_language) %> <%= t('actions.edit', locale: DataCycleCore.ui_language) %></span>
                  <% end %>
              </div>
            <% end %>
            <div class="row columns">
                <%= link_to settings_path do %>
                    <span class="icon"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                    <span class="title">Einstellungen</span>
                <% end %>
            </div>
          <% end %>
        </div>

        <% if can?(:crud, DataCycleCore::Classification) || can?(:crud, DataCycleCore::User) || can?(:crud, DataCycleCore::UserGroup) %>
            <div class="settings-row">
                <div class="row columns">
                    <h5><%= t('data_cycle_core.administration', locale: DataCycleCore.ui_language) %></h5>
                </div>

                <% if can? :manage, DataCycleCore::Classification %>
                    <div class="row columns">
                        <%= link_to classifications_path, class: 'classifications-link' do %>
                            <span class="icon"><i class="fa fa-sitemap" aria-hidden="true"></i></span>
                            <span class="title"><%= t('data_cycle_core.classifications', locale: DataCycleCore.ui_language) %></span>
                        <% end %>
                    </div>
                <% end %>

                <% if can? :crud, DataCycleCore::User %>
                    <div class="row columns">
                        <%= link_to users_path, class: 'users-link' do %>
                            <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <span class="title"><%= DataCycleCore::User.model_name.human(count: 2, locale: DataCycleCore.ui_language) %> <%= t('actions.manage', locale: DataCycleCore.ui_language) %></span>
                        <% end %>
                    </div>
                <% end %>

                <% if can? :crud, DataCycleCore::UserGroup %>
                    <div class="row columns">
                        <%= link_to user_groups_path, class: 'user-groups-link' do %>
                            <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                            <span class="title"><%= DataCycleCore::UserGroup.model_name.human(count: 2, locale: DataCycleCore.ui_language) %> <%= t('actions.manage', locale: DataCycleCore.ui_language) %></span>
                        <% end %>
                    </div>
                <% end %>
            </div>
        <% end %>

    <!--<div class="settings-row">-->
    <!--<div class="row column">-->
    <!--<div class="heading">Meine letzten Suchen</div>-->
    <!--<div class="inner-content">-->
    <!--<div class="item">-->
    <!--Content goes here-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--Content goes here-->
    <!--</div>-->
    <!--<div class="more">-->
    <!--<i class="fa fa-angle-down" aria-hidden="true"></i>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="settings-row">-->
    <!--<div class="row column">-->
    <!--<div class="heading">Gespeicherte Suchen</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="settings-row">-->
    <!--<div class="row column">-->
    <!--<div class="heading">Meine Recherchen</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="settings-row">-->
    <!--<div class="row column">-->
    <!--<div class="heading">Meine Inhalte</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
