<section class="views row expanded">
    <div class="columns small-6">
        <div class="view-heading">
            <% if @allDataCycleObjects %>
                <strong><%= @allDataCycleObjects.size %></strong> Themen entsprechen Ihren Filterkriterien
            <% end %>
        </div>
    </div>
    <div class="columns small-6 text-right">
        <% unless @order_by.nil? %>
            <div class="view-order"><span class="order-title"><%= t :header, scope: ['order'] %>: </span>
                <div class="order-item"><span class="order-title"><%= t :updated, scope: ['order'] %> </span>
                    <div class="order-arrows">
                        <%= link_to params.merge(:order => 'updated_asc').permit!, class: (@order_by == 'updated_at' && @order == 'ASC' ? 'active' : '') do %>
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <% end %>
                        <%= link_to params.merge(:order => 'updated_desc').permit!, class: (@order_by == 'updated_at' && @order == 'DESC' ? 'active' : '') do %>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="view-icons">
            <span class="view-icon">
                <%= link_to params.merge(:mode => 'flex').permit!, class: (@mode == 'flex' ? "active" : "") do %>
                    <i class="material-icons">dashboard</i>
                <% end %>
            </span>
            <span class="view-icon">
                <%= link_to params.merge(:mode => 'large').permit!, class: (@mode == 'large' ? "active" : "") do %>
                    <i class="material-icons">view_module</i>
                <% end %>
            </span>
            <span class="view-icon">
                <%= link_to params.merge(:mode => 'small').permit!, class: (@mode == 'small' ? "active" : "") do %>
                    <i class="material-icons">view_comfy</i>
                <% end %>
            </span>
        </div>
    </div>
</section>
